{% extends "blog/base.html" %}

{% block title %}Správa DIV.cz{% endblock title %}
{% block h1 %}Správa komentářů{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block content %}

{% if user.is_authenticated %}
    <!-- Přihlášen -->
    {% if request.user.username == "xsilence8x" or request.user.username == "VendaCiki" or request.user.username == "Martin2" or request.user.username == "Ionnostyle" or request.user.username == "Martin" %}
        <p>Výpis posledních sto komentářů ke smazání nebo editaci.</p>
        
        <p><hr>Menu: <a href="/spravce/">Správce</a> - <a href="/spravce/sprava-komentaru">Správa komentářů</a> - <a href="/spravce/platby/">Platby</a> - <a href="/spravce/eknihy-prehled/">Eknihy přehled</a><hr></p>

        {% if messages %}
            <div class="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <table class="table table-striped" style="margin-top: .75rem;">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select_all"></th>
                        <th>ID</th>
                        <th>Komentář</th>
                        <th>Film</th>
                        <th>Uživatel</th>
                        <th>Datum přidání</th>
                        <th>Akce</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments100 %}
                    <tr>
                        <td><input type="checkbox" name="selected_comments" value="{{ comment.commentid }}"></td>
                        <td>{{ comment.commentid }}</td>
                        <td>{{ comment.comment|truncatewords:10 }}</td>
                        <td>{{ comment.movieid.title }} ({{ comment.movieid.movieid }})</td>
                        <td>{{ comment.user.username }} ({{ comment.user.id }})</td>
                        <td>{{ comment.dateadded }}</td>
                        <td><a href="{% url 'admin_edit_comment' comment.commentid %}">Upravit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button type="submit" name="delete" class="btn">Smazat vybrané</button>
        </form>

        <script>
            // Select all checkboxes
            document.getElementById('select_all').onclick = function() {
                var checkboxes = document.getElementsByName('selected_comments');
                for (var checkbox of checkboxes) {
                    checkbox.checked = this.checked;
                }
            }
        </script>

        {% else %}
        <p>Co tady děláš? Kššššc</p>
    {% endif %}
    
    {% else %}
        <!-- Nepřihlášen -->
    <p>Co tady děláš? Kššššc</p>
    
{% endif %}

{% endblock content %}
