<!-- admin/admin_tasks.html -->
{% extends "blog/base.html" %}

{% block title %}Správa úkolů DIV.cz{% endblock title %}
{% block h1 %}Správa úkolů{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block content %}

<div class="tasks-container">
    <div class="tasks-header">
        <h1 class="tasks-title">Správa úkolů</h1>
        <a href="{% url 'admin_task_create' %}" class="tasks-new-button btn btn-info">
            Nový úkol
        </a>
    </div>

    <div class="tasks-table-wrapper">
        <table class="tasks-table">
            <thead class="tasks-thead">
                <tr>
                    <th class="tasks-th">Název</th>
                    <th class="tasks-th">Přiřazeno</th>
                    <th class="tasks-th">Priorita</th>
                    <th class="tasks-th">Status</th>
                    <th class="tasks-th">Termín</th>
                    <th class="tasks-th">Akce</th>
                </tr>
            </thead>

            <tbody class="tasks-tbody">
                {% for task in tasks %}
                    <tr class="tasks-row">
                        <td class="tasks-td">
                            <div class="tasks-task-title">{{ task.title }}</div>
                            <div class="tasks-task-desc">{{ task.description|truncatechars:100 }}</div>

                            {% for subtask in task.Subtasks.all %}
                                <div class="tasks-subtask">
                                    <a href="{% url 'admin_task_detail' subtask.id %}" class="tasks-subtask-link">
                                        {{ subtask.title }}
                                    </a>
                                </div>
                            {% endfor %}
                        </td>

                        <td class="tasks-td">{{ task.assigned }}</td>

                        <td class="tasks-td">
                            <span class="tasks-priority
                                {% if task.priority == 'Vysoká' %} tasks-priority-high
                                {% elif task.priority == 'Střední' %} tasks-priority-medium
                                {% else %} tasks-priority-low {% endif %}
                            ">
                                {{ task.priority }}
                            </span>
                        </td>

                        <td class="tasks-td">{{ task.status }}</td>

                        <td class="tasks-td">{{ task.duedate|date:"d.m.Y" }}</td>

                        <td class="tasks-td">
                            <a href="{% url 'admin_task_detail' task.id %}" class="tasks-action-link">Detail</a>
                            <a href="{% url 'admin_task_edit' task.id %}" class="tasks-action-link">Upravit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}