{% extends "admin/base.html" %}

{% extends "admin/base.html" %}

{% block content %}
<h1>E-knihy z Palmknih</h1>

<p>
    <hr>Menu: 
    <a href="/spravce/">Správce</a>
     - 
    <a href="/spravce/sprava-komentaru">Správa komentářů</a>
     - 
    <a href="/spravce/platby/">Platby</a>
     - 
    <strong>Eknihy přehled</strong>
    <hr>
</p>

<p style="float:right;margin:0 20px 10px">
    <span style="color:green">&check;</span> - Vše OK |
    <span style="color:orange">&#9888;</span> - chybí PalmKnihyID |
    <span style="color:red">&cross;</span> - Není v DB
</p>

<div style="margin:1rem 0;">
    <a href="?page={{ page|add:'-1' }}">Předchozí</a>
    <span>Stránka {{ page }}</span>
    <a href="?page={{ page|add:'1' }}">Další</a>
</div>

<form method="post" action="{% url 'admin_store_page' %}">
    {% csrf_token %}
    {% for book in ebooks %}
        <input type="hidden" name="palmknihyids" value="{{ book.palmknihyid }}">
        <input type="hidden" name="page" value="{{ page }}">
    {% endfor %}
    <button type="submit">Uložit celou stránku</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Titul</th>
            <th>Autor</th>
            <th>Formát</th>
            <th>Cena</th>
            <th>ISBN</th>
            <th>Detail<br>Uložit</th>
        </tr>
    </thead>

    <tbody>
        {% for book in ebooks %}
            <tr style="border-bottom:1px solid #ccc;" 
                data-title="{{ book.title|escape }}"
                data-author="{{ book.author|escape }}"
                data-format="{{ book.format|escape }}"
                data-price="{{ book.formats.0.price }}"
                data-isbn="{{ book.main_isbn }} | {{ book.isbn_list }}"
                data-raw="{{ book.raw|escape }}">

                <td id="isbn-{{ book.isbn_normalized }}">

                    API název:
                    <a href="#" class="popup-title ebook-title-click">{{ book.title }}</a><br>

                    {% if book.bookid %}
                        <div style="margin-bottom:4px;">

                            {% if book.has_palmknihyid %}
                                <span class="badge badge-success">Přiřazeno k Palmknihy</span>
                                {% else %}
                                <span class="badge badge-warning">Přiřazeno k DIV (manuálně)</span>
                            {% endif %}

                            {% if book.book_titlecz %}
                                <div class="ebook-small-info">
                                    <span class="text-muted">DIV název:</span> <strong>{{ book.book_titlecz }}</strong>
                                </div>
                            {% endif %}

                            {% if book.book_author %}
                            <div class="ebook-small-info-muted">
                                Autor v DIV: {{ book.book_author }}
                            </div>
                            {% endif %}

                            <a href="/kniha/{{ book.book_url }}" target="_blank" class="btn btn-secondary" style="margin-left:0.5rem;">Zobrazit</a>

                            <span class="text-muted small">ID: {{ book.bookid }}</span>

                            {% with found=0 %}
                                {% for f in book.formats %}
                                    {% if f.palmknihyid and not found %}
                                        <form method="post" action="{% url 'admin_odpriradit_eknihu' %}" style="display:inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="isbn" value="{{ f.isbn }}">
                                        <input type="hidden" name="palmknihyid" value="{{ f.palmknihyid }}">
                                        <input type="hidden" name="page" value="{{ page }}">
                                        <input type="hidden" name="isbn_anchor" value="isbn-{{ book.isbn_normalized }}">
                                        <button type="submit" class="btn btn-secondary" style="margin-left:0.5rem;">Odebrat</button>
                                        </form>
                                        {% with 1 as found %}{% endwith %}
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                    {% endif %}

                    <input type="text" class="form-control book-search" placeholder="Přiřaď existující knihu..." data-palmknihyid="{{ book.palmknihyid }}">
                    <div class="search-results"></div>

                </td>

                <td>{{ book.author }}</td>
                <td>{{ book.format }}</td>

                <td>
                    <ul style="margin-top:0.5em; font-size:70%;">
                        {% for f in book.formats %}
                            <li>
                                <strong>{{ f.format }}</strong>
                                    {% if f.exists %}
                                        <span style="color:green;">&check;</span>
                                        {% if not f.palmknihyid %}
                                            <span style="color:orange;">&#9888; PalmknihyID chybí</span>
                                        {% endif %}

                                        <br>
                                        
                                        Cena v API: {{ f.price }} Kč<br>
                                        Cena v DB:
                                            {% if f.db_price %}
                                                <span style="color:#27ae60">{{ f.db_price }} Kč</span>
                                            {% else %}
                                                <span style="color:#e74c3c">V DB není cena!</span>
                                            {% endif %}
                                        <hr style="margin:3px 0;">

                                        {% else %}
                                        <span style="color:red;">&cross;</span>
                                    {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </td>

                <td>
                    {{ book.main_isbn }}

                    {% if book.main_isbn and book.main_in_db is not False and book.main_has_palmknihyid is False %}
                        <div class="ebook-warning-main">⚠ Hlavní ISBN v DB, ale není napárován!</div>
                        {% elif book.main_isbn and book.main_in_db is False %}
                        <div class="ebook-error-main">⚠ Hlavní ISBN není v DB! </div>
                    {% endif %}

                    <hr>

                    <ul class="ebook-isbn-list">
                        {% for f in book.formats %}
                            <li>
                                <strong>{{ f.format }}</strong> — {{ f.isbn }}
                                {% if f.exists %}
                                    <span style="color:green;">&check;</span>
                                    {% else %}
                                    <span style="color:red;">&cross;</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </td>

                <td>
                    <span style="font-size:20px;">📚</span><br>

                    <form method="post" action="{% url 'admin_store_ebook' %}">
                    {% csrf_token %}
                    <input type="hidden" name="palmknihyid" value="{{ book.palmknihyid }}">
                    <input type="hidden" name="page" value="{{ page }}">
                    <button type="submit">Uložit</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>

<div style="margin:1rem 0;">
    <a href="?page={{ page|add:'-1' }}">Předchozí</a>
    <span>Stránka {{ page }}</span>
    <a href="?page={{ page|add:'1' }}">Další</a>
</div>

<form method="post" action="{% url 'admin_store_page' %}">
    {% csrf_token %}
    {% for book in ebooks %}
        <input type="hidden" name="palmknihyids" value="{{ book.palmknihyid }}">
        <input type="hidden" name="page" value="{{ page }}">
    {% endfor %}
    <button type="submit">Uložit celou stránku</button>
</form>



<script>
    function closePopup() {
        document.getElementById("popup").style.display = "none";
    }

    document.addEventListener("DOMContentLoaded", function () {
    // POPUP okno
    document.querySelectorAll(".popup-title").forEach(function (el) {
        el.addEventListener("click", function (e) {
        e.preventDefault();
        const row = el.closest("tr");
        document.getElementById("popup-title").textContent = row.dataset.title;
        document.getElementById("popup-author").textContent = row.dataset.author;
        document.getElementById("popup-format").textContent = row.dataset.format;
        document.getElementById("popup-price").textContent = row.dataset.price;
        document.getElementById("popup-isbn").textContent = row.dataset.isbn;
        document.getElementById("popup-raw").textContent = row.dataset.raw;
        document.getElementById("popup-palmknihyid").value = row.querySelector("input[name='palmknihyid']")?.value || "";
        document.getElementById("popup").style.display = "block";
        });
    });

    // VYHLEDÁVÁNÍ a přiřazení
    document.querySelectorAll(".book-search").forEach(function(input) {
        input.addEventListener("input", function() {
        const query = this.value;
        const palmknihyid = this.dataset.palmknihyid;
        const resultsContainer = this.nextElementSibling;

        if (query.length < 3) {
            resultsContainer.innerHTML = "";
            return;
        }

        fetch(`/spravce/book-search?q=${encodeURIComponent(query)}`)
            .then(resp => resp.json())
            .then(data => {
            resultsContainer.innerHTML = "";

            data.results.forEach(book => {
                const div = document.createElement("div");
                div.textContent = book.text;
                div.style.cursor = "pointer";

                div.onclick = function() {
                    fetch(`/spravce/eknihy-prirazeni/`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ bookid: book.id, palmknihyid: palmknihyid })
                    }).then(() => location.reload());
                };

                resultsContainer.appendChild(div);
            });


            });
        });
    });
    });
</script>


{% endblock %}
