<!DOCTYPE html>
<html lang="cs">

    <head>

        {% include "inc/head.html" %}

        <title>Filmové postavy | Databáze DIV</title>

        <link href="/static/css/navbar_together.css" rel="stylesheet">

        {% block meta %}
        {% endblock %}

    </head>

    <body>

        {% include "inc/navbar.html" %}

        <main>
            <section>

                {% include "inc/sidebar.html" %}

                {% block content %}

                {% endblock %}

            </section>
        </main>

        {% include "inc/footer.html" %}

        <script src="/static/js/script.js"></script>

    </body>
</html>