<!DOCTYPE html>
<html lang="cs">
<head>

    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Filmové postavy | Databáze DIV</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

    <!-- Externí knihovny - CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    
    <!-- Vlastní CSS -->
    <link rel="stylesheet" href="/web/css/navbar_together.css">
    <link rel="stylesheet" href="/web/css/navbar.css">
    <link rel="stylesheet" href="/web/css/style_new.css">
    <link rel="stylesheet" href="/web/css/navbar.css">
    <link rel="stylesheet" href="/web/css/style_characters.css?v=1.0.1">
    <link rel="stylesheet" href="https://media.div.cz/css/hodnoceni.css?v=1.0.1">
    
    <!-- Externí knihovny - JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


{% block meta %}
{% endblock %}

</head>

    <body class="bg-[#FFFFFF] text-[#0d0c0f] dark:bg-[#0d0c0f] dark:text-[#F9F9F9] d-flex flex-column min-vh-100">

        {% include "inc/navbar_movies_new.html" %}

        <main class="flex-grow-1 max-w-[1440px] lg:mx-auto">
            <section class="text-[#0d0c0f] dark:text-[#F9F9F9] max-w-[1440px] flex flex-col lg:flex-row">

                {% include "inc/sidebar_new.html" %}

                {% block content %}

                {% endblock %}

            </section>
        </main>

        {% include "inc/footer.html" %}

        <script src="/web/js/script_characters.js"></script>

    </body>
</html>