<!DOCTYPE html>
<html lang="cs">

    <head>

        {% include "inc/head.html" %}

        <title>Filmové postavy | Databáze DIV</title>

        <link href="/static/css/navbar_together.css" rel="stylesheet">
        <link href="/static/css/navbar.css" rel="stylesheet">

    </head>

    <body class="bg-[#FFFFFF] text-[#0d0c0f] dark:bg-[#0d0c0f] dark:text-[#F9F9F9] d-flex flex-column min-vh-100">

        {% include "inc/navbar.html" %}

        <main class="flex-grow-1 max-w-[1440px] lg:mx-auto">
            <section class="text-[#0d0c0f] dark:text-[#F9F9F9] max-w-[1440px] flex flex-col lg:flex-row">

                {% include "inc/sidebar.html" %}

                {% block content %}

                {% endblock %}

            </section>
        </main>

        {% include "inc/footer.html" %}

        <script src="/static/js/script.js"></script>

    </body>
</html>