{% extends "characters/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}{{ character.charactername }} | DIV.cz{% endblock %}
     
{% include "inc/sidebar.html" %}

{% block content %}

<div class="container">
    <div class="big-search">
        <h2>Postavy</h2>
        <!-- VYHLEDÁVAČ -->
        <form style="display: flex; max-width: 400px;" role="search" action="" method="get">
            <input class="search-field" type="search" placeholder="Vyhledávání postav" aria-label="Vyhledávání" name="q">
            <button class="add-search" type="submit">Hledat</button>
        </form>
    </div>
    
    <div class="container">
        <!-- Seznam postav -->
        <div class="celebrit-list">
        {% for character in characters %}
            <div class="card card-body" style="padding: 0;">
                <a href="/postava/{{ character.characterurl }}">
                {% if not character.characterimg or character.characterimg == "" %}
                    <img src="/static/img/creator/noperson.svg" alt="{{ character.charactername }}">
                    {% else %}
                    <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ character.characterimg }}" alt="{{ character.charactername }}">
                {% endif %}
                </a>
                <h4>{{ character.charactername }}</h4>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}