{% extends "characters/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}{{ character.charactername }} | DIV.cz{% endblock %}

{% comment %}

    <h1>Character Detail: {{ character.charactername }}</h1>
    <p>Description: {{ character.characterdescription }}</p>
    <p>URL: <a href="{{ character.characterurl }}">{{ character.characterurl }}</a></p>
    <p>Name in Czech: {{ character.characternamecz }}</p>
    <p>Count: {{ character.charactercount }}</p>
    <p>Born: {{ character.characterborn }}</p>
    <p>Death: {{ character.characterdeath }}</p>
    <p><img src="{{ character.characterimg }}" alt="{{ character.charactername }}"></p>

"Writing" → "Scénárista"
"Camera" → "Kamera"
"Editing" → "Střih"
"Actors" → "Herci"
"Directing" → "Režie"
"Costume & Make-Up" → "Kostýmy & Líčení"
"Production" → "Produkce"
"Visual Effects" → "Vizuální efekty"
"Crew" → "Štáb"
"Lighting" → "Osvětlení"
{% endcomment %}

{% block meta %}

<style>
    .movie a.active {
        background-color: #A52B21;
    }

    .book a.active {
        background-color: #61872B;
    }

    .game a.active {
        background-color: #0A76A9;
    }
</style>

{% endblock %}

{% block content %}

<div class="container">
    <!-- LEVÁ STRANA -->
    <div class="left-side">
        <div class="info-bar">
            <h2 style="width:100%; margin-bottom:0;">
                {{ character.charactername }} 
                {% if character.characterborn %}
                <small style="color:#6c757d;">({{ character.characterborn|date:"Y" }})</small>
                {% endif %}
            </h2>

            <!-- FAVORITE by xSilence8x -->
            {% if user.is_authenticated %}
            <div class="heart">
                {% if not is_favorite %}
                <a href="{% url 'add_character_to_favorites' character.characterid %}" class="flex relative">
                    <i class="far fa-regular fa-heart" style="color: {% if is_favorite %} #e91e63 {% else %} #ffffff {% endif %}" title="přidat do oblíbených"></i>
                {% else %}
                <a href="{% url 'remove_character_from_favorites' character.characterid %}" class="flex relative">
                    <i class="fas fa-heart" style="color: {% if is_favorite %} #e91e63 {% else %} #ffffff {% endif %}" title="odebrat z oblíbených"></i>
                {% endif %}
                </a>
            </div>
            {% endif %}
        </div>

        <!-- INFO -->
        <div class="author-info">
            <div class="author-poster">
            {% if not character.characterimg or character.characterimg == "" %}
                <img src="/static/img/creator/noperson.svg" alt="{{ character.charactername }}" class="img-fluid img-size">
                {% else %}
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ character.characterimg }}" alt="{{ character.charactername }}" class="img-fluid img-size">
            {% endif %}
            </div>

            <div class="author-info-detail">
                <ul class="list-unstyled">
                    {% if characterbiography.characterborn %}
                    <li><strong>Datum narození:</strong> {{ characterbiography.characterborn }}</li>
                    {% endif %}

                    {% if characterbiography.characterdeath %}
                    <li><strong>Datum úmrtí:</strong> {{ characterbiography.characterdeath }}</li>
                    {% endif %}
                    <!--<li>ID: {{ creator.creatorid }}</li>-->
                    <!--<li>{{ creator.popularity }}</li>-->
                </ul>
            </div>
        </div>

        <!-- BIOGRAFIE -->
        {% if characterbiography.verificationstatus == "Verified" %}
        <div class="character-biography w-full">
            {% if characterbiography.charactersource %}
            <p>{{ characterbiography.charactersource }}</p>
            {% endif %}

            {% if characterbiography.biographytextcz %}
            <p>{{ characterbiography.biographytextcz|safe }}</p>
            {% endif %}
    
            {% if characterbiography.externallink %}
            <a href="{{ characterbiography.externallink }}" target="_blank">Více informací</a>
            {% endif %}
        </div>

        {% else %}
        <div class="author-bio">
            <details>
                <summary>Přidej vlastní popis, zatím tu žádný není!</summary>
                <form method="post">
                    <textarea id="w3review" name="w3review" rows="3" cols="50"></textarea>
                    <input class="add-movie" type="submit" value="Přidat">
                </form>
            </details>
        </div>
        {% endif %}
        
        <!-- Karty -->
        <div class="tab-container" style="font-size:16px">
            <ul class="tab-links">
                <li class="karta movie">
                    <a href="#tab1" class="movies active">Filmy</a>
                </li>
                <li class="karta movie">
                    <a href="#tab2" class="movies">Seriály</a>
                </li>
                <li class="karta book">
                    <a href="#tab3" class="books">Knihy</a>
                </li>
                <li class="karta game">
                    <a href="#tab4" class="games">Hry</a>
                </li>
            </ul>

			<!-- FILMY -->
			<div id="tab1" class="tab-list active" style="padding:0">
				<div class="creator-movie-list">
			
				{% if filmography %}
			
					{% for movie, actors in filmography.items %}
					<div class="creator-movie-info sudy">
			
						<div>
						{% if movie.img == "noimg.png" %}
							<img src="https://div.cz/static/img/movie/w200/nomovie.jpg" alt="{{ movie.titlecz }}">
						{% else %}
							<img src="https://www.themoviedb.org/t/p/w400{{ movie.imgposter }}" alt="{{ movie.titlecz }}">
						{% endif %}
						</div>
			
						<div class="creator-movie-detail">
							<div class="creator-movie-name">
								<p>
									<a href="/film/{{ movie.url }}">{{ movie.titlecz }}</a>
									{{ movie.releaseyear }}
								</p>
								<p>{{ actors|join:", " }}</p>
							</div>
			
							<div class="creator-movie-rating">
							{% if user.is_authenticated %}
								<div class="movie-rating">
									100 %
								</div>
			
								<div class="creator-movie-stars">
									{% if movie.is_watched %}
									<i class="fas fa-eye" title="viděno"></i>
									{% endif %}
			
									<span>
									{% for _ in "12345" %}
										{% if forloop.counter <= rating.score %}
											<span>★</span>
										{% else %}
											☆
										{% endif %}
									{% endfor %}
									</span>
								</div>
							{% endif %}
							</div>
						</div>
			
					</div>
					{% endfor %}
			
				{% else %}
			
					<div class="creator-movie-info sudy">
						<div>
							<img src="https://div.cz/static/img/movie/w200/nomovie.jpg" alt="No image">
						</div>
			
						<div class="creator-movie-detail">
							<div class="creator-movie-name">
								<p>
									Žádné filmy.<br>
									<a href="https://div.cz/forum/filmy/chybejici-postavy-ve-filmu" target="_blank">
										Chybí vám? Nahlašte ve fóru.
									</a>
								</p>
							</div>
			
							<div class="creator-movie-rating"></div> <!-- zachováno -->
						</div>
					</div>
			
				{% endif %}
			
				</div>
			</div>
			
			
<div id="tab2" class="tab-list" style="padding:0">
    <div class="creator-movie-list">

    {% if tvshows %}

        {% for item in tvshows %}
        <div class="creator-movie-info sudy">

            <div>
            {% if item.show.imgposter %}
                <img src="https://www.themoviedb.org/t/p/w400{{ item.show.imgposter }}" alt="{{ item.show.titlecz }}">
            {% else %}
                <img src="/static/img/movie/w200/nomovie.jpg" alt="{{ item.show.titlecz }}">
            {% endif %}
            </div>

            <div class="creator-movie-detail">
                <div class="creator-movie-name">
                    <p>
                        <a href="/serial/{{ item.show.url }}">{{ item.show.titlecz }}</a>
                        {{ item.show.premieredate|date:"Y" }}
                    </p>
                    <p>{{ item.actor }}</p>
                </div>

                <div class="creator-movie-rating">
                {% if user.is_authenticated %}
                    <div class="movie-rating">100 %</div>

                    <div class="creator-movie-stars">
                        {% if item.show.is_watched %}
                        <i class="fas fa-eye" title="viděno"></i>
                        {% endif %}

                        <span>
                        {% for _ in "12345" %}
                            {% if forloop.counter <= rating.score %}
                                <span>★</span>
                            {% else %}
                                ☆
                            {% endif %}
                        {% endfor %}
                        </span>
                    </div>
                {% endif %}
                </div>
            </div>

        </div>
        {% endfor %}

    {% else %}

        <div class="creator-movie-info sudy">
            <div>
                <img src="/static/img/movie/w200/nomovie.jpg" alt="">
            </div>

            <div class="creator-movie-detail">
                <div class="creator-movie-name">
                    <p>
                        Žádné seriály.<br>
                        <a href="https://div.cz/forum/obecne/chybejici-postavy-u-serialu" target="_blank">
                            Chybí vám? Nahlašte ve fóru.
                        </a>
                    </p>
                </div>
                <div class="creator-movie-rating"></div>
            </div>
        </div>

    {% endif %}

    </div>
</div>



<div id="tab3" class="tab-list" style="padding:0">
    <div class="creator-movie-list">

    {% if bibliography %}

        {% for item in bibliography %}
        {% with book=item.bookid %}
        <div class="creator-movie-info sudy">

            <div>
            {% if book.img == "noimg.png" %}
                <img src="https://div.cz/static/img/book/book.png" alt="{{ book.titlecz }}">
            {% else %}
                <img src="https://media.div.cz/knihy/{{ book.img }}" alt="{{ book.titlecz }}">
            {% endif %}
            </div>

            <div class="creator-movie-detail">
                <div class="creator-movie-name">
                    <p>
                        <a href="/kniha/{{ book.url }}">{{ book.titlecz|default:book.title }}</a>
                        {{ book.year }}
                    </p>
                    <p>{{ book.author }}</p>
                </div>

                <div class="creator-movie-rating">
                {% if user.is_authenticated %}
                    <div class="movie-rating">100 %</div>

                    <div class="creator-movie-stars">
                        {% if book.is_read %}
                        <i class="fas fa-book" title="přečteno"></i>
                        {% endif %}
                        <span>
                        {% for _ in "12345" %}
                            {% if forloop.counter <= rating.score %}
                                <span>★</span>
                            {% else %}
                                ☆
                            {% endif %}
                        {% endfor %}
                        </span>
                    </div>
                {% endif %}
                </div>
            </div>

        </div>
        {% endwith %}
        {% endfor %}

    {% else %}

        <div class="creator-movie-info sudy">
            <div>
                <img src="https://div.cz/static/img/book/book.png" alt="">
            </div>

            <div class="creator-movie-detail">
                <div class="creator-movie-name">
                    <p>
                        Žádné knihy.<br>
                        <a href="https://div.cz/forum/knihy/chybejici-postavy-v-knize" target="_blank">
                            Chybí vám? Nahlašte ve fóru.
                        </a>
                    </p>
                </div>
                <div class="creator-movie-rating"></div>
            </div>
        </div>

    {% endif %}

    </div>
</div>


<div id="tab4" class="tab-list" style="padding:0">
    <div class="creator-movie-list">

    {% if games %}

        {% for row in games %}
        {% with game=row.gameid %}
        <div class="creator-movie-info sudy">

            <div>
            {% if game.img %}
                <img src="/static/img/game/{{ game.img }}" alt="{{ game.titlecz }}">
            {% else %}
                <img src="https://div.cz/static/img/game/game.png" alt="">
            {% endif %}
            </div>

            <div class="creator-movie-detail">
                <div class="creator-movie-name">
                    <p>
                        <a href="/hra/{{ game.url }}">{{ game.titlecz }}</a>
                        {{ game.year }}
                    </p>
                </div>

                <div class="creator-movie-rating">
                {% if user.is_authenticated %}
                    <div class="movie-rating">100 %</div>

                    <div class="creator-movie-stars">
                        {% if game.is_played %}
                        <i class="fas fa-eye" title="hráno"></i>
                        {% endif %}
                        <span>
                        {% for _ in "12345" %}
                            {% if forloop.counter <= rating.score %}
                                <span>★</span>
                            {% else %}
                                ☆
                            {% endif %}
                        {% endfor %}
                        </span>
                    </div>
                {% endif %}
                </div>
            </div>

        </div>
        {% endwith %}
        {% endfor %}

    {% else %}

        <div class="creator-movie-info sudy">
            <div>
                <img src="https://div.cz/static/img/game/game.png" alt="">
            </div>

            <div class="creator-movie-detail">
                <div class="creator-movie-name">
                    <p>
                        Žádné hry.<br>
                        <a href="https://div.cz/forum/hry/chybejici-postava-ve-hre" target="_blank">
                            Chybí vám? Nahlašte ve fóru.
                        </a>
                    </p>
                </div>
                <div class="creator-movie-rating"></div>
            </div>
        </div>

    {% endif %}

    </div>
</div>



        </div>
    </div>

    <!-- PRAVÁ STRANA -->
    <div class="right-side">

        <!-- FANOUŠCI -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">Fanoušci</h3>
                <div class="flex flex-wrap">
                    {% if fans %}
                        {% for fan in fans %}
                            <a class="w-full" href="{% url 'myuser_detail' fan.userlist.user.id %}">{{ fan.userlist.user.username }}</a>
                        {% endfor %}
                    {% else %}
                        <p>Zatím žádní fanoušci.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        {% comment %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">{{  }}</h3>
                <p class="card-text">Sdílet na:</p>
                <!-- Facebook Share Button -->
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://div.cz/film/{{  }}" class="btn btn-primary" style="color: white;" target="_blank" title="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter Share Button -->
                <a href="https://twitter.com/intent/tweet?url=https://div.cz/film/{{  }}&text={{  }}" class="btn btn-info" style="color: white;" target="_blank" title="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- E-mail Share Button -->
                <a href="mailto:?subject={{  }}&body=Podívej se na https://div.cz/film/{{  }}" class="btn btn-dark" style="color: white;" title="E-mail">
                    <i class="fas fa-envelope"></i>
                </a>

                <!-- WhatsApp Share Button -->
                <a href="https://wa.me/?text={{  }} - https://div.cz/film/{{  }}" class="btn btn-success" target="_blank" style="color: white;" title="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
        {% endcomment %}

        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">Další postavy</h3>
                <ul>
                    <li>
                        <a href="/postava/rusalka">Rusalka</a>
                    </li>
                    <li>
                        <a href="/postava/krakonos">Krakonoš</a>
                    </li>
                    <li>
                        <a href="/postava/golem">Golem</a>
                    </li>
                    <li>
                        <a href="/postava/vodnik">Vodník</a>
                    </li>
                    <li>
                        <a href="/postava/perak">Pérák</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Tags -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">Tagy</h3>
                <div class="flex flex-wrap gap-1">

                <span class="rounded bg-secondary p-1">

                </span>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- PŘEPÍNÁNÍ KARET -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tabLinks = document.querySelectorAll('.tab-links a');
        const tabContents = document.querySelectorAll('.tab-list');

        tabLinks.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault(); 
                
                tabLinks.forEach(l => l.classList.remove('active'));
                this.classList.add('active');

                const targetId = this.getAttribute('href'); 
                
                tabContents.forEach(content => content.classList.remove('active'));
                
                const targetContent = document.querySelector(targetId);
                if (targetContent) {
                    targetContent.classList.add('active');
                }
            });
        });
    });
</script>

{% endblock %}