    <meta charset="UTF-8">

    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://media.div.cz/css/div_style.css"> 
    <link rel="stylesheet" href="https://media.div.cz/css/hodnoceni.css">
    <link href="https://fonts.googleapis.com/css?family=San+Francisco&display=swap" rel="stylesheet">
    
    
<script src="
https://cdn.jsdelivr.net/npm/cookie-bar@1.10.3/cookiebar-latest.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/cookie-bar@1.10.3/themes/cookiebar.min.css
" rel="stylesheet">