<!-- Patička -->
<footer class="footer light-footer">
    <div class="flex flex-col items-center justify-center gap-4 sm:flex sm:flex-row text-[#ffffff] text-left">
        <div class="w-80 mt-8 sm:self-start sm:ml-5 md:ml-0">
            <h5 class="font-bold text-xl md:text-3xl">
                Objevujte s námi
            </h5>
                <p>Jsme váš spolehlivý průvodce světem popkultury. Ohodnoťte filmy, hry a knihy s námi. 
                        {% if user.is_authenticated %}
                        <a href="/ucet/">{{ user.username }}!</a> | <a href="/odhlaseni/">Odhlášení</a>
                        {% else %}
                        <a href="/registrace/">Registrace</a> / <a href="/prihlaseni/">přihlášení</a>
                        {% endif %}
        
         na DIV.cz.</p>

                <p>Knihy: <a href="https://div.cz/magnesia-litera-2024-svatek-ceske-literatury">Magnesia Litera 2024</a>, <a href="https://div.cz/odhaleni-kouzla-slova-nobelova-cena-za-literaturu">Nobelova cena za literaturu</a>
                </p>
        </div>
        <div class="w-80 mt-8 sm:self-start">
            <h5 class="font-bold text-xl md:text-3xl">Navigace</h5>
            <ul class="text-[#F9F9F9]">
                <li><a class="hover:underline text-black dark:text-[#F9F9F9]" href="/">Domů</a></li>
                <li><a class="hover:underline text-black dark:text-[#F9F9F9]" href="/kontakt/">Kontakt</a></li>
                <li><a class="hover:underline text-black dark:text-[#F9F9F9]" href="/podminky-pouziti">Podmínky použití</a></li>
                <li><a class="hover:underline text-black dark:text-[#F9F9F9]" href="/ochrana-osobnich-udaju">Ochrana osobních údajů</a></li>
            </ul>
        </div>
        <div class="w-80 mt-8 sm:self-start">
            <h5 class="font-bold text-xl md:text-3xl">Spojte se s námi</h5>
            <p>Email: info@div.cz<br>
                <a class="text-[#F9F9F9] hover:text-[#6c757d] hover:underline text-black dark:text-[#F9F9F9]" href="/pripojte-se" title="Připojte se k DIV.cz">Připojte se k nám</a><br>
                <a href="/nas-tym">Náš tým</a>
            </p>
            <p>Telefon: +420 739 466 537 (Míša)</p>
<p><a href="https://www.toplist.cz/stat/467692/" id="toplistcz467692" title="TOPlist"><noscript><img src="https://toplist.cz/dot.asp?id=467692&njs=1" border="0"
alt="TOPlist" width="1" height="1"/></noscript><script language="JavaScript" type="application/javascript" charset="utf-8">
(function(d,e,s) {d.getElementById('toplistcz467692').innerHTML='<img src="https://toplist.cz/dot.asp?id=467692&http='+
e(d.referrer)+'&t='+e(d.title)+'&l='+e(d.URL)+'&wi='+e(s.width)+'&he='+e(s.height)+'&cd='+
e(s.colorDepth)+'" width="1" height="1" border="0" alt="TOPlist" />';
}(document,encodeURIComponent,window.screen))
</script></a></p>


<div class="mt-3 text-3xl">
                <a style="text-decoration: none;" href="https://www.facebook.com/div.cz" title="Sledujte nás na Facebooku">
                    <i class="fab fa-facebook"></i>
                </a>
                <a style="text-decoration: none;" href="https://twitter.com/DIV_cz" title="Sledujte nás na Twitteru">
                    <i class="fab fa-twitter"></i>
                </a>
                <a style="text-decoration: none;" href="https://www.instagram.com/filmovydiv" title="Sledujte nás na Instagramu">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>

        </div>
    </div>
    
    <div class="text-center text-[#ccc]" style="margin:5px auto;color:#ccc ;border-top:0px solid #c0c0c0;padding-top:10px">© 2024 DIV databáze | projekt <a href="https://pyliberec.cz">PyLiberec</a> & <strong><a href="https://ekultura.eu/">eKultura, z.s.</a></strong> & MarWen</div>
</footer>


<!-- JavaScript pro Bootstrap (jQuery a Popper.js jsou zahrnuty v Bootstrapu) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

