<!-- Patička -->
<footer class="footer mt-auto py-3">
    <div class="container text-muted">
        <div class="row">
            <div class="col-md-4">
                <h5>Objevujte s námi</h5>
                <p>Jsme váš spolehlivý průvodce světem popkultury. Ohodnoťte filmy, hry a knihy s námi. 
                        {% if user.is_authenticated %}
                        <a href="/ucet/">{{ user.username }}!</a> | <a href="/odhlaseni/">Odhlášení</a>
                        {% else %}
                        <a href="/registrace/">Registrace</a> / <a href="/prihlaseni/">přihlášení</a>
                        {% endif %}
        
         na DIV.cz.</p>
         
                <p>Knihy: <a href="https://div.cz/magnesia-litera-2024-svatek-ceske-literatury">Magnesia Litera 2024</a>, <a href="https://div.cz/odhaleni-kouzla-slova-nobelova-cena-za-literaturu">Nobelova cena za literaturu</a>
                </p>
            </div>
            <div class="col-md-4">
                <h5>Navigace</h5>
                <ul class="footer-links">
                    <li><a href="/">Domů</a></li>
                    <li><a href="/kontakt/">Kontakt</a></li>
                    <li><a href="/podminky-pouziti">Podmínky použití</a></li>
                    <li><a href="/ochrana-osobnich-udaju">Ochrana osobních údajů</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Spojte se s námi</h5>
                <p>Email: info(zavináč)div.cz<br>
                <a href="https://div.cz/pripojte-se" title="Připojte se k DIV.cz">Připojte se k nám</a></p>
                <a href="/nas-tym">Náš tým</a></p>
                <p>Telefon: +420 739 466 537 (Míša)<br>
                
<a href="https://www.toplist.cz"><script language="JavaScript" type="text/javascript" charset="utf-8">
<!--
document.write('<img src="https://toplist.cz/count.asp?id=467692&logo=btn&http='+
encodeURIComponent(document.referrer)+'&t='+encodeURIComponent(document.title)+'&l='+encodeURIComponent(document.URL)+
'&wi='+encodeURIComponent(window.screen.width)+'&he='+encodeURIComponent(window.screen.height)+'&cd='+
encodeURIComponent(window.screen.colorDepth)+'" width="80" height="15" border=0 alt="TOPlist" />');
//--></script><noscript><img src="https://toplist.cz/count.asp?id=467692&logo=btn&njs=1" border="0"
alt="TOPlist" width="80" height="15" /></noscript></a></p>

                <div class="footer-social-icons">
                    <a href="https://www.facebook.com/div.cz" title="Sledujte nás na Facebooku"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/DIV_cz" title="Sledujte nás na Twitteru"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/filmovydiv" title="Sledujte nás na Instagramu"><i class="fa fa-instagram"></i></a>
                    <a href="https://ask.fm/info3000" title="Zeptejte se nás na Ask.fm"><i class="fa fa-askfm"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="copyright text-muted">© 2023 DIV databáze | projekt <a href="https://pyliberec.cz">PyLiberec</a> & <strong>eKultura, z.s.</strong>  </p>
            </div>
        </div>
    </div>
</footer>
<!-- JavaScript pro Bootstrap (jQuery a Popper.js jsou zahrnuty v Bootstrapu) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

