<!-- Patička -->
<footer class="footer mt-auto py-3">
    <div class="container text-muted">
        <div class="row">
            <div class="col-md-4">
                <h5>Objevujte s námi</h5>
                <p>Jsme váš spolehlivý průvodce světem popkultury. Ohodnoťte filmy, hry a knihy s námi. 
                        {% if user.is_authenticated %}
                        <a href="/ucet/">{{ user.username }}!</a> | <a href="/odhlaseni/">Odhlášení</a>
                        {% else %}
                        <a href="/registrace/">Registrace</a> / <a href="/prihlaseni/">přihlášení</a>
                        {% endif %}
        
         na DIV.cz.</p>
         
                <p>Hry: 
                </p>
            </div>
            <div class="col-md-4">
                <h5>Navigace</h5>
                <ul class="footer-links">
                    <li><a href="/">Domů</a></li>
                    <li><a href="/kontakt/">Kontakt</a></li>
                    <li><a href="/podminky-pouziti">Podmínky použití</a></li>
                    <li><a href="/ochrana-osobnich-udaju">Ochrana osobních údajů</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Spojte se s námi</h5>
                <p>Email: info(zavináč)div.cz<br>
                <a href="https://div.cz/pripojte-se" title="Připojte se k DIV.cz">Připojte se k nám</a></p>
                <a href="/nas-tym">Náš tým</a></p>
                <p>Telefon: +420 739 466 537 (Míša)</p>


<div class="mt-3 text-3xl">
                <a style="text-decoration: none;" href="https://www.facebook.com/div.cz" title="Sledujte nás na Facebooku">
                    <i class="fab fa-facebook"></i>
                </a>
                <a style="text-decoration: none;" href="https://twitter.com/DIV_cz" title="Sledujte nás na Twitteru">
                    <i class="fab fa-twitter"></i>
                </a>
                <a style="text-decoration: none;" href="https://www.instagram.com/filmovydiv" title="Sledujte nás na Instagramu">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="copyright text-muted">© 2023 DIV databáze | projekt <a href="https://pyliberec.cz">PyLiberec</a> & <strong><a href="https://ekultura.eu/">eKultura, z.s.</a></strong> & MarWen</p>
            </div>
        </div>
    </div>
</footer>
<!-- JavaScript pro Bootstrap (jQuery a Popper.js jsou zahrnuty v Bootstrapu) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


