<nav class="navbar w-full">
    <div class="navbar1 max-w-[1340px] mx-auto">
        <div class="part">
            <div class="flex flex-nowrap items-center">
                <div class="logo">
                    <a href="/">
                        <img src="/static/img/site/microsoft/div_310x150-movies.png">
                    </a>
                </div>
                <ul id="menu" class="hidden flex">
                    <li><a class="nav-link hover:text-[#EB3F5E]" href="/filmy/">Filmy</a></li>
                    <li><a class="nav-link hover:text-[#25DC37]" href="/knihy/">Knihy</a></li>
                    <li><a class="nav-link hover:text-[#476acc]" href="/hry/">Hry</a></li>
                </ul>
            </div>

            <div class="toggle">
                <div id="menu-icon" class="cursor-pointer mr-10">
                    <svg id="menu-open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <svg id="menu-close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </div>
            </div>
        </div>

        <div id="menu-section" class="nav-menu hidden">            
            <div class="account">
                <div class="login">
                    {% if user.is_authenticated %}
                    <div class="user">
                        <img class="rounded-full" src="{{ avatar_imgpath }}" style="width: 30px;" alt="avatar">
                        <a class="nav-link" href="/ucet/" style="font-size:80%">{{ user.username }}</a> 
                    </div>
                    <div class="flex">
                        <form id="logout-form" method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <button type="button" id="logout-btn" class="nav-link" style="font-size:80%; background: none; border: none; color: #007bff; cursor: pointer;">Odhlásit</button>
                        </form>
                    </div>
                    {% else %}
                    <div>
                        <a class="nav-link" href="/prihlaseni/">Přihlásit</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

