
# Python
*.py[cod]
**/__pycache__/
*.so
*.env

# Django
*.log
local_settings.py
db.sqlite3
*/migrations/*
!*/migrations/__init__.py
.cache/

# IDE a OS
.idea/
.vscode/
.DS_Store
.dotnet/
.local/
.vscode-server/

# Projekt
div_config/nohup.out
div_config/settings.py
div_config/settings_local.py
div_config/settings_backup.py
div_content/nohup.out
div_content/templates/nohup.out

/staticfiles/
staticfiles/*
staticfiles_collected/

logy/
*.key
*.csr
div_env/
.bash_history

.env
