
# Python
*.py[cod]
**/__pycache__/
*.so
*.env

# Django
*.log
local_settings.py
db.sqlite3
*/migrations/*
!*/migrations/__init__.py

# IDE a OS
.idea/
.vscode/
.DS_Store

# Projekt
div_config/nohup.out
div_content/nohup.out
div_content/templates/nohup.out
logy/
*.key
*.csr
div_env/
