{% extends "forum/base.html" %}

{% block title %} Nový příspěvek {% endblock title %}

{% block content %}

{% if slug == "filmy" %}
    <link href="/static/css/movies.css" rel="stylesheet">
    {% elif slug == "knihy" %}
        <link href="/static/css/books.css" rel="stylesheet">
    {% elif slug == "hry" %}
        <link href="/static/css/games.css" rel="stylesheet">
    {% else %}
    <link href="/static/css/navbar_other.css" rel="stylesheet">
{% endif %}

<h2 style="width: 100%;">
    <a href="{% url 'forum' %}">Diskuzní fórum</a>
    <span> / </span>
    <a href="{% url 'forum_section_detail' slug=section.slug %}">{{ section.title }}</a>
</h2>

<div class="admin-panel">
    <h2>Nový příspěvek</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn add" type="submit">Přidat</button> <!-- sem barvičky tlačítek -->
    </form>
</div>

{% endblock %}

{% block script %}

    <script src="/static/js/forum-comment-summernote.js"></script>

{% endblock script %}