{% extends "forum/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}
    Div.cz | Diskuzní fórum
{% endblock title %}

{% block meta %}

{% endblock %}

{% block content %}

<div class="big-search">
    <h2>Diskuzní fórum</h2>
    <form role="search" action="{% url 'forum_search' %}" method="get">
        <input class="search-field" type="type" placeholder="Hledat na fóru" aria-label="Search" name="q" id="search-input">
        <button class="btn-search" type="submit">Hledat</button>
    </form>
</div>

<div class="forums">
    {% for section in all_forum_sections %}
        <div class="talk-img" style="background-image: url(/static/img/forum/bubble.webp); background-size: 100% 100%;">
            <a href="{% url 'forum_section_detail' slug=section.slug %}"
                class="
                    {% if section.slug == 'filmy' %}movies
                    {% elif section.slug == 'knihy' %}books
                    {% elif section.slug == 'hry' %}games
                    {% endif %}">
                <img src="/static/img/forum/{{section.imageurl}}" alt="{{ section.title }}">
                <h3>{{ section.title }}</h3>
            </a>
        </div>
    {% endfor %}
</div>


<!-- Poslední příspěvky -->
<div>
    <h3 style="margin-top:2.5rem; margin-bottom:.75rem; width:100%;">📌 Poslední příspěvky</h3>

    <div class="">
        {% if latest_comments %}
            {% for comment in latest_comments %}
            <ul class="card-body" style="margin-bottom:.5rem; border: 1px solid #dee2e6;">
                <!-- Titulek vlákna -->
                <li class="last-post">
                    <a class="{% if comment.topic.section.slug == 'filmy' %}movies
                        {% elif comment.topic.section.slug == 'knihy' %}books
                        {% elif comment.topic.section.slug == 'hry' %}games
                        {% endif %}"
                        style="font-weight:600;"
                        href="{% url 'forum_topic_detail' slug=comment.topic.section.slug topicurl=comment.topic.topicurl %}">
                        {{ comment.topic.title }}
                    </a>

                    {% if comment.topic.section.slug == "filmy" %}
                        <p class="movies">&#127916; Filmy</p>
                        {% elif comment.topic.section.slug == "knihy" %}
                        <p class="books">&#128214; Knihy</p>
                        {% elif comment.topic.section.slug == "hry" %}
                        <p class="games">&#127918; Hry</p>
                        {% elif comment.topic.section.slug == "obecne" %}
                        <p class="">&#128172; Ostatní</p>
                    {% endif %}
                </li>

                <hr>

                <!-- Info o komentáři -->
                <li class="last-comment">
                    <p>
                        {{ comment.body|striptags|truncatechars:120 }}
                    </p>
                    <small style="white-space: nowrap;">
                        <a style="margin-right: .5rem;" href="{% url 'user_profile_with_profil' user_id=comment.user.id %}">{{ comment.user.username|default:"Smazaný uživatel" }}</a> 
                        {{ comment.createdat|date:"d.m.Y H:i" }}
                    </small>
                </li>
            </ul>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block script %}
    <script src="/static/js/forum-comment-summernote.js"></script>
{% endblock script %}
