{% extends "forum/base.html" %}

{% load forum_comments_tags %}
{% load i18n %}

{% block title %}
Výsledky hledání {{ query }}
{% endblock title %}

{% block content %}

<div class="container">
    <h2 style="width: 100%;">
        <a href="{% url 'forum' %}">Diskuzní fórum</a>
        <span> / </span>
        Výsledky hledání pro "
        <span style="background-color:#CABAC8;">{{ query }}</span>"
    </h2>

    <h3 style="margin: 25px 0; width: 100%;">Názvy diskuzních vláken</h3>
    {% if topics %}
        {% for topic in topics %}
        <ul class="card card-body">
            <li><a href="{% url 'forum_topic_detail' slug=topic.section.slug topicurl=topic.topicurl %}">Diskuzní fórum/{{ topic.section.title }}/{{ topic.title|safe|highlight_search:query }}</a></li>
        </ul>
        {% endfor %}

        {% else %}
        <p>Žádný název vlákna</p>
    {% endif %}

    <h3 style="margin-top: 2.5rem; margin-bottom: .75rem; width: 100%;">Komentáře uživatelů</h3>

    {% if comments %}
        {% for comment in comments %}
            <ul class="card-body" style="margin-bottom:.5rem;">
                <!-- Titulek vlákna -->
                <li class="last-post">
                    <a href="{% url 'forum_topic_detail' slug=comment.topic.section.slug topicurl=comment.topic.topicurl %}">
                        {{ comment.topic.title }}
                    </a>

                    {% if comment.topic.section.slug == "filmy" %}
                        <p class="movies">&#127916; Filmy</p>
                        {% elif comment.topic.section.slug == "knihy" %}
                        <p class="books">&#128214; Knihy</p>
                        {% elif comment.topic.section.slug == "hry" %}
                        <p class="games">&#127918; Hry</p>
                        {% elif comment.topic.section.slug == "obecne" %}
                        <p class="">&#128172; Ostatní</p>
                    {% endif %}
                </li>

                <hr>

                <!-- Info o komentáři -->
                <li class="last-comment">
                    <p>
                        {{ comment.body|safe|highlight_search:query }}
                    </p>
                    <small style="white-space: nowrap;">
                        <a style="margin-right: .5rem;" href="{% url 'user_profile_with_profil' user_id=comment.user.id %}">{{ comment.user }}</a>
                        {{ comment.createdat|date:"d.m.Y H:i" }} 
                    </small>
                </li>
            </ul>
        {% endfor %}
        
        {% else %}
        <p>Žádný komentáře uživatelů</p>
    {% endif %}
</div>

{% endblock content %}
