{% extends "forum/base.html" %}
{% load forum_comments_tags %}

{% block title %}{{ topic.title }}{% endblock title %}

{% block content %}

{% if slug == "filmy" %}
    <link href="https://media.div.cz/css/movies.css" rel="stylesheet">
    </style>
    {% elif slug == "knihy" %}
    <link href="https://media.div.cz/css/books.css" rel="stylesheet">
    {% elif slug == "hry" %}
    <link href="https://media.div.cz/css/games.css" rel="stylesheet">
    {% else %}
    <link href="https://media.div.cz/css/navbar_other.css" rel="stylesheet">
{% endif %}

<h2><a class="hover:underline" href="{% url 'forum' %}">Diskuzní fórum</a> / <a class="hover:underline" href="{% url 'forum_section_detail' slug=topic.section.slug %}">{{ topic.section.title }}</a> / {{ topic.title }}</h2>

{% if user.is_authenticated %}
<section class="new-comment">
    <h2 style="width: 100%;">Přidat komentář</h2>
    <form method="post" style="margin-bottom: 20px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn add" type="submit">Přidat</button>
    </form>
</section>
{% else %}
<p class="my-4">Pro přidání komentáře se prosím <a href="{% url 'login' %}">přihlašte</a>.</p>
{% endif %}

<!-- komentáře se načítají v šabloně níže -->
{% include "forum/load_all_comments.html" %}

{% endblock content %}

{% block script %}
<script src="/static/js/forum-comment-summernote.js"></script>
{% endblock script %}
