{% load forum_comments_tags %}
{% for comment in page.object_list %}

<ol class="comment-card">

    {% if comment.parentcommentid is not None %}
        <div class="comment-reply-box">
            {% with parent_comment=comments|get_parent_comment:comment.parentcommentid %}

                <li class="comment-parent-author">
                    <i>Napsal/a 
                        {% if parent_comment.user %}
                            {{ parent_comment.user }}
                        {% else %}
                            Smazaný uživatel
                        {% endif %}:
                    </i>
                </li>

                {% if parent_comment.isdeleted == False %}
                    <li class="comment-parent-body">
                        <i>{{ parent_comment.body|safe }}</i>
                    </li>
                {% else %}
                    <li class="comment-parent-body">
                        <i><strike>Tento komentář byl smazán.</strike></i>
                    </li>
                {% endif %}
            {% endwith %}
        </div>
    {% endif %}

    <div class="comment-content">
        {% if not comment.isdeleted %}
            <li class="comment-body">{{ comment.body|safe }}</li>
        {% else %}
            <li><strike>Tento komentář byl smazán.</strike></li>
        {% endif %}

        {% if comment.parentcommentid is None and user.is_authenticated and not comment.isdeleted %}
            <p class="comment-reply-link">
                <a href="{% url 'comment_reply' slug=topic.section.slug topicurl=topic.topicurl forumcommentid=comment.forumcommentid %}">Odpovědět</a>
            </p>
        {% endif %}
    </div>

    <div class="comment-meta">
        <div class="comment-user">
            <div class="comment-avatar">
                <img src="{% get_user_avatar comment.user %}" alt="avatar">
            </div>

            <div class="comment-meta-row">
                <div class="comment-authorline">
                    <a href="{% url 'user_profile_with_profil' user_id=comment.user.id %}">{{ comment.user }}</a>
                    <p> - <small>{{ comment.createdat }}</small></p>
                </div>

                {% if comment.lasteditedat %}
                <i><small>(Upraveno {{ comment.lasteditedat }})</small></i>
                {% endif %}
            </div>
        </div>

        {% if (user == comment.user and not comment.isdeleted) or user.is_staff %}
        <p class="comment-edit-block">
            <small>
                <a href="{% url 'comment_edit' slug=topic.section.slug topicurl=topic.topicurl forumcommentid=comment.forumcommentid %}">Upravit</a> |
                <a href="{% url 'comment_delete' slug=topic.section.slug topicurl=topic.topicurl forumcommentid=comment.forumcommentid %}">Smazat</a>
            </small>
        </p>
        {% endif %}
    </div>

</ol>
{% endfor %}


<!-- PAGINÁTOR -->
<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a class="first-page" href="?page=1">&laquo; První</a>
            <a href="?page={{ page.previous_page_number }}">Předchozí</a>
        {% endif %}

        <span class="current-page">
            {{ page.number }} / {{ page.paginator.num_pages }}
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Další</a>
            <a class="last-page" href="?page={{ page.paginator.num_pages }}">Poslední &raquo;</a>
        {% endif %}
    </span>
</div>