<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Email z DIV.CZ</title>
    </head>

    <body>

        <div style="display: flex; justify-content: center; margin-left:-10px; align-items: center; padding: 20px 0; background: linear-gradient(90deg, #003300 10%, #61872B 90%);">
            <img src="https://ekultura.eu/img/div.cz.png" alt="DIV.CZ Ikona" style="width: 45px; vertical-align: middle;">
            <h1 style="display: inline-block; margin: 0; padding-left: 10px; font-family: Arial, sans-serif; color: #ffffff;">DIV.CZ</h1>
        </div>

        <div style="padding: 20px; font-family: Arial, sans-serif; font-size: 14px; line-height: 1.6; color: #333;">
            {% block content %}
            {% endblock %}
        </div>

        <!-- FOOTER -->
        <div style="margin-left:-10px; text-align: center; padding: 15px 0; font-size: 12px; color: #ffffff; background: linear-gradient(90deg, #003300 10%, #61872B 90%);">
            <p>Provozovatel je nezisková organizace eKultura</p>
            <small><em>Doklad o platbě vystavíme na vyžádání: 
                <a style="color: #8ebfff;" href="mailto:info@div.cz" target="_blank" rel="noopener">info@div.cz</a>
            </em></small>
            <p>&copy; {% now "Y" %} DIV.CZ. Všechna práva vyhrazena.</p>
        </div>

    </body>
</html>
