{% extends "emails/base_emails.html" %}

{% block subject %}Nová soukromá zpráva na DIV.cz{% endblock %}

{% block content %}

<p style="margin-bottom: 10px;">Ahoj <strong>{{ receiver_name }}</strong>,</p>

<p>uživatel <strong>{{ sender_name }}</strong> ti poslal(a) novou soukromou zprávu:</p>

<blockquote style="border-left: 3px solid #ccc; margin: 15px 0; padding-left: 10px; color: #555;">
  {{ message_content }}
</blockquote>

<p>Na zprávu můžeš odpovědět po přihlášení:  
<a href="https://div.cz/">Přejít na DIV.cz</a></p>

<p style="margin-top: 10px;">Děkujeme, že používáš <strong>DIV.cz</strong>.</p>

{% endblock %}
