{% extends "emails/base_emails.html" %}

{% block content %}


<p>Dobrý den,</p>


<p>Vaše eKniha <strong>{{ book.title }}</strong> byla úspěšně zaplacena.</p>
<p>Knihu si můžete stáhnout v detailu knihy nebo ve svém účtu:</p>
<p>
<ul>
  <li>Detail knihy: <a href="https://div.cz/kniha/{{ book.url }}">https://div.cz/kniha/{{ book.url }}</a></li>
  <li>Moje knihy v účtu: <a href="{{ account_url }}">{{ account_url }}</a></li>
</ul>
</p>


<p></p>
<p>Děkujeme za podporu české kultury!</p>
<p>Tým DIV.cz a Nakladatelství eKultura</p>




{% endblock %} 






