


Dobrý den,<br>
Vaše eKniha <strong>{{ book.title }}</strong> byla úspěšně zaplacena.<br><br>
Knihu si můžete stáhnout v detailu knihy nebo ve svém účtu:<br>
<ul>
  <li>Detail knihy: <a href="https://div.cz/kniha/{{ book.url }}">https://div.cz/kniha/{{ book.url }}</a></li>
  <li>Moje knihy v účtu: <a href="{{ account_url }}">{{ account_url }}</a></li>
</ul>
<br>
Děkujeme za podporu české kultury!<br>
Tým DIV.cz a Nakladatelství eKultura
<br><br>
Provozovatel je nezisková organizace eKultura


