{% extends "emails/base_div.html" %}

{% block content %}

<p style="margin-bottom: 10px;">Dobrý den <strong>{{ buyer_name }}</strong>,</p>

<p>Vaše eKniha <strong>{{ book.titlecz|default:book.title }}</strong> byla úspěšně zaplacena.</p>
<p>Knihu si můžete stáhnout v detailu knihy nebo ve svém účtu:</p>
<p>
  <ul>
    <li>Detail knihy: <a href="{{ buyer_market_url }}/kniha/{{ book.url }}">https://div.cz/kniha/{{ book.url }}</a></li>
    <li>Moje knihy v účtu: <a href="{{ account_url }}">{{ account_url }}</a></li>
  </ul>
</p>

<p style="margin-top: 14px;">S pozdravem</p>
<p>Tým DIV.cz a Nakladatelství eKultura</p>

{% endblock %} 






