{% extends "emails/base_email.html" %}

{% block content %}

<p style="margin-bottom: 10px;">Ahoj</strong>,</p>

<p><strong>Nový komentář ve fóru DIV.cz</strong></p>

<p>
Uživatel <strong>{{ username }}</strong> napsal nový komentář.
</p>

<p>
<strong>Téma:</strong><br>
{{ topic_title }}
</p>

<p>
<strong>Komentář:</strong><br>
{{ comment }}
</p>

<p>
<a href="{{ topic_url }}">Zobrazit diskuzi</a>
</p>


<p style="margin-top: 14px;">
S pozdravem<br>
<strong>Tým DIV.cz</strong>
</p>

{% endblock %}
