{% extends "emails/base_email.html" %}

{% block content %}
<p style="margin-bottom: 10px;">Dobrý den <strong>{{ buyer_name }}</strong>,</p>

<p>rezervace a platba knihy <strong>{{ book_title }}</strong> byla automaticky zrušena, protože jsme neobdrželi potvrzení o odeslání knihy od prodejce.</p>

<p>Pokud máte podezření na problém, prosím kontaktujte nás na <a href="mailto:info@div.cz">info@div.cz</a>.</p>

<p style="margin-top: 14px;">
S pozdravem,<br>
<strong>Tým {{ market_name }}</strong>
</p>

{% endblock %}
