{% extends "emails/base_emails.html" %}

{% block content %}



<p>Dobrý den {{ buyer_name }},</p>

<p>Vaše objednávka knihy <strong>{{ book_title }}</strong> byla <strong>automaticky dokončena</strong>, 
protože uplynulo více než 10 dní od zaplacení a obchod nebyl ručně uzavřen.</p>

<p>Pokud s tímto postupem nesouhlasíte, kontaktujte nás prosím do 14 dnů na 
<a href="mailto:info@div.cz">info@div.cz</a>. Po uplynutí této lhůty je obchod považován za uzavřený.</p>

<p>Děkujeme, že používáte DIV.cz Antikvariát.</p>




{% endblock %} 
