{% extends "emails/base_emails.html" %}

{% block content %}

<p style="margin-bottom: 10px;">Dobrý den <strong>{{ seller_name }}</strong>,</p>

<p>kniha <strong>{{ book_title }}</strong> byla označena jako odeslaná.</p>

<p>Jakmile dorazí, můžete transakci potvrdit zde:</p>
<p>
    <a href="https://div.cz/antikvariat/{{ book_url }}/{{ listing_id }}/confirm-payment/">Potvrdit obdržení knihy</a>
</p>

<p style="margin-top: 10px;">S pozdravem,</p>
<p>Váš Divkvariát</p>

{% endblock %}
