{% extends "emails/base_emails.html" %}

{% block content %}



<p>Dobrý den {{ user_name }},</p>
<p><p>

<p>Vaše kniha: <strong>{{ book_title }}</strong> byla zakoupená uživatelem {{ buyer_name }} </p>
<p>Zaplacená částka: <strong>{{ amount }} Kč</strong> + poštovné {{shipping}} Kč</p>
<p> Adresa kupujícího: <strong>{{ shippingaddress }}</strong></p>
{% if buyer_phone %}
<p> Telefon kupujícího: <strong>{{ buyer_phone }}</strong></p>
{% endif %}
<p>Prosím co nejdříve kupujícímu zašlete knihu.</p>
<p>V případě dotazů nás neváhejte kontaktovat.</p>

<p><p>
    <p>S pozdravem,</p>
    <p>Váš Divkvariát</p>



{% endblock %} 
