{% extends "emails/base_email.html" %}

{% block content %}

# -------------------------------------------------------------------
#                    TOHLE NEPOSÍLÁME - NEOBTĚŽUJEME PRODEJCE
# -------------------------------------------------------------------



    <p>Dobrý den {{ seller_name }},</p>
    <p>kupující zrušil rezervaci knihy <strong>{{ book_title }}</strong>.</p>
    <p>Kniha je nyný opět dostupná a může být rezervována jiným zájemcem.</p>
    <p>Děkujeme, že využíváte Divkvariát.</p>
    <p>S pozdravem,</p>
    <p>Váš Divkvariát</p>



{% endblock %}
