{% extends "emails/base_emails.html" %}

{% block content %}



<p>Dobrý den {{ buyer_name }},</p><br>
<p>Vaše platba knihy: <strong>{{ book_title }}</strong> byla úspěšná. </p>
<p>Zaplacená částka: <strong>{{ amount }}</strong>+ poštovné {{shipping}}</p>
<p>Kupujícímu {{ seller_name }}  byl zaslán e-mail s žádostí o zaslání knihy. Pokud vás do sedmi dnů nekontaktuje vrátíme vám plnou částku na účet.</p>

<p>Kniha bude zaslaná na adresu:  <strong>{{ shipping_address }}</strong></p>
<p>V případě dotazů nás neváhejte kontaktovat na info@div.cz.</p>


<p></p>
    <p>S pozdravem,</p>
    <p>Váš Divkvariát</p>


{% endblock %} 
