{% extends "emails/base_emails.html" %}

{% block content %}

<p style="margin-bottom: 10px;">Dobrý den <strong>{{ seller_name }}</strong>,</p>

<p>obchod s knihou <strong>{{ book_title }}</strong> byl dokončen a kupující jej potvrdil.</p>
<p>Děkujeme za váš přínos komunitě Divkvariátu.</p>
<p>
    Můžete nyní <a href="https://div.cz/antikvariat/{{ book_url }}/prodej/{{ listing_id }}/#hodnoceni">ohodnotit kupujícího</a> – pomůžete tím dalším prodejcům.
</p>

<p style="margin-top: 10px;">S pozdravem,</p>
<p>Váš Divkvariát</p>

{% endblock %}
