{% extends "emails/base_emails.html" %}

{% block content %}



    <p>Dobrý den {{ seller_name }},</p>
    <p>obchod s knihou <strong>{{ book_title }}</strong> byl dokonèen a kupující jej potvrdil.</p>
    <p>Dìkujeme za váš pøínos komunitì Divkvariátu.</p>
    <p>
        Mùžete nyní <a href="https://div.cz/kniha/{{ book_url }}/prodej/{{ listing_id }}/#hodnoceni">ohodnotit kupujícího</a> – pomùžete tím dalším prodejcùm.
    </p>
    <p>S pozdravem,</p>
    <p>Váš Divkvariát</p>




{% endblock %}
