{% extends "emails/base_emails.html" %}

{% block content %}

<p style="margin-bottom: 10px;">Dobrý den <strong>{{ buyer_name }}</strong>,</p>

<p>vaše objednávka knihy <strong>{{ book_title }}</strong> bohužel nebyla dokončena.</p>
<p>Prodejce nepotvrdil odeslání knihy ani po uplynutí lhůty, a proto byla transakce automaticky zrušena.</p>

<p>Pokud kniha přesto dorazila, dejte nám prosím vědět na <a href="mailto:info@div.cz">info@div.cz</a> nebo telefonicky, abychom transakci mohli uzavřít správně.</p>
<p>Pokud kniha nedorazila, není třeba nic řešit – platba vám nebude vyplacena prodejci.</p>

<p style="margin-top: 10px;">S pozdravem,</p>
<p>Váš Divkvariát</p>

{% endblock %}
