{% extends "emails/base_emails.html" %}

{% block content %}

# -------------------------------------------------------------------
#                    TOHLE NEPOSÍLÁME - NEOBTĚŽUJEME PRODEJCE
# -------------------------------------------------------------------



    <p>Dobrý den {{ seller_name }},</p>
    <p>kupující zrušil rezervaci knihy <strong>{{ book_title }}</strong>.</p>
    <p>Kniha je nyný opÏt dostupn· a m˘ûe b˝t rezervov·na jin˝m z·jemcem.</p>
    <p>Děkujeme, že využíváte Divkvariát.</p>
    <p>S pozdravem,</p>
    <p>Váš Divkvariát</p>



{% endblock %}
