{% extends "emails/base_email.html" %}

{% block content %}

<p style="margin-bottom: 10px;">Dobrý den <strong>{{ seller_name }}</strong>,</p>

<p>Kniha <strong>{{ book_title }}</strong> byla označena jako odeslaná.</p>

<p>Jakmile dorazí ke kupujícímu, může být transakce potvrzena zde:</p>

<p>
    <a href="{{ market_url }}/{{ book_url }}/{{ listing_id }}/confirm-payment/">
        Potvrdit obdržení knihy
    </a>
</p>

<p style="margin-top: 14px;">
S pozdravem,<br>
<strong>Tým {{ market_name }}</strong>
</p>

{% endblock %}
