{% extends "emails/base_emails.html" %}

{% block content %}

<p style="margin-bottom: 10px;">Dobrý den <strong>{{ buyer_name }}</strong>,</p>

<p>obchod s knihou <strong>{{ book_title }}</strong> byl úspěšně dokončen.</p>
<p>Děkujeme za vaši účast a důvěru v Divkvariát.</p>
<p>
    Můžete nyní <a href="https://div.cz/antikvariat/{{ book_url }}/prodej/{{ listing_id }}/#hodnoceni">ohodnotit prodávajícího</a> – pomůžete tím dalším čtenářům.
</p>

<p style="margin-top: 10px;">S pozdravem,</p>
<p>Váš Divkvariát</p>

{% endblock %}
