{% extends "emails/base_emails.html" %}

{% block content %}

# -------------------------------------------------------------------
#                    TOHLE NEPOSÍLÁME
# -------------------------------------------------------------------

<html>
<head></head>
<body>
    <p>Dobrý den {{ seller_name }},</p>
    <p>kupující zrušil rezervaci knihy <strong>{{ book_title }}</strong>.</p>
    <p>Kniha je nyní opìt dostupná a mùže být rezervována jiným zájemcem.</p>
    <p>Dìkujeme, že využíváte Divkvariát.</p>
    <p>S pozdravem,</p>
    <p>Váš Divkvariát</p>
</body>
</html>
{% endblock %}
