{% extends "emails/base_emails.html" %}

{% block content %}

<p style="margin-bottom: 10px;">Ahojky, </p>

<p>Uživatel: <strong>{{ seller_name }}</strong> zažádal o vyplacení pěněz za prodané knihy. </p>
<p>Požadovaná částka: <strong>{{ total_user_payment }} Kč</strong></p>
<p>Prosím co nejdříve prodávajícímu zašlete požadované finance.</p>

<p>Číslo účtu uživatele: <strong>{{ bank_account }}</strong></p>
<p>Zde můžete vyřídit požadavek o platbu:</p>
<a href="https://div.cz/">Přejít na hlavní stránku</a>

<p style="margin-top: 10px;">S pozdravem,</p>
<p>Váš Divkvariát</p>

{% endblock %} 