{% extends "emails/base_emails.html" %}

{% block content %}
<html>
<head>
    
</head>
<body>
<p>Dobrý den {{ buyer_name }},</p>
<p>Vaše platba knihy: <strong>{{ book_title }}</strong> byla úspěšná. </p>
<p>Zaplacená částka: <strong>{{ amount }}</strong>+ poštovné {{shipping}}</p>
<p>Kupujícímu {{ seller_name }}  byl zaslán e-mail s žádostí o zaslání knihy. Pokud vás do sedmi dnů nekontaktuje vrátíme vám plnou částku na účet.</p>
<p>V případě dotazů nás neváhejte kontaktovat.</p>
    <p>S pozdravem,</p>
    <p>Váš Divkvariát</p>
{% include "inc/footer.html" %}
</body>
</html>
{% endblock %} 
