<!DOCTYPE html>
<html lang="cs">

    <head>

        {% include "inc/head.html" %}

        <title>Zpráva pro {{ receiver.username }}</title>

        <link href="/static/css/chat.css" rel="stylesheet" type="text/css">
        <link href="/static/css/navbar_other.css" rel="stylesheet">

        <style>
            .old-msg {
                width: 140px;
                height: 25px;
                border: none;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 0px 0px 4px #bec9d957;
                cursor: pointer;
                overflow: hidden;
                position: relative;
                margin: 0 auto;
                border-radius: 50px;
                transition-duration: 0.3s;
                background-color: #bec9d9;
            }

            .svgIcon {
                width: 12px;
                transition-duration: 0.3s;
            }

            .old-msg:hover .svgIcon {
                /* width: 20px; */
                transition-duration: 0.3s;
                transform: translateY(-200%);
            }

            .old-msg::before {
                position: absolute;
                bottom: -20px;
                content: "Starší zprávy";
                color: #666666;
                /* transition-duration: .3s; */
                font-size: 0px;
            }

            .old-msg:hover::before {
                font-size: 13px;
                opacity: 1;
                bottom: unset;
                /* transform: translateY(-30px); */
                transition-duration: 0.3s;
            }

            .old-msg.disabled {
                cursor: not-allowed;
                pointer-events: none;
                font-size: 13px;
            }

            .old-msg.disabled:hover .svgIcon {
                transform: none; /* Zruší transformace ikony */
                transition: none;
            }

            .old-msg.disabled::before {
                content: "Žádné další zprávy.";
                opacity: 1;
            }

            .errorlist {
                box-shadow: none;
                padding: 0;
                font-size: 20px;
                font-weight: bold;
                border-radius: .25rem;
                text-align: center;
                margin: -50px 0 20px;
            }

            .errorlist li {
                text-shadow: 0px 0px 10px #F44336, 0px 0px 20px #F44336, 0px 0px 40px #F44336, 0px 0px 80px #F44336;
                position: relative;
            }

            /* Emoji picker */
            .emoji-picker {
                display: flex;
                margin: 5px 0;
                gap: 5px;
            }
        
            .emoji-btn {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 20px;
            }
        
            .rich-editor {
                width: 100%;
                height: auto;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 10px;
                resize: none;
                font-size: 14px;
            }

        </style>
        
    </head>

    <body class="bg-[#FFFFFF] text-[#0d0c0f] dark:bg-[#0d0c0f] dark:text-[#F9F9F9] d-flex flex-column min-vh-100">

        {% include "inc/navbar.html" %}

        <main class="flex-grow-1">
            <aside class="lg:min-w-[200px] max-h-full bg-light dark:bg-[#1A161F] hidden">
                <div class="">
                    <div class="flex gap-4 mb-3 py-4">
                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 sun cursor-pointer ">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                        </svg>
                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 moon cursor-pointer ">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                        </svg>
                    </div>
                </div>
            </aside>
    
            <div class="row w-4/5 sm:my-4 sm:my-0 mx-auto">
                <div class="col-lg-4 px-0">
                    <div class="users-container">
                        <div class="chat-search-box">
                            <div class="input-group flex justify-center">
                                <input id="chatSearchInput" placeholder="Search">
                                <i class="fa fa-search flex items-center" style="padding: 5px 10px;"></i>
                            </div>
                        </div>
                        <div>
                            <ul id="chatSearchResults" class="list-group"></ul>
        
                            <ul class="users flex lg:flex-wrap content-start">
                                {% for chat_session in all_chat_sessions %}
                                    {% if chat_session.messages.last %}
                                        {% if chat_session.user1 == request.user %}
                                        <a 
                                        class="person h-fit w-full {% if chat_session.user2.id == receiver.id %}active-user{% endif %}" 
                                        href="{% url 'chat_message' user_id=chat_session.user2.id %}">
                                            <li class="flex items-center" data-chat="person1" data-username="{{ chat_session.user2.username|lower }}">
                                                <div class="msg-user">
                                                    <img src="/static/img/avatar/{{ chat_session.user2.userprofile.avatar.imagepath}}" alt="Avatar">
                                                </div>
                                                <div class="name-time flex flex-wrap w-full">
                                                    <div class="flex justify-between w-full">
                                                        <p class="name w-full">{{ chat_session.user2.username }}</p>
                                                        {% if not chat_session.messages.last.isread and request.user != chat_session.messages.last.sender  %}
                                                        <i class="fa-regular fa-envelope" style="color: red; font-size: 20px; margin: 0;"></i>
                                                        {% endif %}
                                                    </div>
                                                    <div class="flex flex-wrap lg:w-full justify-between">
                                                        <p class="date w-full">{{ chat_session.messages.last.sentat|date:"j. F Y" }}</p>
                                                        <p class="time w-full">{{ chat_session.messages.last.sentat | time:"H:i" }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </a>
                                        {% else %}
                                        <a 
                                        class="person h-fit w-full {% if chat_session.user1.id == receiver.id %}active-user{% endif %}" 
                                        href="{% url 'chat_message' user_id=chat_session.user1.id %}">
                                            <li class="flex items-center" data-chat="person1">
                                                <div class="msg-user">
                                                    <img src="/static/img/avatar/{{ chat_session.user1.userprofile.avatar.imagepath}}" alt="Avatar">
                                                </div>
                                                <div class="name-time flex flex-wrap w-full">
                                                    <div class="flex justify-between w-full">
                                                        <p class="name w-full">{{ chat_session.user1.username }}</p>
                                                        {% if not chat_session.messages.last.isread and request.user != chat_session.messages.last.sender  %}
                                                        <i class="fa-regular fa-envelope" style="color: red; font-size: 20px; margin: 0;"></i>
                                                        {% endif %}
                                                    </div>
                                                    <div class="flex flex-wrap lg:w-full justify-between">
                                                        <p class="date w-full">{{ chat_session.messages.last.sentat|date:"j. F Y" }}</p>
                                                        <p class="time w-full">{{ chat_session.messages.last.sentat | time:"H:i" }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </a>    
                                        {% endif %}
                                    {% endif %}                    
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-8 px-0">
                    <div class="flex items-center selected-user">
                        <div class="user-avatar mr-2">
                            <img src="/static/img/avatar/{{receiver_userprofile.avatar.imagepath}}" alt="Avatar">
                        </div>
                        <span class="name"><a href="{% url 'myuser_detail' receiver.id %}" style="color:black;">
                            {{ receiver }}
                        </a></span>
                    </div>

                    <div class="chat-container pr-0" id="chatContainer" data-last-message-id="{{ last_message_id }}">
                        <div class="chat-box" data-chat="person3">
                            {% if has_older_messages %}
                            <a class="old-msg" id="loadOlderButton">
                                <svg class="svgIcon" viewBox="0 0 384 512" fill="#666666">
                                    <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
                                </svg>
                            </a>
                            {% endif %}
                            <ul id="chatMessageList">
                            
                            {% for chat_session in chat_sessions %}
                                {% for message in chat_session.latest_messages reversed %}
                                    {% if message.sender == request.user %}
                                    <li class="chat-right" data-message-id="{{ message.usermessageid }}">
                                        <div class="flex flex-wrap justify-end">
                                            <div class="chat-hour flex w-full">{{ message.sentat }}</div>
                                            <div class="chat-text relative border text-[#0d0c0f]">{{ message.message }}</div>
                                        </div>
                                        <div class="chat-avatar">
                                            <img src="/static/img/avatar/{{message.sender.userprofile.avatar.imagepath}}" alt="Avatar">
                                        </div>
                                    </li>
                                    {% else %}
                                    <li class="chat-left" data-message-id="{{ message.usermessageid }}">
                                        <div class="chat-avatar">
                                            <img src="/static/img/avatar/{{receiver.userprofile.avatar.imagepath}}" alt="Avatar">
                                        </div>
                                        <div class="flex flex-wrap">
                                            <div class="chat-hour flex w-full">{{ message.sentat }}</div>
                                            <div class="chat-text relative border text-[#0d0c0f]">{{ message.message }}</div>
                                        </div>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                        </div>
                        
                        <form method="post" class="flex flex-wrap tems-center mt-2 border-top">
                            {% csrf_token %}
                            <div id="emoji-picker" class="emoji-picker">
                                
                                <button type="button" class="emoji-btn" data-emoji="🙂">🙂</button>
                                <button type="button" class="emoji-btn" data-emoji="😊">😊</button>
                                <button type="button" class="emoji-btn" data-emoji="😂">😂</button>
                                <button type="button" class="emoji-btn" data-emoji="😮">😮</button>
                                <button type="button" class="emoji-btn" data-emoji="🙁">🙁</button>
                                <button type="button" class="emoji-btn" data-emoji="😡">😡</button>
                                <button type="button" class="emoji-btn" data-emoji="❤️">❤️</button>
                                <button type="button" class="emoji-btn" data-emoji="👍">👍</button>
                            </div>
                            <div class="form-group flex w-full mb-0 w-full">
                                {{ form.message.errors }}
                                {{ form.message }}
                                <button class="send m-0 add">
                                    <div class="svg-wrapper-1">
                                        <div class="svg-wrapper">
                                            <svg viewBox="0 0 24 24" width="20" height="20">
                                                <path fill="none" d="M0 0h24v24H0z"></path>
                                                <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <span>Poslat</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    
        {% include "inc/footer.html" %}
    
        <script src="/static/js/script.js"></script>
        <script src="/static/js/searchUserForChat.js"></script>

        <script>
            const currentUser = "{{ request.user.username }}";
                document.addEventListener('DOMContentLoaded', function () {
                const loadOlderButton = document.getElementById('loadOlderButton');
                const chatMessageList = document.getElementById('chatMessageList');

                if (loadOlderButton) {
                    loadOlderButton.addEventListener('click', function () {
                        const lastMessage = chatMessageList.querySelector('li[data-message-id]');
                        const lastMessageId = lastMessage ? lastMessage.getAttribute('data-message-id') : null;

                        if (!lastMessageId) {
                            console.error("No last message ID found.");
                            return;
                        }

                        const userId = {{ receiver.id }};
                        // console.log(`Last message ID: ${lastMessageId}`);
                        // console.log(`Fetching: /ucet/zpravy/nacist-starsi-zpravy/${userId}/?last_message_id=${lastMessageId}`);

                        fetch(`/ucet/zpravy/nacist-starsi-zpravy/${userId}/?last_message_id=${lastMessageId}`)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error(`HTTP error! Status: ${response.status}`);
                                }
                                return response.json();
                            })
                            .then(data => {
                                if (data.messages && data.messages.length > 0) {
                                    data.messages.forEach(message => {
                                        const messageElement = document.createElement('li');
                                        messageElement.className = message.sender === currentUser ? 'chat-right' : 'chat-left';
                                        messageElement.dataset.messageId = message.id;

                                        messageElement.innerHTML = `
                                            ${message.sender === currentUser ? `
                                            <div class="flex flex-wrap justify-end">
                                                <div class="chat-hour flex w-full">${message.sentat}</div>
                                                <div class="chat-text relative border text-[#0d0c0f]">${message.message}</div>
                                            </div>
                                            <div class="chat-avatar">
                                                <img src="/static/img/avatar/${message.sender_avatar}" alt="Avatar">
                                            </div>
                                            ` : `
                                            <div class="chat-avatar">
                                                <img src="/static/img/avatar/${message.sender_avatar}" alt="Avatar">
                                            </div>
                                            <div class="flex flex-wrap">
                                                <div class="chat-hour flex w-full">${message.sentat}</div>
                                                <div class="chat-text relative border text-[#0d0c0f]">${message.message}</div>
                                            </div>
                                            `}
                                        `;
                                        chatMessageList.prepend(messageElement);
                                    });
                                } else {
                                    loadOlderButton.textContent = "Žádné další zprávy.";
                                    loadOlderButton.disabled = true;
                                    loadOlderButton.classList.add('disabled');
                                }
                            })
                            .catch(error => console.error('Error loading older messages:', error));
                    });
                }
            });

            // Automaticky nascrollovat na poslední zprávu
            document.addEventListener("DOMContentLoaded", function () {
                const chatContainer = document.getElementById("chatContainer");
                const lastMessageId = chatContainer.dataset.lastMessageId;

                if (chatContainer && lastMessageId) {
                    // Find the last message element and scroll to it
                    const lastMessageElement = document.querySelector(`[data-message-id="${lastMessageId}"]`);
                    if (lastMessageElement) {
                        lastMessageElement.scrollIntoView({ block: "end" });
                    } else {
                        // Fallback to scrolling to the bottom
                        chatContainer.scrollTop = chatContainer.scrollHeight;
                    }
                }
            });
            
            document.addEventListener('DOMContentLoaded', function () {
                const users = document.querySelectorAll('.person');
                const chatBoxes = document.querySelectorAll('.chat-box');
            
                users.forEach(user => {
                    user.addEventListener('click', function () {
                        // Zrušení aktuálního aktivního stavu
                        document.querySelector('.person.active-user')?.classList.remove('active-user');
                        document.querySelector('.chat-box.active-chat')?.classList.remove('active-chat');
            
                        // Nastavení nového aktivního stavu
                        this.classList.add('active-user');
                        const chatId = this.getAttribute('data-chat');
                        const chatBox = document.querySelector(`.chat-box[data-chat="${chatId}"]`);
                        chatBox.classList.add('active-chat');
                    });
                });
            });

            // Emoji picker
            document.addEventListener('DOMContentLoaded', function () {
                const emojiPicker = document.getElementById('emoji-picker');
                const textArea = document.querySelector('.rich-editor');
        
                // Append emoji to the textarea when clicked
                emojiPicker.addEventListener('click', function (event) {
                    if (event.target.classList.contains('emoji-btn')) {
                        const emoji = event.target.getAttribute('data-emoji');
                        const currentValue = textArea.value;
                        textArea.value = currentValue + emoji;
                        textArea.focus(); // Set focus back to textarea
                    }
                });
            });
        </script> 

    </body>
</html>
