{% extends "inc/base.html" %}

{% load i18n %}

{% block title %}Kontakt{% endblock title %}
{% block h1 %}Kontakt{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block content %}
        {% if user.is_authenticated %}
        {% else %}
        <p><a href="/prihlaseni/">Přihlásit</a> nebo <a href="/registrace/">registrace.</a></p>
        {% endif %}


{% if message_sent %}
    <p>Formulář se nepovedlo odeslat, napište přímo na info (zavináč)div.cz</p>
    
    <p>Poslat <a href="/kontakt/">jinou</a>.</p>
{% else %}




<p>Provozovatel: eKultura, z.s. IČO: 21682305 <b>media@ekultura.eu</b>.</p>

<br>

<div style="font-family:Verdana, sans-serif; font-size:14px; max-width:560px;color:#444;border:0px solid blue;border-radius:6px;margin-bottom:10px;">
<table style="border:0px solid black;border-radius:6px;padding:5px"><tr><td rowspan="3" style=""><img src="https://ekultura.eu/img/nas-tym/misa.jpg" alt="Michaela" class="rounded-circle" style="width:100px;padding:5px 10px 5px 5px"></td>

<td>
    <table width="100%" cellpadding="0" cellspacing="0" style="border:0px solid blue">
        <tr>
            <td colspan="2" style="padding-bottom:0px;padding-right:10px">
                <b style="font-size:14px; color:#4a6481;nowrap">Michaela Fialová</b>
                <br>
                <span style="font-size:12px; color:#444;">Mediální zastoupení div.cz</span><br>
                <hr style="width:100%;, coler:#4CAF50;">
            </td>
        </tr>
        <tr>
            <td style="width:220px; font-size:12px;padding-top:3px; vertical-align:top;padding-right:20px">
                <a href="mailto:tel:+420723732479"><i class="fa fa-phone"></i> (+420) 739-466-537</a>
                <br>
                <a href="mailto:michaela.fialova@ekultura.eu" style="color:#444; text-decoration:none;font-size:90% ; nowrap"> <i class="fa fa-envelope"></i> michaela.fialova@ekultura.eu</a>
                <br>
                <a href="https://www.linkedin.com/company/ekultura/" target="_blank" style="color:#0077b5; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/ln.webp" alt="LinkedIn" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
                <a href="https://www.facebook.com/profile.php?id=61561884747289" target="_blank" style="color:#3b5998; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/fb.webp" alt="Facebook" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
                <a href="https://x.com/ekultura_eu" target="_blank" style="color:#1da1f2; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/tt.webp" alt="Twitter" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
                <a href="https://www.instagram.com/eKultura_eu" target="_blank" style="color:#e1306c; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/it.webp" alt="Instagram" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
            </td>
            <td style="width: 120px; font-size:12px;padding-top:3px; vertical-align:top;">
                eKultura, z.s.
                <br>
                IČO: 21682305
                <br>
                <a href="https://ekultura.eu/" target="_blank" style="color:#4a6481; text-decoration:none;">ekultura.eu</a>
            </td>
        </tr>
    </table>
    </td></tr>
    </table>
    </div>

<hr>

<div style="font-family:Verdana, sans-serif; font-size:14px; max-width:560px;color:#444;border:0px solid blue;border-radius:6px;margin-bottom:10px;">
<table style="border:0px solid black;border-radius:6px;padding:5px"><tr><td rowspan="3" style=""><img src="https://ekultura.eu/img/nas-tym/petr.jpg" alt="Petr" class="rounded-circle" style="width:100px;padding:5px 10px 5px 5px"></td>

<td>
    <table width="100%" cellpadding="0" cellspacing="0" style="border:0px solid blue">
        <tr>
            <td colspan="2" style="padding-bottom:0px;padding-right:10px">
                <b style="font-size:14px; color:#4a6481;nowrap">Petr Malina</b>
                <br>
                <span style="font-size:12px; color:#444;">Hlavní backendový vývojář v div.cz</span><br>
                <hr style="width:100%;, coler:#4CAF50;">
            </td>
        </tr>
        <tr>
            <td style="width:220px; font-size:12px;padding-top:3px; vertical-align:top;padding-right:20px">
                <a href="mailto:tel:+420723732479"><i class="fa fa-phone"></i> </a>
                <br>
                <a href="mailto:michaela.fialova@ekultura.eu" style="color:#444; text-decoration:none;font-size:90% ; nowrap"> <i class="fa fa-envelope"></i> petr.malina@ekultura.eu</a>
                <br>
                <a href="https://www.linkedin.com/company/ekultura/" target="_blank" style="color:#0077b5; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/ln.webp" alt="LinkedIn" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
                <a href="https://www.facebook.com/profile.php?id=61561884747289" target="_blank" style="color:#3b5998; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/fb.webp" alt="Facebook" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
                <a href="https://x.com/ekultura_eu" target="_blank" style="color:#1da1f2; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/tt.webp" alt="Twitter" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
                <a href="https://www.instagram.com/eKultura_eu" target="_blank" style="color:#e1306c; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/it.webp" alt="Instagram" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
            </td>
            <td style="width: 120px; font-size:12px;padding-top:3px; vertical-align:top;">
                eKultura, z.s.
                <br>
                IČO: 21682305
                <br>
                <a href="https://ekultura.eu/" target="_blank" style="color:#4a6481; text-decoration:none;">ekultura.eu</a>
            </td>
        </tr>
    </table>
    </td></tr>
    </table>
    </div>

<hr>
<!--
<div style="font-family:Verdana, sans-serif; font-size:14px; max-width:560px;color:#444;border:0px solid blue;border-radius:6px;margin-bottom:10px;">
<table style="border:0px solid black;border-radius:6px;padding:5px"><tr><td rowspan="3" style=""><img src="https://ekultura.eu/img/nas-tym/ales.jpg" alt="Aleš" class="rounded-circle" style="width:100px;padding:5px 10px 5px 5px"></td>

<td>
    <table width="100%" cellpadding="0" cellspacing="0" style="border:0px solid blue">
        <tr>
            <td colspan="2" style="padding-bottom:0px;padding-right:10px">
                <b style="font-size:14px; color:#4a6481;nowrap">Aleš Dudek</b>
                <br>
                <span style="font-size:12px; color:#444;">Hlavní frontendový vývojář v div.cz</span><br>
                <hr style="width:100%;, coler:#4CAF50;">
            </td>
        </tr>
        <tr>
            <td style="width:220px; font-size:12px;padding-top:3px; vertical-align:top;padding-right:20px">
                <a href="mailto:tel:+420723732479"><i class="fa fa-phone"></i> </a>
                <br>
                <a href="mailto:michaela.fialova@ekultura.eu" style="color:#444; text-decoration:none;font-size:90% ; nowrap"> <i class="fa fa-envelope"></i> ales.dudek@ekultura.eu</a>
                <br>
                <a href="https://www.linkedin.com/company/ekultura/" target="_blank" style="color:#0077b5; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/ln.webp" alt="LinkedIn" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
                <a href="https://www.facebook.com/profile.php?id=61561884747289" target="_blank" style="color:#3b5998; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/fb.webp" alt="Facebook" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
                <a href="https://x.com/ekultura_eu" target="_blank" style="color:#1da1f2; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/tt.webp" alt="Twitter" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
                <a href="https://www.instagram.com/eKultura_eu" target="_blank" style="color:#e1306c; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/it.webp" alt="Instagram" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
            </td>
            <td style="width: 120px; font-size:12px;padding-top:3px; vertical-align:top;">
                eKultura, z.s.
                <br>
                IČO: 21682305
                <br>
                <a href="https://ekultura.eu/" target="_blank" style="color:#4a6481; text-decoration:none;">ekultura.eu</a>
            </td>
        </tr>
    </table>
    </td></tr>
    </table>
    </div>-->

<hr>

<div style="font-family:Verdana, sans-serif; font-size:14px; max-width:560px;color:#444;border:0px solid blue;border-radius:6px;margin-bottom:10px;">
<table style="border:0px solid black;border-radius:6px;padding:5px"><tr><td rowspan="3" style=""><img src="https://ekultura.eu/img/nas-tym/martin.jpg" alt="Martin" class="rounded-circle" style="width:100px;padding:5px 10px 5px 5px"></td>

<td>
    <table width="100%" cellpadding="0" cellspacing="0" style="border:0px solid blue">
        <tr>
            <td colspan="2" style="padding-bottom:0px;padding-right:10px">
                <b style="font-size:14px; color:#4a6481;nowrap">Martin Kučera</b>
                <br>
                <span style="font-size:12px; color:#444;">Konceptuální designer v div.cz</span><br>
                <hr style="width:100%;, coler:#4CAF50;">
            </td>
        </tr>
        <tr>
            <td style="width:220px; font-size:12px;padding-top:3px; vertical-align:top;padding-right:20px">
                <a href="mailto:tel:+420723732479"><i class="fa fa-phone"></i> (+420) 776-106-378</a>
                <br>
                <a href="mailto:michaela.fialova@ekultura.eu" style="color:#444; text-decoration:none;font-size:90% ; nowrap"> <i class="fa fa-envelope"></i> martin.kucera@ekultura.eu</a>
                <br>
                <a href="https://www.linkedin.com/company/ekultura/" target="_blank" style="color:#0077b5; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/ln.webp" alt="LinkedIn" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
                <a href="https://www.facebook.com/profile.php?id=61561884747289" target="_blank" style="color:#3b5998; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/fb.webp" alt="Facebook" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
                <a href="https://x.com/ekultura_eu" target="_blank" style="color:#1da1f2; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/tt.webp" alt="Twitter" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
                <a href="https://www.instagram.com/eKultura_eu" target="_blank" style="color:#e1306c; text-decoration:none;">
                    <img src="https://ekultura.eu/img/e/it.webp" alt="Instagram" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                </a>
            </td>
            <td style="width: 120px; font-size:12px;padding-top:3px; vertical-align:top;">
                eKultura, z.s.
                <br>
                IČO: 21682305
                <br>
                <a href="https://ekultura.eu/" target="_blank" style="color:#4a6481; text-decoration:none;">ekultura.eu</a>
            </td>
        </tr>
    </table>
    </td></tr>
    </table>
    </div>


<p></p>
<p><a href="/nas-tym">Celý náš tým</a></p>


<!--
<form method="post" class="contact-form w-50 mx-auto">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% if field.field.widget.input_type == 'checkbox' %}
                {{ field }}
            {% else %}
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control pt-1 pb-1 {% if field.errors %}is-invalid{% endif %}" placeholder="{{ field.label }}">
            {% endif %}
            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary mt-3">Odeslat</button>
</form>
-->


{% endif %}
{% endblock content %}
