{% extends "inc/base.html" %}

{% load i18n %}

{% block title %}Moje hodnocení  {% if user.is_authenticated %}
    {{ user.username }}
    {% else %}
    {% endif %}
{% endblock title %}
{% block h1 %}{% if user.is_authenticated %}
    {{ user.username }}
    {% else %}
    Neznámý
    {% endif %}{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block content %}
<div class="container mt-5">
  <div class="row">

    {% if user.is_authenticated %}

    <ul class="nav nav-tabs bg-secondary">
    <li class="nav-item">
        <a class="nav-link" href="/ucet/" id="profile">O mně</a>
    </li>
    <li class="nav-item"><!--id="/ucet/ohodnocene/" #ratings-->
        <a class="nav-link" href="/ucet/hodnoceni/">Moje hodnocení</a>
    </li>
    <li class="nav-item active"><!--id="/ucet/oblibene/" #favorites--> 
        <a class="nav-link active" href="/ucet/seznamy/oblibene/">Oblíbené</a>
    </li>
    <li class="nav-item"><!--id="/ucet/seznamy/to-chci-videt/" #iwantsee--> 
        <a class="nav-link" href="/ucet/seznamy/chci-videt/">To chci vidět!</a>
    </li>
    <li class="nav-item"><!--id="/ucet/seznamy/to-chci-videt"--> 
        <a class="nav-link" href="/ucet/upravit/#edit">Upravit</a>
    </li>
    </ul>



<div class="w-100"></div>

<div class="tab-content mt-3 mb-3">


    <!--<ul>
    {% for user_list in user_lists %}
        <li>Film: {{ user_list.movie.title }}</li>
    {% endfor %}
    </ul>-->
    <div class="tab-pane active" id="profile">
<p> Filmy, které mám oblíbené:</p>
{% if user_lists %}
<table class="table w-100">
    <thead>
    <tr>
        <th>Miniatura</th>
        <th>Název</th>
        <th>Rok</th>
        <th>Průměrné hodnocení</th>
    </tr>
    </thead> 
    <tbody>
{% for user_list in user_lists %}
    <tr>
        <td>
            {% if user_list.movie.img %}
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ user_list.movie.img }}" alt="{{ user_list.movie.title }}" width="50">
            {% endif %}
        </td>
        <td><a href="/film/{{ user_list.movie.url }}">{{ user_list.movie.titlecz }}</a></td>
        <td>
            <a href="/filmy/{{ user_list.movie.releaseyear }}">{{ user_list.movie.releaseyear }}</a>
        </td>
        <td>
            {% if user_list.average_rating %}
                {% with score=user_list.average_rating|floatformat:0 %}
                    <span class="text-warning h4">
                        {% if score == "1" %}
                            &#9733; &#9734; &#9734; &#9734; &#9734;
                        {% elif score == "2" %}
                            &#9733; &#9733; &#9734; &#9734; &#9734;
                        {% elif score == "3" %}
                            &#9733; &#9733; &#9733; &#9734; &#9734;
                        {% elif score == "4" %}
                            &#9733; &#9733; &#9733; &#9733; &#9734;
                        {% elif score == "5" %}
                            &#9733; &#9733; &#9733; &#9733; &#9733;
                        {% endif %}
                    </span>
                {% endwith %}
            {% else %}
                <span>Nehodnoceno</span>
            {% endif %}
        </td>
    </tr>
{% endfor %}

    </tbody>
</table>
{% else %}
<p>Nemáte žádné filmy, které byste chtěli vidět.</p>
{% endif %}
    </div>

</div>






    {% else %}
    <p><a href="{% url 'account_login' %}">Přihlásit</a>. Nemáte učet? <a href="{% url 'signup' %}">Registrace</a>.</p>
    {% endif %}

  </div>
</div>
{% endblock content %}
