{% extends "user/base.html" %}

{% load i18n %}

{% block title %}Profil {{ profile_user.username }} {% endblock title %}

{% block h1 %}{{ profile_user.username }}{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block meta %}

<style>
    .nav-tabs-item a.active,
    .tab.active {
        background-color: #8e8e8e;
    }

    .nav-tabs-link {
        color: #8e8e8e;
    }

    .nav-tabs-link:is(.dark *) {
        color: #8e8e8e;
    }
</style>

{% endblock %}

{% block content %}

<div style="margin-top: 1.25rem;">
    <!-- Sekce záložek pro filmy, knihy, hry, statistiky -->
    <ul class="tab-profil">
        <li class="tab {% if active_tab == 'filmy' %}active{% endif %}">
            <i class="fa-solid fa-film"></i>
            <a class="movies" href="{% url 'profile_movies_section' profile_user.id %}">Filmy</a>
        </li>
        <li class="tab {% if active_tab == 'serialy' %}active{% endif %}">
            <i class="fa-solid fa-video"></i>
            <a class="movies" href="{% url 'profile_series_section' profile_user.id %}">Seriály</a>
        </li>
        <li class="tab {% if active_tab == 'knihy' %}active{% endif %}">
            <i class="fa-solid fa-book"></i>
            <a class="books" href="{% url 'profile_books_section' profile_user.id %}">Knihy</a>
        </li>
        <li class="tab {% if active_tab == 'hry' %}active{% endif %}">
            <i class="fa-solid fa-gamepad"></i>
            <a class="games" href="{% url 'profile_games_section' profile_user.id %}">Hry</a>
        </li>
        <li class="tab {% if active_tab == 'statistiky' %}active{% endif %}">
            <i class="fas fa-star"></i>
            <a class="stats" href="{% url 'profile_stats_section' profile_user.id %}">Statistiky</a>
        </li>
        <li class="tab {% if active_tab == 'vitrina' %}active{% endif %}">
            <i class="fa-solid fa-trophy"></i> 
            <a class="badges" href="{% url 'profile_show_case' profile_user.id %}">Vitrína</a>
        </li>
        <li class="tab {% if active_tab == 'obchod' %}active{% endif %}">
            <i class="fa-solid fa-cart-shopping"></i> 
            <a class="shop" href="{% url 'profile_eshop_section' profile_user.id %}">Obchod</a>
        </li>
        <li class="tab {% if active_tab == 'komunita' %}active{% endif %}" >
            <i class="fas fa-user"></i>
            <a class="community" href="{% url 'profile_community_section' profile_user.id %}">Má komunita</a>
        </li>

        <!-- Indikátor pozadí -->
        <div class="background"></div>

    </ul>

    <!-- Podkategorie záložek (e-knihy, audio atd.) -->
    <div class="row" style="margin-top: 1.25rem;">
        <ul class="nav nav-tabs">
            <li class="nav-tabs-item">
                <a class="nav-tabs-link active" href="#" id="tab-ma-komunita" onclick="updateNavTabSelector(this)">Má komunita</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-aktivita-oblibenych" onclick="updateNavTabSelector(this)">Aktivita oblíbených</a>
            </li>

            <!-- Indikátor pozadí -->
            <div class="background"></div>
        </ul>
        
        <div class="tab-content">
            <!-- Tab Má komunita -->
            <div id="ma-komunita" class="tab-show active {% if category == 'ma-komunita' %}active{% endif %}">
                <div class="tab-content-item">
                    <div class="my-community">
                        <!-- Sleduji -->
                        <div class="stats-container">
                            <div>
                                <h3 class="card-title after-h3">Oblíbení užvatelé</h3>
                                {% if favorite_users %}
                                    {% for profile in favorite_users %}
                                    <div class="">
                                        <img src=""> <!-- profilový obrázek -->
                                        <a href="{% url 'myuser_detail' profile.user.id %}">{{ profile.user }}</a>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <!-- PAGINÁTOR -->
                            <div class="pagination">
                                <span class="step-links">
                            
                                    <a class="first-page" href="">&laquo; První</a>
                                    <a href="">Předchozí</a>
                            
                                    <span class="current-page">
                                        /  
                                    </span>
                            
                                    <a href="">Další</a>
                                    <a class="last-page" href="">Poslední &raquo;</a>
                            
                                </span>
                            </div> 
                        </div>

                        <!-- Sledují mě -->
                        <div class="stats-container">
                            <div>
                                <h3 class="card-title after-h3">Sledují mě</h3>
                                {% if im_favorite_user %}
                                {% for profile in im_favorite_user %}
                                <div class="">
                                    <img src=""> <!-- profilový obrázek -->
                                    <a href="{% url 'myuser_detail' profile.user.id %}">{{ profile.user }}</a>                   
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>

                            <!-- PAGINÁTOR -->
                            <div class="pagination">
                                <span class="step-links">
                            
                                    <a class="first-page" href="">&laquo; První</a>
                                    <a href="">Předchozí</a>
                            
                                    <span class="current-page">
                                        /  
                                    </span>
                            
                                    <a href="">Další</a>
                                    <a class="last-page" href="">Poslední &raquo;</a>
                            
                                </span>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>

            <!-- Tab Aktivita oblíbených -->
            <div id="aktivita-oblibenych" class="tab-show {% if category == 'aktivita-oblibenych' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="after-h3">Aktivita oblíbených</h3>
                    
                    <div class="favorite-activity">
                        <div class="community-grid">
                            <div class="">
                                <img src="https://div.cz/static/img/book/book.png" alt="Bez obrazku" style="max-width: 100px;">
                            </div>

                            <div class="favorite-activity-user">
                                <div class="favorite-user">
                                    <a class="" href="">
                                        Uživatel
                                    </a>

                                    <p>datum</p>
                                </div>
                                
                                <a class="" href="">
                                    co hodnotil <!-- název filmu, hry, knihy -->
                                </a>

                                <!-- pokud hodnotil tak vypsat hvězdičky a pokud recenzoval, tak vypsat recenzi -->
                                <div class="" style="width: 100%;">
                                    <div>
                                        <p><strong>Hodnocení:</strong> <!-- 5* --></p>
                                    </div>
                                    <div>
                                        <p><strong>Recenze:</strong></p>
                                        <p><!-- výpis recenze --></p>
                                    </div>    
                                </div>
                            </div>
                        </div>

                    </div>   

                    <!-- PAGINÁTOR -->
                    <div class="pagination">
                        <span class="step-links">
                    
                            <a class="first-page" href="">&laquo; První</a>
                            <a href="">Předchozí</a>
                    
                            <span class="current-page">
                                    /  
                            </span>
                    
                            <a href="">Další</a>
                            <a class="last-page" href="">Poslední &raquo;</a>
                    
                        </span>
                    </div> 
                                        
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block script %}

<script src="/static/js/profileScrollScript.js"></script>

{% endblock %}