{% extends "user/base.html" %}

{% load i18n %}

{% block title %}Profil  {{ profile_user.username }} {% endblock title %}

{% block h1 %}{{ profile_user.username }}{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block meta %}

<style>
    .nav-tabs-item a.active,
    .tab.active {
        background-color: #A52B21;
    }

    .nav-tabs-link {
        color: #A52B21;
    }

    .nav-tabs-link:is(.dark *) {
        color: #ED3F2F;
    }
</style>

{% endblock %}

{% block content %}

<div style="margin-top: 1.25rem;">
    <!-- Sekce záložek pro filmy, knihy, hry, statistiky -->
    <ul class="tab-profil">
        <li class="tab {% if active_tab == 'filmy' %}active{% endif %}">
            <span>&#127909;</span>
            <a class="movies" href="{% url 'profile_movies_section' profile_user.id %}">Filmy</a>
        </li>
        <li class="tab {% if active_tab == 'serialy' %}active{% endif %}">
            <span>&#128250;</ispan>
            <a class="movies" href="{% url 'profile_series_section' profile_user.id %}">Seriály</a>
        </li>
        <li class="tab {% if active_tab == 'knihy' %}active{% endif %}">
            <span>&#128214;</span>
            <a class="books" href="{% url 'profile_books_section' profile_user.id %}">Knihy</a>
        </li>
        <li class="tab {% if active_tab == 'hry' %}active{% endif %}">
            <span>&#127918;</span>
            <a class="games" href="{% url 'profile_games_section' profile_user.id %}">Hry</a>
        </li>
        <li class="tab {% if active_tab == 'statistika' %}active{% endif %}">
            <span>&#11088;</span>
            <a class="stats" href="{% url 'profile_stats_section' profile_user.id %}">Statistiky</a>
        </li>
        <li class="tab {% if active_tab == 'vitrina' %}active{% endif %}">
            <span>&#127942;</span> 
            <a class="badges" href="{% url 'profile_show_case' profile_user.id %}">Vitrína</a>
        </li>
        <li class="tab {% if active_tab == 'obchod' %}active{% endif %}">
            <span>&#128717;</span> 
            <a class="shop" href="{% url 'profile_eshop_section' profile_user.id %}">Obchod</a>
        </li>
        <li class="tab {% if active_tab == 'komunita' %}active{% endif %}" >
            <span>&#128101;</span>
            <a class="community" href="{% url 'profile_community_section' profile_user.id %}">Má komunita</a>
        </li>

        <!-- Indikátor pozadí -->
        <div class="background"></div>

    </ul>

    <!-- Podkategorie záložek (hodnocení, oblíbené atd.) -->
    <div class="row" style="margin-top: 1.25rem;">
        <ul class="nav nav-tabs">
            <li class="nav-tabs-item">
                <a class="nav-tabs-link active" href="#" id="tab-hodnoceni" onclick="updateNavTabSelector(this)">Hodnocení</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-oblibene" onclick="updateNavTabSelector(this)">Oblíbené</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-recenze" onclick="updateNavTabSelector(this)">Recenze</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-chci-videt" onclick="updateNavTabSelector(this)">Chci vidět</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-shlednuto" onclick="updateNavTabSelector(this)">Shlédnuto</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-filmoteka" onclick="updateNavTabSelector(this)">Filmotéka</a>
            </li>
            <!-- Indikátor pozadí -->
            <div class="background"></div>
        </ul>

        <div class="tab-content">
            <!-- Tab Hodnocení -->
            <div id="hodnoceni" class="tab-show active {% if category == 'hodnoceni' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="card-title after-h3">Hodnocení filmů</h3>
                    {% if movie_ratings %}
                        <div class="table">
                            <div class="table-head">
                                <p>Název</p>
                                <p class="table-rating">Hodnocení</p>
                                <p class="table-date">Datum</p>
                            </div>

                            {% for user_rating in movie_page_obj %}
                                <div class="table-row">
                                    <div class="table-title-rating">
                                        <a class="movies" href="/film/{{ user_rating.rating.content_object.url }}">
                                            {% if user_rating.rating.content_object.titlecz %}
                                                {{ user_rating.rating.content_object.titlecz }}
                                            {% else %}
                                                {{ user_rating.rating.content_object.title}}
                                            {% endif %}
                                        </a> 
                                        ({{ user_rating.rating.content_object.releaseyear }})
                                    </div>
                                    <div class="table-row-rating">
                                        {% with rating=user_rating.score %}
                                        <span class="movies">
                                            {% for i in "12345" %}
                                                {% if rating >= forloop.counter %}
                                                    &#9733;
                                                {% else %}
                                                    &#9734;
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                        {% endwith %}
                                    </div>
                                    <div class="table-date"> {{ user_rating.modified|date:"j. n. Y" }} </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if movie_page_obj.has_previous %}
                                <a class="first-page" href="?page=1#hodnoceni">&laquo; První</a>
                                <a href="?page={{ movie_page_obj.previous_page_number }}#hodnoceni">Předchozí</a>
                            {% endif %}

                            {% if movie_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ movie_page_obj.number }} / {{ movie_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if movie_page_obj.has_next %}
                                <a href="?page={{ movie_page_obj.next_page_number }}#hodnoceni">Další</a>
                                <a class="last-page" href="?page={{ movie_page_obj.paginator.num_pages }}#hodnoceni">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <p style="padding: .75rem;">žádné ohodnocené filmy</p>    
                    {% endif %} 
                </div>
            </div>

            <!-- Tab Oblíbené -->
            <div id="oblibene" class="tab-show {% if category == 'oblibene' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="card-title after-h3">Oblíbené filmy</h3>
                    {% if favorite_page_obj %}
                        <div class="table">
                            <div class="table-head-2">
                                <p>Název</p>
                                <p class="table-date">Datum</p>
                            </div>

                            {% for movie, item in favorite_page_obj %}
                                <div class="favorite-body">
                                    <div class="table-title">
                                        <a class="movies" href="/film/{{ movie.url }}">
                                            {% if movie.titlecz %}
                                                {{ movie.titlecz }}
                                            {% else %}
                                                {{ movie.title }}
                                            {% endif %}
                                        </a> 
                                        ({{ movie.releaseyear }})
                                    </div>
                                    <div class="table-row-date">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                                </div>
                            {% endfor %}
                        </div>
                        
                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if favorite_page_obj.has_previous %}
                                <a class="first-page" href="?favorite_page=1#oblibene">&laquo; První</a>
                                <a href="?favorite_page={{ favorite_page_obj.previous_page_number }}#oblibene">Předchozí</a>
                            {% endif %}

                            {% if favorite_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ favorite_page_obj.number }} / {{ favorite_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if favorite_page_obj.has_next %}
                                <a href="?favorite_page={{ favorite_page_obj.next_page_number }}#oblibene">Další</a>
                                <a class="last-page" href="?favorite_page={{ favorite_page_obj.paginator.num_pages }}#oblibene">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <p style="padding: .75rem;">žádné oblíbené filmy</p>
                    {% endif %}
                </div>
                
                <!-- oblíbení tvůrci -->
                <div class="tab-content-item">
                    <div id="tvurci">
                        <h3 class="card-title after-h3">Oblíbení tvůrci</h3>
                        {% if fav_creators_page_obj %}
                        <div class="favorite-author">
                            {% for creator in fav_creators_page_obj %}
                            <div class="favorite-author-img">
                                <div class="table-img">
                                    {% if creator.img == "noimg.png" %}
                                        <img src="/static/img/creator/noperson.svg" alt="{{ creator.firstname }} {{ creator.lastname }}" class="img-fluid">
                                    {% else %}
                                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ creator.img }}" alt="{{ creator.firstname }} {{ creator.lastname }}" class="img-fluid">
                                    {% endif %}
                                </div>
                                <div class="favorite-author-name">
                                    <a class="movies" href="/tvurce/{{ creator.url }}">{{ creator.firstname }} {{ creator.lastname }}</a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if fav_creators_page_obj.has_previous %}
                                <a class="first-page" href="?fav_creators_page=1#oblibene">&laquo; První</a>
                                <a href="?fav_creators_page={{ fav_creators_page_obj.previous_page_number }}#oblibene">Předchozí</a>
                            {% endif %}

                            {% if fav_creators_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ fav_creators_page_obj.number }} / {{ fav_creators_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if fav_creators_page_obj.has_next %}
                                <a href="?fav_creators_page={{ fav_creators_page_obj.next_page_number }}#oblibene">Další</a>
                                <a class="last-page" href="?fav_creators_page={{ fav_creators_page_obj.paginator.num_pages }}#oblibene">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>

                        {% else %}
                        <p>žádní oblíbení herci</p>
                    {% endif %}
                    </div>
                </div>

                <!-- oblíbené postavy -->
                <div class="tab-content-item">
                    <div id="postavy" >
                        <h3 class="card-title after-h3">Postavy</h3>
                        {% if fav_characters_page_obj %}
                        <div class="favorite-author">
                            {% for character in fav_characters_page_obj %}
                            <div class="favorite-author-img">
                                <div class="table-img">
                                    {% if not character.characterimg or character.characterimg == "" %}
                                        <img src="/static/img/creator/noperson.svg" alt="{{ character.charactername }}" class="img-fluid">
                                    {% else %}
                                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ character.characterimg }}" alt="{{ character.name }}" class="img-fluid">
                                    {% endif %}
                                </div>
                                <div class="favorite-author-name">
                                    <a href="/postava/{{ character.characterurl }}">
                                        {% if character.characternamecz %}
                                            {{ character.characternamecz }}
                                        {% else %}
                                            {{ character.charactername }}
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if fav_characters_page_obj.has_previous %}
                                <a class="first-page" href="?fav_characters_page=1#oblibene">&laquo; První</a>
                                <a href="?fav_characters_page={{ fav_characters_page_obj.previous_page_number }}#oblibene">Předchozí</a>
                            {% endif %}

                            {% if fav_characters_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ fav_characters_page_obj.number }} / {{ fav_characters_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if fav_characters_page_obj.has_next %}
                                <a href="?fav_characters_page={{ fav_characters_page_obj.next_page_number }}#oblibene">Další</a>
                                <a class="last-page" href="?fav_characters_page={{ fav_characters_page_obj.paginator.num_pages }}#oblibene">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <p style="padding: .75rem;">žádné oblíbené postavy</p>
                    {% endif %}
                    </div>
                </div>
            </div>

            <!-- Tab Recenze -->
            <div id="recenze" class="tab-show {% if category == 'recenze' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="card-title after-h3">Recenze filmů</h3>
                    {% if moviereviews_page_obj %}
                    <div class="table">
                        {% for review in moviereviews_page_obj %}
                        <div class="table-comment">
                            <div class="table-img">
                                {% if review.movieid.img %}
                                    <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ review.movieid.imgposter }}" alt="{{ review.movie.titlecz }}">
                                {% else %}
                                    <img src="/static/img/movie/w200/nomovie.jpg" alt="{{ review.movieid.titlecz }}">
                                {% endif %}
                            </div>
                            <div style="width: 100%;">
                                <div class="comment-body">
                                    <div class="table-title">
                                        <a class="movies" href="/film/{{ review.movieid.url }}">{{ review.movieid.titlecz }}</a>
                                    </div>
                                    <div class="table-row-date">
                                        {{ review.dateadded|date:"j. n Y" }}  <!-- KDY RECENZOVÁNO -->
                                    </div>
                                </div>
                                <div class="comment">
                                    {{ review.comment|truncatewords:10 }} <!-- RECENZE -->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- PAGINÁTOR -->
                    <div class="pagination">
                        <span class="step-links">
                        {% if moviereviews_page_obj.has_previous %}
                            <a class="first-page" href="?moviereviews_page=1#recenze">&laquo; První</a>
                            <a href="?moviereviews_page={{ moviereviews_page_obj.previous_page_number }}#recenze">Předchozí</a>
                        {% endif %}

                        {% if moviereviews_page_obj.paginator.num_pages > 1 %}
                            <span class="current-page">
                                {{ moviereviews_page_obj.number }} / {{ moviereviews_page_obj.paginator.num_pages }}
                            </span>
                        {% endif %}

                        {% if moviereviews_page_obj.has_next %}
                            <a href="?moviereviews_page={{ moviereviews_page_obj.next_page_number }}#recenze">Další</a>
                            <a class="last-page" class="last-page" href="?moviereviews_page={{ moviereviews_page_obj.paginator.num_pages }}#recenze">Poslední &raquo;</a>
                        {% endif %}
                        </span>
                    </div>
                    {% else %}
                    <p style="padding: .75rem;">žádné recenze</p>
                {% endif %}
                </div>
            </div>

            <!-- Tab Chci vidět -->
            <div id="chci-videt" class="tab-show {% if category == 'chci-videt' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="card-title after-h3">Filmy, které chci vidět</h3>
                    {% if wantsee_page_obj %}
                    <div class="table">
                        <div class="table-head-2">
                            <p>Název</p>
                            <p class="table-date">Datum</p>
                        </div>

                        {% for movie, item in wantsee_page_obj %}
                            <div class="favorite-body">
                                <div class="table-title">
                                    <a class="movies" href="/film/{{ movie.url }}">
                                        {% if movie.titlecz %}{{ movie.titlecz }}{% else %}{{ movie.title }}{% endif %}
                                    </a> ({{ movie.releaseyear }})
                                </div>
                                <div class="table-row-date">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                            </div>
                        {% endfor %}
                    </div>

                    <!-- PAGINÁTOR -->
                    <div class="pagination">
                        <span class="step-links">
                        {% if wantsee_page_obj.has_previous %}
                            <a class="first-page" href="?wantsee_page=1#chci-videt">&laquo; První</a>
                            <a href="?wantsee_page={{ wantsee_page_obj.previous_page_number }}#chci-videt">Předchozí</a>
                        {% endif %}

                        {% if wantsee_page_obj.paginator.num_pages > 1 %}
                            <span class="current-page">
                                {{ wantsee_page_obj.number }} / {{ wantsee_page_obj.paginator.num_pages }}
                            </span>
                        {% endif %}

                        {% if wantsee_page_obj.has_next %}
                            <a href="?wantsee_page={{ wantsee_page_obj.next_page_number }}#chci-videt">Další</a>
                            <a class="last-page" class="last-page" href="?wantsee_page={{ wantsee_page_obj.paginator.num_pages }}#chci-videt">Poslední &raquo;</a>
                        {% endif %}
                        </span>
                    </div>
                    {% else %}
                    <p style="padding: .75rem;">žádné filmy v seznamu „Chci vidět“</p>
                {% endif %}
                </div>
            </div>

            <!-- Tab Shlédnuto -->
            <div id="shlednuto" class="tab-show {% if category == 'shlednuto' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="card-title after-h3">Shlédnuté filmy</h3>
                    {% if watched_page_obj %}
                    <div class="table">
                        <div class="table-head-2">
                            <p>Název</p>
                            <p class="table-date">Datum</p>
                        </div>

                        {% for movie, item in watched_page_obj %}
                            <div class="favorite-body">
                                <div class="table-title">
                                    <a class="movies" href="/film/{{ movie.url }}">
                                        {% if movie.titlecz %}{{ movie.titlecz }}{% else %}{{ movie.title }}{% endif %}
                                    </a> ({{ movie.releaseyear }})
                                </div>
                                <div class="table-row-date">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                            </div>
                        {% endfor %}
                    </div>

                    <!-- PAGINÁTOR -->
                    <div class="pagination">
                        <span class="step-links">
                        {% if watched_page_obj.has_previous %}
                            <a class="first-page" href="?watched_page=1#shlednuto">&laquo; První</a>
                            <a href="?watched_page={{ watched_page_obj.previous_page_number }}#shlednuto">Předchozí</a>
                        {% endif %}

                        {% if watched_page_obj.paginator.num_pages > 1 %}
                            <span class="current-page">
                                {{ watched_page_obj.number }} / {{ watched_page_obj.paginator.num_pages }}
                            </span>
                        {% endif %}

                        {% if watched_page_obj.has_next %}
                            <a href="?watched_page={{ watched_page_obj.next_page_number }}#shlednuto">Další</a>
                            <a class="last-page" class="last-page" href="?watched_page={{ watched_page_obj.paginator.num_pages }}#shlednuto">Poslední &raquo;</a>
                        {% endif %}
                        </span>
                    </div>
                    {% else %}
                    <p style="padding: .75rem;">žádné shlédnuté filmy</p>
                {% endif %}
                </div>
            </div>

            <!-- Tab Filmotéka -->
            <div id="filmoteka" class="tab-show {% if category == 'filmoteka' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="card-title after-h3">Filmotéka</h3>
                    {% if filmoteka_page_obj %}
                    <div class="table">
                        <div class="table-head-2">
                            <p>Název</p>
                            <p class="table-date">Datum</p>
                        </div>

                        {% for movie, item in filmoteka_page_obj %}
                            <div class="favorite-body">
                                <div class="table-title">
                                    <a class="movies" href="/film/{{ movie.url }}">
                                        {% if movie.titlecz %}{{ movie.titlecz }}{% else %}{{ movie.title }}{% endif %}
                                    </a> ({{ movie.releaseyear }})
                                </div>
                                <div class="table-row-date">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                            </div>
                        {% endfor %}
                    </div>
                    
                    <!-- PAGINÁTOR -->
                    <div class="pagination">
                        <span class="step-links">
                        {% if filmoteka_page_obj.has_previous %}
                            <a class="first-page" href="?filmoteka_page=1#filmoteka">&laquo; První</a>
                            <a href="?filmoteka_page={{ filmoteka_page_obj.previous_page_number }}#filmoteka">Předchozí</a>
                        {% endif %}

                        {% if filmoteka_page_obj.paginator.num_pages > 1 %}
                            <span class="current-page">
                                {{ filmoteka_page_obj.number }} / {{ filmoteka_page_obj.paginator.num_pages }}
                            </span>
                        {% endif %}

                        {% if filmoteka_page_obj.has_next %}
                            <a href="?filmoteka_page={{ filmoteka_page_obj.next_page_number }}#filmoteka">Další</a>
                            <a class="last-page" href="?filmoteka_page={{ filmoteka_page_obj.paginator.num_pages }}#filmoteka">Poslední &raquo;</a>
                        {% endif %}
                        </span>
                    </div>
                    {% else %}
                    <p style="padding: .75rem;">žádné filmy ve filmotéce</p>
                {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block script %}

<script src="/static/js/profileScrollScript.js"></script>

{% endblock %}