{% extends "user/base.html" %}

{% load i18n %}

{% block title %}Profil  {{ profile_user.username }} {% endblock title %}

{% block h1 %}{{ profile_user.username }}{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block content %}

<div class="mt-5">
    <!-- Sekce záložek pro filmy, knihy, hry, statistiky -->
    <div class="tab-container flex overflow-scroll lg:fit-content rounded-1xl bg-[#c0c0c0] bg-[#FFFFFF]">
        <div class="tab {% if active_tab == 'filmy' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-film mr-2"></i>
                <a class="movies" href="{% url 'profile_movies_section' profile_user.id %}">Filmy</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'serialy' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-video mr-2"></i>
                <a class="movies" href="{% url 'profile_series_section' profile_user.id %}">Seriály</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'knihy' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-book mr-2"></i>
                <a class="books" href="{% url 'profile_books_section' profile_user.id %}">Knihy</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'hry' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-gamepad mr-2"></i>
                <a class="games" href="{% url 'profile_games_section' profile_user.id %}">Hry</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'statistiky' %}active{% endif %}">
            <h3>
                <i class="fas fa-star mr-2"></i>
                <a class="stats" href="{% url 'profile_stats_section' profile_user.id %}">Statistiky</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'vitrina' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-trophy mr-2"></i> 
                <a class="badges" href="{% url 'profile_show_case' profile_user.id %}">Vitrína</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'obchod' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-cart-shopping mr-2"></i> 
                <a class="stats" href="{% url 'profile_eshop_section' profile_user.id %}">Obchod</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'komunita' %}active{% endif %}" >
            <h3>
                <i class="fas fa-user mr-2"></i>
                <a class="stats" href="{% url 'profile_community_section' profile_user.id %}">Má komunita</a>
            </h3>
        </div>

        <!-- Indikátor pozadí -->
        <div class="background rounded-1xl"></div>

    </div>

    <!-- Podkategorie záložek (hodnocení, oblíbené atd.) -->
    <div class="row mt-5">
        <ul class="nav nav-tabs overflow-scroll nav-tabs rounded-t-lg border dark:bg-[#727271] bg-[#FFFFFF]">
            <li class="nav-tabs-item">
                <a class="nav-tabs-link active" href="#" id="tab-hodnoceni" onclick="updateNavTabSelector(this)">Hodnocení</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-oblibene" onclick="updateNavTabSelector(this)">Oblíbené</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-recenze" onclick="updateNavTabSelector(this)">Recenze</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-chci-cist" onclick="updateNavTabSelector(this)">Chci číst</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-precteno" onclick="updateNavTabSelector(this)">Přečteno</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-knihovna" onclick="updateNavTabSelector(this)">Knihovna</a>
            </li>
            <!-- Indikátor pozadí -->
            <div class="background"></div>
        </ul>

        <div class="tab-content w-full mb-3 bg-[#F9F9F9] dark:bg-[#1A161F]">
            <!-- Tab Hodnocení -->
            <div id="hodnoceni" class="tab-show w-full active {% if category == 'hodnoceni' %}active{% endif %}">
                <h3 class="after-h3 padding">Hodnocení knih</h3>
                {% if book_ratings %}
                <div class="table ">
                    <div class="grid my-grid bg-[#c0c0c0] dark:text-black">
                        <div class="font-bold p-1">Název</div>
                        <div class="text-center font-bold p-1">Hodnocení</div>
                        <div class="text-center font-bold p-1">Datum</div>
                    </div>
                    <div class="">
                        {% for rating in book_page_obj.object_list %}
                        <div class="grid border my-grid sudy">

                            {% comment %}
                            <div>
                            {% if rating.rating.content_object.img and rating.rating.content_object.img != "noimg.png" %}
                                <img src="https://books.google.com/books/content?id={{ rating.rating.content_object.img }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ rating.rating.content_object.title }}" width="50">
                            {% else %}
                                <img src="https://div.cz/static/img/book/book.png" alt="Bez obrazku" width="50">
                            {% endif %}
                            </div>
                            {% endcomment %}

                            <div class="p-1">
                                <a class="books" href="/kniha/{{ rating.rating.content_object.url }}">
                                    {% if rating.rating.content_object.titlecz %}{{ rating.rating.content_object.titlecz }}{% else %}{{ rating.rating.content_object.titlecz }}{% endif %}
                                </a> ({{ rating.rating.content_object.year }})
                            </div>
                            <div class="text-center p-1">
                            {% with score=rating.score %}
                                <span class="text-warning h4 books">
                                {% for i in "12345" %}
                                    {% if score >= forloop.counter %}
                                    &#9733;
                                    {% else %}
                                    &#9734;
                                    {% endif %}
                                {% endfor %}
                                </span>
                            {% endwith %}
                            </div>
                            <div class="text-center p-1"> {{ rating.modified|date:"j. n. Y" }} </div> <!-- datum -->
                        </div>
                        {% endfor %}
                    </div>
                </div>       

                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
                        {% if book_page_obj.has_previous %}
                        <div>
                            <a href="?page=1#hodnoceni">&laquo; první</a>
                            <a href="?page={{ book_page_obj.previous_page_number }}#hodnoceni">předchozí</a>
                        </div>
                        {% endif %}

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if book_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                        Stránka {{ book_page_obj.number }} / {{ book_page_obj.paginator.num_pages }}
                        </span>
                        {% endif %}

                        {% if book_page_obj.has_next %}
                        <div>
                            <a href="?page={{ book_page_obj.next_page_number }}#hodnoceni">další</a>
                            <a href="?page={{ book_page_obj.paginator.num_pages }}#hodnoceni">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div> 
                {% else %}
                    <p  class="p-3">Žádné ohodnocené knihy.</p>
                {% endif %}                         
            </div>

            <!-- Tab Oblíbené -->
            <div id="oblibene" class="tab-show w-full {% if category == 'oblibene' %}active{% endif %}">
                <h3 class="after-h3 padding">Oblíbené knihy</h3>
                {% if favorite_page_obj %}
                <div class="table ">
                    <div class="grid favorite-grid bg-[#c0c0c0] dark:text-black">
                        <div class="font-bold p-1">Název</div>
                        <div class="text-center font-bold p-1">Datum</div>
                    </div>
                    <div class="">
                    {% for book, item in favorite_page_obj %}
                        <div class="grid border favorite-grid sudy">
                            <div class="p-1">
                                <a class="books" href="/kniha/{{ book.url }}">
                                    {% if book.titlecz %}{{ book.titlecz }}{% else %}{{ book.title }}{% endif %}
                                </a> ({{book.year }}) <!-- KNIHA a rok -->
                            </div>
                            <div class="text-center p-1"> {{ item.addedat|date:"j. n. Y" }} </div> <!-- datum -->
                        </div>
                    {% endfor %}

                    </div>
                </div>

                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
                        {% if favorite_page_obj.has_previous %}
                        <div>
                            <a href="?page=1#oblibene">&laquo; první</a>
                            <a href="?page={{ favorite_page_obj.previous_page_number }}#oblibene">předchozí</a>
                        </div>
                        {% endif %}

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if favorite_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                        Stránka {{ favorite_page_obj.number }} / {{ favorite_page_obj.paginator.num_pages }}
                        </span>
                        {% endif %}

                        {% if favorite_page_obj.has_next %}
                        <div>
                            <a href="?page={{ favorite_page_obj.next_page_number }}#oblibene">další</a>
                            <a href="?page={{ favorite_page_obj.paginator.num_pages }}#oblibene">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div>                          
                {% else %}
                    <p  class="p-3">Žádné oblíbené knihy.</p>
                {% endif %}

                <hr>
                
                <!-- oblíbení autoři -->
                <div id="tvurci">
                    <h3 class="after-h3 mt-8 padding">Oblíbení autoři</h3>
                    {% if fav_creators_page_obj %}
                    <div class="flex flex-wrap w-full">
                        {% for author in fav_creators_page_obj %}
                            <div class="mt-5" style="width: 150px">
                                <div class="p-1 w-full">
                                    {% if author.img %}
                                        <img src="/static/img/author/{{ author.img }}" alt="{{ author.firstname }}" class="img-fluid rounded" style="object-fit: cover; width: 80px; height: auto; margin: 0 auto">
                                    {% else %}
                                        <img src="/static/img/creator/noperson.svg" alt="{{ author.firstname }}" class="img-fluid rounded" style="object-fit: cover; width: 80px; height: auto; margin: 0 auto">
                                    {% endif %}
                                </div>
                                <div class="p-1 w-full text-center">
                                    <a href="/autor/{{ author.url }}">{{ author.firstname }} {{ author.lastname }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="pagination mt-8">
                        <span class="step-links flex justify-center">
    
                            {% if fav_creators_page_obj.has_previous %}
                            <div>
                                <a href="?fav_creators_page=1#oblibene">&laquo; první</a>
                                <a href="?fav_creators_page={{ fav_creators_page_obj.previous_page_number }}#oblibene">předchozí</a>
                            </div>
                            {% endif %}
    
                            <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                            {% if fav_creators_page_obj.paginator.num_pages > 1 %}
                            <span class="current-page mx-4">
                                Stránka {{ fav_creators_page_obj.number }} / {{ fav_creators_page_obj.paginator.num_pages }}</span>
                            {% endif %}
    
                            {% if fav_creators_page_obj.has_next %}
                            <div>
                                <a href="?fav_creators_page={{ fav_creators_page_obj.next_page_number }}#oblibene">další</a>
                                <a href="?fav_creators_page={{ fav_creators_page_obj.paginator.num_pages }}#oblibene">poslední &raquo;</a>
                            </div>
                            {% endif %}
                        </span>
                    </div>

                    {% else %}
                        <p>Žádní oblíbení autoři.</p>
                    {% endif %} 
                </div>
                    
            </div>

            <!-- Tab Recenze -->
            <div id="recenze" class="tab-show w-full {% if category == 'recenze' %}active{% endif %}">
                <h3 class="after-h3 padding">Recenze knih</h3>
                {% if bookreviews_page_obj %}
                <div class="table ">
                {% for comment in bookreviews_page_obj %}
                    <div class="flex border sudy">
                        <div class="p-1">
                            {% if comment.bookid.img %}
                                <img src="https://books.google.com/books/content?id={{ comment.bookid.img }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ comment.bookid.title }}" style="object-fit: cover; width: 50px; height: auto;">
                            {% else %}
                                <img src="/static/img/book/book.png" alt="{{ comment.bookid.title }}" style="object-fit: cover; width: 50px; height: auto;">
                            {% endif %}
                        </div>
                        <div class="w-full">
                            <div class="flex justify-between w-full">
                                <div class="p-1">
                                    <a class="books" href="/kniha/{{ comment.bookid.url }}">
                                        {% if comment.bookid.titlecz %}
                                        {{ comment.bookid.titlecz }}
                                        {% else %}
                                        {{ comment.bookid.title }}
                                        {% endif %}
                                    </a>({{ comment.bookid.year }})
                                </div>
                                <div class="text-center p-1">
                                    {{ comment.dateadded|date:"j. n. Y" }}
                                </div> 
                            </div>
                            <div class="p-1">
                                {{ comment.comment|truncatewords:10 }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">

                        {% if bookreviews_page_obj.has_previous %}
                        <div>
                            <a href="?bookreviews_page=1#recenze">&laquo; první</a>
                            <a href="?bookreviews_page={{ bookreviews_page_obj.previous_page_number }}#recenze">předchozí</a>
                        </div>
                        {% endif %}

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if bookreviews_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                            Stránka {{ bookreviews_page_obj.number }} / {{ bookreviews_page_obj.paginator.num_pages }}</span>
                        {% endif %}

                        {% if bookreviews_page_obj.has_next %}
                        <div>
                            <a href="?bookreviews_page={{ bookreviews_page_obj.next_page_number }}#recenze">další</a>
                            <a href="?bookreviews_page={{ bookreviews_page_obj.paginator.num_pages }}#recenze">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                    <p  class="p-3">Žádné recenze.</p>
                {% endif %}

            </div>

            <!-- Tab Chci číst -->
            <div id="chci-cist" class="tab-show w-full {% if category == 'chci-cist' %}active{% endif %}">
                <h3 class="after-h3 padding">Knihy, které chci číst</h3>
                {% if wantread_page_obj %}
                <div class="table ">
                    <div class="grid favorite-grid bg-[#c0c0c0] dark:text-black">
                        <div class="font-bold p-1">Název</div>
                        <div class="text-center font-bold p-1">Datum</div>
                    </div>
                    <div class="">
                        {% for book, item in wantread_page_obj %}
                            <div class="grid border favorite-grid sudy">
                                <div class="p-1">
                                    <a class="books" href="/kniha/{{ book.url }}">
                                        {% if book.titlecz %}{{ book.titlecz }}{% else %}{{ book.title }}{% endif %}
                                    </a> ({{ book.year }}) <!-- KNIHA a rok -->
                                </div>
                                <div class="text-center p-1">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
                        {% if wantread_page_obj.has_previous %}
                        <div>
                            <a href="?page=1#chci-cist">&laquo; první</a>
                            <a href="?page={{ wantread_page_obj.previous_page_number }}#chci-cist">předchozí</a>
                        </div>
                        {% endif %}

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if wantread_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                        Stránka {{ wantread_page_obj.number }} / {{ wantread_page_obj.paginator.num_pages }}
                        </span>
                        {% endif %}

                        {% if wantread_page_obj.has_next %}
                        <div>
                            <a href="?page={{ wantread_page_obj.next_page_number }}#chci-cist">další</a>
                            <a href="?page={{ wantread_page_obj.paginator.num_pages }}#chci-cist">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div> 
                {% else %}
                    <p  class="p-3">Žádné knihy v seznamu „Chci číst“.</p>
                {% endif %}                         
            </div>

            <!-- Tab Přečtené knihy -->
            <div id="precteno" class="tab-show w-full {% if category == 'precteno' %}active{% endif %}">
                <h3 class="after-h3 padding">Přečtené knihy</h3>
                {% if read_page_obj %}
                <div class="table ">
                    <div class="grid favorite-grid bg-[#c0c0c0] dark:text-black">
                        <div class="font-bold p-1">Název</div>
                        <div class="text-center font-bold p-1">Datum</div>
                    </div>
                    <div class="">
                        {% for book, item in read_page_obj %}
                            <div class="grid border favorite-grid sudy">
                                <div class="p-1">
                                    <a class="books" href="/kniha/{{ book.url }}">
                                        {% if book.titlecz %}{{ book.titlecz }}{% else %}{{ book.title }}{% endif %}
                                    </a> ({{ book.year }}) <!-- KNIHA a rok -->
                                </div>
                                <div class="text-center p-1">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
                        {% if read_page_obj.has_previous %}
                        <div>
                            <a href="?page=1#precteno">&laquo; první</a>
                            <a href="?page={{ read_page_obj.previous_page_number }}#precteno">předchozí</a>
                        </div>
                        {% endif %}

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if read_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                        Stránka {{ read_page_obj.number }} / {{ read_page_obj.paginator.num_pages }}
                        </span>
                        {% endif %}

                        {% if read_page_obj.has_next %}
                        <div>
                            <a href="?page={{ read_page_obj.next_page_number }}#precteno">další</a>
                            <a href="?page={{ read_page_obj.paginator.num_pages }}#precteno">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div> 
                {% else %}
                    <p  class="p-3">Žádné přečtené knihy v seznamu.</p>
                {% endif %}
            </div>

            <!-- Tab Knihovna -->
            <div id="knihovna" class="tab-show w-full {% if category == 'knihovna' %}active{% endif %}">
                <h3 class="after-h3 padding">Moje knihovna</h3>
                {% if library_page_obj %}
                <div class="table ">
                    <div class="grid favorite-grid bg-[#c0c0c0] dark:text-black">
                        <div class="font-bold p-1">Název</div>
                        <div class="text-center font-bold p-1">Datum</div>
                    </div>
                    <div class="">
                        {% for book, item in library_page_obj %}
                            <div class="grid border favorite-grid sudy">
                                <div class="p-1">
                                    <a class="books" href="/kniha/{{ book.url }}">
                                        {% if book.titlecz %}{{ book.titlecz }}{% else %}{{ book.title }}{% endif %}
                                    </a> ({{ book.year }}) <!-- KNIHA a rok -->
                                </div>
                                <div class="text-center p-1">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
                        {% if library_page_obj.has_previous %}
                        <div>
                            <a href="?page=1#knihovna">&laquo; první</a>
                            <a href="?page={{ library_page_obj.previous_page_number }}#knihovna">předchozí</a>
                        </div>
                        {% endif %}

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if library_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                        Stránka {{ library_page_obj.number }} / {{ library_page_obj.paginator.num_pages }}
                        </span>
                        {% endif %}

                        {% if library_page_obj.has_next %}
                        <div>
                            <a href="?page={{ library_page_obj.next_page_number }}#knihovna">další</a>
                            <a href="?page={{ library_page_obj.paginator.num_pages }}#knihovna">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div> 
                {% else %}
                    <p  class="p-3">Žádné knihy v knihovně.</p>
                {% endif %}
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="/static/js/profileScrollScript.js"></script>
{% endblock %}