{% extends "user/base.html" %}

{% load i18n %}

{% block title %}Profil  {{ profile_user.username }} {% endblock title %}

{% block h1 %}{{ profile_user.username }}{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block meta %}

<style>
    .nav-tabs-item a.active,
    .tab.active {
        background-color: #61872B;
    }

    .nav-tabs-link {
        color: #61872B;
    }

    .nav-tabs-link:is(.dark *) {
        color: #4FB021;
    }
</style>

{% endblock %}

{% block content %}

<div style="margin-top: 1.25rem;">
    <!-- Sekce záložek pro filmy, knihy, hry, statistiky -->
    <ul class="tab-profil">
        <li class="tab {% if active_tab == 'filmy' %}active{% endif %}">
            <span>&#127902;</span>
            <a class="movies" href="{% url 'profile_movies_section' profile_user.id %}">Filmy</a>
        </li>
        <li class="tab {% if active_tab == 'serialy' %}active{% endif %}">
            <span>&#128250;</ispan>
            <a class="movies" href="{% url 'profile_series_section' profile_user.id %}">Seriály</a>
        </li>
        <li class="tab {% if active_tab == 'knihy' %}active{% endif %}">
            <span>&#128214;</span>
            <a class="books" href="{% url 'profile_books_section' profile_user.id %}">Knihy</a>
        </li>
        <li class="tab {% if active_tab == 'hry' %}active{% endif %}">
            <span>&#127918;</span>
            <a class="games" href="{% url 'profile_games_section' profile_user.id %}">Hry</a>
        </li>
        <li class="tab {% if active_tab == 'statistiky' %}active{% endif %}">
            <span>&#11088;</span>
            <a class="stats" href="{% url 'profile_stats_section' profile_user.id %}">Statistiky</a>
        </li>
        <li class="tab {% if active_tab == 'vitrina' %}active{% endif %}">
            <span>&#127942;</span> 
            <a class="badges" href="{% url 'profile_show_case' profile_user.id %}">Vitrína</a>
        </li>
        <li class="tab {% if active_tab == 'obchod' %}active{% endif %}">
            <span>&#128717;</span> 
            <a class="shop" href="{% url 'profile_eshop_section' profile_user.id %}">Obchod</a>
        </li>
        <li class="tab {% if active_tab == 'komunita' %}active{% endif %}" >
            <span>&#128101;</span>
            <a class="community" href="{% url 'profile_community_section' profile_user.id %}">Má komunita</a>
        </li>

        <!-- Indikátor pozadí -->
        <div class="background"></div>

    </ul>

    <!-- Podkategorie záložek (hodnocení, oblíbené atd.) -->
    <div class="row" style="margin-top: 1.25rem;">
        <ul class="nav nav-tabs">
            <li class="nav-tabs-item">
                <a class="nav-tabs-link active" href="#" id="tab-hodnoceni" onclick="updateNavTabSelector(this)">Hodnocení</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-oblibene" onclick="updateNavTabSelector(this)">Oblíbené</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-recenze" onclick="updateNavTabSelector(this)">Recenze</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-chci-cist" onclick="updateNavTabSelector(this)">Chci číst</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-precteno" onclick="updateNavTabSelector(this)">Přečteno</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-knihovna" onclick="updateNavTabSelector(this)">Knihovna</a>
            </li>
            <!-- Indikátor pozadí -->
            <div class="background"></div>
        </ul>

        <div class="tab-content">
            <!-- Tab Hodnocení -->
            <div id="hodnoceni" class="tab-show active {% if category == 'hodnoceni' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="card-title after-h3">Hodnocení knih</h3>
                    {% if book_ratings %}
                        <div class="table">
                            <div class="table-head">
                                <p>Název</p>
                                <p class="table-rating">Hodnocení</p>
                                <p class="table-date">Datum</p>
                            </div>

                            {% for rating in book_page_obj.object_list %}
                                <div class="table-row">
                                    <div class="table-title-rating">
                                        <a class="books" href="/kniha/{{ rating.rating.content_object.url }}">
                                            {% if rating.rating.content_object.titlecz %}
                                                {{ rating.rating.content_object.titlecz }}
                                            {% else %}
                                                {{ rating.rating.content_object.title }}
                                            {% endif %}
                                        </a> 
                                        ({{ rating.rating.content_object.year }})
                                    </div>
                                    <div class="table-row-rating">
                                    {% with score=rating.score %}
                                        <span class="books">
                                            {% for i in "12345" %}
                                                {% if score >= forloop.counter %}
                                                &#9733;
                                                {% else %}
                                                &#9734;
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                    {% endwith %}
                                    </div>
                                    <div class="table-row-date"> {{ rating.modified|date:"j. n. Y" }} </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if book_page_obj.has_previous %}
                                <a class="first-page" href="?page=1#hodnoceni">&laquo; První</a>
                                <a href="?page={{ book_page_obj.previous_page_number }}#hodnoceni">Předchozí</a>
                            {% endif %}

                            {% if book_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ book_page_obj.number }} / {{ book_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if book_page_obj.has_next %}
                                <a href="?page={{ book_page_obj.next_page_number }}#hodnoceni">Další</a>
                                <a class="last-page" href="?page={{ book_page_obj.paginator.num_pages }}#hodnoceni">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div> 
                        {% else %}
                        <p style="padding: .75rem;">žádné ohodnocené knihy</p>
                    {% endif %}    
                </div>                     
            </div>

            <!-- Tab Oblíbené -->
            <div id="oblibene" class="tab-show {% if category == 'oblibene' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="card-title after-h3">Oblíbené knihy</h3>
                    {% if favorite_page_obj %}
                        <div class="table">
                            <div class="table-head-2">
                                <p>Název</p>
                                <p class="table-date">Datum</p>
                            </div>

                            {% for book, item in favorite_page_obj %}
                                <div class="favorite-body">
                                    <div class="table-title">
                                        <a class="books" href="/kniha/{{ book.url }}">
                                            {% if book.titlecz %}
                                                {{ book.titlecz }}
                                            {% else %}
                                                {{ book.title }}
                                            {% endif %}
                                        </a> 
                                        {% if book.year %} 
                                            ({{ book.year }})
                                        {% endif %} <!-- KNIHA a rok -->
                                    </div>
                                    <div class="table-row-date"> {{ item.addedat|date:"j. n. Y" }} </div> <!-- datum -->
                                </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if favorite_page_obj.has_previous %}
                                <a class="first-page" href="?page=1#oblibene">&laquo; První</a>
                                <a href="?page={{ favorite_page_obj.previous_page_number }}#oblibene">Předchozí</a>
                            {% endif %}

                            {% if favorite_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ favorite_page_obj.number }} / {{ favorite_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if favorite_page_obj.has_next %}
                                <a href="?page={{ favorite_page_obj.next_page_number }}#oblibene">Další</a>
                                <a class="last-page" href="?page={{ favorite_page_obj.paginator.num_pages }}#oblibene">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>                          
                        {% else %}
                        <p style="padding: .75rem;">žádné oblíbené knihy</p>
                    {% endif %}
                </div>
                
                <!-- oblíbení autoři -->
                <div class="tab-content-item">
                    <div id="tvurci">
                        <h3 class="card-title after-h3">Oblíbení autoři</h3>
                        {% if fav_creators_page_obj %}
                        <div class="favorite-author">
                            {% for author in fav_creators_page_obj %}
                                <div class="favorite-author-img">
                                    <div class="table-img">
                                        {% if author.img %}
                                            <img src="/static/img/author/{{ author.img }}" alt="{{ author.firstname }}" class="img-fluid">
                                        {% else %}
                                            <img src="/static/img/creator/noperson.svg" alt="{{ author.firstname }}" class="img-fluid">
                                        {% endif %}
                                    </div>
                                    <div class="favorite-author-name">
                                        <a class="books" href="/autor/{{ author.url }}">{{ author.firstname }} {{ author.lastname }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if fav_creators_page_obj.has_previous %}
                                <a class="first-page" href="?fav_creators_page=1#oblibene">&laquo; První</a>
                                <a href="?fav_creators_page={{ fav_creators_page_obj.previous_page_number }}#oblibene">Předchozí</a>
                            {% endif %}
        
                            {% if fav_creators_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ fav_creators_page_obj.number }} / {{ fav_creators_page_obj.paginator.num_pages }}</span>
                            {% endif %}
        
                            {% if fav_creators_page_obj.has_next %}
                                <a href="?fav_creators_page={{ fav_creators_page_obj.next_page_number }}#oblibene">Další</a>
                                <a class="last-page" href="?fav_creators_page={{ fav_creators_page_obj.paginator.num_pages }}#oblibene">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>

                        {% else %}
                        <p>Žádní oblíbení autoři</p>
                    {% endif %} 
                    </div>  
                </div>
            </div>

            <!-- Tab Recenze -->
            <div id="recenze" class="tab-show {% if category == 'recenze' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="card-title after-h3">Recenze knih</h3>
                    {% if bookreviews_page_obj %}
                        <div class="table">
                            {% for comment in bookreviews_page_obj %}
                                <div class="table-comment">
                                    <div class="table-img">
                                        {% if comment.bookid.img %}
                                            <img src="https://books.google.com/books/content?id={{ comment.bookid.img }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ comment.bookid.title }}">
                                        {% else %}
                                            <img src="/static/img/book/book.png" alt="{{ comment.bookid.title }}">
                                        {% endif %}
                                    </div>
                                    <div style="width: 100%;">
                                        <div class="comment-body">
                                            <div class="table-title">
                                                <a class="books" href="/kniha/{{ comment.bookid.url }}">
                                                    {% if comment.bookid.titlecz %}
                                                        {{ comment.bookid.titlecz }}
                                                    {% else %}
                                                        {{ comment.bookid.title }}
                                                    {% endif %}
                                                </a>
                                                ({{ comment.bookid.year }})
                                            </div>
                                            <div class="table-row-date">
                                                {{ comment.dateadded|date:"j. n. Y" }}
                                            </div> 
                                        </div>
                                        <div class="comment">
                                            {{ comment.comment|truncatewords:10 }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if bookreviews_page_obj.has_previous %}
                                <a class="first-page" href="?bookreviews_page=1#recenze">&laquo; První</a>
                                <a href="?bookreviews_page={{ bookreviews_page_obj.previous_page_number }}#recenze">Předchozí</a>
                            {% endif %}

                            {% if bookreviews_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ bookreviews_page_obj.number }} / {{ bookreviews_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if bookreviews_page_obj.has_next %}
                                <a href="?bookreviews_page={{ bookreviews_page_obj.next_page_number }}#recenze">Další</a>
                                <a class="last-page" href="?bookreviews_page={{ bookreviews_page_obj.paginator.num_pages }}#recenze">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <p style="padding: .75rem;">žádné recenze</p>
                    {% endif %}
                </div>
            </div>

            <!-- Tab Chci číst -->
            <div id="chci-cist" class="tab-show {% if category == 'chci-cist' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="card-title after-h3">Knihy, které chci číst</h3>
                    {% if wantread_page_obj %}
                        <div class="table">
                            <div class="table-head-2">
                                <p>Název</p>
                                <p class="table-date">Datum</p>
                            </div>

                            {% for book, item in wantread_page_obj %}
                                <div class="favorite-body">
                                    <div class="table-title">
                                        <a class="books" href="/kniha/{{ book.url }}">
                                            {% if book.titlecz %}
                                                {{ book.titlecz }}
                                            {% else %}
                                                {{ book.title }}
                                            {% endif %}
                                        </a> 
                                        {% if book.year %} 
                                            ({{ book.year }})
                                        {% endif %} <!-- KNIHA a rok -->
                                    </div>
                                    <div class="table-row-date">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                                </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if wantread_page_obj.has_previous %}
                                <a class="first-page" href="?page=1#chci-cist">&laquo; První</a>
                                <a href="?page={{ wantread_page_obj.previous_page_number }}#chci-cist">Předchozí</a>
                            {% endif %}

                            {% if wantread_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ wantread_page_obj.number }} / {{ wantread_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if wantread_page_obj.has_next %}
                                <a href="?page={{ wantread_page_obj.next_page_number }}#chci-cist">Další</a>
                                <a class="last-page" href="?page={{ wantread_page_obj.paginator.num_pages }}#chci-cist">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div> 
                        {% else %}
                        <p style="padding: .75rem;">žádné knihy v seznamu „Chci číst“</p>
                    {% endif %}  
                </div>                       
            </div>

            <!-- Tab Přečtené knihy -->
            <div id="precteno" class="tab-show {% if category == 'precteno' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="card-title after-h3">Přečtené knihy</h3>
                    {% if read_page_obj %}
                        <div class="table">
                            <div class="table-head-2">
                                <p>Název</p>
                                <p class="table-date">Datum</p>
                            </div>

                            {% for book, item in read_page_obj %}
                                <div class="favorite-body">
                                    <div class="table-title">
                                        <a class="books" href="/kniha/{{ book.url }}">
                                            {% if book.titlecz %}
                                                {{ book.titlecz }}
                                            {% else %}
                                                {{ book.title }}
                                            {% endif %}
                                        </a> 
                                        {% if book.year %} 
                                            ({{ book.year }})
                                        {% endif %} <!-- KNIHA a rok -->
                                    </div>
                                    <div class="table-row-date">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                                </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if read_page_obj.has_previous %}
                                <a class="first-page" href="?page=1#precteno">&laquo; První</a>
                                <a href="?page={{ read_page_obj.previous_page_number }}#precteno">Předchozí</a>
                            {% endif %}

                            {% if read_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ read_page_obj.number }} / {{ read_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if read_page_obj.has_next %}
                                <a href="?page={{ read_page_obj.next_page_number }}#precteno">Další</a>
                                <a class="last-page" href="?page={{ read_page_obj.paginator.num_pages }}#precteno">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div> 
                        {% else %}
                        <p style="padding: .75rem;">žádné přečtené knihy v seznamu</p>
                    {% endif %}
                </div>
            </div>

            <!-- Tab Knihovna -->
            <div id="knihovna" class="tab-show {% if category == 'knihovna' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="card-title after-h3">Moje knihovna</h3>
                    {% if library_page_obj %}
                        <div class="table">
                            <div class="table-head-2">
                                <p>Název</p>
                                <p class="table-date">Datum</p>
                            </div>

                            {% for book, item in library_page_obj %}
                                <div class="favorite-body">
                                    <div class="table-title">
                                        <a class="books" href="/kniha/{{ book.url }}">
                                            {% if book.titlecz %}
                                                {{ book.titlecz }}
                                            {% else %}
                                                {{ book.title }}
                                            {% endif %}
                                        </a> 

                                        {% if book.year %} 
                                            &nbsp; ({{ book.year }})
                                        {% endif %}

                                        <img src="/static/img/book/book_icon.png" alt="kniha" title="kniha">
                                        <img src="/static/img/book/e-book_icon.png" alt="e-kniha" title="e-kniha">
                                        <img src="/static/img/book/cd_icon.png" alt="audiokniha" title="audiokniha">

                                    </div>
                                    
                                    <div class="table-row-date">{{ item.addedat|date:"j. n. Y" }}</div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if library_page_obj.has_previous %}
                                <a class="first-page" href="?page=1#knihovna">&laquo; První</a>
                                <a href="?page={{ library_page_obj.previous_page_number }}#knihovna">Předchozí</a>
                            {% endif %}

                            {% if library_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ library_page_obj.number }} / {{ library_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if library_page_obj.has_next %}
                                <a href="?page={{ library_page_obj.next_page_number }}#knihovna">Další</a>
                                <a class="last-page" href="?page={{ library_page_obj.paginator.num_pages }}#knihovna">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div> 
                        {% else %}
                        <p style="padding: .75rem;">žádné knihy v knihovně</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
