{% extends "user/base.html" %}

{% load i18n %}

{% block title %}Profil  {{ profile_user.username }} {% endblock title %}

{% block h1 %}{{ profile_user.username }}{% endblock h1 %}
{% block text_muted %} na DIV.cz {% endblock text_muted %}

{% block content %}

<div style="margin-top: 1.25rem;">
    <!-- Sekce záložek pro filmy, knihy, hry, statistiky -->
    <div class="tab-profil">
        <div class="tab">
            <i class="fa-solid fa-film"></i>
            <a class="movies" href="{% url 'profile_movies_section' profile_user.id %}">Filmy</a>
        </div>
        <div class="tab">
            <i class="fa-solid fa-video"></i>
            <a class="movies" href="{% url 'profile_series_section' profile_user.id %}">Seriály</a>
        </div>
        <div class="tab">
            <i class="fa-solid fa-book"></i>
            <a class="books" href="{% url 'profile_books_section' profile_user.id %}">Knihy</a>
        </div>
        <div class="tab">
            <i class="fa-solid fa-gamepad"></i>
            <a class="games" href="{% url 'profile_games_section' profile_user.id %}">Hry</a>
        </div>
        <div class="tab">
            <i class="fas fa-star"></i>
            <a class="stats" href="{% url 'profile_stats_section' profile_user.id %}">Statistiky</a>
        </div>
        <div class="tab">
            <i class="fa-solid fa-trophy"></i> 
            <a class="badges" href="{% url 'profile_show_case' profile_user.id %}">Vitrína</a>
        </div>
        <div class="tab">
            <i class="fa-solid fa-cart-shopping"></i>
            <a class="shop" href="{% url 'profile_eshop_section' profile_user.id %}">Obchod</a>
        </div>
        <div class="tab">
            <i class="fas fa-user"></i>
            <a class="community" href="{% url 'profile_community_section' profile_user.id %}">Má komunita</a>
        </div>

        <!-- Indikátor pozadí -->
        <div class="background"></div>

    </div>
    
    <!-- Podkategorie záložek (hodnocení, oblíbené atd.) -->
    <div class="row mt-5">
        <div class="tab-content w-full mb-3 p-4 bg-[#F9F9F9] dark:bg-[#1A161F]">
            <!-- Tab Uživatelé -->
            <div id="uzivatele" style="display: flex;" class="tab-show flex flex-wrap active {% if category == 'uzivatele' %}active{% endif %}">
                <div class="w-50 sm:w-full">
                    <h3>Oblíbení uživatelé</h3>
                    {% if favorite_users %}
                    {% for profile in favorite_users %}
                    <ul>
                        <li><a href="{% url 'myuser_detail' profile.user.id %}">{{ profile.user }}</a></li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="w-50 sm:w-full sm:mt-5">
                    <h3>Mají mě v oblíbených</h3>
                    {% if im_favorite_user %}
                    {% for profile in im_favorite_user %}
                    <ul>
                        <li><a href="{% url 'myuser_detail' profile.user.id %}">{{ profile.user }}</a></li>                    
                    </ul>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function updateGroupSelector(active) {
        const parent = document.querySelector('.tab-profil');
        const background = parent.querySelector('.background');

        // Najdeme pozici aktivní karty
        const activeRect = active.getBoundingClientRect();
        const parentRect = parent.getBoundingClientRect();

        // Vypočítáme relativní pozici a šířku
        const left = activeRect.left - parentRect.left;
        const width = activeRect.width;

        // Nastavíme nové vlastnosti pozadí
        background.style.transform = `translateX(${left}px)`;
        background.style.width = `${width}px`;

        // Aktualizujeme aktivní kartu
        parent.querySelectorAll('.tab').forEach(tab => tab.classList.remove('active'));
        active.classList.add('active');
    }

    // Inicializace při načtení stránky
    window.addEventListener('DOMContentLoaded', () => {
        const initialTab = document.querySelector('.tab.active');
        if (initialTab) {
            updateGroupSelector(initialTab);
        }
    });
</script>

{% endblock content %}