{% extends "user/base.html" %}

{% load i18n %}

{% block title %}Profil  {{ profile_user.username }} {% endblock title %}

{% block h1 %}{{ profile_user.username }}{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block content %}

<div class="mt-5">

    <!-- Sekce záložek pro filmy, knihy, hry, statistiky -->
    <div class="tab-container flex overflow-scroll lg:fit-content rounded-1xl">
        <div class="tab" onclick="updateGroupSelector(this)">
            <h3>
                <i class="fa-solid fa-film mr-2"></i>
                <a class="movies" href="{% url 'profile_movies_section' profile_user.id %}">Filmy</a>
            </h3>
        </div>
        <div class="tab" onclick="updateGroupSelector(this)" >
            <h3>
                <i class="fa-solid fa-video mr-2"></i>
                <a class="movies" href="{% url 'profile_series_section' profile_user.id %}">Seriály</a>
            </h3>
        </div>
        <div class="tab" onclick="updateGroupSelector(this)">
            <h3>
                <i class="fa-solid fa-book mr-2"></i>
                <a class="books" href="{% url 'profile_books_section' profile_user.id %}">Knihy</a>
            </h3>
        </div>
        <div class="tab" onclick="updateGroupSelector(this)" >
            <h3>
                <i class="fa-solid fa-gamepad mr-2"></i>
                <a class="games" href="{% url 'profile_games_section' profile_user.id %}">Hry</a>
            </h3>
        </div>
        <div class="tab" onclick="updateGroupSelector(this)" >
            <h3>
                <i class="fas fa-star mr-2"></i>
                <a class="stats" href="{% url 'profile_stats_section' profile_user.id %}">Statistiky</a>
            </h3>
        </div>
        <div class="tab active" onclick="updateGroupSelector(this)" >
            <h3>
                <i class="fa-solid fa-trophy mr-2"></i> 
                <a class="badges" href="{% url 'profile_show_case' profile_user.id %}">Vitrína</a>
            </h3>
        </div>
        <!-- <div class="tab" onclick="updateGroupSelector(this)" >
            <h3>
                <i class="fas fa-user mr-2"></i>
                <a class="badges" href="">Uživatelé</a>
            </h3>
        </div> -->

        <!-- Indikátor pozadí -->
        <div class="background rounded-1xl"></div>

    </div>
    
    <div class="row mt-5 w-full">
        <ul class="nav overflow-scroll rounded-t-lg border">
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href=""onclick="updateNavTabSelector(this)">Filmy</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href=""onclick="updateNavTabSelector(this)">Seriály</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href=""onclick="updateNavTabSelector(this)">Knihy</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href=""onclick="updateNavTabSelector(this)">Hry</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href=""onclick="updateNavTabSelector(this)">Ostatní</a>
            </li>
        </ul>
    </div>

    <!-- FILMY -->
    <div class="rounded-b" id="vitrina">
        <h2>FILMY</h2>
        <!-- filmový kritik -->
        <div class="patro">
            <h3 class="ml-2">Filmový kritik</h3>
            <span class="ml-2">za napsané recenze</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový filmový kritik</p>
                            <p>12 / 50</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný filmový kritik</p>
                            <p> / 200</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý filmový kritik</p>
                            <p> / 500</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super filmový kritik</p>
                            <p> / 1200</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- filmový maniak -->
        <div class="patro">
            <h3 class="ml-2">Filmový maniak</h3>
            <span class="ml-2">za shlédnutí a ohodnocení filmu</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový filmový maniak</p>
                            <p>458 / 500</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný filmový maniak</p>
                            <p> / 1200</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý filmový maniak</p>
                            <p> / 5000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super filmový maniak</p>
                            <p> / 9000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- kinemaniak -->
        <div class="patro">
            <h3 class="ml-2">Kinemaniak</h3>
            <span class="ml-2">sběratel filmů ve své DB</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový kinemaniak</p>
                            <p> / 100</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný kinemaniak</p>
                            <p> / 300</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý kinemaniak</p>
                            <p> / 1000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super kinemaniak</p>
                            <p> / 3000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SERIÁLY -->
    <div class="rounded-b" id="vitrina">
        <h2>SERIÁLY</h2>
        <!-- Seriálový kritik -->
        <div class="patro">
            <h3  class="ml-2">Seriálový kritik</h3>
            <span class="ml-2">za napsané recenze</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový seriálový kritik</p>
                            <p> / 30</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný seriálový kritik</p>
                            <p> / 100</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý seriálový kritik</p>
                            <p> / 300</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super seriálový kritik</p>
                            <p> / 700</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Seriálník -->
        <div class="patro">
            <h3  class="ml-2">Seriálník</h3>
            <span class="ml-2">sběratel seriálů ve své DB</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový seriálník</p>
                            <p> / 50</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný seriálník</p>
                            <p> / 200</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý seriálník</p>
                            <p> / 500</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super seriálník</p>
                            <p> / 1000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- KNIHY -->
    <div class="rounded-b" id="vitrina">
        <h2>KNIHY</h2>
        <!-- Knižní kritik -->
        <div class="patro">
            <h3  class="ml-2">Knižní kritik</h3>
            <span class="ml-2">za napsané recenze</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový knižní kritik</p>
                            <p> / 30</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný knižní kritik</p>
                            <p> / 100</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý knižní kritik</p>
                            <p> / 300</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super knižní kritik</p>
                            <p> / 700</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bibliofil -->
        <div class="patro">
            <h3  class="ml-2">Bibliofil</h3>
            <span class="ml-2">sběratel knih v knihovně</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový bibliofil</p>
                            <p> / 100</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný bibliofil</p>
                            <p> / 400</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý bibliofil</p>
                            <p> / 1000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super bibliofil</p>
                            <p> / 3000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Knihomol -->
        <div class="patro">
            <h3  class="ml-2">Knihomol</h3>
            <span class="ml-2">za přečtení a ohodnocení různých žánrů knih</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový knihomol</p>
                            <p> / 100</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný knihomol</p>
                            <p> / 300</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý knihomol</p>
                            <p> / 700</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super knihomol</p>
                            <p> / 2000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Knihovník -->
        <div class="patro">
            <h3  class="ml-2">Knihovník</h3>
            <span class="ml-2">editor knih</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový knihovník</p>
                            <p> / 50</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný knihovník</p>
                            <p> / 200</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý knihovník</p>
                            <p> / 500</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super knihovník</p>
                            <p> / 1200</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- HRY -->
    <div class="rounded-b" id="vitrina">
        <h2>HRY</h2>
        <!-- Herní kritik -->
        <div class="patro">
            <h3  class="ml-2">Herní kritik</h3>
            <span class="ml-2">za napsané recenze</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový herní kritik</p>
                            <p> / 30</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný herní kritik</p>
                            <p> / 100</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý herní kritik</p>
                            <p> / 300</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super herní kritik</p>
                            <p> / 700</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gamer -->
        <div class="patro">
            <h3  class="ml-2">Gamer</h3>
            <span class="ml-2">za dohrání a ohodnocení hry</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový gamer</p>
                            <p> / 50</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný gamer</p>
                            <p> / 150</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý gamer</p>
                            <p> / 500</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Herní legenda</p>
                            <p> / 1000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- OSTATNÍ -->
    <div class="rounded-b" id="vitrina">
        <h2>OSTATNÍ</h2>
        <!-- Bloger -->
        <div class="patro">
            <h3  class="ml-2">Bloger</h3>
            <span class="ml-2">za psaní blogů</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový bloger</p>
                            <p> / 10</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný bloger</p>
                            <p> / 50</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý bloger</p>
                            <p> / 200</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super bloger</p>
                            <p> / 500</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Diskutér -->
        <div class="patro">
            <h3  class="ml-2">Diskutér</h3>
            <span class="ml-2">za příspěvky ve forech</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový diskutér</p>
                            <p> / 100</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný diskutér</p>
                            <p> / 300</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý diskutér</p>
                            <p> / 700</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super diskutér</p>
                            <p> / 1500</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DIVcoiner -->
        <div class="patro">
            <h3  class="ml-2">DIVcoiner</h3>
            <span class="ml-2">sběratel DIVcoinů</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový DIVcoiner</p>
                            <p> / 100</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný DIVcoiner</p>
                            <p> / 500</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý DIVcoiner</p>
                            <p> / 2000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super DIVcoiner</p>
                            <p> / 5000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DIVer -->
        <div class="patro">
            <h3  class="ml-2">DIVer</h3>
            <span class="ml-2">věrný uživatel</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový DIVer</p>
                            <p>počet bodů</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný DIVer</p>
                            <p>počet bodů</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý DIVer</p>
                            <p>počet bodů</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super DIVer</p>
                            <p>počet bodů</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mistr slova -->
        <div class="patro">
            <h3  class="ml-2">Mistr slova</h3>
            <span class="ml-2">za určitý počet 'lajků' od ostatních uživatelů</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový mistr slova</p>
                            <p> / 500</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný mistr slova</p>
                            <p> / 2000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý mistr slova</p>
                            <p> / 5000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super mistr slova</p>
                            <p> / 10000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Průzkumník -->
        <div class="patro">
            <h3  class="ml-2">Průzkumník</h3>
            <span class="ml-2">za hodnocení nebo recenze u nových titulů</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový průzkumník</p>
                            <p> / 10</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný průzkumník</p>
                            <p> / 50</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý průzkumník</p>
                            <p> / 150</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super průzkumník</p>
                            <p> / 300</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Stalker -->
        <div class="patro">
            <h3  class="ml-2">Stalker</h3>
            <span class="ml-2">sledující uživatele</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový stalker</p>
                            <p> / 10</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný stalker</p>
                            <p> / 50</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý stalker</p>
                            <p> / 200</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super stalker</p>
                            <p> / 500</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Zakladatel -->
        <div class="patro">
            <h3  class="ml-2">Zakladatel</h3>
            <span class="ml-2">knih, filmů, her,...</span>
            <div class="odznaky">
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Bronzový zakladatel</p>
                            <p> / 20</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Stříbrný zakladatel</p>
                            <p> / 100</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Zlatý zakladatel</p>
                            <p> / 300</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
                <div class="badge">
                    <div class="badge-inner">
                        <div class="badge-front">
                            <img src="/static/img/badge/otaznik.webp" alt="">
                        </div>
                        <div class="badge-back">
                            <p>Super zakladatel</p>
                            <p> / 1000</p> <!-- nějaký aktuální počet bodů? -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    document.addEventListener('DOMContentLoaded', () => {
        const badges = document.querySelectorAll('.badge'); // Výběr všech odznaků

        badges.forEach((badge) => {
            badge.addEventListener('click', () => {
                const inner = badge.querySelector('.badge-inner');

                // Nejprve otočíme všechny ostatní odznaky zpět na přední stranu
                badges.forEach((otherBadge) => {
                    const otherInner = otherBadge.querySelector('.badge-inner');
                    if (otherInner && otherInner !== inner) {
                        otherInner.classList.remove('flipped'); // Vrátí všechny ostatní na front
                    }
                });

                // Přepneme aktuální odznak
                if (inner) {
                    inner.classList.toggle('flipped'); // Otočí aktuální odznak
                }
            });
        });
    });

</script>

{% endblock content %}