{% extends "user/base.html" %}

{% load i18n %}

{% block title %}Profil  {{ profile_user.username }} {% endblock title %}

{% block h1 %}{{ profile_user.username }}{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block meta %}

<style>
    .nav-tabs-item a.active,
    .tab.active {
        background-color: #0A76A9;
    }

    .nav-tabs-link {
        color: #0A76A9;
    }

    .nav-tabs-link:is(.dark *) {
        color: #14ACF5;
    }
</style>

{% endblock %}

{% block content %}

<div style="margin-top: 1.25rem;">
    <!-- Sekce záložek pro filmy, knihy, hry, statistiky -->
    <ul class="tab-profil">
        <li class="tab {% if active_tab == 'filmy' %}active{% endif %}">
            <span>&#127909;</span>
            <a class="movies" href="{% url 'profile_movies_section' profile_user.id %}">Filmy</a>
        </li>
        <li class="tab {% if active_tab == 'serialy' %}active{% endif %}">
            <span>&#128250;</ispan>
            <a class="movies" href="{% url 'profile_series_section' profile_user.id %}">Seriály</a>
        </li>
        <li class="tab {% if active_tab == 'knihy' %}active{% endif %}">
            <span>&#128214;</span>
            <a class="books" href="{% url 'profile_books_section' profile_user.id %}">Knihy</a>
        </li>
        <li class="tab {% if active_tab == 'hry' %}active{% endif %}">
            <span>&#127918;</span>
            <a class="games" href="{% url 'profile_games_section' profile_user.id %}">Hry</a>
        </li>
        <li class="tab {% if active_tab == 'statistiky' %}active{% endif %}">
            <span>&#11088;</span>
            <a class="stats" href="{% url 'profile_stats_section' profile_user.id %}">Statistiky</a>
        </li>
        <li class="tab {% if active_tab == 'vitrina' %}active{% endif %}">
            <span>&#127942;</span> 
            <a class="badges" href="{% url 'profile_show_case' profile_user.id %}">Vitrína</a>
        </li>
        <li class="tab {% if active_tab == 'obchod' %}active{% endif %}">
            <span>&#128717;</span> 
            <a class="shop" href="{% url 'profile_eshop_section' profile_user.id %}">Obchod</a>
        </li>
        <li class="tab {% if active_tab == 'komunita' %}active{% endif %}" >
            <span>&#128101;</span>
            <a class="community" href="{% url 'profile_community_section' profile_user.id %}">Má komunita</a>
        </li>

        <!-- Indikátor pozadí -->
        <div class="background"></div>

    </ul>
    
    <!-- Podkategorie záložek (hodnocení, oblíbené atd.) -->
    <div class="row" style="margin-top: 1.25rem;">
        <ul class="nav nav-tabs">
            <li class="nav-tabs-item">
                <a class="nav-tabs-link active" href="#" id="tab-hodnoceni" onclick="updateNavTabSelector(this)">Hodnocení</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-oblibene" onclick="updateNavTabSelector(this)">Oblíbené</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-recenze" onclick="updateNavTabSelector(this)">Recenze</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-chci-hrat" onclick="updateNavTabSelector(this)">Chci hrát</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-odehrano" onclick="updateNavTabSelector(this)">Odehráno</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-gamoteka" onclick="updateNavTabSelector(this)">Gamotéka</a>
            </li>
            <!-- Indikátor pozadí -->
            <div class="background"></div>
        </ul>

        <div class="tab-content">
            <!-- Tab Hodnocení -->
            <div id="hodnoceni" class="tab-show active {% if category == 'hodnoceni' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="after-h3">Hodnocení her</h3>
                    {% if game_ratings %}
                        <div class="table">
                            <div class="table-head">
                                <p>Název</p>
                                <p class="table-rating">Hodnocení</p>
                                <p class="table-date">Datum</p>
                            </div>

                            {% for user_rating in game_page_obj.object_list %}
                                <div class="table-row">
                                    <div class="table-title-rating">
                                        <a class="games" href="/hra/{{ user_rating.rating.content_object.url }}">
                                            {% if user_rating.rating.content_object.titlecz %}
                                                {{ user_rating.rating.content_object.titlecz }}
                                            {% else %}
                                                {{ user_rating.rating.content_object.title }}
                                            {% endif %}
                                        </a> 
                                        ({{ user_rating.rating.content_object.year }})
                                    </div>
                                    <div class="table-row-rating">
                                        {% with rating=user_rating.score %}
                                        <span class="games">
                                            {% for i in "12345" %}
                                                {% if rating >= forloop.counter %}
                                                    &#9733;
                                                {% else %}
                                                    &#9734;
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                        {% endwith %}
                                    </div>
                                    <div class="table-date"> {{ user_rating.modified|date:"j. n Y" }} </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if game_page_obj.has_previous %}
                                <a class="first-page" href="?page=1#hodnoceni">&laquo; První</a>
                                <a href="?page={{ game_page_obj.previous_page_number }}#hodnoceni">Předchozí</a>
                            {% endif %}

                            {% if game_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ game_page_obj.number }} / {{ game_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if game_page_obj.has_next %}
                                <a href="?page={{ game_page_obj.next_page_number }}#hodnoceni">Další</a>
                                <a class="last-page" href="?page={{ game_page_obj.paginator.num_pages }}#hodnoceni">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <p style="padding: .75rem;">žádné ohodnocené hry</p>    
                    {% endif %}   
                </div>                   
            </div>

            <!-- Tab Oblíbené -->
            <div id="oblibene" class="tab-show {% if category == 'oblibene' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="after-h3">Oblíbené hry</h3>
                    {% if favorite_page_obj %}
                        <div class="table">
                            <div class="table-head-2">
                                <p>Název</p>
                                <p class="table-date">Datum</p>
                            </div>

                            {% for game, item in favorite_page_obj %}
                                <div class="favorite-body">
                                    <div class="table-title">
                                        <a class="games" href="/hra/{{ game.url }}">
                                            {% if game.titlecz %}{{ game.titlecz }}{% else %}{{ game.title }}{% endif %}
                                        </a> ({{ game.year }})
                                    </div>
                                    <div class="table-row-date"> {{ item.addedat|date:"j. n. Y" }} </div> <!-- datum -->
                                </div>
                            {% endfor %}
                        </div>
                        
                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if favorite_page_obj.has_previous %}
                                <a class="first-page" href="?favorite_page=1#oblibene">&laquo; První</a>
                                <a href="?favorite_page={{ favorite_page_obj.previous_page_number }}#oblibene">Předchozí</a>
                            {% endif %}

                            {% if favorite_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ favorite_page_obj.number }} / {{ favorite_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if favorite_page_obj.has_next %}
                                <a href="?favorite_page={{ favorite_page_obj.next_page_number }}#oblibene">Další</a>
                                <a class="last-page" href="?favorite_page={{ favorite_page_obj.paginator.num_pages }}#oblibene">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <p>žádné oblíbené hry</p>
                    {% endif %}
                </div>
            </div>

            <!-- Tab Recenze -->
            <div id="recenze" class="tab-show {% if category == 'recenze' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="after-h3">Recenze her</h3>
                    {% if reviews_page_obj %}
                        <div class="table">
                            {% for review in reviews_page_obj %}
                            <div class="table-comment">
                                <div class="table-img">
                                    <img src="">
                                </div>
                                <div style="width: 100%;">
                                    <div class="comment-body">
                                        <div class="table-title">
                                            <a class="games" href="/hra/{{ review.gameid.url }}">
                                                {% if review.gameid.titlecz %}
                                                    {{ review.gameid.titlecz }}
                                                {% else %}
                                                    {{ review.gameid.title }}
                                                {% endif %}
                                            </a> 
                                            ({{ review.gameid.year }})
                                        </div>
                                        <div class="table-row-date">
                                            {{ review.dateadded|date:"j. n Y" }}
                                        </div>
                                    </div>
                                    <div class="comment">
                                        {{ review.comment|truncatewords:10 }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if reviews_page_obj.has_previous %}
                                <a class="first-page" href="?reviews_page=1#recenze">&laquo; První</a>
                                <a href="?reviews_page={{ reviews_page_obj.previous_page_number }}#recenze">Předchozí</a>
                            {% endif %}

                            {% if reviews_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ reviews_page_obj.number }} / {{ reviews_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if reviews_page_obj.has_next %}
                                <a href="?reviews_page={{ reviews_page_obj.next_page_number }}#recenze">Další</a>
                                <a class="last-page" href="?reviews_page={{ reviews_page_obj.paginator.num_pages }}#recenze">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <p>žádné recenze</p>
                    {% endif %}
                </div>
            </div>

            <!-- Tab Chci hrát -->
            <div id="chci-hrat" class="tab-show {% if category == 'chci-hrat' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="after-h3">Hry, které si chci zahrát</h3>
                        {% if wantplay_page_obj %}
                        <div class="table">
                            <div class="table-head-2">
                                <p>Název</p>
                                <p class="table-date">Datum</p>
                            </div>
                                
                            {% for game, item in wantplay_page_obj %}
                                <div class="favorite-body">
                                    <div class="table-title">
                                        <a class="games" href="/hra/{{ game.url }}">
                                            {% if game.titlecz %}{{ game.titlecz }}{% else %}{{ game.title }}{% endif %}
                                        </a> ({{ game.year }})
                                    </div>
                                    <div class="table-row-date"> {{ item.addedat|date:"j. n. Y" }} </div> <!-- datum -->
                                </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if wantplay_page_obj.has_previous %}
                                <a class="first-page" href="?wantplay_page=1#chci-hrat">&laquo; První</a>
                                <a href="?wantplay_page={{ wantplay_page_obj.previous_page_number }}#chci-hrat">Předchozí</a>
                            {% endif %}

                            {% if wantplay_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ wantplay_page_obj.number }} / {{ wantplay_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if wantplay_page_obj.has_next %}
                                <a href="?wantplay_page={{ wantplay_page_obj.next_page_number }}#chci-hrat">Další</a>
                                <a class="last-page" href="?wantplay_page={{ wantplay_page_obj.paginator.num_pages }}#chci-hrat">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <p>žádné hry v seznamu „Chci hrát“</p>
                    {% endif %}
                </div>
            </div>

            <!-- Tab Odehráno -->
            <div id="odehrano" class="tab-show {% if category == 'odehrano' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="after-h3">Odehrané hry</h3>
                    {% if played_page_obj %}
                        <div class="table">
                            <div class="table-head-2">
                                <p>Název</p>
                                <p class="table-date">Datum</p>
                            </div>

                            {% for game, item in played_page_obj %}
                                <div class="favorite-body">
                                    <div class="table-title">
                                        <a class="games" href="/hra/{{ game.url }}">
                                            {% if game.titlecz %}
                                                {{ game.titlecz }}
                                            {% else %}
                                                {{ game.title }}
                                            {% endif %}
                                        </a> ({{ game.year }})
                                    </div>
                                    <div class="table-row-date"> {{ item.addedat|date:"j. n. Y" }} </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if played_page_obj.has_previous %}
                                <a class="first-page" href="?playedgames_page=1#odehrano">&laquo; První</a>
                                <a href="?playedgames_page={{ played_page_obj.previous_page_number }}#odehrano">Předchozí</a>
                            {% endif %}

                            {% if played_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                Stránka {{ played_page_obj.number }} / {{ played_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if played_page_obj.has_next %}
                                <a href="?playedgames_page={{ played_page_obj.next_page_number }}#odehrano">Další</a>
                                <a class="last-page" href="?playedgames_page={{ played_page_obj.paginator.num_pages }}#odehrano">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <p style="padding: .75rem;">žádné odehrané hry</p>
                    {% endif %}
                </div>
            </div>

            <!-- Tab Gamotéka -->
            <div id="gamoteka" class="tab-show {% if category == 'gamoteka' %}active{% endif %}">
                <div class="tab-content-item">
                    <h3 class="after-h3">Gamotéka</h3>
                    {% if gamoteka_page_obj %}
                        <div class="table">
                            <div class="table-head-2">
                                <p>Název</p>
                                <p class="table-date">Datum</p>
                            </div>

                            {% for game, item in gamoteka_page_obj %}
                                <div class="favorite-body">
                                    <div class="table-title">
                                        <a class="games" href="/hra/{{ game.url }}">
                                            {% if game.titlecz %}
                                                {{ game.titlecz }}
                                            {% else %}
                                                {{ game.title }}
                                            {% endif %}
                                        </a> 
                                        ({{ game.year }})
                                    </div>
                                    <div class="table-row-date"> {{ item.addedat|date:"j. n. Y" }} </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- PAGINÁTOR -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if gamoteka_page_obj.has_previous %}
                                <a class="first-page" href="?gamoteka_page=1#gamoteka">&laquo; První</a>
                                <a href="?gamoteka_page={{ gamoteka_page_obj.previous_page_number }}#gamoteka">Předchozí</a>
                            {% endif %}

                            {% if gamoteka_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page">
                                    {{ gamoteka_page_obj.number }} / {{ gamoteka_page_obj.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if gamoteka_page_obj.has_next %}
                                <a href="?gamoteka_page={{ gamoteka_page_obj.next_page_number }}#gamoteka">Další</a>
                                <a class="last-page" href="?gamoteka_page={{ gamoteka_page_obj.paginator.num_pages }}#gamoteka">Poslední &raquo;</a>
                            {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <p style="padding: .75rem;">žádné hry v Gamotéce</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block script %}

<script src="/static/js/profileScrollScript.js"></script>

{% endblock %}