{% extends "user/base.html" %}

{% load i18n %}

{% block title %}Profil  {{ profile_user.username }} {% endblock title %}

{% block h1 %}{{ profile_user.username }}{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block content %}

<div class="mt-5">
    <!-- Sekce záložek pro filmy, seriály, knihy, hry, statistiky -->
    <div class="tab-container flex overflow-scroll lg:fit-content rounded-1xl bg-[#c0c0c0] bg-[#FFFFFF]">
        <div class="tab {% if active_tab == 'filmy' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-film mr-2"></i>
                <a class="movies" href="{% url 'profile_movies_section' profile_user.id %}">Filmy</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'serialy' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-video mr-2"></i>
                <a class="movies" href="{% url 'profile_series_section' profile_user.id %}">Seriály</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'knihy' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-book mr-2"></i>
                <a class="books" href="{% url 'profile_books_section' profile_user.id %}">Knihy</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'hry' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-gamepad mr-2"></i>
                <a class="games" href="{% url 'profile_games_section' profile_user.id %}">Hry</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'statistika' %}active{% endif %}">
            <h3>
                <i class="fas fa-star mr-2"></i>
                <a class="stats" href="{% url 'profile_stats_section' profile_user.id %}">Statistiky</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'vitrina' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-trophy mr-2"></i> 
                <a class="badges" href="{% url 'profile_show_case' profile_user.id %}">Vitrína</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'obchod' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-cart-shopping mr-2"></i> 
                <a class="stats" href="{% url 'profile_eshop_section' profile_user.id %}">Obchod</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'komunita' %}active{% endif %}" >
            <h3>
                <i class="fas fa-user mr-2"></i>
                <a class="stats" href="{% url 'profile_community_section' profile_user.id %}">Má komunita</a>
            </h3>
        </div>

        <!-- Indikátor pozadí -->
        <div class="background rounded-1xl"></div>

    </div>
    
    <!-- Podkategorie záložek (hodnocení, oblíbené atd.) -->
    <div class="row mt-5">
        <ul class="nav nav-tabs overflow-scroll nav-tabs rounded-t-lg border dark:bg-[#727271] bg-[#FFFFFF]">
            <li class="nav-tabs-item">
                <a class="nav-tabs-link active" href="#" id="tab-hodnoceni" onclick="updateNavTabSelector(this)">Hodnocení</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-oblibene" onclick="updateNavTabSelector(this)">Oblíbené</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-recenze" onclick="updateNavTabSelector(this)">Recenze</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-chci-videt" onclick="updateNavTabSelector(this)">Chci vidět</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-shlednuto" onclick="updateNavTabSelector(this)">Shlédnuto</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-serialoteka" onclick="updateNavTabSelector(this)">Seriálotéka</a>
            </li>
            <!-- Indikátor pozadí -->
            <div class="background"></div>
        </ul>

        <div class="tab-content w-full mb-3 bg-[#F9F9F9] dark:bg-[#1A161F]">
            <!-- Tab Hodnocení -->
            <div id="hodnoceni" class="tab-show w-full active {% if category == 'hodnoceni' %}active{% endif %}">
                <h3 class="after-h3 padding">Hodnocení seriálů</h3>
                {% if serie_ratings %}
                <div class="table ">
                    <div class="grid my-grid bg-[#c0c0c0] dark:text-black">
                        <div class="font-bold p-1">Název</div>
                        <div class="text-center font-bold p-1">Hodnocení</div>
                        <div class="text-center font-bold p-1">Datum</div>
                    </div>
                    <div class="">
                        {% for user_rating in series_page_obj %}
                        <div class="grid border my-grid sudy">
                            <div class="p-1">
                                <a class="movies" href="/serial/{{ user_rating.rating.content_object.url }}">
                                    {% if user_rating.rating.content_object.titlecz %}
                                    {{ user_rating.rating.content_object.titlecz }} 
                                    {% else %} 
                                    {{ user_rating.rating.content_object.title }} 
                                    {% endif %}
                                </a> ({{ user_rating.rating.content_object.premieredate|date:"Y" }})
                            </div>
                            <div class="text-center p-1">
                                {% with rating=user_rating.score %}
                                <span class="text-warning h4 movies">
                                    {% for i in "12345" %}
                                        {% if rating >= forloop.counter %}
                                            &#9733;
                                        {% else %}
                                            &#9734;
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                {% endwith %}
                            </div>
                            <div class="text-center p-1"> {{ user_rating.modified|date:"j. n. Y" }} </div> <!-- datum -->
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
                        {% if series_page_obj.has_previous %}
                        <div>
                            <a href="?page=1#hodnoceni">&laquo; první</a>
                            <a href="?page={{ series_page_obj.previous_page_number }}#hodnoceni">předchozí</a>
                        </div>
                        {% endif %}

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if series_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                            Stránka {{ series_page_obj.number }} / {{ series_page_obj.paginator.num_pages }}</span>
                        {% endif %}

                        {% if series_page_obj.has_next %}
                        <div>
                            <a href="?page={{ series_page_obj.next_page_number }}#hodnoceni">další</a>
                            <a href="?page={{ series_page_obj.paginator.num_pages }}#hodnoceni">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <p  class="p-3">Žádné ohodnocené seriály.</p>    
                {% endif %} 
            </div>

            <!-- Tab Oblíbené -->
            <div id="oblibene" class="tab-show w-full {% if category == 'oblibene' %}active{% endif %}">
                <h3 class="after-h3 padding">Oblíbené seriály</h3>
                {% if favorite_page_obj %}
                <div class="table ">
                    <div class="grid favorite-grid bg-[#c0c0c0] dark:text-black">
                        <div class="font-bold p-1">Název</div>
                        <div class="text-center font-bold p-1">Datum</div>
                    </div>
                    <div class="">
                        {% for tvshow, item in favorite_page_obj %}
                        <div class="grid border favorite-grid sudy">
                            <div class="p-1">
                                <a class="movies" href="/serial/{{ tvshow.url }}">
                                    {% if tvshow.titlecz %}{{ tvshow.titlecz }}{% else %}{{ tvshow.title }}{% endif %}
                                </a> {% if tvshow.premieredate|date:"Y" == tvshow.enddate|date:"Y" %}
                                ({{ tvshow.premieredate|date:"Y" }})
                                {% else %}
                                ({{ tvshow.premieredate|date:"Y" }})
                                {% endif %}
                            </div>
                            <div class="text-center p-1">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
                        {% if favorite_page_obj.has_previous %}
                        <div>
                            <a href="?favorite_page=1xoblibene">&laquo; první</a>
                            <a href="?favorite_page={{ favorite_page_obj.previous_page_number }}#oblibene">předchozí</a>
                        </div>
                        {% endif %}

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if favorite_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                            Stránka {{ favorite_page_obj.number }} / {{ favorite_page_obj.paginator.num_pages }}</span>
                        {% endif %}

                        {% if favorite_page_obj.has_next %}
                        <div>
                            <a href="?favorite_page={{ favorite_page_obj.next_page_number }}#oblibene">další</a>
                            <a href="?favorite_page={{ favorite_page_obj.paginator.num_pages }}#oblibene">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div>

                {% else %}
                <p  class="p-3">Žádné oblíbené seriály.</p>
                {% endif %}

                <hr>
                
                <!-- oblíbení tvůrci -->
                <div id="tvurci" >
                    <h3 class="after-h3 mt-8 padding">Oblíbení tvůrci</h3>
                    {% if fav_creators_page_obj %}
                        <div class="flex flex-wrap w-full">
                            {% for creator in fav_creators_page_obj %}
                            <div class="mt-5" style="width: 150px">
                                <div class="p-1 w-full">
                                    {% if not creator.img or creator.img == "" %}
                                        <img src="/static/img/creator/noperson.svg" alt="{{ creator.firstname }} {{ creator.lastname }}" class="img-fluid rounded" style="object-fit: cover; width: 80px; height: auto; margin: 0 auto">
                                    {% else %}
                                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ creator.img }}" alt="{{ creator.firstname }} {{ creator.lastname }}" class="img-fluid rounded" style="object-fit: cover; width: 80px; height: auto; margin: 0 auto">
                                    {% endif %}
                                </div>
                                <div class="p-1 w-full text-center">
                                    <a class="movies" href="/tvurce/{{ creator.url }}">{{ creator.firstname }} {{ creator.lastname }}</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="pagination mt-8">
                            <span class="step-links flex justify-center">
        
                                {% if fav_creators_page_obj.has_previous %}
                                <div>
                                    <a href="?fav_creators_page=1#oblibene">&laquo; první</a>
                                    <a href="?fav_creators_page={{ fav_creators_page_obj.previous_page_number }}#oblibene">předchozí</a>
                                </div>
                                {% endif %}
        
                                <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                                {% if fav_creators_page_obj.paginator.num_pages > 1 %}
                                <span class="current-page mx-4">
                                    Stránka {{ fav_creators_page_obj.number }} / {{ fav_creators_page_obj.paginator.num_pages }}</span>
                                {% endif %}
        
                                {% if fav_creators_page_obj.has_next %}
                                <div>
                                    <a href="?fav_creators_page={{ fav_creators_page_obj.next_page_number }}#oblibene">další</a>
                                    <a href="?fav_creators_page={{ fav_creators_page_obj.paginator.num_pages }}#oblibene">poslední &raquo;</a>
                                </div>
                                {% endif %}
                            </span>
                        </div>

                    {% else %}
                    <p>Žádní oblíbení herci.</p>
                    {% endif %}
                </div>

                <hr>
                
                <!-- oblíbené postavy -->
                <div id="postavy">
                    <h3 class="after-h3 mt-8 padding">Postavy</h3>
                    {% if fav_characters_page_obj %}
                        <div class="flex flex-wrap w-full">
                            {% for character in fav_characters_page_obj %}
                            <div class="mt-5" style="width: 150px">
                                <div class="p-1 w-full">
                                    {% if not character.characterimg or character.characterimg == "" %}
                                        <img src="/static/img/creator/noperson.svg" alt="{{ character.charactername }}" class="img-fluid rounded" style="object-fit: cover; width: 80px; height: auto; margin: 0 auto">
                                    {% else %}
                                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ character.characterimg }}" alt="{{ character.name }}" class="img-fluid rounded" style="object-fit: cover; width: 80px; height: auto; margin: 0 auto">
                                    {% endif %}
                                </div>
                                <div class="p-1 w-full text-center">
                                    <a class="movies" href="/postava/{{ character.characterurl }}">{% if character.characternamecz %}{{ character.characternamecz }}{% else %}{{ character.charactername }}{% endif %}</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p  class="p-3">Žádné oblíbené postavy.</p>
                    {% endif %}
                </div>
                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
    
                        {% if fav_characters_page_obj.has_previous %}
                        <div>
                            <a href="?fav_characters_page=1#oblibene">&laquo; první</a>
                            <a href="?fav_characters_page={{ fav_characters_page_obj.previous_page_number }}#oblibene">předchozí</a>
                        </div>
                        {% endif %}
    
                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if fav_characters_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                            Stránka {{ fav_characters_page_obj.number }} / {{ fav_characters_page_obj.paginator.num_pages }}</span>
                        {% endif %}
    
                        {% if fav_characters_page_obj.has_next %}
                        <div>
                            <a href="?fav_characters_page={{ fav_characters_page_obj.next_page_number }}#oblibene">další</a>
                            <a href="?fav_characters_page={{ fav_characters_page_obj.paginator.num_pages }}#oblibene">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div>
            </div>

            <!-- Tab Recenze -->
            <div id="recenze" class="tab-show w-full {% if category == 'recenze' %}active{% endif %}">
                <h3 class="after-h3 padding">Recenze seriálů</h3>
                {% if seriesreviews_page_obj %}
                <div class="table ">
                    {% for review in seriesreviews_page_obj %}
                    <div class="flex border sudy">
                        <div class="p-1">
                            {% if review.tvshowkid.img %}
                                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ review.tvshowkid.imgposter }}" alt="{{ review.tvshowkid.titlecz }}" style="object-fit: cover; width: 50px; height: auto;">
                            {% else %}
                                <img src="/static/img/tvshow/w200/nomovie.jpg" alt="{{ review.tvshowid.titlecz }}" style="object-fit: cover; width: 50px; height: auto;">
                            {% endif %}
                        </div>
                        <div class="w-full">
                            <div class="flex justify-between w-full">
                                <div class="p-1">
                                    <a class="movies" href="/serial/{{ review.tvshowkid.url }}">{{ review.tvshowkid.titlecz }}</a>
                                </div>
                                <div class="text-center p-1">
                                    {{ review.dateadded|date:"j. n Y" }}  <!-- KDY RECENZOVÁNO -->
                                </div>
                            </div>
                            <div class="p-1">
                                {{ review.comment|truncatewords:10 }} <!-- RECENZE -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">

                        {% if seriesreviews_page_obj.has_previous %}
                        <div>
                            <a href="?seriesreviews_page=1#recenze">&laquo; první</a>
                            <a href="?seriesreviews_page={{ seriesreviews_page_obj.previous_page_number }}#recenze">předchozí</a>
                        </div>
                        {% endif %}

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if seriesreviews_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                            Stránka {{ seriesreviews_page_obj.number }} / {{ seriesreviews_page_obj.paginator.num_pages }}</span>
                        {% endif %}

                        {% if seriesreviews_page_obj.has_next %}
                        <div>
                            <a href="?seriesreviews_page={{ seriesreviews_page_obj.next_page_number }}#recenze">další</a>
                            <a href="?seriesreviews_page={{ seriesreviews_page_obj.paginator.num_pages }}#recenze">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                    <p  class="p-3">Žádné recenze.</p>
                {% endif %}
            </div>

            <!-- Tab Chci vidět -->
            <div id="chci-videt" class="tab-show w-full {% if category == 'chci-videt' %}active{% endif %}">
                <h3 class="after-h3 padding">Seriály, které chci vidět</h3>
                {% if wantsee_page_obj %}
                <div class="table ">
                    <div class="grid favorite-grid bg-[#c0c0c0] dark:text-black">
                        <div class="font-bold p-1">Název</div>
                        <div class="text-center font-bold p-1">Datum</div>
                    </div>
                    <div class="">
                        {% for tvshow, item in wantsee_page_obj %}
                        <div class="grid border favorite-grid sudy">
                            <div class="p-1">
                                <a class="movies" href="/film/{{ tvshow.url }}">
                                    {% if tvshow.titlecz %}{{ tvshow.titlecz }}{% else %}{{ tvshow.title }}{% endif %}
                                </a> {% if tvshow.premieredate|date:"Y" == tvshow.enddate|date:"Y" %}
                                ({{ tvshow.premieredate|date:"Y" }})
                                {% else %}
                                ({{ tvshow.premieredate|date:"Y" }}–{{ tvshow.enddate|date:"Y" }})
                                {% endif %}
                            </div>
                            <div class="text-center p-1">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
                        {% if wantsee_page_obj.has_previous %}
                        <div>
                            <a href="?wantsee_page=1#chci-videt">&laquo; první</a>
                            <a href="?wantsee_page={{ wantsee_page_obj.previous_page_number }}#chci-videt">předchozí</a>
                        </div>
                        {% endif %}

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if wantsee_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                            Stránka {{ wantsee_page_obj.number }} / {{ wantsee_page_obj.paginator.num_pages }}</span>
                        {% endif %}

                        {% if wantsee_page_obj.has_next %}
                        <div>
                            <a href="?wantsee_page={{ wantsee_page_obj.next_page_number }}#chci-videt">další</a>
                            <a href="?wantsee_page={{ wantsee_page_obj.paginator.num_pages }}#chci-videt">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <p  class="p-3">Žádné seriály v seznamu „Chci vidět“.</p>
                {% endif %}
            </div>

            <!-- Tab Shlédnuto -->
            <div id="shlednuto" class="tab-show w-full {% if category == 'shlednuto' %}active{% endif %}">
                <h3 class="after-h3 padding">Shlédnuté seriály</h3>
                {% if watched_page_obj %}
                <div class="table ">
                    <div class="grid favorite-grid bg-[#c0c0c0] dark:text-black">
                        <div class="font-bold p-1">Název</div>
                        <div class="text-center font-bold p-1">Datum</div>
                    </div>
                    <div class="">
                        {% for tvshow, item in watched_page_obj %}
                        <div class="grid border favorite-grid sudy">
                            <div class="p-1">
                                <a class="movies" href="/film/{{ tvshow.url }}">
                                    {% if tvshow.titlecz %}{{ tvshow.titlecz }}{% else %}{{ tvshow.title }}{% endif %}
                                </a> {% if tvshow.premieredate|date:"Y" == tvshow.enddate|date:"Y" %}
                                ({{ tvshow.premieredate|date:"Y" }})
                                {% else %}
                                ({{ tvshow.premieredate|date:"Y" }}–{{ tvshow.enddate|date:"Y" }})
                                {% endif %}
                            </div>
                            <div class="text-center p-1">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
                        {% if watched_page_obj.has_previous %}
                        <div>
                            <a href="?watched_page=1#shlednuto">&laquo; první</a>
                            <a href="?watched_page={{ watched_page_obj.previous_page_number }}#shlednuto">předchozí</a>
                        </div>
                        {% endif %}

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if watched_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                            Stránka {{ watched_page_obj.number }} / {{ watched_page_obj.paginator.num_pages }}</span>
                        {% endif %}

                        {% if watched_page_obj.has_next %}
                        <div>
                            <a href="?watched_page={{ watched_page_obj.next_page_number }}#shlednuto">další</a>
                            <a href="?watched_page={{ watched_page_obj.paginator.num_pages }}#shlednuto">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <p  class="p-3">Žádné shlédnuté seriály.</p>
                {% endif %}
            </div>

            <!-- Tab Seriálotéka -->
            <div id="serialoteka" class="tab-show w-full {% if category == 'serialoteka' %}active{% endif %}">
                <h3 class="after-h3 padding">Seriálotéka</h3>
                {% if serialoteka_page_obj %}
                <div class="table ">
                    <div class="grid favorite-grid bg-[#c0c0c0] dark:text-black">
                        <div class="font-bold p-1">Název</div>
                        <div class="text-center font-bold p-1">Datum</div>
                    </div>
                    <div class="">
                        {% for tvshow, item in serialoteka_page_obj %}
                        <div class="grid border favorite-grid sudy">
                            <div class="p-1">
                                <a class="movies" href="/film/{{ tvshow.url }}">
                                    {% if tvshow.titlecz %}{{ tvshow.titlecz }}{% else %}{{ tvshow.title }}{% endif %}
                                </a> {% if tvshow.premieredate|date:"Y" == tvshow.enddate|date:"Y" %}
                                ({{ tvshow.premieredate|date:"Y" }})
                                {% else %}
                                ({{ tvshow.premieredate|date:"Y" }}–{{ tvshow.enddate|date:"Y" }})
                                {% endif %}
                            </div>
                            <div class="text-center p-1">{{ item.addedat|date:"j. n. Y" }}</div> <!-- Zobrazení datumu -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
                        {% if serialoteka_page_obj.has_previous %}
                        <div>
                            <a href="?serialoteka_page=1#serialoteka">&laquo; první</a>
                            <a href="?serialoteka_page={{ serialoteka_page_obj.previous_page_number }}#serialoteka">předchozí</a>
                        </div>
                        {% endif %}

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        {% if serialoteka_page_obj.paginator.num_pages > 1 %}
                        <span class="current-page mx-4">
                            Stránka {{ serialoteka_page_obj.number }} / {{ serialoteka_page_obj.paginator.num_pages }}</span>
                        {% endif %}

                        {% if serialoteka_page_obj.has_next %}
                        <div>
                            <a href="?serialoteka_page={{ serialoteka_page_obj.next_page_number }}#serialoteka">další</a>
                            <a href="?serialoteka_page={{ serialoteka_page_obj.paginator.num_pages }}#serialoteka">poslední &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <p  class="p-3">Žádné seriály v seriálotéce.</p>
                {% endif %}
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="/static/js/profileScrollScript.js"></script>
{% endblock %}