{% extends "user/base.html" %}

{% load i18n %}

{% block title %}Profil {{ profile_user.username }} {% endblock title %}

{% block h1 %}{{ profile_user.username }}{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block content %}

<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        z-index: 1000;
        border-radius: 10px;
        width: 50%;
    }
   .rating-comment-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.comment-popup {
    visibility: hidden;
    width: 250px;
    background-color: #f9f9f9;
    color: #333;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    opacity: 0;
    transition: opacity 0.3s;
}

.rating-comment-container:hover .comment-popup {
    visibility: visible;
    opacity: 1;
}

.comment-popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f9f9f9 transparent transparent transparent;
}

.obchod-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1.5fr;
}

@media (max-width: 768px) {
    .obchod-grid {
        grid-template-columns: 1fr 1fr 2fr 1fr 1.5fr;
    }
    .hide-on-mobile {
        display: none;
    }
}

</style>

<div class="mt-5">
    <!-- Sekce záložek pro filmy, knihy, hry, statistiky -->
    <div class="tab-container flex overflow-scroll lg:fit-content rounded-1xl bg-[#c0c0c0] bg-[#FFFFFF]">
        <div class="tab {% if active_tab == 'filmy' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-film mr-2"></i>
                <a class="movies" href="{% url 'profile_movies_section' profile_user.id %}">Filmy</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'serialy' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-video mr-2"></i>
                <a class="movies" href="{% url 'profile_series_section' profile_user.id %}">Seriály</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'knihy' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-book mr-2"></i>
                <a class="books" href="{% url 'profile_books_section' profile_user.id %}">Knihy</a>
            </h3>
        </div>
        <div class="tab {% if active_tab == 'hry' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-gamepad mr-2"></i>
                <a class="games" href="{% url 'profile_games_section' profile_user.id %}">Hry</a>
            </h3>
        </div>
        <!--<div class="tab {% if active_tab == 'statistiky' %}active{% endif %}">
            <h3>
                <i class="fas fa-star mr-2"></i>
                <a class="stats" href="{% url 'profile_stats_section' profile_user.id %}">Statistiky</a>
            </h3>
        </div>-->
        <!--<div class="tab {% if active_tab == 'vitrina' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-trophy mr-2"></i> 
                <a class="badges" href="{% url 'profile_show_case' profile_user.id %}">Vitrína</a>
            </h3>
        </div>-->
        <div class="tab {% if active_tab == 'obchod' %}active{% endif %}">
            <h3>
                <i class="fa-solid fa-cart-shopping mr-2"></i> 
                <a class="stats" href="{% url 'profile_eshop_section' profile_user.id %}">Obchod</a>
            </h3>
        </div>
        <!--<div class="tab {% if active_tab == 'komunita' %}active{% endif %}" >
            <h3>
                <i class="fas fa-user mr-2"></i>
                <a class="stats" href="{% url 'profile_community_section' profile_user.id %}">Má komunita</a>
            </h3>
        </div>-->

        <!-- Indikátor pozadí -->
        <div class="background rounded-1xl"></div>

    </div>

    <!-- Podkategorie záložek (e-knihy, audio atd.) -->
    <div class="row mt-5">
        <ul class="nav nav-tabs overflow-scroll nav-tabs rounded-t-lg border dark:bg-[#727271] bg-[#FFFFFF]">
            <li class="nav-tabs-item">
                <a class="nav-tabs-link active" href="#" id="tab-eknihy" onclick="updateNavTabSelector(this)">E-knihy</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-audioknihy" onclick="updateNavTabSelector(this)">Audioknihy</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-burza-knih" onclick="updateNavTabSelector(this)">Burza knih</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-burza-her" onclick="updateNavTabSelector(this)">Burza her</a>
            </li>
            <li class="nav-tabs-item">
                <a class="nav-tabs-link" href="#" id="tab-hodnoceni" onclick="updateNavTabSelector(this)">Hodnocení</a>
            </li>

            <!-- Indikátor pozadí -->
            <div class="background"></div>
        </ul>
        
        <div class="tab-content w-full mb-3 bg-[#F9F9F9] dark:bg-[#1A161F]">

<!-- === === === === -->
<!-- Tab E-knihy -->
<!-- === === === === -->
            <div id="eknihy" class="tab-show w-full active {% if category == 'e-knihy' %}active{% endif %}">
                <h3 class="after-h3 padding">Zakoupené E-knihy</h3>


{% if purchased_ebooks %}
    <div class="flex flex-wrap">
        {% for p in purchased_ebooks %}
        <div class="flex border w-full md:w-1/2 p-3 mb-3">
            <div>
                <img src="{% if p.book.img and p.book.img != 'noimg.png' %}https://media.div.cz/knihy/{{ p.book.img }}{% else %}https://div.cz/static/img/book/book.png{% endif %}" alt="{{ p.book.titlecz|default:p.book.title }}" style="max-width: 150px;">
            </div>
            <div class="flex flex-wrap content-between">
                <div class="flex flex-wrap w-full">
                    <div class="p-1 w-full">
                        <a class="books" href="/kniha/{{ p.book.url }}">{{ p.book.titlecz|default:p.book.title }}</a>
                        ({{ p.book.year|default:"-" }})
                    </div>
                    <div class="p-1 w-full">
                        {% if p.book.bookauthor_set.all %}
                            {% for ba in p.book.bookauthor_set.all %}
                                {{ ba.author.firstname }} {{ ba.author.lastname }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="p-1 w-full">{{ p.paymentdate|date:"j. n. Y H:i" }}</div>
                    <div class="p-1 w-full">{{ p.price|floatformat:0 }} Kč</div>
                    <div class="p-1 w-full">formát: {{ p.format|upper }}</div>
                    <div style="p-1 w-full">faktura: <a href="" class="w-full mt-2 text-center" title="Stáhnout fakturu">stáhnout (PDF)</a><br>v přípravě</div><!--% url 'download_invoice' p.purchaseid %-->
                </div>
                <div class="flex w-full justify-evenly mt-3">
                    {% if p.isbn %}
                        <a href="{% url 'download_ebook' p.isbn p.format %}" class="add-book ml-2">Stáhnout</a>
                        <a href="/kniha/{{ p.book.url }}" class="add-book ml-2" title="Odeslat do čtečky">Odeslat</a>
                    {% else %}
                        <span style="color:red;">Chybí ISBN pro tento formát</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

<!-- PAGINATOR -->
    <div class="pagination mt-8">
      <span class="step-links flex justify-center">
        {% if purchased_ebooks.has_previous %}
            <a href="?page=1">&laquo; první</a>
            <a href="?page={{ purchased_ebooks.previous_page_number }}">předchozí</a>
        {% endif %}
        <span class="current-page mx-4">
            Stránka {{ purchased_ebooks.number }} / {{ purchased_ebooks.paginator.num_pages }}
        </span>
        {% if purchased_ebooks.has_next %}
            <a href="?page={{ purchased_ebooks.next_page_number }}">další</a>
            <a href="?page={{ purchased_ebooks.paginator.num_pages }}">poslední &raquo;</a>
        {% endif %}
      </span>
    </div>

{% else %}
    <p class="p-3">Žádné zakoupené E-knihy.</p>
{% endif %}

                
                
                                        
            </div>


<!-- === === === === -->
<!-- Tab Audioknihy -->
<!-- === === === === -->
<div id="audioknihy" class="tab-show w-full {% if category == 'audioknihy' %}active{% endif %}">
    <div class="profile-card-tab">
        <h3 class="after-h3 padding">Zakoupené Audioknihy</h3>
        {% if purchased_audiobooks %}
            <div class="flex flex-wrap">
                {% for a in purchased_audiobooks %}
                    <div class="flex border w-full md:w-1/2 p-3 mb-3">
                        <div>
                            <img src="{% if a.book.img and a.book.img != 'noimg.png' %}/static/kniha/{{ a.book.img }}{% else %}https://div.cz/static/img/book/book.png{% endif %}" alt="{{ a.book.titlecz|default:a.book.title }}" style="max-width: 150px;">
                        </div>
                        <div class="flex flex-wrap content-between">
                            <div class="flex flex-wrap w-full">
                                <div class="p-1 w-full">
                                    <a class="books" href="/kniha/{{ a.book.url }}">{{ a.book.titlecz|default:a.book.title }}</a>
                                    ({{ a.book.year|default:"-" }})
                                </div>
                                <div class="p-1 w-full">
                                    {% if a.book.bookauthor_set.all %}
                                        {% for ba in a.book.bookauthor_set.all %}
                                            {{ ba.author.firstname }} {{ ba.author.lastname }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="p-1 w-full">{{ a.paymentdate|date:"j. n. Y H:i" }}</div>
                                <div class="p-1 w-full">{{ a.price|floatformat:0 }} Kč</div>
                                <div class="p-1 w-full">formát: AUDIO</div>
                            </div>
                            <div class="flex w-full justify-evenly mt-3">
                                {% if a.download_url %}
                                    <a href="{{ a.download_url }}" class="add-book">Stáhnout</a>
                                {% endif %}
                                {# případně další akce #}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if purchased_audiobooks.paginator.num_pages > 1 %}
                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
                        {% if purchased_audiobooks.has_previous %}
                            <a href="?audio_page=1#audioknihy">&laquo; první</a>
                            <a href="?audio_page={{ purchased_audiobooks.previous_page_number }}#audioknihy">předchozí</a>
                        {% endif %}
                        <span class="current-page mx-4">
                            Stránka {{ purchased_audiobooks.number }} / {{ purchased_audiobooks.paginator.num_pages }}
                        </span>
                        {% if purchased_audiobooks.has_next %}
                            <a href="?audio_page={{ purchased_audiobooks.next_page_number }}#audioknihy">další</a>
                            <a href="?audio_page={{ purchased_audiobooks.paginator.num_pages }}#audioknihy">poslední &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% else %}
            <p class="p-3">Žádné zakoupené Audioknihy.</p>
        {% endif %}
    </div>
</div>




<!-- === === === === -->
<!-- Tab Burza knih -->
<!-- === === === === -->

<div id="burza-knih" class="tab-show w-full {% if category == 'burza-knih' %}active{% endif %}">
    <div class="profile-card-tab">
        <h3 class="after-h3 padding">Zakoupené knihy (z burzy - divkvariát)</h3>
        <div class="flex flex-wrap">
            {% if burza_bought %}
                {% for b in burza_bought %}
                    <div class="flex border w-full md:w-1/2 p-3 mb-3">
                        <div>
                            <img src="{% if b.book.img and b.book.img != 'noimg.png' %}https://media.div.cz/knihy/{{ b.book.img }}{% else %}https://div.cz/static/img/book/book.png{% endif %}" alt="{{ b.book.titlecz|default:b.book.title }}" style="max-width: 150px;">
                        </div>
                        <div class="flex flex-wrap content-between w-full">
                            <div class="p-1 w-full">
                                <a class="books" href="/kniha/{{ b.book.url }}">{{ b.book.titlecz|default:b.book.title }}</a> ({{ b.book.year|default:"-" }})
                            </div>
                            <div class="p-1 w-full">
                                {% for ba in b.book.bookauthor_set.all %}
                                    {{ ba.author.firstname }} {{ ba.author.lastname }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </div>
                            <div class="p-1 w-full">{{ b.completedat|date:"j. n. Y H:i" }}</div>
                            <div class="p-1 w-full">Cena: {{ b.price|floatformat:0 }} Kč</div>
                            <div class="flex flex-wrap justify-between items-center w-full">
                                <div class="p-1">Prodejce: <a href="/uzivatel/{{ b.user.id }}/">{{ b.user.username }}</a></div>
                                <div>
                                    <!--<button class="add-book m-0">recenze</button>-->
                                    <!-- Popup pro recenzi viz původní blok – stejný jako ve tvém zadání -->
                                    {% if user.is_authenticated %}
                                        <div class="overlay hidden"></div>
                                        <div class="popup hidden">
                                            <div class="flex">
                                                <h3 class="text-black">Ohodnoť uživatele a pošli recenzi</h3>
                                                <button class="flex text-black" style="margin: 0 0 10px auto; font-size: 25px;" id="closePopup"><i class="fa-solid fa-xmark"></i></button>
                                            </div>
                                            <form id="reviewForm">
                                                <div class="rating-type" style="margin-bottom: 10px;">
                                                    <label class="text-black"><input type="radio" name="ratingType" value="positive">Pozitivní</label>
                                                    <label class="text-black"><input type="radio" name="ratingType" value="neutral">Neutrální</label>
                                                    <label class="text-black"><input type="radio" name="ratingType" value="negative">Negativní</label>
                                                </div>
                                                <div class="stars" style="font-size: 25px; margin-bottom: 15px;">
                                                    <span class="star" data-value="1">&#9733;</span>
                                                    <span class="star" data-value="2">&#9733;</span>
                                                    <span class="star" data-value="3">&#9733;</span>
                                                    <span class="star" data-value="4">&#9733;</span>
                                                    <span class="star" data-value="5">&#9733;</span>
                                                </div>
                                                <textarea id="reviewText" placeholder="Napiš svou recenzi..." rows="5" style="width: 100%; padding: 10px;"></textarea>
                                                <div class="flex justify-end mt-3">
                                                    <button type="submit" class="add-book btn-submit">Odeslat recenzi</button>
                                                </div>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="p-3">Žádné zakoupené knihy z burzy.</p>
            {% endif %}
        </div>
        <!-- PAGINÁTOR -->
        {% if burza_bought.paginator.num_pages > 1 %}
            <div class="pagination mt-8">
                <span class="step-links flex justify-center">
                    {% if burza_bought.has_previous %}
                        <a href="?burza_bought_page=1#burza-knih">&laquo; první</a>
                        <a href="?burza_bought_page={{ burza_bought.previous_page_number }}#burza-knih">předchozí</a>
                    {% endif %}
                    <span class="current-page mx-4">
                        Stránka {{ burza_bought.number }} / {{ burza_bought.paginator.num_pages }}
                    </span>
                    {% if burza_bought.has_next %}
                        <a href="?burza_bought_page={{ burza_bought.next_page_number }}#burza-knih">další</a>
                        <a href="?burza_bought_page={{ burza_bought.paginator.num_pages }}#burza-knih">poslední &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}

        <hr>

        <h3 class="after-h3 mt-8 padding">Prodané knihy (z burzy - divkvariát)</h3>
        <div class="flex flex-wrap">
            {% if burza_sold %}
                {% for s in burza_sold %}
                    <div class="flex border w-full md:w-1/2 p-3 mb-3">
                        <div>
                            <img src="{% if s.book.img and s.book.img != 'noimg.png' %}https://media.div.cz/knihy/{{ s.book.img }}{% else %}https://div.cz/static/img/book/book.png{% endif %}" alt="{{ s.book.titlecz|default:s.book.title }}" style="max-width: 150px;">
                        </div>
                        <div class="flex flex-wrap content-between w-full">
                            <div class="p-1 w-full">
                                <a class="books" href="/kniha/{{ s.book.url }}">{{ s.book.titlecz|default:s.book.title }}</a> ({{ s.book.year|default:"-" }})
                            </div>
                            <div class="p-1 w-full">
                                {% for ba in s.book.bookauthor_set.all %}
                                    {{ ba.author.firstname }} {{ ba.author.lastname }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </div>
                            <div class="p-1 w-full">{{ s.completedat|date:"j. n. Y H:i" }}</div>
                            <div class="p-1 w-full">Cena: {{ s.price|floatformat:0 }} Kč</div>
                            <div class="flex flex-wrap justify-between items-center w-full">
                                <div class="p-1">
                                    {% if s.buyer %}
                                        Prodejce: <a href="/uzivatel/{{ s.buyer.id }}/">{{ s.buyer.username }}</a>
                                    {% else %}
                                        <span class="text-gray-400">—</span>
                                    {% endif %}
                                </div>
                                <div>
                                    <!--<button class="add-book m-0">recenze</button>-->
                                    <!-- Popup stejný jako výše -->
                                    {% if user.is_authenticated %}
                                        <div class="overlay hidden"></div>
                                        <div class="popup hidden">
                                            <div class="flex">
                                                <h3 class="text-black">Ohodnoť uživatele a pošli recenzi</h3>
                                                <button class="flex text-black" style="margin: 0 0 10px auto; font-size: 25px;" id="closePopup"><i class="fa-solid fa-xmark"></i></button>
                                            </div>
                                            <form id="reviewForm">
                                                <div class="rating-type" style="margin-bottom: 10px;">
                                                    <label class="text-black"><input type="radio" name="ratingType" value="positive">Pozitivní</label>
                                                    <label class="text-black"><input type="radio" name="ratingType" value="neutral">Neutrální</label>
                                                    <label class="text-black"><input type="radio" name="ratingType" value="negative">Negativní</label>
                                                </div>
                                                <div class="stars" style="font-size: 25px; margin-bottom: 15px;">
                                                    <span class="star" data-value="1">&#9733;</span>
                                                    <span class="star" data-value="2">&#9733;</span>
                                                    <span class="star" data-value="3">&#9733;</span>
                                                    <span class="star" data-value="4">&#9733;</span>
                                                    <span class="star" data-value="5">&#9733;</span>
                                                </div>
                                                <textarea id="reviewText" placeholder="Napiš svou recenzi..." rows="5" style="width: 100%; padding: 10px;"></textarea>
                                                <div class="flex justify-end mt-3">
                                                    <button type="submit" class="add-book btn-submit">Odeslat recenzi</button>
                                                </div>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="p-3">Žádné prodané knihy z burzy.</p>
            {% endif %}
        </div>
        <!-- PAGINÁTOR -->
        {% if burza_sold.paginator.num_pages > 1 %}
            <div class="pagination mt-8">
                <span class="step-links flex justify-center">
                    {% if burza_sold.has_previous %}
                        <a href="?burza_sold_page=1#burza-knih">&laquo; první</a>
                        <a href="?burza_sold_page={{ burza_sold.previous_page_number }}#burza-knih">předchozí</a>
                    {% endif %}
                    <span class="current-page mx-4">
                        Stránka {{ burza_sold.number }} / {{ burza_sold.paginator.num_pages }}
                    </span>
                    {% if burza_sold.has_next %}
                        <a href="?burza_sold_page={{ burza_sold.next_page_number }}#burza-knih">další</a>
                        <a href="?burza_sold_page={{ burza_sold.paginator.num_pages }}#burza-knih">poslední &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
</div>




<!-- === === === === -->
<!-- Tab Burza her -->
<!-- === === === === -->
            <div id="burza-her" class="tab-show w-full {% if category == 'burza-her' %}active{% endif %}">
                <h3 class="after-h3 padding">Zakoupené hry (V přípravě)</h3>
                
                <div class="flex flex-wrap">
                    <div class="flex border w-full md:w-1/2 p-3">
                        <div>
                            <img src="https://div.cz/static/img/book/book.png" alt="Bez obrazku" style="max-width: 150px;">
                        </div>

                        <div class="flex flex-wrap content-between">
                            <div class="flex flex-wrap w-full">
                                <div class="p-1 w-full">
                                    <a class="games" href="">
                                        Název hry
                                    </a> (rok)
                                </div>

                                <div class="p-1 w-full">
                                    <a class="games" href="">
                                        vydavatel
                                    </a>
                                </div>

                                <div class="p-1 w-full">datum koupě</div> <!-- datum -->
                                <div class="p-1 w-full">cena</div>
                                <div class="flex flex-wrap justify-between items-center w-full">
                                    <div class="p-1">
                                        <a href="">prodejce</a>
                                    </div>
                                    <div>
                                        <!--<button class="add-book m-0">recenze</button> --><!-- pokud bude udělena recenze, tak asi zneaktivovat?-->

                                        <!-- Popup okno -->
                                        {% if user.is_authenticated %}
                                        <div class="overlay hidden"></div>
                                        <div class="popup hidden">
                                            <div class="flex">
                                                <h3 class="text-black">Ohodnoť uživatele a pošli recenzi</h3>
                                                <button class="flex text-black" style="margin: 0 0 10px auto; font-size: 25px;" id="closePopup"><i class="fa-solid fa-xmark"></i></button>
                                            </div>

                                            <!-- Formulář pro recenzi -->
                                            <form id="reviewForm">
                                                <!-- Radio buttons pro typ hodnocení -->
                                                <div class="rating-type" style="margin-bottom: 10px;">
                                                    <label class="text-black">
                                                        <input style="margin: 0 5px 0 0;" type="radio" name="ratingType" value="positive">Pozitivní
                                                    </label>
                                                    <label class="text-black">
                                                        <input style="margin: 0 5px 0 15px;" type="radio" name="ratingType" value="neutral">Neutrální
                                                    </label>
                                                    <label class="text-black">
                                                        <input style="margin: 0 5px 0 15px;" type="radio" name="ratingType" value="negative">Negativní
                                                    </label>
                                                </div>

                                                <!-- Hvězdičkové hodnocení -->
                                                <div class="stars" style="font-size: 25px; margin-bottom: 15px;">
                                                    <span class="star" data-value="1">&#9733;</span>
                                                    <span class="star" data-value="2">&#9733;</span>
                                                    <span class="star" data-value="3">&#9733;</span>
                                                    <span class="star" data-value="4">&#9733;</span>
                                                    <span class="star" data-value="5">&#9733;</span>
                                                </div>

                                                <!-- Textové pole pro recenzi -->
                                                <textarea id="reviewText" placeholder="Napiš svou recenzi..." rows="5" style="width: 100%; padding: 10px;"></textarea> <!-- možná omezit na 100 znaků? -->
                                                
                                                <div class="flex justify-end mt-3">
                                                    <button type="submit" class="add-book btn-submit">Odeslat recenzi</button>
                                                </div>
                                            </form>
                                        </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex border w-full md:w-1/2 p-3">
                        <div>
                            <img src="https://div.cz/static/img/book/book.png" alt="Bez obrazku" style="max-width: 150px;">
                        </div>

                        <div class="flex flex-wrap content-between">
                            <div class="flex flex-wrap w-full">
                                <div class="p-1 w-full">
                                    <a class="games" href="">
                                        Název hry
                                    </a> (rok)
                                </div>

                                <div class="p-1 w-full">
                                    <a class="games" href="">
                                        Autor
                                    </a>
                                </div>

                                <div class="p-1 w-full">datum koupě</div> <!-- datum -->
                                <div class="p-1 w-full">cena</div>
                                <div class="flex flex-wrap justify-between items-center w-full">
                                    <div class="p-1">
                                        <a href="">prodejce</a>
                                    </div>
                                    <div>
                                        <!--<button class="add-book m-0">recenze</button>--> <!-- pokud bude udělena recenze, tak asi zneaktivovat?-->

                                        <!-- Popup okno -->
                                        {% if user.is_authenticated %}
                                        <div class="overlay hidden"></div>
                                        <div class="popup hidden">
                                            <div class="flex">
                                                <h3 class="text-black">Ohodnoť uživatele a pošli recenzi</h3>
                                                <button class="flex text-black" style="margin: 0 0 10px auto; font-size: 25px;" id="closePopup"><i class="fa-solid fa-xmark"></i></button>
                                            </div>

                                            <!-- Formulář pro recenzi -->
                                            <form id="reviewForm">
                                                <!-- Radio buttons pro typ hodnocení -->
                                                <div class="rating-type" style="margin-bottom: 10px;">
                                                    <label class="text-black">
                                                        <input style="margin: 0 5px 0 0;" type="radio" name="ratingType" value="positive">Pozitivní
                                                    </label>
                                                    <label class="text-black">
                                                        <input style="margin: 0 5px 0 15px;" type="radio" name="ratingType" value="neutral">Neutrální
                                                    </label>
                                                    <label class="text-black">
                                                        <input style="margin: 0 5px 0 15px;" type="radio" name="ratingType" value="negative">Negativní
                                                    </label>
                                                </div>

                                                <!-- Hvězdičkové hodnocení -->
                                                <div class="stars" style="font-size: 25px; margin-bottom: 15px;">
                                                    <span class="star" data-value="1">&#9733;</span>
                                                    <span class="star" data-value="2">&#9733;</span>
                                                    <span class="star" data-value="3">&#9733;</span>
                                                    <span class="star" data-value="4">&#9733;</span>
                                                    <span class="star" data-value="5">&#9733;</span>
                                                </div>

                                                <!-- Textové pole pro recenzi -->
                                                <textarea id="reviewText" placeholder="Napiš svou recenzi..." rows="5" style="width: 100%; padding: 10px;"></textarea> <!-- možná omezit na 100 znaků? -->
                                                
                                                <div class="flex justify-end mt-3">
                                                    <button type="submit" class="add-book btn-submit">Odeslat recenzi</button>
                                                </div>
                                            </form>
                                        </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>      

                <!-- paginátor -->
                <div class="pagination mt-8">
                    <span class="step-links flex justify-center">
                        
                        <div>
                            <a href="">&laquo; první</a>
                            <a href="">předchozí</a>
                        </div>
                        

                        <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                        
                        <span class="current-page mx-4">
                        Stránka  / 
                        </span>
                        

                        
                        <div>
                            <a href="">další</a>
                            <a href="">poslední &raquo;</a>
                        </div>
                        
                    </span>
                </div> 
                
                <p class="p-3">Žádné zakoupené hry</p>
                    
                <hr>

                <div id="" >
                    <h3 class="after-h3 mt-8 padding">Prodané hry</h3>
                    
                    <div class="flex flex-wrap">
                        <div class="flex border w-full md:w-1/2 p-3">
                            <div>
                                <img src="https://div.cz/static/img/book/book.png" alt="Bez obrazku" style="max-width: 150px;">
                            </div>
    
                            <div class="flex flex-wrap content-between">
                                <div class="flex flex-wrap w-full">
                                    <div class="p-1 w-full">
                                        <a class="games" href="">
                                            Název hry
                                        </a> (rok)
                                    </div>
    
                                    <div class="p-1 w-full">
                                        <a class="games" href="">
                                            Autor
                                        </a>
                                    </div>
    
                                    <div class="p-1 w-full">datum prodeje</div> <!-- datum -->
                                    <div class="p-1 w-full">cena</div>
                                    <div class="flex flex-wrap justify-between items-center w-full">
                                        <div class="p-1">
                                            <a href="">kupující</a>
                                        </div>
                                        <div>
                                            <!--<button class="add-book m-0">recenze</button>--> <!-- pokud bude udělena recenze, tak asi zneaktivovat?-->

                                            <!-- Popup okno -->
                                            {% if user.is_authenticated %}
                                            <div class="overlay hidden"></div>
                                            <div class="popup hidden">
                                                <div class="flex">
                                                    <h3 class="text-black">Ohodnoť uživatele a pošli recenzi</h3>
                                                    <button class="flex text-black" style="margin: 0 0 10px auto; font-size: 25px;" id="closePopup"><i class="fa-solid fa-xmark"></i></button>
                                                </div>

                                                <!-- Formulář pro recenzi -->
                                                <form id="reviewForm">
                                                    <!-- Radio buttons pro typ hodnocení -->
                                                    <div class="rating-type" style="margin-bottom: 10px;">
                                                        <label class="text-black">
                                                            <input style="margin: 0 5px 0 0;" type="radio" name="ratingType" value="positive">Pozitivní
                                                        </label>
                                                        <label class="text-black">
                                                            <input style="margin: 0 5px 0 15px;" type="radio" name="ratingType" value="neutral">Neutrální
                                                        </label>
                                                        <label class="text-black">
                                                            <input style="margin: 0 5px 0 15px;" type="radio" name="ratingType" value="negative">Negativní
                                                        </label>
                                                    </div>

                                                    <!-- Hvězdičkové hodnocení -->
                                                    <div class="stars" style="font-size: 25px; margin-bottom: 15px;">
                                                        <span class="star" data-value="1">&#9733;</span>
                                                        <span class="star" data-value="2">&#9733;</span>
                                                        <span class="star" data-value="3">&#9733;</span>
                                                        <span class="star" data-value="4">&#9733;</span>
                                                        <span class="star" data-value="5">&#9733;</span>
                                                    </div>

                                                    <!-- Textové pole pro recenzi -->
                                                    <textarea id="reviewText" placeholder="Napiš svou recenzi..." rows="5" style="width: 100%; padding: 10px;"></textarea> <!-- možná omezit na 100 znaků? -->
                                                    
                                                    <div class="flex justify-end mt-3">
                                                        <button type="submit" class="add-book btn-submit">Odeslat recenzi</button>
                                                    </div>
                                                </form>
                                            </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="flex border w-full md:w-1/2 p-3">
                            <div>
                                <img src="https://div.cz/static/img/book/book.png" alt="Bez obrazku" style="max-width: 150px;">
                            </div>
    
                            <div class="flex flex-wrap content-between">
                                <div class="flex flex-wrap w-full">
                                    <div class="p-1 w-full">
                                        <a class="games" href="">
                                            Název hry
                                        </a> (rok)
                                    </div>
    
                                    <div class="p-1 w-full">
                                        <a class="games" href="">
                                            vydavatel
                                        </a>
                                    </div>
    
                                    <div class="p-1 w-full">datum prodeje</div> <!-- datum -->
                                    <div class="p-1 w-full">cena</div>
                                    <div class="flex flex-wrap justify-between items-center w-full">
                                        <div class="p-1">
                                            <a href="">kupující</a>
                                        </div>
                                        <div>
                                            <!--<button class="add-book m-0">recenze</button>--> <!-- pokud bude udělena recenze, tak asi zneaktivovat?-->

                                            <!-- Popup okno -->
                                            {% if user.is_authenticated %}
                                            <div class="overlay hidden"></div>
                                            <div class="popup hidden">
                                                <div class="flex">
                                                    <h3 class="text-black">Ohodnoť uživatele a pošli recenzi</h3>
                                                    <button class="flex text-black" style="margin: 0 0 10px auto; font-size: 25px;" id="closePopup"><i class="fa-solid fa-xmark"></i></button>
                                                </div>

                                                <!-- Formulář pro recenzi -->
                                                <form id="reviewForm">
                                                    <!-- Radio buttons pro typ hodnocení -->
                                                    <div class="rating-type" style="margin-bottom: 10px;">
                                                        <label class="text-black">
                                                            <input style="margin: 0 5px 0 0;" type="radio" name="ratingType" value="positive">Pozitivní
                                                        </label>
                                                        <label class="text-black">
                                                            <input style="margin: 0 5px 0 15px;" type="radio" name="ratingType" value="neutral">Neutrální
                                                        </label>
                                                        <label class="text-black">
                                                            <input style="margin: 0 5px 0 15px;" type="radio" name="ratingType" value="negative">Negativní
                                                        </label>
                                                    </div>

                                                    <!-- Hvězdičkové hodnocení -->
                                                    <div class="stars" style="font-size: 25px; margin-bottom: 15px;">
                                                        <span class="star" data-value="1">&#9733;</span>
                                                        <span class="star" data-value="2">&#9733;</span>
                                                        <span class="star" data-value="3">&#9733;</span>
                                                        <span class="star" data-value="4">&#9733;</span>
                                                        <span class="star" data-value="5">&#9733;</span>
                                                    </div>

                                                    <!-- Textové pole pro recenzi -->
                                                    <textarea id="reviewText" placeholder="Napiš svou recenzi..." rows="5" style="width: 100%; padding: 10px;"></textarea> <!-- možná omezit na 100 znaků? -->
                                                    
                                                    <div class="flex justify-end mt-3">
                                                        <button type="submit" class="add-book btn-submit">Odeslat recenzi</button>
                                                    </div>
                                                </form>
                                            </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <!-- paginátor -->
                    <div class="pagination mt-8">
                        <span class="step-links flex justify-center">
    
                            
                            <div>
                                <a href="">&laquo; první</a>
                                <a href="">předchozí</a>
                            </div>
                            
    
                            <!-- Zobrazí paginátor jen pokud počet stran > 1 -->
                            
                            <span class="current-page mx-4">
                                Stránka  / </span>
                            
    
                            
                            <div>
                                <a href="">další</a>
                                <a href="">poslední &raquo;</a>
                            </div>
                            
                        </span>
                    </div>

                    
                    <p class="p-3">Žádné prodané hry</p>
                    
                </div>

            </div>

<!-- === === === === -->
<!-- Tab Hodnocení -->
<!-- === === === === -->
          <div id="hodnoceni" class="tab-show w-full {% if category == 'hodnoceni' %}active{% endif %}">
    
    {% if avg_seller_rating %}
        <h3 class="after-h3 padding"> Celkové hodnocení prodávajícího </h3>
        <div class="flex flex-wrap">
            <div class="table ">
                <div class="grid obchod-grid bg-[#c0c0c0] dark:text-black">
                    <div class="text-center font-bold p-1" style="border-right: 1px solid #fffefe;">{{ avg_seller_rating|floatformat:1 }}/5</div>
                    <div class="">
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= avg_seller_rating %}★{% else %}☆{% endif %}
                        {% endfor %}
                    </div>
                    <span class="ml-2">({{ seller_ratings_count }} hodnocení)</span>
                </div>
            </div>
        </div>
    {% endif %}

    {% if avg_buyer_rating %}
        <h3 class="after-h3 padding"> Celkové hodnocení kupujícího </h3>
        <div class="flex flex-wrap">
            <div class="table ">
                <div class="grid obchod-grid bg-[#c0c0c0] dark:text-black">
                    <div class="text-center font-bold p-1" style="border-right: 1px solid #fffefe;">{{ avg_buyer_rating|floatformat:1 }}/5</div>
                    <div class="">
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= avg_buyer_rating %}★{% else %}☆{% endif %}
                        {% endfor %}
                    </div>
                    <span class="ml-2">({{ buyer_ratings_count }} hodnocení)</span>
                </div>
            </div>
        </div>
    {% endif %}

<div class="filter-options" style="float: right; margin-bottom: 10px;" >
    <label for="sort_by">Seřadit podle:</label>
    <select name="sort_by" id="sort_by" style="color: black;" onchange="window.location.href = this.value;">
        <option value="{% url 'profile_eshop_section' user_id=profile_user.id %}?sort=newest#hodnoceni" {% if current_sort == 'newest' %}selected{% endif %}>Nejnovější</option>
        <option value="{% url 'profile_eshop_section' user_id=profile_user.id %}?sort=highest#hodnoceni" {% if current_sort == 'highest' %}selected{% endif %}>Nejvyšší hodnocení</option>
        <option value="{% url 'profile_eshop_section' user_id=profile_user.id %}?sort=lowest#hodnoceni" {% if current_sort == 'lowest' %}selected{% endif %}>Nejnižší hodnocení</option>
        <option value="{% url 'profile_eshop_section' user_id=profile_user.id %}?sort=oldest#hodnoceni" {% if current_sort == 'oldest' %}selected{% endif %}>Nejstarší</option>
    </select>
</div>
<div style="clear: both;"></div>
<div class="table w-full">
     <div class="table w-full">
    <div class="grid obchod-grid bg-[#c0c0c0] dark:text-black grid-cols-5 md:grid-cols-6">
        <div class="text-center font-bold p-1 border-r border-white">Datum</div>
        <div class="text-center font-bold p-1 border-r border-white">Hodnocení</div>
        <div class="text-center font-bold p-1 border-r border-white hide-on-mobile">Hodnocen</div>
        <div class="text-center font-bold p-1 border-r border-white">Komentář</div>
        <div class="text-center font-bold p-1 border-r border-white">Hodnotil</div>
    </div>

    {% if ratings_page_obj %}
        {% for rating_data in ratings_page_obj %}
            <div class="grid obchod-grid border-b border-gray-200 grid-cols-5 md:grid-cols-6">
                <div class="text-center p-1 border-r border-gray-200">{{ rating_data.created_at|default:"-" }}</div>
                <div class="text-center p-1 border-r border-gray-200">
                    {% for i in "12345"|make_list %}
                        {% if forloop.counter <= rating_data.value %}★{% else %}☆{% endif %}
                    {% endfor %}
                </div>
                <div class="text-center p-1 border-r border-gray-200 hide-on-mobile">{{ rating_data.type }}</div>
                <div class="text-left p-1 border-r border-gray-200">
                    {% if rating_data.comment %}
                        {% if rating_data.comment|length > 30 %}
                            <div class="rating-comment-container">
                                {{ rating_data.comment|truncatechars:30 }}
                                <div class="comment-popup">
                                    <p>{{ rating_data.comment }}</p>
                                </div>
                            </div>
                        {% else %}
                            {{ rating_data.comment }}
                        {% endif %}
                    {% else %}
                        Bez komentáře.
                    {% endif %}
                </div>
                <div class="text-center p-1 border-r border-gray-200"> <a href="{% url 'myuser_detail' user_id=rating_data.rater.id %}">{% if rating_data.rater %}{{ rating_data.rater }}</a>{% else %}Anonymní{% endif %}</div>
            </div>
        {% endfor %}
    {% else %}
        <div class="grid obchod-grid grid-cols-5 md:grid-cols-6">
            <div class="p-4 col-span-6 text-center">Tento uživatel zatím neobdržel žádná jednotlivá hodnocení.</div>
        </div>
    {% endif %}
</div>
                    <!--<div class="w-full">
                        <div class="grid border obchod-grid sudy">
                            <div class="text-center p-1" style="border-right: 1px solid #c0c0c0;">datum</div>
                            <div class="p-1" style="border-right: 1px solid #c0c0c0;">test<!--negativní--> <!--<span>1 hvězd</span></div>--> <!-- pozitivní / neutrální / negativní --><!--
                            <div class="p-1">zanechaný komentář od kupujícího</div>
                        </div>
                    </div>-->

                    <!--<div class="w-full">
                        <div class="grid border obchod-grid sudy">
                            <div class="text-center p-1" style="border-right: 1px solid #c0c0c0;">datum</div>
                            <div class="p-1" style="border-right: 1px solid #c0c0c0;">pozitivní <span>5 hvězd</span></div>--> <!-- pozitivní / neutrální / negativní --><!--
                            <div class="p-1">další zanechaný komentář od kupujícího</div>
                        </div>
                    </div>-->

                </div>

                <!-- paginátor -->
         {% if ratings_page_obj.paginator.num_pages > 1 %}
    <div class="pagination mt-8">
        <span class="step-links flex justify-center">

            {% if ratings_page_obj.has_previous %}
                <div>
                    <a href="{% url 'profile_eshop_section' user_id=profile_user.id %}?page=1&sort={{ current_sort }}#hodnoceni">&laquo; první</a>
                    <a href="{% url 'profile_eshop_section' user_id=profile_user.id %}?page={{ ratings_page_obj.previous_page_number }}&sort={{ current_sort }}#hodnoceni">předchozí</a>
                </div>
            {% endif %}

            <span class="current-page mx-4">
                Stránka {{ ratings_page_obj.number }} / {{ ratings_page_obj.paginator.num_pages }}
            </span>

            {% if ratings_page_obj.has_next %}
                <div>
                    <a href="{% url 'profile_eshop_section' user_id=profile_user.id %}?page={{ ratings_page_obj.next_page_number }}&sort={{ current_sort }}#hodnoceni">další</a>
                    <a href="{% url 'profile_eshop_section' user_id=profile_user.id %}?page={{ ratings_page_obj.paginator.num_pages }}&sort={{ current_sort }}#hodnoceni">poslední &raquo;</a>
                </div>
            {% endif %}

        </span>
    </div>
{% endif %}
                                        
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="/static/js/profileScrollScript.js"></script>

<!-- popup -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.body.addEventListener("click", function (event) {
            // Otevření popupu
            if (event.target.classList.contains("add-book")) {
                const container = event.target.closest(".flex.flex-wrap.justify-between");
                if (container) {
                    container.querySelector(".overlay").classList.remove("hidden");
                    container.querySelector(".popup").classList.remove("hidden");
                }
            }

            // Zavření popupu kliknutím na overlay
            if (event.target.classList.contains("overlay")) {
                event.target.classList.add("hidden");
                event.target.nextElementSibling.classList.add("hidden"); // Zavře odpovídající popup
            }

            // Zavření popupu kliknutím na křížek
            if (event.target.closest("#closePopup")) {
                const popup = event.target.closest(".popup");
                const overlay = popup.previousElementSibling; // Overlay je přímo před popupem

                popup.classList.add("hidden");
                overlay.classList.add("hidden");
            }
        });
    });
</script>
<script>
function showCommentModal(comment) {
    var modal = document.getElementById('commentModal');
    var commentText = document.getElementById('commentText');
    commentText.textContent = comment;
    modal.style.display = 'block';
}

var modal = document.getElementById('commentModal');
var closeButton = document.getElementsByClassName("close-button")[0];

closeButton.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
{% endblock %}