{% extends "movies/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}{{ movie.titlecz }} ({{ movie.releaseyear }}) | DIV.cz{% endblock %}

{% block meta %}
    <meta name="description" content="{{ movie.description|striptags|truncatechars:200 }}">

    {% if keywordsCZ %}<!-- xsilence8x meta tags -->
    <meta name="keywords" content="{% for keyword in keywordsCZ %}{{ keyword }}, {% endfor %}">
    {% elif keywordsEN %}
    <meta name="keywords" content="{% for keyword in keywordsEN %}{{ keyword }}, {% endfor %}">
    {% endif %}

    <meta property="og:type" content="movie">
    <meta property="og:site_name" content="Databáze DIV">
    <meta property="og:title" content="{{ movie.titlecz }} ({{ movie.releaseyear }})">
    <meta property="og:description" content="{{ movie.description|striptags|truncatechars:180 }}">
    <meta property="og:image" content="
        {% if movie.img and movie.img != 'noimg.png' %}
            https://image.tmdb.org/t/p/original{{ movie.img }}
        {% elif movie.imgposter and movie.imgposter != 'noimg.png' %}
            https://image.tmdb.org/t/p/original{{ movie.imgposter }}
        {% else %}
            https://div.cz/static/img/site/soutez/soutez_wallpaper.png
        {% endif %}
            ">
    <meta property="og:url" content="https://div.cz/film/{{ movie.url }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@DIV_cz">
    <meta name="twitter:title" content="{{ movie.titlecz }} ({{ movie.releaseyear }})">
    <meta name="twitter:description" content="{{ movie.description|striptags|truncatechars:200 }}">
    <meta name="twitter:image" content="
        {% if movie.img and movie.img != 'noimg.png' %}
            https://image.tmdb.org/t/p/original{{ movie.img }}
        {% elif movie.imgposter and movie.imgposter != 'noimg.png' %}
            https://image.tmdb.org/t/p/original{{ movie.imgposter }}
        {% else %}
            https://div.cz/static/img/site/soutez/soutez_wallpaper.png
        {% endif %}
            ">
{% endblock %}

{% block content %}

<div class="row container my-5">
    <!-- Levá strana -->
    <div class="col-lg-8">
        <h2>{{ movie.titlecz }}</h2>

        <!-- Info Bar -->
        <div class="rounded-3 p-2 mb-3 d-flex w-full bg-[#F9F9F9] dark:bg-[#1A161F] border-[#ccc] rounded-1xl">
            <span class="me-3"><a href="https://div.cz/filmy/{{ movie.releaseyear }}" title="Filmy roku {{ movie.releaseyear }} | {{ movie.movieid }}">{{ movie.releaseyear }}</a></span>
            &nbsp;|&nbsp;
            <span class="me-3">
            {% if countries %}
                {% for movie_country in countries %}
                    {{ movie_country.countryid.countrynamecz }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
            </span>

            {% if movie.duration != 0 %}
                &nbsp;|&nbsp;
                <span>{{ movie.duration }} minut</span> 
                <!--&nbsp;|&nbsp;-->
            {% endif %}
        </div>

        <div class="d-flex mb-3 mt-4 wrap">
            <div class="me-3 mr-4 flex-shrink-0 sm-flex" style="width:40%; max-width:200px">
            {% if movie.imgposter == "noimg.png" %}
                {% if movie.img == "noimg.png" %}
                <img src="/static/img/movie/w200/nomovie.jpg" alt="{{ movie.titlecz }}" class="img-fluid w-full rounded" style="object-fit: cover; max-width: 200px;">
                {% else %}
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ movie.img }}" alt="{{ movie.titlecz }}" class="img-fluid w-full rounded" style="object-fit: cover; max-width: 200px;">
                {% endif %}
                {% else %}
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ movie.imgposter }}" alt="{{ movie.titlecz }}" class="img-fluid w-full rounded" style="object-fit: cover; max-width: 200px;">
            {% endif %}

                <div class="d-lg-none mb-2 sm:ml-5">
                    <div class="rating-stars" style="white-space: nowrap;"><!--&nbsp;|&nbsp;-->
                        <div class="smaller-stars">{% ratings movie %}</div>
                        <div id="rating-thankyou" class="alert alert-success" style="display: none;">Děkujeme za hodnocení!</div>
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap content-between flex-grow-1 sm:mt-5 w-full lg:w-55">
                <ul class="list-unstyled">
                    <li><strong>Originální název:</strong> {{ movie.title }}</li>
                    {% if genres %}
                    <li><strong>Žánr:</strong>
                        {% for movie_genre in genres %}
                            <a href="/filmy/{{ movie_genre.genreid.url }}">{{ movie_genre.genreid.genrenamecz }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                    {% endif %}

                    {% if directors %}
                    <li><strong>Režie:</strong>
                        {% for director in directors %}
                            <a href="/tvurce/{{ director.peopleid.url }}">{{ director.peopleid.firstname }} {{ director.peopleid.lastname }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                    {% endif %}

                    {% if writers %}
                    <li><strong>Scénář:</strong> 
                        {% for writer in writers %}
                            {{ writer.peopleid.firstname }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </li>
                    {% endif %}

                    {% if actors_and_characters %}
                    <li><strong>Hrají:</strong>
                        {% for actor in actors_and_characters|slice:":20" %}
                            {% if not forloop.last %}
                            <a href="/tvurce/{{ actor.peopleid.url }}">{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}</a>,
                            {% else %}
                            <a href="/tvurce/{{ actor.peopleid.url }}">{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}</a>
                            {% endif %}

                            {% comment %}
                            {% if actor.characterid %}
                                {% if actor.characterid.characterbio %}
                                jako <a href="/postava/{{ actor.characterid.characterurl }}" class="character-link">{{ actor.characterid.characternamecz|default:actor.characterid.charactername }}</a>
                                {% elif actor.characterid.characternamecz %}
                                jako {{ actor.characterid.characternamecz }}
                                {% elif actor.characterid.charactername %}
                                jako {{ actor.characterid.charactername }}
                                {% endif %}
                            {% endif %}
                            {% endcomment %}

                        {% endfor %}
                        , <a href="#tab2" id="go-to-characters">další...</a>
                    </li>
                    {% endif %}
                </ul>

                <!-- Tlačítka -->

                {% if user.is_authenticated %}
                <!-- Autorizován -->
                <div class="favorite-menu grid sm:grid-colums-2 justify-items-center w-full border rounded-1xl mt-4">
                    {% if not is_in_favourites %}
                    <!-- Pokud film není v oblíbených -->
                    <a href="{% url 'add_to_favourites' movieid=movie.movieid %}" class="favorite-link" style="color: black;">
                        <span class="favorite-link-icon">
                            <i class="fas fa-heart" style="color: {% if is_in_favourites %} #e91e63 {% else %} #000000 {% endif %}"></i>
                        </span>
                    {% else %}
                    <a href="{% url 'remove_from_favourites' movieid=movie.movieid %}" class="favorite-link">
                        <span class="favorite-link-icon">
                            <i class="fas fa-heart" style="color: {% if is_in_favourites %} #e91e63 {% else %} #000000 {% endif %}"></i>
                        </span>
                    {% endif %}
                        <span class="favorite-link-title">Oblíbené</span>
                        <span class="xl:hidden">Oblíbené</span>
                    </a>
                    
                    {% if not is_in_watched %}
                    <a href="{% url 'add_to_watched' movieid=movie.movieid %}" class="favorite-link" style="color: black;">
                        <span class="favorite-link-icon">
                            <i class="fas fa-film" style="color: {% if is_in_watched %} #e91e63 {% else %} #000000 {% endif %}"></i>
                        </span>
                    {% else %}
                    <a href="{% url 'remove_from_watched' movieid=movie.movieid %}" class="favorite-link">
                        <span class="favorite-link-icon">
                            <i class="fas fa-film" style="color: {% if is_in_watched %} #e91e63 {% else %} #000000 {% endif %}"></i>
                        </span>
                    {% endif %}
                        <span class="favorite-link-title">Shlédnuto</span>
                        <span class="xl:hidden">Shlédnuto</span>
                    </a>

                    {% if not is_in_movie_library %}
                    <a href="{% url 'add_to_movie_library' movieid=movie.movieid %}" class="favorite-link" style="color: black;">
                    {% else %}
                    <a href="{% url 'remove_from_movie_library' movieid=movie.movieid %}" class="favorite-link">
                    {% endif %}
                        <span class="favorite-link-icon">
                            <i class="fas fa-home" style="color: {% if is_in_movie_library %} #e91e63 {% else %} #000000 {% endif %}"></i>
                        </span>                               
                        <span class="favorite-link-title">Filmotéka</span>
                        <span class="xl:hidden">Filmotéka</span>
                    </a>

                    {% if not is_in_watchlist %}
                    <a href="{% url 'add_to_watchlist' movieid=movie.movieid %}" class="favorite-link" style="color: black;">
                        <span class="favorite-link-icon">
                            <i class="fas fa-eye" style="color: {% if is_in_watchlist %} #e91e63 {% else %} #000000 {% endif %}"></i>
                        </span>
                    {% else %}
                    <a href="{% url 'remove_from_watchlist' movieid=movie.movieid %}" class="favorite-link">
                        <span class="favorite-link-icon">
                            <i class="fas fa-eye" style="color: {% if is_in_watchlist %} #e91e63 {% else %} #000000 {% endif %}"></i>
                        </span>
                    {% endif %}
                        <span class="favorite-link-title">Chci vidět</span>
                        <span class="xl:hidden">Chci vidět</span>
                    </a>
                </div>
                {% endif %}
                <!-- Neautorizován -->

                <div id="add-thankyou" class="alert alert-success" style="display: none;">Film přidán do seznamu!</div>
            </div>
        </div>

        {% if user.is_staff %}
        <!-- PŘIDAT DO KINA -->
        <details>
            <summary>Přidat do kina</summary>
            <form method="post" name="distributor_form">
                {% csrf_token %}
                
                <!-- Roletka pro distributory -->
                <label for="distributor_id">Distributor:</label>
                <select name="distributor_id" id="distributor_id">
                    {% for distributor in distributors %}
                        <option value="{{ distributor.distributorid }}">{{ distributor.name }}</option>
                    {% endfor %}
                </select>

                <!-- Kalendář pro výběr data -->
                <label for="release_date">Datum vydání:</label>
                <input type="date" name="release_date" id="release_date">

                <button type="submit" name="add_distributor">Přidat do kina</button>
            </form>
            <hr>
        </details>
        {% endif %}

        <p>{{ movie.description|safe }}</p>

        <!-- Karty -->
        <div class="tab-container" style="font-size:12px">
            <ul class="tab-links">
                <li class="karta"><a href="#tab1" class="active text-black">Recenze</a></li>
                <li class="karta"><a href="#tab2">Hrají</a></li>
                <li class="karta"><a href="#tab3">Zajímavosti</a></li>
                <li class="karta"><a href="#tab4">Trailer</a></li>
                <li class="karta"><a href="#tab5">Hlášky</a></li>
                <!--<li class="karta"><a href="#tab6">Lokality</a></li>-->
                <li class="karta"><a href="#tab7">Chyby</a></li>
            </ul>
    
            <!-- RECENZE -->
            <div id="tab1" class="tab-content active w-full bg-[#F9F9F9] dark:bg-[#1A161F]">
                <div class="">    
                    <h3 class="after-h3">Recenze</h3>      
                    {% if user.is_authenticated %}
                    <h4>Přidat novou recenzi</h4>
                    <form method="post" class="w-full p-2 mb-2" action="">
                        {% csrf_token %}
                        {{ comment_form.comment }}
                        <button type="submit" class="add">Vložit recenzi</button>
                    </form>
                    {% else %}
                    <p>Pro komentování je nutné být <a href="/prihlaseni/">přihlášený</a>.<br>
                    Nemáš účet? Nevadí, <a href="/registrace/">rychlá registrace!</a></p>
                    {% endif %}

                    <!-- Výpis recenzí -->
                    <ul class="list-unstyled mt-3 komentar">
                        {% for comment in comments %}
                        <li class="card card-body dark:bg-[#0d0c0f] w-full p-3 mb-2 border rounded">
                            <p class="koment after">{{ comment.comment }}</p>
                            <div class="user">
                                <p>{{ comment.dateadded }}</p>
                                <p>Přidal: <a href="{% url 'user_profile_with_profil' comment.user.pk %}">{{ comment.user }}</a></p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- HRAJÍ -->
            <div id="tab2" class="tab-content w-full bg-[#F9F9F9] dark:bg-[#1A161F]">
                <h3 class="after-h3">Informace o postavách filmu</h3>
                <div class="grid lg:grid-colums-2 ml-4 mt-4">
                {% if actors_and_characters %}
                    {% for actor in actors_and_characters %}
                    <div class="mb-2 after line">
                        <div class="flex items-center">
                        {% if actor.peopleid.img and actor.peopleid.img != "noimg.png" %}
                            <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ actor.peopleid.img }}" 
                                alt="{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}" 
                                class="img-fluid w-full rounded" 
                                style="object-fit: cover; max-width: 70px;">
                            {% else %}
                            <img src="/static/img/creator/noperson.svg" 
                                alt="{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}" 
                                class="img-fluid w-full rounded" 
                                style="object-fit: cover; max-width: 70px; height: 105px;">
                            {% endif %}
                            <div class="flex flex-wrap ml-2 w-full">
                            {% if actor.characterid %}
                                <h4 class="w-full"><a href="/tvurce/{{ actor.peopleid.url }}">{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}</a></h4>
                                {% if actor.characterid.characterbio %}
                                <a href="/postava/{{ actor.characterid.characterurl }}" class="character-link">
                                    {{ actor.characterid.characternamecz|default:actor.characterid.charactername }}
                                </a>
                                    {% elif actor.characterid.characternamecz %}
                                        {{ actor.characterid.characternamecz }}
                                    {% elif actor.characterid.charactername %}
                                        {{ actor.characterid.charactername }}
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>

            <!-- ZAJÍMAVOSTI -->
            <div id="tab3" class="tab-content w-full bg-[#F9F9F9] dark:bg-[#1A161F]">
                <div>
                    <h3 class="after-h3">Informace o zajímavostech filmu</h3>
                    {% if user.is_authenticated %}
                    <!-- přidat zajímavost -->
                    <h4>Přidat novou zajímavost</h4>
                    <form method="post" action="">
                        {% csrf_token %}
                        <textarea name="trivia_text" class="w-full p-2 mb-2" rows="3" placeholder="Zadejte zajímavost"></textarea>
                        <button type="submit" class="add">Vložit zajímavost</button>
                    </form>
                    {% endif %}

                    <!-- Výpis zajímavostí -->
                    {% for item in trivia %}
                    <div class="card card-body dark:bg-[#0d0c0f] w-full p-3 mb-2 border rounded">
                        <p class="text-sm after">{{ item.trivia }}</p>
                        <div class="mt-2 text-end">
                            <p>Přidal: 
                                {% if not item.userid.id is None %}
                                <a href="{% url 'user_profile_with_profil' user_id=item.userid.id %}">{{ item.userid.username|default:"Anonym" }}</a>
                                {% else %}
                                Anonym
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- TRAILER -->
            <div id="tab4" class="tab-content w-full bg-[#F9F9F9] dark:bg-[#1A161F]">
                <h3 class="after-h3">Trailer</h3>
                {% if movie_trailer %}
                    <iframe style="width:100%; height:300px" src="https://www.youtube.com/embed/{{ movie_trailer.youtubeurl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% else %}
                        {% if user.is_authenticated %}
                        <h3>Přidat trailer</h3>
                        <form method="post">
                            {% csrf_token %}
                            {{ trailer_form.as_p }}
                            <button type="submit" class="btn btn-primary mt-3">Přidat trailer (Jen YoutubeID: dGzY9zp46KI)</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>

            <!-- HLÁŠKY -->
            <div id="tab5" class="tab-content w-full bg-[#F9F9F9] dark:bg-[#1A161F]">        
                <h3 class="after-h3">Známé hlášky z filmu</h3>
                <!-- přidat hlášku -->
                {% if user.is_authenticated %}
                <h4>Přidat novou hlášku</h4>
                <form method="post" action="">
                {% csrf_token %}
                    <textarea name="quote_text" class="w-full p-2 mb-2" rows="3" required></textarea>
                    <button type="submit" class="add">Vložit hlášku</button>
                </form>               
                {% endif %}

                <!-- Výpis hlášek -->
                <div class="mt-4">
                    {% for quote in quotes %}
                    <div class="card card-body dark:bg-[#0d0c0f] w-full p-3 mb-2 border rounded">
                        <p class="text-sm after">{{ quote.quote }}</p>
                        <div class="mt-2 text-end">
                            <p>Přidal: 

                           {% if quote.user %}
                               <a href="{% url 'user_profile_with_profil' user_id=quote.user.id %}">{{ quote.user.username }}</a>
                           {% else %}
                               Anonym
                           {% endif %}

                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- lokality -->
            <!--<div id="tab6" class="tab-content w-full bg-[#F9F9F9] dark:bg-[#1A161F]">
                <h3>Lokality</h3>
                <p>Informace o natáčecích lokalitách.</p>
            </div>-->

            <!-- chyby -->
            <div id="tab7" class="tab-content w-full bg-[#F9F9F9] dark:bg-[#1A161F]">
                <h3 class="after-h3">Chyby ve filmu</h3>
                {% if user.is_authenticated %}
                <h4>Přidat novou chybu</h4>
                <form method="post" action="">
                    {% csrf_token %}
                    <textarea name="error_text" class="w-full p-2 mb-2" rows="3" required></textarea>
                    <button type="submit" class="add">Vložit chybu</button>
                </form>
                {% endif %}
            
                <!-- Výpis chyb -->
                <div class="mt-4">
                    {% for error in errors %}
                    <div class="card card-body dark:bg-[#0d0c0f] w-full p-3 mb-2 border rounded">
                        <p class="text-sm after">{{ error.error }}</p>
                        <div class="mt-2 text-end">
                            <p>Přidal: 
                                {% if error.userid %}
                                    <a href="{% url 'user_profile_with_profil' user_id=error.userid.id %}">{{ error.userid.username }}</a>
                                {% else %}
                                    Anonym
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <!-- Pravá strana -->
    <div class="col-lg-4">
        <!-- Hodnocení -->
        <div class="card box-shadow mb-4 mt-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 style="text-align:center" class="after font-bold">Hodnocení</h3>
                <div class="grid columns">
                    <div class="hodnoceni after">
                        {% ratings movie %}
                        {% if user.is_authenticated %}
                        {% else %}
                        <p>Pro hodnocení je třeba se <a href="/prihlaseni/">Přihlásit!</a></p>
                        {% endif %}
                    </div>
                
                    <div id="rating-thankyou2" class="alert alert-success" style="display: none;">
                        Děkujeme za hodnocení!
                    </div>

                    {% if ratings %}
                    <ul class="list-unstyled rating-users">
                    {% for rating in ratings %}
                        <li class="after">
                            <small><p class="text-center p-1">Hodnoceno: {{ rating.modified|date:"j. n. Y" }} </p></small>
                            <a href="{% url 'user_profile_with_profil' user_id=rating.user.id %}">{{ rating.user.username }}</a>
                            <span class="right">
                                {% for _ in "12345" %}
                                {% if forloop.counter <= rating.score %}
                                <span class="text-warning">★</span>  {# Třída `text-warning` v Bootstrapu nastaví žlutou barvu #}
                                {% else %}
                                ☆
                                {% endif %}
                                {% endfor %}
                            </span>
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card box-shadow mb-4 mt-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">Sledujte na</h3>
                <div class="watching">
                    <a href=""><img src="/static/img/tv/cool.png" alt="cool"></a>
                    <a href=""><img src="/static/img/tv/ct1.png" alt="čt 1"></a>
                    <a href=""><img src="/static/img/tv/disney.png" alt="dysney"></a>
                    <a href=""><img src="/static/img/tv/hbo-max.png" alt="hbo max"></a>
                    <a href=""><img src="/static/img/tv/hbo.png" alt="hbo"></a>
                    <a href=""><img src="/static/img/tv/lepsi-tv.png" alt="lepší tv"></a>
                    <a href=""><img src="/static/img/tv/netflix.png" alt="netflix"></a>
                    <a href=""><img src="/static/img/tv/nova-cinema.png" alt="nova cinema"></a>
                    <a href=""><img src="/static/img/tv/nova.png" alt="nova"></a>
                    <a href=""><img src="/static/img/tv/o2tv.png" alt="o2 tv"></a>
                    <a href=""><img src="/static/img/tv/prima.png" alt="prima"></a>
                    <a href=""><img src="/static/img/tv/prime-video.png" alt="prime video"></a>
                    <a href=""><img src="/static/img/tv/seznam.png" alt="seznam"></a>
                    <a href=""><img src="/static/img/tv/sky-sho.png" alt="sky sho"></a>
                    <a href=""><img src="/static/img/tv/tv.png" alt="apple tv"></a>
                    <a href=""><img src="/static/img/tv/voyo.png" alt="voyo"></a>
                </div>
            </div>
        </div>

        {% if request.user.is_superuser or request.user.is_staff %}
        <div class="card box-shadow mb-3 d-none d-lg-block">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title">Upravit DIV Rating</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ div_rating_form.as_p }}
                    <button type="submit" name="update_divrating" class="btn btn-primary mt-2">Uložit</button>
                </form>
            </div>
        </div>
        {% endif %}

        <!-- Universum -->
        {% if same_universe_movies %}
        <div class="card box-shadow mb-3 d-none d-lg-block">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">
                    Filmy ze světa <a href="/svet/{{ universum.universumurl }}">{{ universum.universumnamecz|default:universum.universumname }}</a>
                </h3>
                <div class="flex gap-1">
                    <ul class="list-group">
                        {% for movie in same_universe_movies %}
                        <li class="list-group-item">
                            <a href="{% url 'movie_detail' movie_url=movie.url %}">
                                {{ movie.titlecz }} ({{ movie.releaseyear }})
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">{{ movie.titlecz }}</h3>
                <p class="card-text">Sdílet na:</p>

                <!-- Facebook Share Button -->
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://div.cz/film/{{ movie.url }}" class="btn btn-primary mb-2 mr-1" style="color: white;" target="_blank" title="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter Share Button -->
                <a href="https://twitter.com/intent/tweet?url=https://div.cz/film/{{ movie.url }}&text={{ movie.titlecz }}" class="btn btn-info mb-2 mr-1" style="color: white;" target="_blank" title="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- E-mail Share Button -->
                <a href="mailto:?subject={{ movie.titlecz }}&body=Podívej se na https://div.cz/film/{{ movie.url }}" class="btn btn-dark mb-2 mr-1" style="color: white;" title="E-mail">
                    <i class="fas fa-envelope"></i>
                </a>

                <!-- WhatsApp Share Button -->
                <a href="https://wa.me/?text={{ movie.titlecz }} - https://div.cz/film/{{ movie.url }}" class="btn btn-success mb-2" target="_blank" style="color: white;" title="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>

        <!-- Tags -->
        <div class="card box-shadow mb-3">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">Tagy</h3>
                <div class="flex flex-wrap gap-1">
                    {% for movie_genre in genres %}
                    <span class="rounded bg-secondary p-1" style="color:white"> <a href="https://div.cz/filmy/{{ movie_genre.genreid.url }}">{{ movie_genre.genreid.genrenamecz }}</a></span> 
                    {% if not forloop.last %} 
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}