{% extends "movies/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}Vyhledávání {% if request.GET.q %} {{ request.GET.q }} {% endif %} na DIV.cz{% endblock %}


{% block meta %}
<meta name="description" content="Vyhledávání {% if request.GET.q %} {{ request.GET.q }} {% endif %} na DIV.cz na datábázi filmů, herců i režisérů..">
<meta name="keywords" content="{% if request.GET.q %}{{ request.GET.q }}{% endif %}, filmy, seriály, databáze filmů, recenze, novinky, žebříčky, postavy, kinohity, filmové novinky">
<meta name="author" content="eKultura.eu">

<meta property="og:title" content="{% if request.GET.q %} {{ request.GET.q }} {% endif %} na DIV.cz">
<meta property="og:description" content="Prozkoumejte nejnovější filmy a seriály na DIV.cz. Aktuální recenze, novinky a žebříčky.">
<meta property="og:image" content="https://div.cz/img/movie/filmovy-div.webp">
<meta property="og:url" content="https://div.cz/hledam/?q={% if request.GET.q %} {{ request.GET.q }} {% endif %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if request.GET.q %} {{ request.GET.q }} {% endif %} na Databáze DIV.cz">
<meta name="twitter:description" content="Vyhledávání {% if request.GET.q %} {{ request.GET.q }} {% endif %} na DIV.cz na datábázi filmů, herců i režisérů.">
<meta name="twitter:image" content="https://div.cz/img/movie/filmovy-div.webp">
{% endblock %}


{% block content %}

<div class="row container w-full my-4 my-6 grow">
    <h2 class="mb-4">Vyhledávání: {% if request.GET.q %} {{ request.GET.q }} {% endif %}</h2>
    <div class="row mb-3 w-full">
        {% if movies %}
        <div class="table">
            <div class="grid search-grid bg-[#c0c0c0]">
                <div class="text-center font-bold p-1">Miniatura</div>
                <div class="font-bold p-1">Název</div>
                <div class="text-center font-bold p-1">Rok</div>
                <div class="text-center font-bold p-1">Hodnocení</div>
            </div>
            <div>
                {% for movie in movies %}
                <div class="grid items-center border search-grid sudy">
                    <div>
                        <a href="/film/{{ movie.URL }}">
                            {% if movie.IMG == "noimg.png" %}
                            <img src="/static/img/movie/w400/noimg.png" alt="{{ movie.TitleCZ }}" style="max-width: 100px; object-fit: cover;">
                            {% else %}
                            <img src="https://www.themoviedb.org/t/p/w400{{ movie.IMG }}" alt="{{ movie.TitleCZ }}"  style="max-width: 100px; object-fit: cover;">
                            {% endif %}
                        </a>
                    </div>
                    <div class="p-1">
                        <a href="/film/{{ movie.URL }}">{{ movie.TitleCZ }}</a>
                    </div>
                    <div class="text-center p-1">
                        <a href="/filmy/{{ movie.ReleaseYear }}">{{ movie.ReleaseYear }}</a>
                    </div>
                    <div class="text-center p-1 stars">
                        {% if movie.AverageRating %}
                        {% with score=movie.AverageRating|floatformat:0 %}
                        <span class="text-warning h4">
                            {% if score == "1" %}
                            &#9733;&nbsp;&#9734;&nbsp;&#9734;&nbsp;&#9734;&nbsp;&#9734;
                            {% elif score == "2" %}
                            &#9733;&nbsp;&#9733;&nbsp;&#9734;&nbsp;&#9734;&nbsp;&#9734;
                            {% elif score == "3" %}
                            &#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9734;&nbsp;&#9734;
                            {% elif score == "4" %}
                            &#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9734;
                            {% elif score == "5" %}
                            &#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;
                            {% endif %}
                        </span>
                        {% endwith %}
                        {% else %}
                        <span class="text-sm stars">Nehodnoceno</span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>Žádné filmy nenalezeny.</p>
        {% endif %}
    </div>
</div>

{% endblock %}