<!DOCTYPE html>
<html lang="cs">
    <head>

        {% include "../inc/head.html" %}

        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

        <title>Vyhledávání {% if request.GET.q %} {{ request.GET.q }} {% endif %} v databázi filmů DIV</title>

        <link rel="stylesheet" href="/static/css/movies.css">

<style>
.text-warning {
        color: Goldenrod !important;
    }
</style>
    {% include "../inc/google.html" %}

    </head>

    <body>

        {% include "../inc/navbar_movies.html" %}

        <main class="mb-5">
            <!-- Sekce odkazů na filmy -->
            <div class="container my-4">
                <h2 class="mb-4">Vyhledávání {% if request.GET.q %} {{ request.GET.q }} {% endif %}</h2>
                <div class="row mb-3">
                    <form method="get">
                        {{ form.q.label_tag }} {{ form.q }}
                        <input type="submit" value="Hledat">
                    </form>
                    {% if movies %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Miniatura</th>
                                <th>Název</th>
                                <th>Rok</th>
                                <th>Hodnocení</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for movie in movies %}
                            <tr>
                                <td>
                                    <!--<img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ movie.img }}" alt="{{ movie.title }}">-->
                                    <a href="/film/{{ movie.URL }}">
                                        {% if movie.IMG == "noimg.png" %}
                                        <img src="/static/img/movie/w400/nomovie.png" alt="{{ movie.TitleCZ }}" width="150">
                                        {% else %}
                                        <img src="https://www.themoviedb.org/t/p/w400{{ movie.IMG }}" alt="{{ movie.TitleCZ }}" width="150">
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a href="/film/{{ movie.URL }}">{{ movie.TitleCZ }}</a>
                                </td>
                                <td>
                                    <a href="/filmy/{{ movie.ReleaseYear }}">{{ movie.ReleaseYear }}</a>
                                </td>
                                <td>
                                    {% if movie.AverageRating %}
                                    {% with score=movie.AverageRating|floatformat:0 %}
                                    <span class="text-warning h4">
                                        {% if score == "1" %}
                                        &#9733;&nbsp;&#9734;&nbsp;&#9734;&nbsp;&#9734;&nbsp;&#9734;
                                        {% elif score == "2" %}
                                        &#9733;&nbsp;&#9733;&nbsp;&#9734;&nbsp;&#9734;&nbsp;&#9734;
                                        {% elif score == "3" %}
                                        &#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9734;&nbsp;&#9734;
                                        {% elif score == "4" %}
                                        &#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9734;
                                        {% elif score == "5" %}
                                        &#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;
                                        {% endif %}
                                    </span>
                                    {% endwith %}
                                    {% else %}
                                    <span>Nehodnoceno</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div><!--/container -->
        </main>

        {% include "../inc/footer_movies.html" %}

        <script src="/static/js/movies.js"></script>

    </body>
</html>
