{% extends "movies/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}Vyhledávání {% if request.GET.q %} {{ request.GET.q }} {% endif %} na DIV.cz{% endblock %}

{% block meta %}

    <meta name="description" content="Vyhledávání {% if request.GET.q %} {{ request.GET.q }} {% endif %} na DIV.cz na datábázi filmů, herců i režisérů..">
    <meta name="keywords" content="{% if request.GET.q %}{{ request.GET.q }}{% endif %}, filmy, seriály, databáze filmů, recenze, novinky, žebříčky, postavy, kinohity, filmové novinky">
    <meta name="author" content="eKultura.eu">

    <meta property="og:title" content="{% if request.GET.q %} {{ request.GET.q }} {% endif %} na DIV.cz">
    <meta property="og:description" content="Prozkoumejte nejnovější filmy a seriály na DIV.cz. Aktuální recenze, novinky a žebříčky.">
    <meta property="og:image" content="https://div.cz/img/movie/filmovy-div.webp">
    <meta property="og:url" content="https://div.cz/hledam/?q={% if request.GET.q %} {{ request.GET.q }} {% endif %}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if request.GET.q %} {{ request.GET.q }} {% endif %} na Databáze DIV.cz">
    <meta name="twitter:description" content="Vyhledávání {% if request.GET.q %} {{ request.GET.q }} {% endif %} na DIV.cz na datábázi filmů, herců i režisérů.">
    <meta name="twitter:image" content="https://div.cz/img/movie/filmovy-div.webp">

{% endblock %}


{% block content %}

<div class="container">
    <h2 class="page-title">
        Vyhledávání: 
        {% if request.GET.q %} 
            <span class="movies">{{ request.GET.q }}</span> 
        {% endif %}
    </h2>

    {% if movies %}
        <div class="search-table">

            <!-- Hlavička -->
            <div class="search-grid search-header">
                <div style="text-align: center;">Miniatura</div>
                <div>Název</div>
                <div style="text-align: center;">Rok</div>
                <div style="text-align: center;">Hodnocení</div>
            </div>

            <!-- Řádky -->
            {% for movie in movies %}
                <div class="search-grid search-row">
                    {% if movie.imgposter == "noimg.png" %}
                        <img src="/static/img/movie/w200/nomovie.jpg" alt="{{ movie.TitleCZ }}">
                        {% else %}
                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ movie.IMGposter }}" alt="{{ movie.TitleCZ }}">
                    {% endif %}

                    <div class="title">
                        <a href="/film/{{ movie.URL }}">{{ movie.TitleCZ }}</a>
                    </div>

                    <div class="year">
                        <a href="/filmy/{{ movie.ReleaseYear }}">{{ movie.ReleaseYear }}</a>
                    </div>

                    <!--------------------> 
                    <!-- NEFUNGUJEEEEEE -->
                    <!--------------------> 
                    <div class="search-rating">
                        {% if user.is_authenticated %}
                            <div class="movie-rating">
                                100 % <!-- celkové hodnocení filmu -->
                            </div>

                            <div class="search-stars">
                                {% if movie.is_watched %}
                                    <i class="fas fa-eye" title="viděno"></i>
                                {% endif %}

                                <div class="stars">
                                    {% if movie.AverageRating %}
                                        <span>
                                            {% for _ in "12345" %}
                                                {% if forloop.counter <= rating.score %}
                                                <span>★</span>
                                                {% else %}
                                                ☆
                                                {% endif %}
                                            {% endfor %}
                                        </span>

                                        {% else %}
                                        <span><small>Nehodnoceno</small></span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}

        </div>

        {% else %}
        <p>Žádné filmy nenalezeny.</p>
    {% endif %}
</div>

{% endblock %}