{% extends "series/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}Výsledky hledání pro "{{ request.GET.q }}" | DIV.cz{% endblock %}

{% block content %}

<div class="container">
    <h2 class="page-title">
        Vyhledávání:
        {% if request.GET.q %}
            <span class="movies">{{ request.GET.q }}</span>
        {% endif %}
    </h2>

    {% if series %}
        <div class="search-table">

            <!-- Hlavička -->
            <div class="search-grid search-header">
                <div style="text-align: center;">Miniatura</div>
                <div>Název</div>
                <div style="text-align: center;">Rok</div>
                <div style="text-align: center;">Hodnocení</div>
            </div>

            <!-- Řádky -->
            {% for serie in series %}
                <div class="search-grid search-row">
                    <a href="/serial/{{ serie.URL }}">
                        {% if serie.img == "noimg.png" %}
                            <img src="/static/img/movie/w200/nomovie.jpg" alt="{{ serie.titlecz }}">
                            {% else %}
                            <img src="https://www.themoviedb.org/t/p/w400{{ serie.img }}" alt="{{ serie.TitleCZ }}">
                        {% endif %}
                    </a>

                    <div class="title">
                        <a href="{% url 'serie_detail' serie.url %}">{{ serie.titlecz }}</a>
                    </div>

                    <div class="year">
                        {{ serie.premieredate|date:"Y" }}
                    </div>

                    <div class="search-rating">
                        {% if user.is_authenticated %}
                            <div class="movie-rating">
                                100 % <!-- celkové hodnocení filmu -->
                            </div>

                            <div class="search-stars">
                                {% if tvshow.is_watched %}
                                    <i class="fas fa-eye" title="viděno"></i>
                                {% endif %}

                                <div class="stars">
                                    {% if movie.AverageRating %}
                                        <span> <!-- hodnocení uživatele -->
                                            {% for _ in "12345" %}
                                                {% if forloop.counter <= rating.score %}
                                                <span>★</span>
                                                {% else %}
                                                ☆
                                                {% endif %}
                                            {% endfor %}
                                        </span>

                                        {% else %}
                                        <span><small>Nehodnoceno</small></span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        </div>

        {% else %}
        <p>Žádné seriály nenalezeny.</p>
    {% endif %}
</div>

{% endblock %}