{% extends "series/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}{{ tvshow.titlecz }} ({{ tvshow.premieredate|date:"Y"|default:"?" }} - {{ tvshow.enddate|date:"Y"|default:"?" }}) | DIV.cz{% endblock %}

{% block meta %}

<style>

</style>

{% endblock %}

{% block content %}

<style>
    
</style>

<div class="container">
    <!-- Levá strana -->
    <div class="left-side">
        <h2>{{ tvshow.titlecz }} </h2>

        {% if messages %}
            <div style="margin-top: .75rem;">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Info Bar -->
        <div class="info-bar">
            <span>{{ tvshow.premieredate|date:"Y"|default:"?" }} - {{ tvshow.enddate|date:"Y"|default:"?" }}</span>
            &nbsp;|&nbsp;
            <span>
            {% if countries %}
                {% for country in countries %}
                    {{ country.countryid.countrynamecz }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
            </span>            
            &nbsp;|&nbsp;
            <span>počet epizod: {{ episodes_count }}</span> <!-- počet dílů za celou sérii-->
        </div>

        <div class="box-info">
            <div class="box-body">
                <div class="box-img">
                    {% if tvshow.imgposter == "noimg.png" %}
                        <img src="/static/img/movie/w200/nomovie.jpg" alt="{{ tvshow.titlecz }}" class="img-fluid">
                        {% else %}
                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ tvshow.imgposter }}" alt="{{ twshow.titlecz }}" class="img-fluid">
                    {% endif %}
            
                    <!-- HODNOCENÍ NA MOBIL -->
                    <div class="box-info-rating">
                        <div class="rating" data-rating="{{ average_rating }}">
                            <div class="rating-inner">
                                {{ average_rating }}%
                            </div>
                        </div>

                        <div class="rating-stars" style="white-space: nowrap;">
                            <div class="smaller-stars">{% ratings tvshow %}</div>
                            <div id="rating-thankyou" class="alert" style="display: none;">
                                Děkujeme za hodnocení!
                            </div>
                        </div>

                        <button class="rating-popup-btn btn add-movie" style="margin: 0 auto;">Hodnocení seriálu</button>
                    </div>

                    <!-- POPUP – zobrazí se jen na mobilu -->
                    <div id="ratingPopup" class="popup-overlay">
                        <div class="popup-window">
                            <span class="popup-close">&times;</span>
                            <h3>Hodnocení seriálu</h3>
                            {% if ratings %}
                                <ul class="sm-rating-users">
                                    {% for rating in ratings %}
                                        <li>
                                            <small>
                                                <p style="text-align:center;padding:.25rem;">
                                                    Hodnoceno: {{ rating.modified|date:"j. n. Y" }}
                                                </p>
                                            </small>

                                            <div>
                                                <a href="{% url 'user_profile_with_profil' user_id=rating.user.id %}">
                                                    {{ rating.user.username }}
                                                </a>

                                                <span>
                                                    {% for _ in "12345" %}
                                                        {% if forloop.counter <= rating.score %}
                                                            <span>★</span>
                                                        {% else %}
                                                            ☆
                                                        {% endif %}
                                                    {% endfor %}
                                                </span>

                                                <!-- Zobrazí tlačítko jen u vlastního hodnocení -->
                                                {% if rating.user == request.user %}
                                                    <form method="post" action="">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn">
                                                            <i class="fa-solid fa-trash-can" title="smazat hodnocení" style="margin-right: 0; color: #A52B21;"></i>
                                                        </button>
                                                    </form>
                                                {% endif %}

                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="box-detail">
                    <div class="box-info-rating">
                        <div class="rating" data-rating="{{ average_rating }}">
                            <div class="rating-inner">
                                {{ average_rating }}%
                            </div>
                        </div>

                        <div class="rating-stars" style="white-space: nowrap;">
                            <div class="smaller-stars">{% ratings tvshow %}</div>
                            <div id="rating-thankyou" class="alert" style="display: none;">Děkujeme za hodnocení!</div>
                        </div>
                    </div>

                    <ul class="list-unstyled">
                        <li><strong>Originální název:</strong> {{ tvshow.title }}</li>
                        {% if genres %}
                        <li><strong>Žánr:</strong>
                            {% for genre in genres %}
                                {{ genre.genreid.genrenamecz }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                        {% endif %}

                        {% if productions %}
                        <li><strong>Produkce:</strong>
                                {% for production in productions %}
                                    {{ production.metaproductionid.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                        </li>
                            {% else %}
                        {% endif %}

                        <li><strong>Premiéra:</strong> {{ tvshow.premieredate|date:"d.m.Y"|default:"Datum premiéry není dostupné" }}</li>
                        <li><strong>Konec vysílání:</strong> 
                                {% if tvshow.status == "Returning Series" %} Stále se natáčí 
                                {% else %} 
                                {{ tvshow.enddate|date:"d.m.Y"|default:"Datum konce vysílání není dostupné" }}
                                {% endif %}
                        </li>
                        
                        {% if directors %}
                        <li><strong>Režie:</strong>
                            {% for director in directors %}
                                <a href="/tvurce/{{ director.peopleid.url }}">{{ director.peopleid.firstname }} {{ director.peopleid.lastname }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                        {% endif %}

                        {% if actors_and_characters2 %}
                        <li><strong>Hrají:</strong>
                            {% for actor in actors_and_characters2 %}
                                {% if not forloop.last %}
                                <a href="/tvurce/{{ actor.peopleid.url }}">{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}</a>, 
                                {% else %}
                                <a href="/tvurce/{{ actor.peopleid.url }}">{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}</a>
                                {% endif %}
                            {% endfor %}
                            , <a href="#tab2" id="go-to-characters">další...</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <!-- Tlačítka -->
            {% if user.is_authenticated %}
                <div class="favorite-menu">

                    <!-- Pokud není v Oblíbené -->
                    {% if not is_in_favourites %}
                    <a href="{% url 'add_to_favourite_tvshow' tvshowid=tvshow.tvshowid %}" class="favorite-link" style="color: white;">
                    {% else %}
                    <a href="{% url 'remove_from_favourite_tvshow' tvshowid=tvshow.tvshowid %}" class="favorite-link">
                    {% endif %}
                        <span class="favorite-link-icon">
                            <i class="fas fa-heart" style="color: {% if is_in_favourites %} #ED3F2F {% endif %}"></i>
                        </span>
                        <span class="favorite-link-title" style="color: {% if is_in_favourites %} #ED3F2F {% endif %}">Oblíbené</span>
                    </a>
                    
                    <!-- Pokud není v Seriálnuto -->
                    {% if not is_in_watched %}
                    <a href="{% url 'add_to_watched_tvshows' tvshowid=tvshow.tvshowid %}" class="favorite-link" style="color: white;">
                        {% else %}
                        <a href="{% url 'remove_from_watched_tvshows' tvshowid=tvshow.tvshowid %}" class="favorite-link">
                        {% endif %}
                            <span class="favorite-link-icon">
                                <i class="fas fa-film" style="color: {% if is_in_watched %} #ED3F2F {% endif %}"></i>
                            </span>
                            <span class="favorite-link-title" style="color: {% if is_in_watched %} #ED3F2F {% endif %}">Seriálnuto</span>
                        </a>

                    <!-- Pokud není v Seriálotéce -->
                    {% if not is_in_library %}
                    <a href="{% url 'add_to_tvshow_library' tvshowid=tvshow.tvshowid %}" class="favorite-link" style="color: white;">
                        {% else %}
                        <a href="{% url 'remove_from_tvshow_library' tvshowid=tvshow.tvshowid %}" class="favorite-link">
                        {% endif %}
                            <span class="favorite-link-icon">
                                <i class="fas fa-home" style="color: {% if is_in_library %} #ED3F2F {% endif %}"></i>
                            </span>                            
                        <span class="favorite-link-title" style="color: {% if is_in_library %} #ED3F2F {% endif %}">Seriálotéka</span>
                    </a>

                    <!-- Pokud není v Chci vidět -->
                    {% if not is_in_watchlist %}
                    <a href="{% url 'add_to_tvshow_watchlist' tvshowid=tvshow.tvshowid %}" class="favorite-link" style="color: white;">
                        {% else %}
                        <a href="{% url 'remove_from_tvshow_watchlist' tvshowid=tvshow.tvshowid %}" class="favorite-link">
                        {% endif %}
                            <span class="favorite-link-icon">
                                <i class="fas fa-eye" style="color: {% if is_in_watchlist %} #ED3F2F {% endif %}"></i>
                            </span>  
                        <span class="favorite-link-title" style="color: {% if is_in_watchlist %} #ED3F2F {% endif %}">Chci vidět</span>
                    </a>
                </div>
            {% endif %}
        </div>

        <!-- POPIS SERIÁLU -->
        <div style="width: 100%; margin-bottom: 1rem;">
            <p id="biography-text">
                {% if tvshow.description %}
                    {{ tvshow.description|safe }} 
                    <p><a id="toggle-biography">Více...</a></p>   
                {% else %}
                    Zatím žádný popis    
                {% endif %}
            </p>
        </div>
        
        <div class="card">
            <div class="card-body">
                <h3 class="after-h3">Sezóny</h3>
                <div class="seasons-list">
                    {% if content_season_page %}
                        {% for season in content_season_page.object_list %}
                            <div style="margin-bottom:10px">
                                {% if season.img == "noimg.png" %}
                                        <img src="/static/img/movie/w200/nomovie.jpg" alt="{{ season.titlecz }}" class="img-fluid" style="object-fit:cover; max-width:50px; float:left; margin:0 15px 5px 0">
                                    {% else %}
                                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ season.img }}" alt="{{ season.titlecz }}" class="img-fluid" style="object-fit:cover; max-width:50px;float:left; margin:0 15px 5px 0">
                                {% endif %}
                        
                                <a href="{% url 'serie_season' tv_url=tvshow.url seasonurl=season.seasonurl %}">{{ season.seasonnumber }}. {{ season.titlecz }}</a>
        
                                <p>Počet epizod: {{ season.seasonepisode }}</p>
                                <p>Premiéra: {{ season.premieredate|date:"j. n. Y" }}</p>
                            </div>
                        {% endfor %}
                        {% else %}
                        <p>Žádné sezóny nejsou dostupné.</p>
                    {% endif %}

                {% for season in seasons %}
                    <div style="margin-bottom:10px">
                        {% if season.img == "noimg.png" %}
                            <img src="/static/img/movie/w200/nomovie.jpg" alt="{{ season.titlecz }}" class="img-fluid" style="object-fit:cover; max-width:50px;float:left; margin:0 15px 5px 0">
                            {% else %}
                            <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ season.img }}" alt="{{ season.titlecz }}" class="img-fluid" style="object-fit: cover;max-width: 50px;float:left;margin:0 15px 5px 0">
                        {% endif %}
                        
                        <a href="{% url 'serie_season' tv_url=tvshow.url seasonurl=season.seasonurl %}">{{ season.seasonnumber }}. {{ season.titlecz }}</a>

                        <p>Počet epizod: {{ season.seasonepisode }}</p>
                        <p>Premiéra: {{ season.premieredate|date:"j. n. Y" }}</p>
                    </div>
                    {% empty %}
                    <p>Žádné sezóny nejsou dostupné.</p>
                {% endfor %}
                </div>

                <hr> 

                <!-- PAGINÁTOR -->
                <div class="pagination">
                    <span class="step-links">
                    {% if content_season_page.has_previous %}
                        <a class="first-page" href="?content_page=1">&laquo; První</a>
                        <a href="?content_page={{ content_season_page.previous_page_number }}">Předchozí</a>
                    {% endif %}

                    <span class="current-page">
                        {{ content_season_page.number }} / {{ content_season_page.paginator.num_pages }}
                    </span>

                    {% if content_season_page.has_next %}
                        <a href="?content_page={{ content_season_page.next_page_number }}">Další</a>
                        <a class="last-page" href="?content_page={{ content_season_page.paginator.num_pages }}">Poslední &raquo;</a>
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>

        <!-- Karty -->
        <div class="tab-container" style="font-size:12px">
            <ul class="tab-links">
                <li class="karta"><a href="#tab1" class="active">Recenze</a></li>
                <li class="karta"><a href="#tab2">Hrají</a></li>
                <li class="karta"><a href="#tab3">Zajímavosti</a></li>
                <li class="karta"><a href="#tab4">Trailer</a></li>
                <li class="karta"><a href="#tab5">Hlášky</a></li>
                <!--<li class="karta"><a href="#tab6">Lokality</a></li>-->
            </ul>
    
            <!-- RECENZE -->
            <div id="tab1" class="tab-list active">
                <div class="">    
                    <h3 class="after-h3">Recenze</h3> 
                    {% if user.is_authenticated %}
                    <h4>Přidat novou recenzi</h4>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ comment_form.comment }}
                        <button type="submit" class="btn add-movie">Vložit recenzi</button>
                    </form>
                    {% else %}
                    <p>Pro komentování je nutné být <a href="/prihlaseni/">přihlášený</a>.<br>
                    Nemáš účet? Nevadí, <a href="/registrace/">rychlá registrace!</a></p>
                    {% endif %}

                    <!-- Výpis recenzí -->
                    <ul class="list-unstyled komentar">
                        {% for comment in comments %}
                        <li class="card-body">
                            <p class="after">{{ comment.comment }}</p>
                            <div class="user">
                                <p>{{ comment.dateadded }}</p>
                                <p>Přidal:
                                    <a href="{% url 'user_profile_with_profil' comment.user.pk %}">
                                        {{ comment.user }}
                                    </a>
                                </p>
                            </div>

                            <!-- drobečky -->
                            <div style="margin-top: .25rem; padding: 0 10px;">
                            {% if comment.tvepisode %}
                                <a href="{% url 'serie_detail' tv_url=comment.tvshowkid.url %}">
                                {{ comment.tvshowkid.titlecz|default:comment.tvshowkid.title }}
                                </a>
                                &raquo; <a href="{% url 'serie_season' tv_url=comment.tvshowkid.url seasonurl=comment.tvseason.seasonurl %}">
                                    {{ comment.tvseason.seasonnumber }}. {{ comment.tvseason.titlecz|default:comment.tvseason.title|default:"Sezóna " }}
                                </a>
                                &raquo; <a href="{% url 'serie_episode' tv_url=comment.tvshowkid.url seasonurl=comment.tvseason.seasonurl episodeurl=comment.tvepisode.episodeurl %}">
                                    {{ comment.tvepisode.titlecz|default:comment.tvepisode.title }}
                                </a>
                                {% elif comment.tvseason %}
                                <a href="{% url 'serie_detail' tv_url=comment.tvshowkid.url %}">{{ comment.tvshowkid.title }}</a>
                                &raquo; <a href="{% url 'serie_season' tv_url=comment.tvshowkid.url seasonurl=comment.tvseason.seasonurl %}">
                                    {{ comment.tvseason.seasonnumber }}. {{ comment.tvseason.titlecz|default:comment.tvseason.title|default:"Sezóna " }}
                                </a>
                                {% else %}
                                <a href="{% url 'serie_detail' tv_url=comment.tvshowkid.url %}">{{ comment.tvshowkid.titlecz }}</a>
                            {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- HRAJÍ -->
            <div id="tab2" class="tab-list">
                <h3 class="after-h3">Informace o postavách seriálu</h3>
                <div class="actors">
                {% if actors_and_characters %}
                    {% for actor in actors_and_characters %}
                    <div class="after line">
                        <div class="postava">
                        {% if actor.peopleid.img and actor.peopleid.img != "noimg.png" %}
                            <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ actor.peopleid.img }}" 
                                alt="{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}" 
                                class="img-fluid">
                            {% else %}
                            <img src="/static/img/creator/noperson.svg" 
                                alt="{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}" 
                                class="img-fluid">
                            {% endif %}

                            <div class="postava-detail">
                            {% if actor.characterid %}
                                <h4 style="width: 100%"><a href="/tvurce/{{ actor.peopleid.url }}">{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}</a></h4>
                                {% if actor.characterid.characterbio %}
                                <a href="/postava/{{ actor.characterid.characterurl }}" class="character-link">
                                    {{ actor.characterid.characternamecz|default:actor.characterid.charactername }}
                                </a>
                                    {% elif actor.characterid.characternamecz %}
                                        {{ actor.characterid.characternamecz }}
                                    {% elif actor.characterid.charactername %}
                                        {{ actor.characterid.charactername }}
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>

            <!-- ZAJÍMAVOSTI -->
            <div id="tab3" class="tab-list">
                <h3 class="after-h3">Zajímavosti ze seriálu</h3>

                {% if user.is_authenticated %}
                <h4>Přidat novou zajímavost</h4>
                <form method="post">
                    {% csrf_token %}
                    <textarea name="trivia_text" rows="3" placeholder="Zadejte zajímavost" required></textarea>
                    <button type="submit" class="btn add-movie">Vložit zajímavost</button>
                </form>
                {% endif %}

                <!-- výpis zajímavostí -->
                <ul class="list-unstyled komentar">
                {% for item in trivia %}
                    <li class="card-body">
                        <p class="after">{{ item.trivia|safe }}</p>
                        <div class="user" style="justify-content: end;">
                            <p>Přidal: 
                            {% if item.userid %}
                                <a href="{% url 'user_profile_with_profil' item.userid.id %}">{{ item.userid.username }}</a>
                                {% else %}
                                Anonym
                            {% endif %}
                            </p>
                        </div>

                        <!-- drobečky -->
                        <div style="margin-top: .25rem; padding: 0 10px;">
                        {% if item.episodeid %}
                            <a href="{% url 'serie_detail' tv_url=item.tvshowid.url %}">
                                {{ item.tvshowid.titlecz|default:item.tvshowid.title }}
                            </a>
                            &raquo; <a href="{% url 'serie_season' tv_url=item.tvshowid.url seasonurl=item.seasonid.seasonurl %}">
                                {{ item.seasonid.seasonnumber }}. {{ item.seasonid.titlecz|default:item.seasonid.title|default:"Sezóna" }}
                            </a>
                            &raquo; <a href="{% url 'serie_episode' tv_url=item.tvshowid.url seasonurl=item.seasonid.seasonurl episodeurl=item.episodeid.episodeurl %}">
                                {{ item.episodeid.titlecz|default:item.episodeid.title }}
                            </a>
                            {% elif item.seasonid %}
                            <a href="{% url 'serie_detail' tv_url=item.tvshowid.url %}">
                                {{ item.tvshowid.titlecz|default:item.tvshowid.title }}
                            </a>
                            &raquo; <a href="{% url 'serie_season' tv_url=item.tvshowid.url seasonurl=item.seasonid.seasonurl %}">
                                {{ item.seasonid.seasonnumber }}. {{ item.seasonid.titlecz|default:item.seasonid.title|default:"Sezóna" }}
                            </a>
                            {% else %}
                            <a href="{% url 'serie_detail' tv_url=item.tvshowid.url %}">
                                {{ item.tvshowid.titlecz|default:item.tvshowid.title }}
                            </a>
                        {% endif %}
                        </div>

                    </li>
                {% endfor %}
                </ul>
            </div>

            <!-- TRAILER -->
            <div id="tab4" class="tab-list">
                <h3 class="after-h3">Trailer</h3>
                {% if tvshow_trailer %}
                    <iframe style="width:100%; height:300px" src="https://www.youtube.com/embed/{{ tvshow_trailer.youtubeurl }}" frameborder="0" allowfullscreen></iframe>
                    {% else %}
                    
                    {% if user.is_authenticated %}
                        <h4>Přidat trailer</h4>
                        <form method="post">
                            {% csrf_token %}
                            {{ trailer_form.as_p }}

                            {% if user.is_staff %}
                                <button type="submit" class="btn add-movie">Přidat trailer (Jen YoutubeID: dGzY9zp46KI)</button>
                                {% else %}
                                <p style="color: #6c757d; font-size: 0.875rem; line-height: 1.25rem;">
                                    Chcete přidávat videa? <a href="https://div.cz/forum/obecne/editori" target="_blank">Požádejte o oprávnění</a>.
                                </p>
                            {% endif %}
                        </form>
                    {% endif %}
                {% endif %}
            </div>

            <!-- HLÁŠKY -->
            <div id="tab5" class="tab-list">
                <h3 class="after-h3">Známé hlášky ze seriálu</h3>
                <!-- přidat hlášku -->
                {% if user.is_authenticated %}
                    <h4>Přidat novou hlášku</h4>
                    <form method="post">
                        {% csrf_token %}
                        <textarea name="quote_text" rows="3" required></textarea>
                        <button type="submit" class="btn add-movie">Vložit hlášku</button>
                    </form>
                {% endif %}

                <!-- výpis hlášek -->
                <ul class="list-unstyled komentar">
                {% for quote in quotes %}
                    <li class="card-body">
                        <p class="after">{{ quote.quote }}</p>
                        <div class="user" style="justify-content: end;">
                            <p>Přidal:
                            {% if quote.user %}
                                <a href="{% url 'user_profile_with_profil' user_id=quote.user.id %}">{{ quote.user.username|default:"Anonym" }}
                                </a>
                            {% endif %}
                            </p>

                            <!-- Hodnocení -->
                            <div class="rating-buttons">
                                <button class="thumb-btn" data-action="thumbsup" style="background:none;border:none;cursor:pointer;">
                                    &#x1F44D; <span>{{ quote.thumbsup|default:0 }}</span>
                                </button>
                                <button class="thumb-btn" data-action="thumbsdown" style="background:none;border:none;cursor:pointer;">
                                    &#x1F44E; <span>{{ quote.thumbsdown|default:0 }}</span>
                                </button>
                                <div class="star-display" style="display:inline-block;">
                                    &#x2B50; <span>{{ quote.divrating|default:0 }}</span>
                                </div>
                            </div>
                            
                        </div>
                    </li>
                {% endfor %}
                </ul>


            </div>

            <!--<div id="tab6" class="tab-list">
                <h3>Lokality</h3>
                <p>Informace o natáčecích lokalitách.</p>
            </div>-->
        </div>

    </div>

    <!-- Pravá strana -->
    <div class="right-side">

        <!-- Hodnocení na desktop -->
        <div class="card sm-hidden">
            <div class="card-body">
                <h3 style="text-align: center;" class="after">Hodnocení</h3>
                <div class="hodnoceni">
                    <div class="rating" data-rating="{{ average_rating }}">
                        <div class="rating-inner">
                            {{ average_rating }}%
                        </div>
                    </div>

                    <div class="hvezdicky after">
                        {% ratings tvshow %}
                        {% if user.is_authenticated %}
                        {% else %}
                        <p>Pro hodnocení je třeba se <a href="/prihlaseni/">Přihlásit!</a></p>
                        {% endif %}
                    </div>
        
                    <div id="rating-thankyou2" class="alert" style="display: none;">
                        Děkujeme za hodnocení!
                    </div>
        
                    <!-- Výpis hodnotitelů a jejich hodnocení -->
                    {% if ratings %}
                        <ul class="list-unstyled rating-users">
                            {% for rating in ratings %}
                                <li class="after">
                                    <small><p style="text-align: center; padding: .25rem;">Hodnoceno: {{ rating.modified|date:"j. n. Y" }} </p></small>
                                    <a href="{% url 'user_profile_with_profil' user_id=rating.user.id %}">{{ rating.user.username }}</a>
                                    <span>
                                        {% for _ in "12345" %}
                                            {% if forloop.counter <= rating.score %}
                                                <span>★</span>
                                            {% else %}
                                                ☆
                                            {% endif %}
                                        {% endfor %}
                                    </span>

                                    <!-- Zobrazí tlačítko jen u vlastního hodnocení -->
                                    {% if rating.user == request.user %}
                                        <form method="post" action="">
                                            {% csrf_token %}
                                            <button type="submit" class="btn add-movie">
                                                <i class="fa-solid fa-trash-can"></i>
                                                Smazat hodnocení
                                            </button>
                                        </form>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if request.user.is_superuser %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Přidat na hlavní stranu</h3>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="add_to_metaindex" class="btn add-movie">
                    Přidat na hlavní stránku
                    </button>
                </form>
            </div>
        </div>
        {% endif %}

        {% if request.user.is_superuser or request.user.is_staff %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Upravit DIV Rating</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ tvshow_div_rating_form.as_p }}
                    <button type="submit" name="update_divrating" class="btn add-movie">Uložit</button>
                </form>
            </div>
        </div>
        {% endif %}

        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">Sezóny</h3>
                <div class="flex flex-wrap">
                    {% if serie_page %}
                        {% for season in serie_page.object_list %}
                        <a href="{% url 'serie_season' tv_url=tvshow.url seasonurl=season.seasonurl %}" style="width: 100%">
                            {{ season.seasonnumber }}. {{ season.titlecz }}
                        </a>
                        {% endfor %}
                    {% else %}
                        <p>Žádné sezóny nejsou dostupné.</p>
                    {% endif %}
                <!-- {% for season in seasons %}
                    <a href="{% url 'serie_season' tv_url=tvshow.url seasonurl=season.seasonurl %}" style="width: 100%">{{ season.seasonnumber }}. {{ season.titlecz }}</a>
                {% empty %}
                    <p>Žádné sezóny nejsou dostupné.</p>
                {% endfor %} -->
                </div>

                <hr> 

                <!-- PAGINÁTOR -->
                <div class="pagination">
                    <span class="step-links">
                    {% if serie_page.has_previous %}
                        <a class="first-page" href="?page=1">&laquo; První</a>
                        <a href="?page={{ serie_page.previous_page_number }}">Předchozí</a>
                    {% endif %}

                        <span class="current-page">
                            {{ serie_page.number }} / {{ serie_page.paginator.num_pages }}
                        </span>

                    {% if serie_page.has_next %}
                        <a href="?page={{ serie_page.next_page_number }}">Další</a>
                        <a class="last-page" href="?page={{ serie_page.paginator.num_pages }}">Poslední &raquo;</a>
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">{{ tvshow.titlecz }}</h3>
                <p style="width: 100%;">Sdílet na:</p>

                <!-- Facebook Share Button -->
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://div.cz/film/{{ tvshow.url }}" class="btn btn-facebook" style="color: white;" target="_blank" title="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter Share Button -->
                <a href="https://twitter.com/intent/tweet?url=https://div.cz/film/{{ tvshow.url }}&text={{ tvshow.titlecz }}" class="btn btn-twitter" style="color: white;" target="_blank" title="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- E-mail Share Button -->
                <a href="mailto:?subject={{ tvshow.titlecz }}&body=Podívej se na https://div.cz/film/{{ tvshow.url }}" class="btn btn-email" style="color: white;" title="E-mail">
                    <i class="fas fa-envelope"></i>
                </a>

                <!-- WhatsApp Share Button -->
                <a href="https://wa.me/?text={{ tvshow.titlecz }} - https://div.cz/film/{{ tvshow.url }}" class="btn btn-whatsapp" target="_blank" style="color: white;" title="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>

        <!-- Tags -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">Tagy</h3>
                <div class="tags">
                    <span class="tag-detail label"> 
                        <a href=""></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}

