{% extends "series/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}{{ tvshow.titlecz }} ({{ tvshow.premieredate|date:"Y"|default:"?" }} - {{ tvshow.enddate|date:"Y"|default:"?" }}) | DIV.cz{% endblock %}

{% block content %}

<style>
   
</style>

<div class="container">
    <!-- LEVÁ STRANA -->
    <div class="left-side">
        <h2><a href="{% url 'serie_detail' tv_url=tvshow.url %}">{{ tvshow.titlecz }}</a> - <a href="../../{{ season.seasonurl }}/">{{ season.seasonnumber }}. {{ season.titlecz }}</a></h2>
        <div class="title-arrow">
            <h2><!--{{ episode.episodenumber }}. díl -->{{ episode.episodenumber }}. {{ episode.titlecz|default:episode.title }}</h2>

            <div class="postava">
                {% if previous_episode %}
                    <a class="arrow-prev" title="Předchozí epizoda" style="text-decoration: none;" href="{% url 'serie_episode' tv_url=tvshow.url seasonurl=season.seasonurl episodeurl=previous_episode.episodeurl %}">
                    </a>
                    {% else %}
                    <span class="arrow-prev disabled" title="Předchozí epizoda nedostupná" style="cursor: not-allowed;">
                    </span>
                {% endif %}
            
                {% if next_episode %}
                    <a class="arrow-next" title="Další epizoda" style="text-decoration: none; margin-left: .5rem; " href="{% url 'serie_episode' tv_url=tvshow.url seasonurl=season.seasonurl episodeurl=next_episode.episodeurl %}">
                    </a>
                    {% else %}
                    <span class="arrow-next disabled" title="Další epizoda nedostupná" style="cursor: not-allowed; margin-left: .5rem; ">
                    </span>
                {% endif %}
            </div>
    
        </div>

        <!-- Info Bar -->
        <div class="info-bar">
            <span>{{ tvshow.premieredate|date:"Y"|default:"?" }}</span>&nbsp;|&nbsp;
            <span>
                {% if countries %}
                    {% for country in countries %}
                        {{ country.countryid.countrynamecz }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </span>

            {% if tvshow.duration != 0 %}
                &nbsp;|&nbsp;
                <span> {% if episode.runtime == "None" %} {% else %}{{ episode.runtime }} minut{% endif %}</span> 
            {% endif %}
        </div>

        <div class="box-info">
            <div class="box-body">
                <div class="box-img">
                    {% if episode.episodeimg == "noimg.png" %}
                        <img src="/static/img/movie/w200/nomovie.jpg" alt="{{ episode.titlecz }}" class="img-fluid">
                        {% else %}
                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ episode.episodeimg }}" alt="{{ episode.titlecz }}" class="img-fluid">
                    {% endif %}
            
                    <!-- HODNOCENÍ NA MOBIL -->
                    <div class="box-info-rating">
                        <div class="rating" data-rating="{{ average_rating }}">
                            <div class="rating-inner">
                                {{ average_rating }}%
                            </div>
                        </div>

                        <div class="rating-stars" style="white-space: nowrap;">
                            <div class="smaller-stars">{% ratings episode %}</div>
                            <div id="rating-thankyou" class="alert" style="display: none;">
                                Děkujeme za hodnocení!
                            </div>
                        </div>

                        <button class="rating-popup-btn btn add-movie" style="margin: 0 auto;">Hodnocení epizody</button>
                    </div>

                    <!-- POPUP – VÝPIS HODNOCENÍ PRO EPIZODU -->
                    <div id="ratingPopup" class="popup-overlay">
                        <div class="popup-window">
                            <span class="popup-close">&times;</span>
                            <h3>Hodnocení epizody</h3>
                            {% if ratings %}
                                <ul class="sm-rating-users">
                                    {% for rating in ratings %}
                                        <li>
                                            <small>
                                                <p style="text-align:center; padding:.25rem;">
                                                    Hodnoceno: {{ rating.modified|date:"j. n. Y" }}
                                                </p>
                                            </small>

                                            <div>
                                                <a href="{% url 'user_profile_with_profil' user_id=rating.user.id %}">
                                                    {{ rating.user.username }}
                                                </a>

                                                <span>
                                                    {% for _ in "12345" %}
                                                        {% if forloop.counter <= rating.score %}
                                                            <span>★</span>
                                                        {% else %}
                                                            ☆
                                                        {% endif %}
                                                    {% endfor %}
                                                </span>

                                                {% if rating.user == request.user %}
                                                    <form method="post" action="">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn">
                                                            <i class="fa-solid fa-trash-can" title="smazat hodnocení" style="color:#A52B21; margin-right:0;"></i>
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="box-detail">
                    <div class="box-info-rating">
                        <div class="rating" data-rating="{{ average_rating }}">
                            <div class="rating-inner">
                                {{ average_rating }}%
                            </div>
                        </div>

                        <div class="rating-stars" style="white-space: nowrap;"><!--&nbsp;|&nbsp;-->
                            <div class="smaller-stars">{% ratings episode %}</div>
                            <div id="rating-thankyou" class="alert" style="display: none;">Děkujeme za hodnocení!</div>
                        </div>
                    </div>

                    <ul class="list-unstyled" style="margin-top: 0;">
                        <li><strong>Originální název:</strong> {{ episode.title }}</li>
                        {% if genres %}
                            <li><strong>Žánr:</strong>
                                {% for genre in genres %}
                                    {{ genre.genreid.genrenamecz }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                        {% endif %}

                        {% if productions %}
                            <li><strong>Produkce:</strong>
                                {% for production in productions %}
                                    {{ production.metaproductionid.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                            {% else %}
                        {% endif %}

                        <li><strong>Premiéra:</strong> {{ episode.airdate|date:"d.m.Y"|default:"Datum premiéry není dostupné" }}</li>
                        
                        {% if directors %}
                            <li><strong>Režie:</strong>
                                {% for director in directors %}
                                    <a href="/tvurce/{{ director.peopleid.url }}">{{ director.peopleid.firstname }} {{ director.peopleid.lastname }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                        {% endif %}

                        {% if actors_and_characters2 %}
                            <li><strong>Hrají:</strong>
                                {% for actor in actors_and_characters2 %}
                                    {% if not forloop.last %}
                                        <a href="/tvurce/{{ actor.peopleid.url }}">{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}</a>, 
                                        {% else %}
                                        <a href="/tvurce/{{ actor.peopleid.url }}">{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}</a>
                                    {% endif %}
                                {% endfor %}
                                , <a href="#tab2" id="go-to-characters">další...</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <!-- Tlačítka -->
            {% if user.is_authenticated %}
                <div class="favorite-menu">

                    <!-- Pokud není v Oblíbené -->
                    {% if not is_in_favourites %}
                    <a href="{% url 'add_to_favourite_tvepisodes' tv_url=tvshow.url seasonurl=season.seasonurl tvepisodeid=episode.episodeid %}" class="favorite-link" style="color: white;">
                        {% else %}
                        <a href="{% url 'remove_from_favourite_tvepisodes' tv_url=tvshow.url seasonurl=season.seasonurl tvepisodeid=episode.episodeid %}" class="favorite-link">
                        {% endif %}
                            <span class="favorite-link-icon">
                                <i class="fas fa-heart" style="color: {% if is_in_favourites %} #ED3F2F {% endif %}"></i>
                            </span>
                            <span class="favorite-link-title" style="color: {% if is_in_favourites %} #ED3F2F {% endif %}">Oblíbené</span>
                        </a>
                    
                    <!-- Pokud není v Seriálnuto -->
                    {% if not is_in_watched %}
                    <a href="{% url 'add_to_watched_tvepisode' tv_url=tvshow.url seasonurl=season.seasonurl tvepisodeid=episode.episodeid %}" class="favorite-link" style="color: white;">
                        {% else %}
                        <a href="{% url 'remove_from_watched_tvepisodes' tv_url=tvshow.url seasonurl=season.seasonurl tvepisodeid=episode.episodeid %}" class="favorite-link">
                        {% endif %}
                            <span class="favorite-link-icon">
                                <i class="fas fa-film" style="color: {% if is_in_watched %} #ED3F2F {% endif %}"></i>
                            </span>
                            <span class="favorite-link-title" style="color: {% if is_in_watched %} #ED3F2F {% endif %}">Seriálnuto</span>
                        </a>

                    <!-- Pokud není v Chci vidět -->
                    {% if not is_in_watchlist %}
                    <a href="{% url 'add_to_tvepisode_watchlist' tv_url=tvshow.url seasonurl=season.seasonurl tvepisodeid=episode.episodeid %}" class="favorite-link" style="color: white;">
                        {% else %}
                        <a href="{% url 'remove_from_tvepisode_watchlist' tv_url=tvshow.url seasonurl=season.seasonurl tvepisodeid=episode.episodeid %}" class="favorite-link">
                        {% endif %}
                            <span class="favorite-link-icon">
                                <i class="fas fa-eye" style="color: {% if is_in_watchlist %} #ED3F2F {% endif %}"></i>
                            </span>  
                            <span class="favorite-link-title" style="color: {% if is_in_watchlist %} #ED3F2F {% endif %}">Chci vidět</span>
                        </a>
                </div>
            {% endif %}
        </div>

        <!-- POPIS EPISODY -->
        <div style="width: 100%; margin-bottom: 1rem;">
            <p id="biography-text">
                {% if episode.description %}
                    {{ episode.description|safe }} 
                    <p><a id="toggle-biography">Více...</a></p>  

                    {% else %}
                    Zatím žádný popis    
                {% endif %}
            </p>
        </div>

        <!-- Karty -->
        <div class="tab-container" style="font-size:12px">
            <ul class="tab-links">
                <li class="karta"><a href="#tab1" class="active">Recenze</a></li>
                <li class="karta"><a href="#tab2">Hrají</a></li>
                <li class="karta"><a href="#tab3">Zajímavosti</a></li>
                <li class="karta"><a href="#tab4">Hlášky</a></li>
                <li class="karta"><a href="#tab5">Chyby</a></li>
                <li class="karta"><a href="#tab6">Lokality</a></li>
                <li class="karta"><a href="#tab7">Soundtrack</a></li>
            </ul>
    
            <!-- RECENZE -->
            <div id="tab1" class="tab-list active">
                <h3 class="card-title after-h3">Recenze</h3>

                {% if not user.is_authenticated %}
                    <p>
                        Pro komentování je nutné být
                        <a href="/prihlaseni/">přihlášený</a>.<br>
                        Nemáš účet? <a href="/registrace/">Rychlá registrace!</a>
                    </p>
                {% endif %}

                <!-- VÝPIS RECENZÍ -->
                <ul class="list-unstyled komentar" style="margin-top: 20px;">
                    {% for comment in comments %}
                        <li class="card-body">
                            <!-- TEXT RECENZE -->
                            <div class="after my-komentar" id="comment-text-{{ comment.commentid }}">
                                <p style="width: 80%;">{{ comment.comment }}</p>

                                {% if user.is_authenticated and comment.user == user %}
                                    <button type="button"  onclick="toggleEditForm({{ comment.commentid }})">
                                        Upravit
                                    </button>
                                {% endif %}
                            </div>

                            <!-- EDITAČNÍ FORMULÁŘ (SKRYTÝ) -->
                            {% if user.is_authenticated and comment.user == user %}
                                <div id="comment-form-{{ comment.commentid }}" style="display: none; margin-top: 10px; width: 100%;">
                                    <form method="post">
                                        {% csrf_token %}

                                        <textarea name="comment" rows="4" style="height: 100%;" class="form-control">{{ comment.comment }}</textarea>

                                        <div style="margin-top: 10px;">
                                            <button type="submit" class="btn add-movie">
                                                Uložit změny
                                            </button>

                                            <button type="button" class="btn add-movie" onclick="toggleEditForm({{ comment.commentid }})">
                                                Zrušit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            <!-- USER + DATUM -->
                            <div class="user">
                                <p><small>{{ comment.dateadded }}</small></p>
                                <a href="{% url 'user_profile_with_profil' comment.user.pk %}">
                                    {{ comment.user }}
                                </a>
                            </div>

                            <!-- DROBEČKY -->
                            <div style="margin-top: .25rem; padding: 0 10px;">
                                <a href="{% url 'serie_detail' tv_url=comment.tvshowkid.url %}">
                                    {{ comment.tvshowkid.titlecz|default:comment.tvshowkid.title }}
                                </a>
                                &raquo;
                                <a href="{% url 'serie_season'
                                    tv_url=comment.tvshowkid.url
                                    seasonurl=comment.tvseason.seasonurl %}">
                                    {{ comment.tvseason.seasonnumber }}.
                                    {{ comment.tvseason.titlecz|default:comment.tvseason.title }}
                                </a>
                                &raquo;
                                <a href="{% url 'serie_episode'
                                    tv_url=comment.tvshowkid.url
                                    seasonurl=comment.tvseason.seasonurl
                                    episodeurl=comment.tvepisode.episodeurl %}">
                                    {{ comment.tvepisode.titlecz|default:comment.tvepisode.title }}
                                </a>
                            </div>
                        </li>

                        {% empty %}
                        {% if user.is_authenticated %}
                            <p>Zatím žádná recenze. Buď první 🙂</p>
                        {% endif %}
                    {% endfor %}
                </ul>

                <!-- FORMULÁŘ PRO NOVOU RECENZI (jen pokud uživatel JEŠTĚ NEMÁ) -->
                {% if user.is_authenticated and not user_comment %}
                    <div style="margin-top: 25px;">
                        <h4>Přidat recenzi</h4>

                        <form method="post">
                            {% csrf_token %}
                            {{ comment_form.comment }}
                            <button type="submit" class="btn add-movie">
                                Vložit recenzi
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>

            <!-- HRAJÍ -->
            <div id="tab2" class="tab-list">
                <h3 class="card-title after-h3">Informace o postavách seriálu</h3>
                <div class="actors">
                    {% if actors_and_characters %}
                        {% for actor in actors_and_characters %}
                            <div class="after line">
                                <div class="postava">
                                    {% if actor.peopleid.img and actor.peopleid.img != "noimg.png" %}
                                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ actor.peopleid.img }}" alt="{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}" class="img-fluid">
                                        {% else %}
                                        <img src="/static/img/creator/noperson.svg" alt="{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}" class="img-fluid">
                                    {% endif %}

                                    <div class="postava-detail">
                                        {% if actor.characterid %}
                                            <h4 style="width: 100%">
                                                <a href="/tvurce/{{ actor.peopleid.url }}">{{ actor.peopleid.firstname }} {{ actor.peopleid.lastname }}</a>
                                            </h4>
                                            {% if actor.characterid.characterbio %}
                                                <a href="/postava/{{ actor.characterid.characterurl }}" class="character-link">
                                                    {{ actor.characterid.characternamecz|default:actor.characterid.charactername }}
                                                </a>
                                                {% elif actor.characterid.characternamecz %}
                                                    {{ actor.characterid.characternamecz }}
                                                {% elif actor.characterid.charactername %}
                                                    {{ actor.characterid.charactername }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- ZAJÍMAVOSTI -->
            <div id="tab3" class="tab-list">
                <h3 class="card-title after-h3">Zajímavosti k epizodě</h3>

                <!-- přidat zajímavost -->
                {% if user.is_authenticated %}
                    <h4>Přidat novou zajímavost</h4>
                    <form method="post" action="">
                    {% csrf_token %}
                        <textarea name="trivia_text" rows="5" placeholder="Zadejte zajímavost" required></textarea>
                        <button type="submit" class="btn add-movie">Vložit zajímavost</button>
                    </form>
                {% endif %}

                <!-- Výpis zajímavostí -->
                <ul class="list-unstyled komentar">
                    {% for item in trivia %}
                        <li class="card-body">
                            <p class="after">{{ item.trivia }}</p>
                            <div class="user" style="justify-content: end;">
                                <p>Přidal: 
                                    {% if item.userid %}
                                        <a href="{% url 'user_profile_with_profil' item.userid.id %}">{{ item.userid.username }}</a>
                                        {% else %}
                                        Anonym
                                    {% endif %}
                                </p>
                            </div>

                            <!-- drobečky -->
                            <div style="margin-top: .25rem; padding: 0 10px;">
                                {% if item.episodeid %}
                                    <a href="{% url 'serie_detail' tv_url=item.tvshowid.url %}">
                                        {{ item.tvshowid.titlecz|default:item.tvshowid.title }}
                                    </a>
                                    &raquo; <a href="{% url 'serie_season' tv_url=item.tvshowid.url seasonurl=item.seasonid.seasonurl %}">
                                        {{ item.seasonid.seasonnumber }}. {{ item.seasonid.titlecz|default:item.seasonid.title|default:"Sezóna" }}
                                    </a>
                                    &raquo; <a href="{% url 'serie_episode' tv_url=item.tvshowid.url seasonurl=item.seasonid.seasonurl episodeurl=item.episodeid.episodeurl %}">
                                        {{ item.episodeid.titlecz|default:item.episodeid.title }}
                                    </a>
                                    {% elif item.seasonid %}
                                    <a href="{% url 'serie_detail' tv_url=item.tvshowid.url %}">
                                        {{ item.tvshowid.titlecz|default:item.tvshowid.title }}
                                    </a>
                                    &raquo; <a href="{% url 'serie_season' tv_url=item.tvshowid.url seasonurl=item.seasonid.seasonurl %}">
                                        {{ item.seasonid.seasonnumber }}. {{ item.seasonid.titlecz|default:item.seasonid.title|default:"Sezóna" }}
                                    </a>
                                    {% else %}
                                    <a href="{% url 'serie_detail' tv_url=item.tvshowid.url %}">
                                        {{ item.tvshowid.titlecz|default:item.tvshowid.title }}
                                    </a>
                                {% endif %}
                            </div>

                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- HLÁŠKY -->
            <div id="tab4" class="tab-list">
                <h3 class="card-title after-h3">Známé hlášky z filmu</h3>

                <!-- přidat hlášku -->
                {% if user.is_authenticated %}
                    <h4>Přidat novou hlášku</h4>
                    <form method="post">
                        {% csrf_token %}
                        <textarea name="quote_text" rows="5" required></textarea>
                        <button type="submit" class="btn add-movie">Vložit hlášku</button>
                    </form>
                {% endif %}

                <!-- výpis hlášek -->
                <ul class="list-unstyled komentar">
                    {% for quote in quotes %}
                        <li class="card-body">
                            <p class="after">{{ quote.quote }}</p>
                            <div class="user">
                                <p>Přidal:
                                    {% if quote.user %}
                                        <a href="{% url 'user_profile_with_profil' user_id=quote.user.id %}">
                                            {{ quote.user.username|default:"Anonym" }}
                                        </a>
                                    {% endif %}
                                </p>

                                <!-- Hodnocení -->
                                <div class="rating-buttons">
                                    <button class="thumb-btn" data-action="thumbsup" style="background:none;border:none;cursor:pointer;">
                                        &#x1F44D; <span>{{ quote.thumbsup|default:0 }}</span>
                                    </button>
                                    <button class="thumb-btn" data-action="thumbsdown" style="background:none;border:none;cursor:pointer;">
                                        &#x1F44E; <span>{{ quote.thumbsdown|default:0 }}</span>
                                    </button>
                                    <div class="star-display" style="display:inline-block;">
                                        &#x2B50; <span>{{ quote.divrating|default:0 }}</span>
                                    </div>
                                </div>
                                
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                
            </div>

            <!-- CHYBY -->
            <div id="tab5" class="tab-list">
                <h3 class="card-title after-h3">Chyby v seriálu</h3>   

                <!-- Přidat chybu -->
                {% if user.is_authenticated %}
                    <h4>Přidat novou chybu</h4>
                    <form method="post" action="">
                        {% csrf_token %}
                        <textarea name="error_text" rows="5" required></textarea>
                        <button type="submit" class="btn add-movie">Vložit chybu</button>
                    </form>
                {% endif %}

                <!-- Výpis chyb -->
                <ul class="list-unstyled komentar">
                    {% for error in errors %}
                        <li class="card-body">
                            <p class="after">{{ error.error }}</p>
                            <div class="user" style="justify-content: end;">
                                <p>Přidal: 
                                    {% if error.userid %}
                                        <a href="{% url 'user_profile_with_profil' user_id=error.userid.id %}">{{ error.userid.username }}</a>
                                        {% else %}
                                        Anonym
                                    {% endif %}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                
            </div>

            <!-- LOKALITY -->
            <div id="tab6" class="tab-list">
                <h3 class="card-title after-h3">Lokality</h3>
                
            </div>

            <!-- SOUNDTRACK -->
            <div id="tab7" class="tab-list">
                <h3 class="card-title after-h3">Soundtrack</h3>

            </div>
        </div>

    </div>

    <!-- PRAVÁ STRANA -->
    <div class="right-side">

        <!-- Hodnocení na desktop -->
        <div class="card sm-hidden">
            <div class="card-body">
                <h3 style="text-align:center; width: 100%;" class="after">Hodnocení</h3>
                <div class="hodnoceni">
                    <div class="rating" data-rating="{{ average_rating }}">
                        <div class="rating-inner">
                            {{ average_rating }}%
                        </div>
                    </div>

                    <div class="hvezdicky after">
                        {% ratings episode %}  <!-- Zobrazení hvězdného hodnocení -->
                        {% if user.is_authenticated %}
                            {% else %}
                            <p>Pro hodnocení je třeba se <a href="/prihlaseni/">Přihlásit!</a></p>
                        {% endif %}
                    </div>
        
                    <div id="rating-thankyou2" class="alert" style="display: none;">
                        Děkujeme za hodnocení!
                    </div>
        
                    <!-- Výpis hodnotitelů a jejich hodnocení -->
                    {% if ratings %}
                        <ul class="list-unstyled rating-users">
                            {% for rating in ratings %}
                                <li>
                                    <small><p style="text-align: center; padding: .25rem;">Hodnoceno: {{ rating.modified|date:"j. n. Y" }} </p></small>
                                    <a href="{% url 'user_profile_with_profil' user_id=rating.user.id %}">{{ rating.user.username }}</a>
                                    <span>
                                        {% for _ in "12345" %}
                                            {% if forloop.counter <= rating.score %}
                                                <span>★</span>
                                                {% else %}
                                                ☆
                                            {% endif %}
                                        {% endfor %}
                                    </span>

                                    <!-- Zobrazí tlačítko jen u vlastního hodnocení -->
                                    {% if rating.user == request.user %}
                                        <form method="post" action="">
                                            {% csrf_token %}
                                            <button type="submit" class="btn add-movie">
                                                <i class="fa-solid fa-trash-can"></i>
                                                Smazat hodnocení
                                            </button>
                                        </form>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">Sezóny</h3>
                <div class="flex flex-wrap">
                    {% for season in seasons %}
                        <a href="{% url 'serie_season' tv_url=tvshow.url seasonurl=season.seasonurl %}" style="width: 100%">
                            {{ season.seasonnumber }}. {{ season.titlecz }}
                        </a>

                        {% empty %}
                        <p>Žádné sezóny nejsou dostupné.</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- SDÍLET NA SÍTÍCH -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">&#128279; Sdílet na</h3>
                <!-- Facebook Share Button -->
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://div.cz/film/{{ tvshow.url }}" class="btn btn-facebook" style="color: white;" target="_blank" title="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter Share Button -->
                <a href="https://twitter.com/intent/tweet?url=https://div.cz/film/{{ tvshow.url }}&text={{ tvshow.titlecz }}" class="btn btn-twitter" style="color: white;" target="_blank" title="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- E-mail Share Button -->
                <a href="mailto:?subject={{ tvshow.titlecz }}&body=Podívej se na https://div.cz/film/{{ tvshow.url }}" class="btn btn-email" style="color: white;" title="E-mail">
                    <i class="fas fa-envelope"></i>
                </a>

                <!-- WhatsApp Share Button -->
                <a href="https://wa.me/?text={{ tvshow.titlecz }} - https://div.cz/film/{{ tvshow.url }}" class="btn btn-whatsapp" style="color: white;" target="_blank" title="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>

        <!-- Tags -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">&#127991;&#65039; Tagy</h3>
                <div class="tags">

                    <span class="tag-detail label">
                        <a href=""></a>
                    </span>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- více, méně - zobrazit celý bio -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const bioElement = document.getElementById("biography-text");
        const toggleButton = document.getElementById("toggle-biography");

        const fullText = bioElement.innerText; // Store the full biography text
        const truncatedText = fullText.substring(0, 500); // First 500 characters

        // Check if text needs truncation
        if (fullText.length > 500) {
            bioElement.innerText = truncatedText + "...";
        } else {
            toggleButton.style.display = "none"; // Hide button if no truncation needed
        }

        // Toggle functionality
        toggleButton.addEventListener("click", function () {
            if (bioElement.innerText === truncatedText + "...") {
                bioElement.innerText = fullText; // Show full text
                toggleButton.innerText = "...Méně"; // Update button text
            } else {
                bioElement.innerText = truncatedText + "..."; // Show truncated text
                toggleButton.innerText = "Více..."; // Update button text
            }
        });
    });
</script>

{% endblock %}

