<!DOCTYPE html>
<html lang="cs">
<head>

    {% include "inc/head.html" %}


<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>




<title>DIV.cz | 404</title>


<style>
.card2 {
    height: 350px;
}

</style>

    {% include "inc/google.html" %}

</head>
<body>

    {% include "inc/navbar.html" %}


<main class="mb-5">


    </div>
</div>




<section class="container my-4">
    <div class="row">
        <!-- Hlavní sekce -->
        <div class="col-lg-8">
            <!-- Sekce filmù -->
            <h2 class="mb-4">404 NENALEZENO</h2>






                    </div>
                </div></a>
            </div>
            
            
            <!-- Sekce nejnovìjších uživatelských komentáøù k filmùm -->

 
        </div>






                <!-- Boèní panel pro pøihlášení a informace o vývoji -->
                <div class="col-lg-4">
                    <!-- Sekce pøihlášení uživatele -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Pøihlášení uživatele</h5>
{% if user.is_authenticated %}
    <h4>{{ user.username }}! </h4>
    <p>Vítejte, {{ user.username }}! <a href="{% url 'logout' %}">Odhlásit se</a></p>
{% else %}
    <h4>Pøihlášení</h4>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }}
        <button type="submit" class="btn btn-primary">Pøihlásit se</button>
    </form>
    <div class="mt-3">
        <p>Nemáte úèet? <a href="{% url 'signup' %}">Registrace</a></p>
    </div>
{% endif %}
                        </div>
                    </div>



                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Newsletter</h5>
<p><script src="https://front.boldem.cz/boldem.js?uc=556801&wg=23372300-2592-4134-bfdb-413c5e8794ad&sc=0" type="text/javascript"></script></p>
                        </div>
                    </div>



                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">O èem to je:</h5>
<p>Vítejte na DIV.cz, unikátním místì, kde se propojují <strong><span class="white bgred">filmy</span></strong>, <strong><span class="white bggreen">knihy</span></strong> a <strong><span class="white bgblue">hry</span></strong>. Objevujte fascinující svìty, postavy a pøíbìhy napøíè rùznými médii. Pøipojte se k naší komunitì nadšencù a objevujte, diskutujte a sdílejte své zážitky z filmù, knih a her.</p>
                        </div>
                    </div>





        </div><!--/ boèní panel -->
    </div><!-- / row -->
</section>
</main>


{% include "inc/footer.html" %}


<script>

</script>


</body>
</html>
