<!DOCTYPE html>
<html lang="cs">
<head>

    {% include "inc/head.html" %}


<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<title>Filmy | Databáze filmů DIV</title>

<style>
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: 0 auto;
}

.carousel .carousel-inner .carousel-item {
    height: 300px;
    overflow: hidden;
}

.carousel .carousel-inner .carousel-item img {
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}

.table {
    background-color: #333;
    width:100% !important;
}

table {
    width:100% !important;
    border-collapse: collapse;
}

.table thead {
    background-color: #444;
}
.table thead th {
    color: #fff !important;
}

.table tbody tr {
    background-color: #555;
}

.table tbody td {
    color: #ddd;
}
#moviesTable tr:nth-child(even) {
    background-color: #555 ;
}


.table tbody tr:hover {
    background-color: #666 !important;
}

</style>

</head>

<body>

    {% include "inc/navbar_filmy.html" %}


<main class="mb-5">
    <section>
     <!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <!-- další indikátory -->
  </ol>

  <div class="carousel-inner">

        {% for movie in carousel_movies %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="https://www.themoviedb.org/t/p/w1066_and_h600_bestv2/{{ movie.img }}" class="d-block w-100" alt="{{ movie.titlecz }}">
            <div class="carousel-caption text-left text-white p-3">
                <h5><a href="/film/{{ movie.url }}">{{ movie.titlecz }}</a></h5>
                <p>{{ movie.description|truncatewords:10 }}</p>
            </div>
        </div>
        {% endfor %}

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Předchozí</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Další</span>
  </a>
</div>
    </section>


<!-- Sekce odkazů na filmy -->
<div class="container my-4">
    <div class="row">
    <h2 class="mb-4">Seznam filmů</h2>

    <div class="col-lg-8">
    <div class="row mb-3">
        <div class="col-md-4 mb-3">
            <label for="genresFilter">Žánr:</label>
            <select id="genresFilter" class="form-control">
                <option value="">Vše</option>
                <option value="Akční">Akční</option>
                <option value="Animovaný">Animovaný</option>
                <option value="Dobrodružný">Dobrodružný</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Sci-fi">Sci-fi</option>
                <option value="Thriller">Thriller</option>
                <!-- další žánry -->
            </select>
        </div>

<!--
        <div class="col-md-4 mb-3">
            <label for="ratingFilter">Hodnocení:</label>
            <select id="ratingFilter" class="form-control">
                <option value="0">Všechno</option>
                <option value="10">jen 10</option>
                <option value="9">9 a víc</option>
                <option value="8">8 a víc</option>
                <option value="7">7 a víc</option>
            </select>
        </div>-->



    <!-- Tabulka s hrami -->
<div class="w-100">
    <table class="table table-striped hover" id="moviesTable" style="width:100%">
        <thead>
            <tr>
                <th>Rok</th>
                <th>Název</th>
                <th>Žánr</th>
                <th>Hodnocení</th>
                <th>Země</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ukázková data -->
{% for film in filmy %}
    <tr>
        <td><a href="/filmy/{{ film.releaseyear }}">{{ film.releaseyear }}</a></td>
        <td><a href="/film/{{ film.url }}">{{ film.titlecz }}</a></td>

        <!-- Pro žánr budete muset zjistit, jak je přiřadit filmu -->
        <td><a href="/filmy/{{ film.genre }}">{{ film.genre }}</a></td>

        <!-- Hodnocení zatím není dostupné v modelu -->
        <td>8/10</td>

        <!-- Země zatím není dostupná v modelu -->
        <td>USA</td>
    </tr>
{% endfor %}

        </tbody>
    </table>
        </div><!-- / w-100 -->




<!-- Pravé menu (pravý sloupec) -->
            <div class="col-lg-4"> <!-- Start of right menu column -->
                <!-- Hodnocení -->
                <div class="card rounded mb-4"> <!-- Start of Rating card -->
                    <div class="card-body"> <!-- Start of card-body for Rating -->
                        <h4>Hodnocení</h4>
                        <!-- ... (Zbytek kódu sekce Hodnocení) ... -->
                    </div> <!-- End of card-body for Rating -->
                </div> <!-- End of Rating card -->

                <!-- Podobné filmy -->
                <div class="card rounded mb-4 d-none d-lg-block"> <!-- Start of Similar Movies card -->
                    <div class="card-body"> <!-- Start of card-body for Similar Movies -->
                        <h4>Podobné filmy</h4>
                        <!-- ... (Zbytek kódu sekce Podobné filmy) ... -->
                    </div> <!-- End of card-body for Similar Movies -->
                </div> <!-- End of Similar Movies card -->

                <!-- Odkazy -->
                <div class="card rounded mb-4 d-none d-lg-block"> <!-- Start of Links card -->
                    <div class="card-body"> <!-- Start of card-body for Links -->
                        <h4>Odkazy</h4>
                        <!-- ... (Zbytek kódu sekce Odkazy) ... -->
                    </div> <!-- End of card-body for Links -->
                </div> <!-- End of Links card -->

                <!-- Tagy -->
                <div class="card rounded mb-4 d-none d-lg-block"> <!-- Start of Tags card -->
                    <div class="card-body"> <!-- Start of card-body for Tags -->
                        <h4>Tagy</h4>
                        <!-- ... (Zbytek kódu sekce Tagy) ... -->
                    </div> <!-- End of card-body for Tags -->
                </div> <!-- End of Tags card -->
            </div> <!-- End of right menu column -->



        </div><!-- / container -->
    </div><!-- / row-mb-3 -->
</div><!-- / col -->
</main>


{% include "inc/footer_filmy.html" %}


<script>

$(document).ready(function() {
    // Initialize DataTable
    var table = $('#moviesTable').DataTable();

    // Apply the filter
    $('#genresFilter, #ratingFilter').on('change', function() {
        table.draw();
    });

    // Custom filtering function
    $.fn.dataTable.ext.search.push(
        function(settings, data, dataIndex) {
            var genres = $('#genresFilter').val();
            var minRating = $('#ratingFilter').val();

            var rowGenres = data[2]; // Genres is in the second column
            var rowRating = parseInt(data[3].split('/')[0]); // Extract rating from format "X/10"

            if ((genres === "" || genres === rowGenres) && (minRating === "0" || rowRating >= minRating)) {
                return true; // Show row
            }
            return false; // Hide row
        }
    );
});

$('#moviesTable').DataTable({
    "language": {
        "lengthMenu": "Zobrazit _MENU_ záznamů",
        "zeroRecords": "Žádné záznamy nebyly nalezeny",
        "info": "Strana _PAGE_ z _PAGES_",
        "infoEmpty": "Žádné záznamy k dispozici",
        "infoFiltered": "(vyfiltrováno z celkem _MAX_ záznamů)",
        "search": "Hledat:",
        "paginate": {
            "first":      "První",
            "last":       "Poslední",
            "next":       "Další",
            "previous":   "Předchozí"
        },
    },

    "order": [[ 0, "desc" ]],
    "pageLength": 25
});


</script>


</body>
</html>
