<!DOCTYPE html>
<html lang="cs">
<head>

    {% include "inc/head.html" %}


<link rel="apple-touch-icon" href="/static/img/site/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="57x57" href="/static/img/site/apple/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/site/apple/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/img/site/apple/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/site/apple/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/img/site/apple/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/img/site/apple/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/img/site/apple/apple-touch-icon-152x152.png">

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>



<meta name="msapplication-square70x70logo" content="/static/img/site/microsoft/div_70.png">
<meta name="msapplication-square150x150logo" content="/static/img/site/microsoft/div_150.png">
<meta name="msapplication-wide310x150logo" content="/static/img/site/microsoft/div_310x150.png">
<meta name="msapplication-square310x310logo" content="/static/img/site/microsoft/div_310.png">

<meta name="msapplication-TileImage" content="/static/img/site/microsoft/div_152.png">
<meta name="msapplication-TileColor" content="#FFFFFF"> 

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">



<title>DIV.cz | Databáze filmù, her a knih DIV</title>

</head>

<body>

    {% include "inc/navbar.html" %}


<main class="mb-5"><h3 style="color:orange; text-align:center">Nové stránky v pøípravì - <a href="https://div.cz/podpora/">Podpoøte nás na startovaèi!</a></h3>
    <section>
     <!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <!-- další indikátory -->
  </ol>

  <div class="carousel-inner">

        {% for movie in movies_carousel %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="https://www.themoviedb.org/t/p/w1066_and_h600_bestv2/{{ movie.img }}" class="d-block w-100" alt="{{ movie.titlecz }}">
            <div class="carousel-caption text-left text-white p-3">
                <h5><a href="/film/{{ movie.url }}">{{ movie.titlecz }}</a></h5>
                <p>{{ movie.description|truncatewords:10 }}</p>
            </div>
        </div>
        {% endfor %}

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Pøedchozí</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Další</span>
  </a>
</div>
    </section>



<!-- Sekce aktualit -->


<div class="container my-4">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-6 mb-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">
                  Top filmy
                </h5>
                <!--<p class="card-text">
                  Poèet komentáøù: {{ user.comment_count }}
                </p>-->
            <ul>
                <li><a href="https://div.cz/film/obecna-skola">Obecná škola</a></li>
                <li><a href="https://div.cz/film/vesnicko-ma-strediskova">Vesnièko má støedisková</a></li>
                <li><a href="https://div.cz/film/kolja">Kolja</a></li>
                <li><a href="https://div.cz/film/pelisky">Pelíšky</a></li>
                <li><a href="https://div.cz/film/samotari">Samotáøi</a></li>
                <li><a href="https://div.cz/film/pulp-fiction-historky-z-podsveti">Pulp Fiction</a></li>
                <li><a href="https://div.cz/film/forrest-gump">Forrest Gump</a></li>
                <li><a href="https://div.cz/film/pocatek">Inception</a></li>
                <li><a href="https://div.cz/film/matrix">Matrix</a></li>
                <li><a href="https://div.cz/film/gladiator">Gladiátor</a></li>
            </ul>
                </div>
            </div>
        </div>

        <!-- Knihy -->
        <div class="col-md-4 col-sm-6 col-6 mb-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">
                  <span style="color:orange">Aktuality a naše cíle</span>
                </h5>
                <!--<p class="card-text">
                  Poèet komentáøù: {{ user.comment_count }}
                </p>-->
            <ul>
                <li>04/2024 filmy</li>
                <li>06/2024 knižní sekce</li>
                <li>08/2024 herní sekce</li>
                <li>10/2024 postavy</li>
                <li>10/2024 lokality</li>
                <li>Vývoj pro iOS a android</li>
                <li>Program ambasadarù</li>
                <li>Interní fórum</li>
                <li>Uživatelské recenze</li>
                <li>Soutìže a výzvy</li>
            </ul>
                </div>
            </div>
        </div>

        <!-- Hry (Rozdìleno na deskové a elektronické) -->
        <div class="col-md-4 col-sm-6 col-6 mb-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">
                  Statistika 17.3.24
                </h5>
                <!--<p class="card-text">
                  Poèet komentáøù: {{ user.comment_count }}
                </p>-->
            <ul>
                <li>Filmù: 885.070</li>
                <li>Knih: 10.000</li>
                <li>Her: 0</li>
                <li>Hercù: 173.715</li>
                <li>Spisovatelù: 139.089</li>
                <li>Postav: 317.800</li>
                <li>Lokalit: 44</li>
                <li>Zemí: 337</li>
                <li>Uživatelù: 215</li>
                <li>Hodnocení: 322</li>
            </ul>
                </div>
            </div>
        </div>





<!-- Sekce pro filmy, knihy a hry -->
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <h3>Top Filmy</h3>
            <h4>Èeské filmy</h4>
            <ul>
                <li><a href="https://div.cz/film/obecna-skola">Obecná škola</a></li>
                <li><a href="https://div.cz/film/vesnicko-ma-strediskova">Vesnièko má støedisková</a></li>
                <li><a href="https://div.cz/film/kolja">Kolja</a></li>
                <li><a href="https://div.cz/film/pelisky">Pelíšky</a></li>
                <li><a href="https://div.cz/film/samotari">Samotáøi</a></li>
            </ul>
            <h4>Mezinárodní filmy</h4>
            <ul>
                <li><a href="https://div.cz/film/pulp-fiction-historky-z-podsveti">Pulp Fiction</a></li>
                <li><a href="https://div.cz/film/forrest-gump">Forrest Gump</a></li>
                <li><a href="https://div.cz/film/pocatek">Inception</a></li>
                <li><a href="https://div.cz/film/matrix">Matrix</a></li>
                <li><a href="https://div.cz/film/gladiator">Gladiátor</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Top Knihy</h3>
            <h4>Èeské knihy</h4>
            <ul>
                <li>Babièka - Božena Nìmcová</li>
                <li>Osudy dobrého vojáka Švejka - Jaroslav Hašek</li>
                <li>R.U.R. - Karel Èapek</li>
                <li>Valèík na rozlouèenou - Jiøí Suchý</li>
                <li>Smrt krásných srncù - Ota Pavel</li>
            </ul>
            <h4>Ostatní knihy</h4>
            <ul>
                <li>1984 - George Orwell</li>
                <li>Hobit - J.R.R. Tolkien</li>
                <li>Harry Potter - J.K. Rowling</li>
                <li>Alchymista - Paulo Coelho</li>
                <li>Da Vinciho kód - Dan Brown</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Top Hry</h3>
            <h4>Deskové hry</h4>
            <ul>
                <li>Osadníci z Katanu</li>
                <li>Monopoly</li>
                <li>Scrabble</li>
                <li>Risk</li>
                <li>Èlovìèe, nezlob se!</li>
            </ul>
            <h4>Elektronické hry</h4>
            <ul>
                <li>The Witcher 3: Wild Hunt</li>
                <li>Minecraft</li>
                <li>Fortnite</li>
                <li>Grand Theft Auto V</li>
                <li>Elden Ring</li>
            </ul>
        </div>
    </div>
</div>

    </div>
</div>




<!-- Sekce odkazù na filmy -->
<div class="container my-4">
    <h2 class="mb-4">Seznam filmù</h2>

        <div class="row">
        {% for movie in movies_list_6 %}
    <div class="col-md-4 col-sm-6 col-6 mb-3">
        <div class="card">
            <img src="https://www.themoviedb.org/t/p/w1066_and_h600_bestv2/{{ movie.img }}" class="card-img-top" alt="{{ movie.titlecz }}">
            <div class="card-body">
                <h5 class="card-title"><a href="/film/{{ movie.url }}">{{ movie.titlecz }}</a></h5>
                <p class="card-text">{{ movie.description|truncatewords:10 }}</p>
                <a href="/film/{{ movie.url }}" class="btn btn-primary">{{ movie.title }}</a>
            </div>
        </div>
    </div>
        {% endfor %}
        </div>



      <!-- Sekce odkazù na uživatele -->
      <div class="container my-4">
        <h2 class="mb-4">Nejaktivnìjší uživatelé</h2>
        <div class="row">
          {% for user in users_list_4 %}
          <div class="col-md-4 col-sm-6 col-6 mb-3">
            <div class="card">
                <img src="https://div.cz/static/img/creator/noperson.svg" class="card-img-top" alt="{{ user.username }}" style="max-width: 100px; margin: 0 auto; display: block;">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="/uzivatel/{{ user.id }}">{{ user.username }}</a>
                </h5>
                <!--<p class="card-text">
                  Poèet komentáøù: {{ user.comment_count }}
                </p>-->
                <p class="card-text">
                  Poèet hodnocení: {{ user.rating_count }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

<h2 class="mb-4">Výroèí osobností</h2>

<div class="row">
        {% for creator in creators_list_8 %}
    <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-3">
      <div class="card">
        <img src="https://www.themoviedb.org/t/p/w1066_and_h600_bestv2/{{ creator.img }}" class="card-img-top" alt="{{ creator.lastname }}">

        <div class="card-body">
          <h5 class="card-title">{{ creator.firstname }} {{ creator.lastname }}</h5>
          <p class="card-text">
            {% if creator.knownfordepartment == "Acting" %}
            Herec
            {% elif creator.knownfordepartment == "Directing" %}
            Režisér
            {% elif creator.knownfordepartment == "Production" %}
            Producent
            {% elif creator.knownfordepartment == "Writing" %}
            Scénárista
            {% else %}
            Tìžko øíct
            {% endif %} - {{ creator.birthdate|date:"d.m.Y"  }}
            </p>
          <a href="{% url 'creator_detail' creator.url %}" class="btn btn-primary">{{ creator.lastname }}, {{ creator.firstname }}</a>
        </div>
      </div>
    </div>
        {% endfor %}
  </div>

        </div>
    </div>

</main>


{% include "inc/footer_movies.html" %}


<script>

$(document).ready(function() {
    // Initialize DataTable
    var table = $('#moviesTable').DataTable();

    // Apply the filter
    $('#genresFilter, #ratingFilter').on('change', function() {
        table.draw();
    });

    // Custom filtering function
    $.fn.dataTable.ext.search.push(
        function(settings, data, dataIndex) {
            var genres = $('#genresFilter').val();
            var minRating = $('#ratingFilter').val();

            var rowGenres = data[2]; // Genres is in the second column
            var rowRating = parseInt(data[3].split('/')[0]); // Extract rating from format "X/10"

            if ((genres === "" || genres === rowGenres) && (minRating === "0" || rowRating >= minRating)) {
                return true; // Show row
            }
            return false; // Hide row
        }
    );
});

$('#moviesTable').DataTable({
    "language": {
        "lengthMenu": "Zobrazit _MENU_ záznamù",
        "zeroRecords": "Žádné záznamy nebyly nalezeny",
        "info": "Strana _PAGE_ z _PAGES_",
        "infoEmpty": "Žádné záznamy k dispozici",
        "infoFiltered": "(vyfiltrováno z celkem _MAX_ záznamù)",
        "search": "Hledat:",
        "paginate": {
            "first":      "První",
            "last":       "Poslední",
            "next":       "Další",
            "previous":   "Pøedchozí"
        },
    },

    "order": [[ 0, "desc" ]],
    "pageLength": 25
});


</script>


</body>
</html>
