<!DOCTYPE html>
<html lang="cs">
<head>


    {% include "inc/head.html" %}

<title>DIV.cz | Databáze filmů, her a knih DIV</title>

<link href="/static/css/index.css" rel="stylesheet">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="DIV.cz | Databáze filmů, her a knih DIV">
    <meta property="og:description" content="Objevujte a hodnoťte knihy, hry i filmy na DIV.cz. Připojte se k naší komunitě a získejte přístup k obsahu, recenzím a hodnocením.">
    <meta property="og:image" content="https://div.cz/static/img/anim/10-nejlepsich-animovanych-filmu.jpg">
    <meta property="og:url" content="https://div.cz">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="DIV.cz">
    
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="DIV.cz | Databáze filmů, her a knih DIV">
    <meta name="twitter:description" content="Objevujte a hodnoťte filmy, hry a knihy na DIV.cz. Připojte se k naší komunitě a získejte přístup k obsahu, recenzím a hodnocením.">
    <meta name="twitter:image" content="https://div.cz/static/img/anim/10-nejlepsich-animovanych-filmu.jpg">
    <meta name="twitter:site" content="@DIV_cz">
    <meta name="twitter:creator" content="@DIV_cz">


<link rel="apple-touch-icon" href="/static/img/site/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="57x57" href="/static/img/site/apple/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/site/apple/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/img/site/apple/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/site/apple/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/img/site/apple/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/img/site/apple/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/img/site/apple/apple-touch-icon-152x152.png">

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>


<meta name="msapplication-square70x70logo" content="/static/img/site/microsoft/div_70.png">
<meta name="msapplication-square150x150logo" content="/static/img/site/microsoft/div_150.png">
<meta name="msapplication-wide310x150logo" content="/static/img/site/microsoft/div_310x150.png">
<meta name="msapplication-square310x310logo" content="/static/img/site/microsoft/div_310.png">

<meta name="msapplication-TileImage" content="/static/img/site/microsoft/div_152.png">
<meta name="msapplication-TileColor" content="#FFFFFF"> 

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">



<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>


    {% include "inc/google.html" %}


<!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]function(){(w[f].q=w[f].q[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '1043690');
</script>
<!-- End MailerLite Universal -->
</head>


    <body class="bg-[#FFFFFF] text-[#0d0c0f] dark:bg-[#0d0c0f] dark:text-[#F9F9F9] d-flex flex-column min-vh-100">

        {% include "inc/navbar_index.html" %}

        <main class="flex-grow-1 max-w-[1440px] mx-auto">
            <section class="text-[#0d0c0f] dark:text-[#F9F9F9] max-w-[1440px] mx-auto flex flex-col lg:flex-row">
                <aside class="lg:min-w-[200px] max-h-full bg-light dark:bg-[#1A161F]" style="border-right: 1px solid white;">
                    <div class="lg:min-w-[200px] max-h-full" style="border-right: 1px solid white;">
                        <!-- Menu -->
                        <div class="menu-section flex justify-center lg:flex-col lg:justify-normal lg:h-screen lg:block  dark:bg-[#1A161F]">
                            <div class="" style="width: 100%;">
                                <div class="after flex flex-wrap justify-between">
                                <h3 class="ml-8 lg:pt-11 mb-2 font-bold sm:mt-4">Menu</h3>
                                <div class="flex gap-4 mb-2 mr-4 items-end">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 sun cursor-pointer ">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 moon cursor-pointer ">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="mt-4 flex sm:justify-center">
                                <div class="w-full flex flex-col ml-8 items-center">
                                    <div class="flex flex-col w-full">
                                        <div class="sidebar-list">
                                            <a href="/knihy/">Knižní novinky</a>
                                            <a href="/filmy/">Filmové novinky</a>
                                            <a href="/hry/">Herní novinky</a>
                                            <!--<div class="flex items-center">-->
                                                <a href="/forum/">Fórum</a> <!--<span class="number ml-2">4</span>-->
                                            <!--</div>-->
                                            <a href="/blogy/">Blogy</a>
                                            <!--<a href="">-->Žebříčky<!--</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                
                <div class="row container my-4">
                    <!-- LEVÁ STRANA-->
                    <div class="col-lg-8">
                        <!-- carousel -->
                        <div class="carousel-container-index relative flex items-center mb-4">
                            <div id="films-carousel" class="carousel-index carousel-fade">
                                <div class="carousel-track-index" data-offset="0">
                                    <!-- Movie Carousel Items -->
                                    <div class="carousel-item-index w-full border rounded-1xl">
                                        <a href="">
                                            <img src="https://i.ibb.co/y6nfbvW/stephena-kinga.png" class="rounded-1xl w-full" alt="">
                                            <h5 class="text-xl bottom-2 left-2 text-white bg-black bg-opacity-50 px-2 py-1 rounded"></h5>
                                        </a>
                                    </div>                                
                                    <div class="carousel-item-index w-full border rounded-1xl">
                                        <a href="">
                                            <img src="https://i.ibb.co/4YVm506/game.png" class="rounded-1xl w-full" alt="">
                                            <h5 class="text-xl bottom-2 left-2 text-white bg-black bg-opacity-50 px-2 py-1 rounded"></h5>
                                        </a>
                                    </div>
                                    <div class="carousel-item-index w-full border rounded-1xl">
                                        <a href="">
                                            <img src="https://deadline.com/wp-content/uploads/2023/10/star-wars.jpg" class="rounded-1xl w-full" alt="">
                                                <h5 class="text-xl bottom-2 left-2 text-white bg-black bg-opacity-50 px-2 py-1 rounded"></h5>
                                        </a>
                                    </div>
                                    <div class="carousel-item-index w-full border rounded-1xl">
                                        <a href="">
                                            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_RiseoftheTombRaider20YearCelebration_CrystalDynamics_S1_2560x1440-3bd5b3c4c11d46cc2dcb06bdf2f77627" class="rounded-1xl w-full" alt="">
                                            <h5 class="text-xl bottom-2 left-2 text-white bg-black bg-opacity-50 px-2 py-1 rounded"></h5>
                                        </a>
                                    </div>
                                    <div class="carousel-item-index w-full border rounded-1xl">
                                        <a href="">
                                            <img src="https://www.kouzloslova.cz/wp-content/uploads/2020/12/unnamed.jpg" class="rounded-1xl w-full" alt="">
                                            <h5 class="text-xl bottom-2 left-2 text-white bg-black bg-opacity-50 px-2 py-1 rounded">Poslední série je tu</h5>
                                        </a>
                                    </div>
                                    <div class="carousel-item-index w-full border rounded-1xl">
                                        <a href="">
                                            <img src="https://prh.imgix.net/articles/top10-fiction-1600x800.jpg" class="rounded-1xl w-full" alt="">
                                            <h5 class="text-xl bottom-2 left-2 text-white bg-black bg-opacity-50 px-2 py-1 rounded"></h5>
                                        </a>
                                    </div>
                                    <div class="carousel-item-index w-full border rounded-1xl">
                                        <a href="">
                                            <img src="https://i.ibb.co/R66Zgzz/koc48dky-c3batoc48dc3ad-rec.webp" class="rounded-1xl w-full" alt="">
                                            <h5 class="text-xl bottom-2 left-2 text-white bg-black bg-opacity-50 px-2 py-1 rounded"></h5>
                                        </a>
                                    </div>
                                    <div class="carousel-item-index w-full border rounded-1xl">
                                        <a href="">
                                            <img src="https://ctfs.ceskatelevize.cz/porady-s3/64884c0340b628ecc30d009b/card/bod-obnovy-1692031353725.jpg" class="rounded-1xl w-full" alt="">
                                            <h5 class="text-xl bottom-2 left-2 text-white bg-black bg-opacity-50 px-2 py-1 rounded"></h5>
                                        </a>
                                    </div>
                                    <div class="carousel-item-index w-full border rounded-1xl">
                                        <a href="">
                                            <img src="https://basecamplive.com/wp-content/uploads/2023/02/books.jpeg" class="rounded-1xl w-full" alt="">
                                            <h5 class="text-xl bottom-2 left-2 text-white bg-black bg-opacity-50 px-2 py-1 rounded"></h5>
                                        </a>
                                    </div>
                                    <div class="carousel-item-index w-full border rounded-1xl">
                                        <a href="/film/tancuj-matyldo">
                                            <img src="https://www.themoviedb.org/t/p/w1066_and_h600_bestv2//xWuWxb6N3pwAMw1EqI7So8gHtcL.jpg" class="rounded-1xl w-full" alt="">
                                            <h5 class="text-xl bottom-2 left-2 text-white bg-black bg-opacity-50 px-2 py-1 rounded">Tancuj Matydlo</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                
                        <div class="grid grid-cols-1">
                            <div class="card mb-4">
                                <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                    <p class="text-center">
                                        DIV.cz je stránka, která propojuje <a href="/knihy/">knihy</a>, <a href="/filmy/">filmy</a> a <a href="/hry/">hry</a> skrze postavy, lokality a
                                        další prvky.
                                    </p>
                                </div>
                            </div>

                            <div class="card mb-4">
                                <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                    <h3 class="card-title font-bold after-h3">V kinech</h3>
                                    <table class="w-full text-left">
                                    
                                    {% for movie in movies_in_cinema %}
                                        <tr>
                                            <th><div>{% if movie.movieid__img == "noimg.png" %}
        <img src="/static/img/nomovie_400.jpg" alt="{{ movie.movieid__img }}" style="float:left;width:75px;margin:0 5px 5px 0">
        {% else %}
        <img src="https://www.themoviedb.org/t/p/w1066_and_h600_bestv2{{ movie.movieid__img }}" alt="{{ movie.titlecz }}" style="float:left;width:75px;margin:0 5px 5px 0">
        {% endif %}
                <a href="https://div.cz/film/{{ movie.movieid__url }}">{{ movie.movieid__titlecz }}</a> 
                
        
            </div> ({{ movie.releasedate }})</th>
                                            <th>{{ movie.distributorid__name }}</th>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                            </div>

                            <div class="card mb-4">
                                <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                    <h3 class="card-title font-bold after-h3">Novinky</h3>
                                    <ul>
                                    {% for news in articlenews %}
                                        <li><strong>{{ news.title }}</strong>
                                            <ul><li>{{ news.news|safe }} <small>({{ news.source }} - {{ news.created }})</small>
                                                    
                                                </li>
                                            </ul><hr>
                                        </li>

                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="card mb-4">
                                <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                    <h3 class="card-title font-bold after-h3">Dnes slaví narozeniny</h3>
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="card mb-4">
                                <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                    <h3 class="card-title font-bold after-h3">Nejnovější komentáře</h3>
                                    <ul>        
                                    {% for comment in movies_comments_9 %}
                                    <li>Komentář u filmu <a href="/film/{{ comment.movieid__url }}">{{ comment.movieid__titlecz }}</a>
                                    <ul><li>{{ comment.comment|truncatewords:20 }}</li>
                                        <ul style="text-align:right"><li>Uživatel: <a href="/uzivatel/{{ comment.user }}">{{ comment.user__username }}</a><li></ul>
                                    </ul><hr>
                                    </li>
                                    
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- PRAVÁ STRANA -->
                    <div class="col-lg-4 article-section">
                        <!--<div class="card mb-4">
                            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                <h3 class="card-title font-bold after-h3">Novinky v kinech</h3>
                                <ul class="v-kinech">
                                    {% for movie in movies_in_cinema %}
                                    <li>
                                        <a href="/film/{{ movie.movieid__url }}" class=" hover:underline">{{ movie.movieid__titlecz }}</a> 
                                        <br> 
                                        {{ movie.releasedate }}  - {{ movie.distributorid__name }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                <a class="flex justify-end">Další >></a>
                            </div>
                        </div>-->

                        <div>
                            
                            <!-- PŘESUNOUT DO ŽEBŘÍČKŮ?? -->
                        
                            <!-- <div class="card mb-4">
                                <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                    <h3 class="card-title font-bold after-h3">DIV.cz - STATS</h3>
                                    <p>{% for user in users_list_4 %}
                                        <div class="users">
                                            <a href="/uzivatel/{{ user.id }}" class=" hover:underline">{{ user.username }}</a> 
                                            <br>
                                            (Počet komentářů: {{ user.comment_count }})
                                            Počet hodnocení: {{ user.rating_count }}
                                        </div>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div> -->

                            <div class="card mb-4">
                                <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                <h3 class="card-title font-bold after-h3">Články</h3>
                                {% for article in articles %}

                <div class="article-item">
                    <img class="article-thumbnail" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ article.img }}');">
                    <div class="article-content" style="margin-top:10px">
                        <a href="{{ article.url }}">{{ article.title }}</a>
                        <p>{{ article.perex|truncatewords:9 }}</p>
                    </div>
                </div><hr>
                                
                                {% endfor %}
                                </div>
                            </div>


                            <div class="card mb-4">
                                <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                    
                                </div>
                            </div>

                    </div>
                </div>
            </section>
        </main>

        {% include "inc/footer.html" %}

        <script src="/static/js/index.js"></script>
        <script src="/static/js/script.js"></script>

    </body>
</html>