
<html>
<head>
<title>Ochrana osobních údajů v souladu s EU i GDPR</title>

<meta name="robots" content="noindex, nofollow"> 

</head>
<body style="margin:0 auto;width:600px">

<h1 id="ochrana-osobnich-udaju">Ochrana osobních údajů</h1>
<p>Pokud jste naším zákazníkem, odběratelem novinek nebo návštěvníkem webu,
svěřujete nám své osobní údaje. My zodpovídáme za jejich ochranu a
zabezpečení. Seznamte se, prosím, s ochranou osobních údajů, zásadami a právy,
které máte v souvislosti s GDPR (Nařízení o ochraně osobních údajů).</p>

<p><a href="https://www.div.cz/">Hlavní stránka</a> | <a href="https://www.div.cz/kontakt" rel="nofollow">Kontaktujte nás</a></p>

<div style="width:300px;border:1px solid black;margin:5px 0 5px 5px;float:right;padding:5px">
<ul>
<li><a href="#ochrana-osobnich-udaju">Ochrana osobních údajů</a></li>
<li><a href="#kdo-je-spravce">Kdo je správce?</a></li>
<li><a href="#prohlaseni">Prohlášení</a></li>
<li><a href="#rozsah-osobnich-udaju-a-ucely-zpracovani">Rozsah osobních údajů a účely zpracování</a></li>
<li><a href="#cookies">Cookies</a></li>
<li><a href="#zabezpeceni-a-ochrana-osobnich-udaju">Zabezpečení a ochrana osobních údajů</a></li>
<li><a href="#predani-osobnich-udaju-tretim-osobam">Předání osobních údajů třetím osobám</a></li>
<li><a href="#predavani-dat-mimo-evropskou-unii">Předávání dat mimo Evropskou unii</a></li>
<li><a href="#vase-prava-v-souvislosti-s-ochranou-osobnich-udaju">Vaše práva v souvislosti s ochranou osobních údajů</a></li>
<li><a href="#pravo-na-prenositelnost">Právo na přenositelnost</a></li>
<li><a href="#pravo-na-vymaz">Právo na výmaz (být zapomenut)</a></li>
<li><a href="#stiznost-u-uradu-na-ochranu-osobnich-udaju">Stížnost u Úřadu na ochranu osobních údajů</a></li>
<li><a href="#odhlaseni-ze-zasilani-newsletteru-a-obchodnich-sdeleni">Odhlášení ze zasílání newsletterů a obchodních sdělení</a></li>
<li><a href="#mlcenlivost">Mlčenlivost</a></li>
</ul>
</div>


<h2 id="kdo-je-spravce">Kdo je správce?</h2>
<p>Společnost InveLIB s.r.o., IČO 07156073, se sídlem Jaurisova 515/4, Praha 4, 
vedená u Městského soudu v Praze	
pod spisovou značkou C 295657.</p> 
<p>Vaše
osobní údaje zpracováváme jako správce, tj. určujeme, jak budou osobní údaje
zpracovávány a za jakým účelem, po jak dlouhou dobu a vybíráme případné další
zpracovatele, kteřínám se zpracováním budou pomáhat.</p>

<p>
Pokud se na nás budete chtít v průběhu zpracování obrátit, můžete nás kontaktovat
na e-mail: info(zavináč)<a href="https://www.div.cz/">div.cz</a>.</p>

<h3 id="prohlaseni">Prohlášení</h3>
<p>Prohlašujeme, že jako správce vašich osobních údajů splňujeme veškeré zákonné
povinnosti vyžadované platnou legislativou, zejména zákonem o ochraně osobních údajů a
GDPR, a tedy že:<br>
budeme zpracovávat vaše osobní údaje jen na základě platného právního důvodu, a to
především oprávněného zájmu, plnění smlouvy, zákonné povinnosti či uděleného souhlasu,
plníme dle článku 13 GDPR informační povinnost ještě před zahájením zpracování
osobních údajů,
umožníme vám a budeme vás podporovat v uplatňování a plnění vašich
práv podle zákona o ochraně osobních údajů a GDPR</p>


<h3 id="rozsah-osobnich-udaju-a-ucely-zpracovani">Rozsah osobních údajů a účely zpracování</h3>
<p>Zpracováváme osobní údaje, které nám svěříte sami, a to z následujících
důvodů (pro naplnění těchto účelů):
<ul>
<li>poskytování služeb, plnění smlouvy
vaše osobní údaje v rozsahu: e-mail, jméno nezbytně potřebujeme k plnění smlouvy
(např. zaslání přístupů do aplikace, zasílání online kurzu, atd, dodání zboží.</li>

<li>vedení účetnictví
Jste-li zákazníky, vaše osobní údaje (fakturační údaje) nezbytně potřebujeme,
abychom vyhověli zákonné povinnosti pro vystavování a evidenci daňových dokladů.</li>

<li>marketing - zasílání newsletterů
Vaše osobní údaje (e-mail a jméno), pohlaví, na co klikáte v e-mailu a kdy je
nejčastěji otevíráte využíváme za účelem přímého marketingu - zasílání obchodních
sdělení. Jste-li naším zákazníkem, děláme tak z oprávněného zájmu, neboť důvodně
předpokládáme, že vás naše novinky zajímají, a to po dobu X let od poslední
objednávky.</li>

<li>Pokud nejste naším zákazníkem, zasíláme vám newslettery jen na základě vašeho
souhlasu, po dobu X let od udělení. V obou případech můžete tento souhlas odvolat
použitím odhlašovacího odkazu v každém zaslaném e-mailu.</li>

<li>pokročilý marketing na základě souhlasu
Pouze na základě vašeho souhlasu vám můžeme zasílat také inspirující nabídky
třetích osob nebo využít e-mailovou adresu např. pro remarketing a cílení reklamy na
Facebooku, a to po dobu X let od udělení souhlasu. Ten lze samozřejmě kdykoli
odvolat prostřednictvím našich kontaktních údajů.</li>

<li>fotografická dokumentace - živé akce např. atd...doplňte své účely zpracování
Vaše osobní údaje si ponecháváme po dobu běhu promlčecích lhůt, pokud zákon nestanoví
delší dobu k jejich uchování nebo jsme v konkrétních případech neuvedli jinak.
</li>
</ul>
</p>

<h3 id="cookies">Cookies</h3>

<p>Při procházení našich webových stránek zaznamenáváme vaši IP adresu, jak dlouho
se na stránce zdržíte a ze které stránky přicházíte. Používání cookies pro měření
návštěvnosti webu a přizpůsobení zobrazení webových stránek vnímáme jako svůj
oprávněný zájem správce, neboť věříme, že díky tomu vám můžeme nabídnout ještě lepší
služby.</p>

<p>Cookies pro cílení reklamy budou zpracovávány jen na základě vašeho souhlasu.
Naše webové stránky lze procházet také v režimu, který neumožňuje sbírání osobních
údajů. Používání cookies můžete na svém počítači zakázat.</p>

<h3 id="zabezpeceni-a-ochrana-osobnich-udaju">Zabezpečení a ochrana osobních údajů</h3>

<p>Chráníme osobní údaje v maximální možné míře pomocí moderních technologií, které
odpovídají stupni technického rozvoje. Chráníme je jako kdyby byly naše vlastní.
Přijali jsme a udržujeme veškerá možná (aktuálně známá) technická a
organizační opatření, která zamezují zneužití, poškození nebo zničení vašich osobních
údajů.</p>

<h3 id="predani-osobnich-udaju-tretim-osobam">Předání osobních údajů třetím osobám</h3>

<p>K vašim osobním údajům mají přístup naši zaměstnanci a spolupracovníci.
Pro zajištění konkrétních zpracovatelských operací, které nedokážeme zajistit
vlastními silami, využíváme služeb a aplikací zpracovatelů, kteří umí data ochránit
ještě lépe než my a na dané zpracování se specializují.</p>

<p>Jsou to poskytovatelé následujících platforem:
<br>
Facebook<br>
Google</p>

<p>Je možné, že se v budoucnu rozhodneme využít další aplikace či zpracovatele,
pro usnadnění a zkvalitnění zpracování. Slibujeme vám však, že v takovém případě
při výběru, budeme na zpracovatele klást minimálně stejné nároky na zabezpečení a kvalitu
zpracování jako na sebe.</p>


<h3 id="predavani-dat-mimo-evropskou-unii">Předávání dat mimo Evropskou unii</h3>
<p>Data zpracováváme výhradně v Evropské unii nebo v zemích, které zajišťují
odpovídající úroveň ochrany na základě rozhodnutí Evropské komise.</p>

<h3 id="vase-prava-v-souvislosti-s-ochranou-osobnich-udaju">Vaše práva v souvislosti s ochranou osobních údajů</h3>
<p>V souvislosti s ochranou osobních údajů máte řadu práv. Pokud budete chtít některého z
těchto práv využít, prosím, kontaktujte nás prostřednictvím e-mailu:info[zavináč]<a href="https://www.div.cz/">div.cz</a>.</p>

<p>Máte právo na informace, které je plněno již touto informační stránkou se zásadami
zpracování osobních údajů.</p>

<p>Díky právu na přístup nás můžete kdykoli vyzvat a já vám doložím ve lhůtě 10 pracovních dní, jaké
vaše osobní údaje zpracováváme a proč.</p>

<p>Pokud se u vás něco změní nebo shledáte své osobní údaje neaktuální nebo neúplné, máte
právo na doplnění a změnu osobních údajů.</p>

<p>Právo na omezení zpracování můžete využít, pokud se domníváte, že
zpracováváme vaše nepřesné údaje, domníváte se, že provádíme
zpracování nezákonně, ale nechcete všechny údaje smazat nebo pokud jste vznesl námitku
proti zpracování.</p>

<p>Omezit můžete rozsah osobních údajů nebo účelů zpracování. (Např. odhlášením z
newsletteru omezujete účel zpracování pro zasílání obchodních sdělení.)</p>

<h3 id="pravo-na-prenositelnost">Právo na přenositelnost</h3>
<p>Pokud byste chtěli své osobní údaje vzít a přenést k někomu jinému, budeme postupovat
stejně jako při využití práva na přístup - jen s tím rozdílem, že vám informace dodáme/pošleme
ve strojově čitelné podobě. Tady potřebujeme alespoň 10 pracovních dní.</p>

<h3 id="pravo-na-vymaz">Právo na výmaz (být zapomenut)</h3>
<p>Vaším dalším právem je právo na výmaz (být zapomenut). Nechceme na vás
zapomenout, ale pokud si to budete přát, máte na to právo. V takovém případě
vymažeme veškeré vaše osobní údaje z našeho systému i ze systému
všech dílčích zpracovatelů a záloh. Na zajištění práva na výmaz potřebujeme 15 pracovních dní
dní.</p>

<p>V některých případech jsme vázáni zákonnou povinností, a např. musím
evidovat vystavené daňové doklady po lhůtu stanovenou zákonem. V tomto případě tedy
smažeme všechny takové osobní údaje, které nejsou vázány jiným zákonem. O
dokončení výmazu vás budeme informovat na e-mail.</p>

<h3 id="stiznost-u-uradu-na-ochranu-osobnich-udaju">Stížnost u Úřadu na ochranu osobních údajů</h3>
<p>Pokud máte pocit, že s vašimi údaji nezacházíme v souladu se zákonem, máte
právo se se svou stížností kdykoli obrátit na Úřad pro ochranu osobních údajů. Budeme moc
rádi pokud nejprve budete o tomto podezření informovat nás,
abychom s tím mohli něco udělat a případné pochybení napravit.</p>

<h3 id="odhlaseni-ze-zasilani-newsletteru-a-obchodnich-sdeleni">Odhlášení ze zasílání newsletterů a obchodních sdělení</h3>
<p>E-maily s inspirací, články či produkty a službami vám zasíláme jste-li náš zákazník na
základě našeho oprávněného zájmu.
Pokud zákazníkem ještě nejste, posíláme vám je jen na základě vašeho souhlasu. V obou
případech můžete ukončit odběr našich e-mailů stisknutím odhlašovacího odkazu v
každém zaslaném e-mailu.</p>

<h3 id="mlcenlivost">Mlčenlivost</h3>
<p>Dovolujeme si Vás ujistit, že naši zaměstnanci i spolupracovníci, kteří budou
zpracovávat Vaše osobní údaje, jsou povinni zachovávat mlčenlivost o osobních
údajích a o bezpečnostních opatřeních, jejichž zveřejnění by ohrozilo zabezpečení
Vašich osobních údajů. Tato mlčenlivost přitom trvá i po skončení závazkových
vztahů s námi. Bez vašeho souhlasu nebudou vaše osobní údaje vydány žádné jiné
třetí straně.</p>

<p>Tyto zásady zpracování osobních údajů platí od 25.5.2018.</p>
<p><a href="https://www.div.cz/">Hlavní stránka</a> | <a href="https://www.div.cz/kontakt/" rel="nofollow">Kontaktujte nás</a></p>                                                            
</body>
</html>
