<!DOCTYPE html>
<html lang="cs">
    <head>

        {% include "inc/head.html" %}

        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

        <title>{% block title %}Databáze | DIV.cz{% endblock %}</title>

    </head>

    <body>

        {% include "inc/navbar.html" %}

        <main>

            <div class="container">
                <h2 style="margin-bottom: 1rem;">{% block header %} {% endblock %}</h2>

                {% block content %}
                {% endblock %}

            </div>
        </main>

        {% include "inc/footer.html" %}

    </body>
</html>
