<h2>{{ film.titlecz }} ({{ film.releaseyear }})

        {% if film.img == "noimg.png" %}
    <img src="">
        {% else %}
    <img src="{{ film.img }}" alt="{{ film.titlecz }}" class="img-fluid rounded mb-3" style="m>
        {% endif %}

        {% for movie_genre in genres %}
            {{ movie_genre.genreid.genrenamecz }}{% if not forloop.last %}, {% endif %}
        {% endfor %}

{{ film.duration }} 


#LOOP Z index
{% for film in filmy %}
    <tr>
        <td><a href="/rok/{{ film.releaseyear }}">{{ film.releaseyear }}</a></td>
        <td><a href="/film/{{ film.url }}">{{ film.titlecz }}</a></td>
    </tr>
{% endfor %}

# img
https://www.themoviedb.org/t/p/w276_and_h350_face/Aq4jIoMMqQSebtB3HnP5iRQ23ai.jpg

# pozadi
https://www.themoviedb.org/t/p/w533_and_h300_bestv2/skauHPLA4so9PqOuu3jhWmiWnFd.jpg
https://www.themoviedb.org/t/p/w500_and_h282_face/skauHPLA4so9PqOuu3jhWmiWnFd.jpg

# original 1920 x 1080
https://www.themoviedb.org/t/p/original/skauHPLA4so9PqOuu3jhWmiWnFd.jpg

1066_and_h600_bestv2