<!DOCTYPE html>
<html lang="cs">

{% include "../inc/head.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Display errors to user-->
{% if messages %}
	{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">{{ message }}</div>
	{% endfor %}
{% endif %}

<!--Register-->
<div class="container py-5">
	<h1>Registrace uživatele</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<button class="btn btn-primary" type="submit">Registrovat</button>
	</form>
	<p class="text-center">Pokud již účet máte, můžete se <a href="/login">přihlásit</a>.</p>
</div>

{% endblock %}
