{% extends "books/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %} {{ book.title }} | DIV.cz{% endblock %}

{% block content %}

<style>
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.5);
        max-width: 800px;
        margin: 0 auto;
    }

    .carousel .carousel-inner .carousel-item {
        height: 300px;
        overflow: hidden;
    }

    .carousel .carousel-inner .carousel-item img {
        min-height: 100%;
        width: 100%;
        object-fit: cover;
    }
</style>

{% include "../inc/google.html" %}


{% include "inc/navbar.html" %}

<div class="container">
    <div class="big-search">
        <h2>Spisovatelé</h2>
        <!-- VYHLEDÁVAČ -->
        <form style="display: flex; max-width: 400px;" role="search" action="" method="get">
            <input class="search-field" type="search" placeholder="Vyhledávání spisovatelů" aria-label="Vyhledávání" name="q">
            <button class="add-search" type="submit">Hledat</button>
        </form>
    </div>

    <div class="container">
        <!-- Seznam spisovatelů -->
        <div class="celebrit-list">
        {% for author in authors %}
            <div class="card card-body" style="padding: 0;">
                <a href="">
                    <img src="/img/noimg.png" alt="{{ author.lastname }}">
                </a>
                <h4>{{ author.firstname }} {{ author.lastname }} <span style="color:#6c757d;">({{ author.birthyear }})</span></h4>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
