{% extends "books/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %} {{ book.titlecz }} | DIV.cz{% endblock %}

<link href="https://media.div.cz/css/navbar_other.css" rel="stylesheet">
<link href="https://media.div.cz/css/books.css" rel="stylesheet">

{% block meta %}

<style>
    .series-link.active {
        color: #2563eb; 
        font-weight: bold;
    }
</style>

{% endblock %}

{% block content %}

<div class="container">
    <!-- LEVÁ STRANA -->
    <div class="left-side">
        <div class="info-bar">
            <h2 style="width:100%; margin-bottom:0;">
                {{ author.firstname }} {{ author.lastname }} 
                {% if author.birthyear %}
                <small style="color:#6c757d;">({{ author.birthyear }})</small>
                {% endif %}
            </h2>

            <!-- FAVORITE by xSilence8x -->
            {% if user.is_authenticated %}
            <div class="heart">
                {% if not is_favorite %}
                <a href="{% url 'add_to_favourite_authors' authorid=author.authorid %}">
                    <i class="far fa-regular fa-heart" style="color: {% if is_favorite %} #e91e63 {% else %} unset {% endif %}" title="přidat do oblíbených"></i>
                {% else %}
                <a href="{% url 'remove_from_favourite_authors' authorid=author.authorid %}">
                    <i class="fas fa-heart" style="color: {% if is_favorite %} #e91e63 {% else %} unset {% endif %}" title="odebrat z oblíbených"></i>
                {% endif %}
                </a>
            </div>
            {% endif %}
        </div>
        
        <!-- Info Bar --><!--
        <div class="bg-dark  rounded-3 p-2 mb-3 d-flex">
            <span class="me-3">{{ author.birthdate|date:"Y" }}</span>,&nbsp;

            <span> {{ author.deathdate|date:"Y" }} </span>
        </div>-->

        <!-- INFO -->
        <div class="author-info">
            <div class="author-poster">
            {% if not author.img or author.img == "" %}
                <img src="https://div.cz/static/img/creator/noperson.svg" alt="{{ author.firstname }} {{ author.lastname }}" class="img-fluid img-size">
                {% else %}
                <img src="https://div.cz/static/img/author/{{ author.img }}" alt="{{ author.firstname }} {{ author.lastname }}" class="img-fluid img-size">
            {% endif %}
            </div>

            <div class="author-info-detail">
                <ul class="list-unstyled">
                {% if author.birthdate %}
                    <li><strong>Datum narození:</strong> {{ author.birthdate }}</li>
                {% endif %}

                {% if author.deathdate %}
                    <li><strong>Datum úmrtí:</strong> {{ author.deathdate }}</li>
                {% endif %}
                <!--<li>ID: {{ author.creatorid }}</li>-->
                <!--<li>{{ author.popularity }}</li>-->

                    <!--<li><strong>Web:</strong> <a href="">Web</a></li>-->
                </ul>
            </div>
        </div>

        <!-- BIOGRAFIE -->
        {% if author.description %}
        <p>{{ author.description|safe }}</p>

        {% else %}
        <div class="author-bio">
            <details>
                <summary>Přidej vlastní popis, zatím tu žádný není!</summary>
                <form action="">
                    <textarea id="w3review" name="w3review" rows="3" cols="50"></textarea>
                    <input class="btn add-book" type="submit" value="Přidat">
                </form>
            </details>
        </div>
        {% endif %}

        <!-- JAZYK KNIH -->
        <div class="tab-container" style="font-size:16px">
            <div style="margin: 1rem 0;">
                <ul class="card-body lang-toggle">
                    <p style="margin:0 1.25rem; font-weight:bold;">Jazyk</p>
                    <li><a href="" class="lang-item active">CZ</a></li>
                    <li><a href="" class="lang-item">EN</a></li>
                    <li><a href="" class="lang-item">SK</a></li>
                    <li><a href="" class="lang-item">PL</a></li>
                    <li><a href="" class="lang-item">UA</a></li>
                </ul>
            </div>

            <!-- SEZNAM KNIH + SÉRIE -->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title after-h3">Seznam knih</h3> <!-- v češtině - češtinu defaultně -->
                    
                    {% if series_books %}
                        <p style="width:100%; margin-bottom:1rem;">Série: 
                            {% for series_id, data in series_books.items %}
                                <a href="#" class="series-link" data-series-id="{{ series_id }}">{{ data.name }}</a>
                                {% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
                            {% endfor %}
                        </p>
                        <p>
                            <a href="#" class="series-link active" data-series-id="all">všechny knihy</a> ({{ books|length }})
                        </p>
                    {% else %}
                        <p style="margin-bottom:1rem;">Autor nemá žádné série</p>
                    {% endif %}
            
                    <div class="author-book">
                        <!-- Sekce pro všechny knihy -->
                        <div id="all-books" style="width:100%;">
                        {% for book in books %}
                            <hr>
                            <div class="author-book-list">
                                <a href="/kniha/{{ book.url }}">
                                {% if book.img == "noimg.png" %}
                                    <img src="https://div.cz/static/img/book/book.png" alt="Kniha {{ book.titlecz }}">
                                {% elif book.img == "GoogleID" %}
                                    <img src="https://books.google.com/books/content?id={{ book.googleid }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ book.titlecz }}">
                                {% else %}
                                    <img src="https://media.div.cz/knihy/{{ book.img }}" alt="{{ book.titlecz }}">
                                {% endif %}
                                </a>

                                <div class="author-book-detail">
                                    <div style="width: 100%;">
                                        <p>
                                            <a class="w-full" href="/kniha/{{ book.url }}">{{ book.titlecz|default:book.title }}</a> <span>{% if book.year %} ({{ book.year }}){% endif %}</span>
                                        </p>
                                        {% if book.is_read %}
                                            <i class="fas fa-book" title="přečteno" style="margin-right: 1rem;"></i>
                                        {% endif %}
                                    </div>
                                    {% if book.universumid %}
                                    <p>Série: 
                                        <a href="#" data-series-id="{{ book.universumid.universumid }}">
                                        {{ book.universumid.universumnamecz|default:book.universumid.universumname }}</a>
                                    </p>
                                    {% endif %}
                                    <p class="card-text">{{ book.description|default_if_none:"Popis není dostupný"|safe|truncatewords:40 }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
            
                        <!-- Sekce pro knihy v sériích -->
                        {% for series_id, data in series_books.items %}
                        <div id="series-{{ series_id }}" style="width: 100%; display: none;">
                        {% for book in data.books %}
                            <hr>
                            <div class="author-book-list">
                                <a href="/kniha/{{ book.url }}">
                                {% if book.img == "noimg.png" %}
                                    <img src="/static/img/book/book.png" alt="Kniha {{ book.titlecz|default:book.title }}">
                                {% elif book.img == "GoogleID" %}
                                    <img src="https://books.google.com/books/content?id={{ book.googleid }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ book.titlecz|default:book.title }}">
                                {% else %}
                                    <img src="https://media.div.cz/knihy/{{ book.img }}" alt="{{ book.titlecz|default:book.title }}">
                                {% endif %}
                                </a>
                                
                                <div class="author-book-detail">
                                    <div  style="width: 100%;">
                                        <p>
                                            <a class="w-full" href="/kniha/{{ book.url }}">{{ book.titlecz|default:book.title }}</a> <span>{% if book.year %} ({{ book.year }}){% endif %}</span>
                                        </p>
                                        {% if book.is_read %}
                                            <i class="fas fa-book" title="přečteno" style="margin-right: 1rem;"></i>
                                        {% endif %}
                                    </div>
                                    <p class="card-text">{{ book.description|default_if_none:"Popis není dostupný"|safe|truncatewords:40 }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PRAVÁ STRANA -->
    <div class="right-side">

        <!-- FANOUŠCI -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">Fanoušci</h3>
                <div class="fans">
                {% if fans %}
                    {% for fan in fans %}
                        <a style="width: 100%;" href="{% url 'myuser_detail' fan.userlist.user.id %}">{{ fan.userlist.user.username }}</a>
                    {% endfor %}
                {% else %}
                    <p>Zatím žádní fanoušci.</p>
                {% endif %}
                </div>
            </div>
        </div>

        {% comment %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">{{  }}</h3>
                <p class="card-text">Sdílet na:</p>
                <!-- Facebook Share Button -->
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://div.cz/film/{{  }}" class="btn btn-facebook" style="color: white;" target="_blank" title="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter Share Button -->
                <a href="https://twitter.com/intent/tweet?url=https://div.cz/film/{{  }}&text={{  }}" class="btn btn-twitter" style="color: white;" target="_blank" title="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- E-mail Share Button -->
                <a href="mailto:?subject={{  }}&body=Podívej se na https://div.cz/film/{{  }}" class="btn btn-email" style="color: white;" title="E-mail">
                    <i class="fas fa-envelope"></i>
                </a>

                <!-- WhatsApp Share Button -->
                <a href="https://wa.me/?text={{  }} - https://div.cz/film/{{  }}" class="btn btn-whatsapp" target="_blank" style="color: white;" title="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
        {% endcomment %}

        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">Další spisovatelé</h3>
                <ul>
                {% for author in author_list_10 %}
                    <li>
                        <a href="/autor/{{ author.url }}"> {{ author.firstname }}  {{ author.lastname }}</a> 
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Tags  -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">Tagy</h3>
                <div class="tags">

                <span class="tag-detail label">
                    <a href=""></a>
                </span>

                </div>
            </div>
        </div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const seriesLinks = document.querySelectorAll('.series-link');
        
        seriesLinks.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const seriesId = this.getAttribute('data-series-id');
                
                // Skrýt všechny sekce
                document.querySelectorAll('[id^="series-"]').forEach(div => {
                    div.style.display = 'none';
                });
                document.getElementById('all-books').style.display = 'none';
                
                // Zobrazit vybranou sekci
                if (seriesId === 'all') {
                    document.getElementById('all-books').style.display = 'block';
                } else {
                    document.getElementById(`series-${seriesId}`).style.display = 'block';
                }
                
                // Aktualizovat aktivní odkaz
                seriesLinks.forEach(link => {
                    link.classList.remove('active', 'text-blue-600');
                });
                this.classList.add('active', 'text-blue-600');
            });
        });
    });
</script>

<!-- JAZYK KNIH -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const buttons = document.querySelectorAll(".lang-item");
        buttons.forEach(btn => {
            btn.addEventListener("click", () => {
                buttons.forEach(b => b.classList.remove("active"));
                btn.classList.add("active");

                const lang = btn.dataset.lang;
                console.log("Zvolený jazyk:", lang);
            });
        });
    });
</script>

{% endblock %}
