{% extends "books/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %} {{ book.titlecz }} | DIV.cz{% endblock %}

        <link href="/static/css/navbar_other.css" rel="stylesheet">
        <link href="/static/css/books.css" rel="stylesheet">

        <style>
            .cta2 {
                position: relative;
                padding: 3px 0 3px 10px;
                transition: all 0.2s ease;
                border: none;
                background: none;
                cursor: pointer;
            }

            .cta2:hover {
                text-decoration: none;
            }

            .cta2:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                border-radius: 50px;
                background: #b1dae7;
                width: 30px;
                height: 30px;
                transition: all 0.3s ease;
            }

            .cta2 span {
                position: relative;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0.05em;
                color: #234567;
            }

            .cta2:hover:before {
                width: 100%;
                background: #b1dae7;
            }

            .cta2:active {
                transform: scale(0.95);
            }
        </style>

{% block content %}

<div class="row container my-5">
    <!-- LEVÁ STRANA -->
    <div class="col-lg-8">
        <div class="rounded-3 justify-between items-center p-2 mb-3 flex w-full bg-[#F9F9F9] dark:bg-[#1A161F] border-[#ccc] rounded-1xl">
            <h2 class="w-full mb-0">
                {{ author.firstname }} {{ author.lastname }} 
                {% if author.birthyear %}
                <small class="text-muted">({{ author.birthyear }})</small>
                {% endif %}
            </h2>

            <!-- FAVORITE by xSilence8x -->
            {% if user.is_authenticated %}
            <div class="heart">
                {% if not is_favorite %}
                <a href="{% url 'add_to_favourite_authors' authorid=author.authorid %}" class="flex relative">
                    <i class="far fa-regular fa-heart" style="color: {% if is_favorite %} #e91e63 {% else %} unset {% endif %}" title="přidat do oblíbených"></i>
                {% else %}
                <a href="{% url 'remove_from_favourite_authors' authorid=author.authorid %}" class="flex relative">
                    <i class="fas fa-heart" style="color: {% if is_favorite %} #e91e63 {% else %} unset {% endif %}" title="odebrat z oblíbených"></i>
                {% endif %}
                </a>
            </div>
            {% endif %}
        </div>
        
        <!-- Info Bar --><!--
        <div class="bg-dark  rounded-3 p-2 mb-3 d-flex">
            <span class="me-3">{{ author.birthdate|date:"Y" }}</span>,&nbsp;

            <span> {{ author.deathdate|date:"Y" }} </span>
        </div>-->

        <!-- INFO -->
        <div class="d-flex mb-3 mt-4">
            <div class="me-3 mr-4 flex-shrink-0 sm-flex lg:w-max sm:w-130 lg:w-40%">
            {% if not author.img or author.img == "" %}
                <img src="/static/img/creator/noperson.svg" alt="{{ author.firstname }} {{ author.lastname }}" class="img-fluid rounded" style="object-fit: cover;">
                {% else %}
                <img src="/img/{{ author.img }}" alt="{{ author.firstname }} {{ author.lastname }}" class="img-fluid rounded" style="object-fit: cover;">
            {% endif %}
            </div>

            <div class="flex flex-wrap content-between flex-grow-1 w-full lg:w-55">
                <ul class="list-unstyled">
                {% if author.birthdate %}
                    <li><strong>Datum narození:</strong> {{ author.birthdate }}</li>
                {% endif %}

                {% if author.deathdate %}
                    <li><strong>Datum úmrtí:</strong> {{ author.deathdate }}</li>
                {% endif %}
                <!--<li>ID: {{ author.creatorid }}</li>-->
                <!--<li>{{ author.popularity }}</li>-->
                </ul>
            </div>
        </div>

        <!-- BIOGRAFIE -->
        {% if author.description %}
        <p>{{ author.description|safe }}</p>

        {% else %}
        <div class="flex flex-wrap items-center">
            <details>
                <summary>Přidej vlastní popis, zatím tu žádný není!</summary>
                <form action="">
                    <textarea id="w3review" name="w3review" rows="3" cols="50"></textarea>
                    <br>
                    <input class="add" type="submit" value="Přidat">
                </form>
            </details>
        </div>
        {% endif %}

        <!-- SEZNAM KNIH -->
        <div class="card mb-4 d-none d-lg-block">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">Seznam knih</h3>
                <p class="mb-4">Série: 
                    <a href="">série jedna</a>
                    &nbsp;|&nbsp;
                    <a href="">série dva</a>
                    &nbsp;|&nbsp;
                    <a href="">série tři</a>
                </p>
                <p>
                    <a href="">všechny knihy</a> (21) <!--počet knih-->
                </p>
                <div class="flex flex-wrap">
                    {% for book in books %}
                    <hr>
                    <div class="flex items-start w-full">
                        <a href="/kniha/{{ book.url }}">
                        {% if book.img == "noimg.png" %}
                            <!-- Pokud je book.img "noimg.png", zobraz výchozí obrázek -->
                            <img src="/static/img/book/book.png" alt="Kniha {{ book.titlecz }}" class="w-full rounded" style="object-fit: cover; width: 80px;">
                            {% elif book.img == "GoogleID" %}
                            <!-- Pokud je book.img "GoogleID", zobraz náhled z Google Books -->
                            <img src="https://books.google.com/books/content?id={{ book.googleid }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ book.titlecz }}" class="w-full rounded" style="min-width: 80px;">
                            {% else %}
                            <!-- Jinak zobraz vlastní nahraný obrázek -->
                            <img src="/static/kniha/{{ book.img }}" alt="{{ book.titlecz }}" class="w-full rounded" style="object-fit: cover; width: 80px;">
                        {% endif %}
                        </a>
                        <div class="flex flex-wrap ml-4 w-full">
                            <div class="flex items-center justify-between w-full">
                                <p><a class="w-full" href="/kniha/{{ book.url }}">{{ book.titlecz }}</a> <span>({{ book.year }})</span></p>
                                {% if book.is_read %}
                                    <i class="fas fa-book mr-4" title="přečteno"></i>
                                {% endif %}
                            </div>
                            <p>Série: <a href="">série tři</a></p> <!-- NASTAVENÍ SÉRIÉ POKUD MÁ -->
                            <p class="card-text">{{ book.description|safe|truncatewords:40 }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- PRAVÁ STRANA -->
    <div class="col-lg-4">

        <!-- FANOUŠCI -->
        <div class="card mb-4 box-shadow">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl ">
                <h3 class="card-title font-bold after-h3">Fanoušci</h3>
                <div class="flex flex-wrap">
                    {% if fans %}
                        {% for fan in fans %}
                            <a class="w-full" href="{% url 'myuser_detail' fan.userlist.user.id %}">{{ fan.userlist.user.username }}</a>
                        {% endfor %}
                    {% else %}
                        <p>Zatím žádní fanoušci.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- <div class="card mb-4 box-shadow">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">

            </div>
        </div> -->

        <div class="card mb-4 box-shadow">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">Další spisovatelé</h3>
                <ul>
                {% for author in author_list_10 %}
                    <li>
                        <a href="/autor/{{ author.url }}"> {{ author.firstname }}  {{ author.lastname }}</a> 
                    </li>
                {% endfor %}
                    <li>
                        <a href="/autor/viktorie-hanisova">Viktorie Hanišová</a> (1980)
                    </li>
                </ul>
            </div>
        </div>

        <!-- Tags  -->
        <div class="card mb-3 box-shadow">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">Tagy</h3>
                <div class="flex flex-wrap gap-1">


                <span class="rounded bg-secondary p-1">
                    <a href=""></a>
                </span>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

