{% extends "movies/base.html" %}
{% load static %}

{% block title %}{{ title }} | DIV.cz{% endblock %}

{% block content %}
<div class="container">
    <h2 class="page-title">{{ title }}</h2>
    <div class="section">
        <h3 class="section-title">Tvůrci</h3>

        {% if creators %}
            <div class="grid-creators">
                {% for c in creators %}
                    <div class="card">
                        <a href="/tvurce/{{ c.url }}">
                            {% if not c.img or c.img == 'noimg.png' %}
                                <img src="/static/img/creator/noperson.svg" class="img-rounded-top">
                            {% else %}
                                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ c.img }}" class="img-rounded-top">
                            {% endif %}
                        </a>

                        <h4 class="card-title">{{ c.firstname }} {{ c.lastname }}</h4>
                        <p class="card-rating">⭐ {{ c.divrating }}</p>
                    </div>
                {% endfor %}
            </div>

            {% if creators.paginator.num_pages > 1 %}
                <div class="pagination">
                    {% if creators.has_previous %}
                        <a href="?page_creators={{ creators.previous_page_number }}">← předchozí</a>
                    {% endif %}

                    Stránka {{ creators.number }} / {{ creators.paginator.num_pages }}

                    {% if creators.has_next %}
                        <a href="?page_creators={{ creators.next_page_number }}">další →</a>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="section">
        <h3 class="section-title">Spisovatelé</h3>

        {% if authors %}
            <div class="grid-creators">
                {% for a in authors %}
                    <div class="card">
                        <a href="/autor/{{ a.url }}">
                            {% if not a.img %}
                                <img src="/static/img/creator/noperson.svg" class="img-rounded-top">
                            {% else %}
                                <img src="{{ a.img }}" class="img-rounded-top">
                            {% endif %}
                        </a>
                        <h4 class="card-title">{{ a.firstname }} {{ a.lastname }}</h4>
                    </div>
                {% endfor %}
            </div>

            <!-- PAGINÁTOR -->
            {% if authors.paginator.num_pages > 1 %}
                <div class="pagination">
                    <span class="step-links">
                        {% if authors.has_previous %}
                            <a class="first-page" href="?page=1">&laquo; První</a>
                            <a href="?page_authors={{ authors.previous_page_number }}">předchozí</a>
                        {% endif %}

                        <span class="current-page">
                            {{ authors.number }} / {{ authors.paginator.num_pages }}
                        </span>

                        {% if authors.has_next %}
                            <a href="">Další</a>
                            <a class="last-page" href="?page_authors={{ authors.next_page_number }}">Poslední &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% endif %}
    </div>

</div>
{% endblock %}
