{% extends "movies/base.html" %}
{% load static %}

{% block title %}{{ title }} | DIV.cz{% endblock %}

{% block meta %}
    <style>
        .birthday-list {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 10px;
            width: 100%;
        }

        .birthday-item {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 14px;
            border: 1px solid #ccc;
            border-radius: .5rem;
            background: rgba(255,255,255,0.04);
            transition: background 0.25s ease, transform 0.25s ease;
        }

        .birthday-item:is(.dark *) {
            background-color: #0d0c0f;
        }

        .birthday-avatar {
            width: 90px;
            /* height: 56px;
            border-radius: 50%; */
            object-fit: cover;
            flex-shrink: 0;
            background: #222;
            border-radius: .5rem 0 0 .5rem;
        }

        .birthday-info {
            display: grid;
            gap: 1rem;
        }

        .birthday-info h4 {
            margin: 0;
            font-size: 1rem;
            font-weight: 600;
        }

        .birthday-info a {
            color: #000000;
            text-decoration: none;
        }

        .birthday-info a:is(.dark *) {
            color: #ffffff
        }

        .birthday-info a:hover {
            text-decoration: underline;
        }

        .birthday-role {
            color: #ab7ef0;
            width: 100%;
            font-weight: 500;
        }

        .birthday-role:is(.dark *) {
            color: #ddc7ff;
        }

        @media (max-width: 1223.98px) {
            .birthday-list {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }

        @media (max-width: 991.98px) {
            .birthday-list {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }

        @media (max-width: 575.98px) {
            .birthday-list {
                display: flex;
                flex-wrap: wrap;
            }
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="page-title">&#127874; {{ title }} slaví</h2>

    <div style="margin-left: 1rem;">
        {% if people %}
            <div class="birthday-list">
                {% for item in people %}
                    {% with p=item.obj %}
                        <div class="birthday-item">
                            {% if not p.img or p.img == 'noimg.png' %}
                                <img src="/static/img/creator/noperson.svg" class="birthday-avatar">
                            {% else %}
                                {% if item.type == "creator" %}
                                    <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ p.img }}" class="birthday-avatar">
                                {% else %}
                                    <img src="{{ p.img }}" class="birthday-avatar">
                                {% endif %}
                            {% endif %}

                            <div class="birthday-info">
                                <h4>
                                    {% if item.type == "creator" %}
                                        <a href="/tvurce/{{ p.url }}">{{ p.firstname }} {{ p.lastname }}</a>
                                    {% else %}
                                        <a href="/autor/{{ p.url }}">{{ p.firstname }} {{ p.lastname }}</a>
                                    {% endif %}
                                </h4>

                                <span class="birthday-role">
                                    {% if item.type == "author" %}
                                        Spisovatel
                                    {% else %}
                                        {% if p.knownfordepartment == "Acting" %}
                                            Herec
                                        {% elif p.knownfordepartment == "Directing" %}
                                            Režisér
                                        {% elif p.knownfordepartment == "Production" %}
                                            Producent
                                        {% elif p.knownfordepartment == "Writing" %}
                                            Scénárista
                                        {% else %}
                                            Tvůrce
                                        {% endif %}
                                    {% endif %}
                                </span>

                                <p class="card-rating">&#11088; {{ p.divrating }}</p>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>

            <!-- PAGINÁTOR -->
            {% if people.paginator.num_pages > 1 %}
                <div class="pagination">
                    <span class="step-links">
                        {% if people.has_previous %}
                            <a class="first-page" href="?page=1">&laquo; První</a>
                            <a href="?page={{ people.previous_page_number }}">Předchozí</a>
                        {% endif %}

                        <span class="current-page">
                            {{ people.number }} / {{ people.paginator.num_pages }}
                        </span>

                        {% if people.has_next %}
                            <a href="?page={{ people.next_page_number }}">Další</a>
                            <a class="last-page" href="?page={{ people.paginator.num_pages }}">Poslední &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}

        {% endif %}
    </div>
</div>

{% endblock %}
