{% extends "movies/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %} Filmové osobnosti | Databáze DIV.cz {% endblock %}

{% comment %}
"Writing" → "Scénáristika"
"Camera" → "Kamera"
"Editing" → "Střih"
"Art" → "Výtvarné oddělení"
"Sound" → "Zvuk"
"Actors" → "Herci"
"Directing" → "Režie"
"Costume & Make-Up" → "Kostýmy & Líčení"
"Production" → "Produkce"
"Visual Effects" → "Vizuální efekty"
"Crew" → "Štáb"
"Lighting" → "Osvětlení"
{% endcomment %}

{% block meta %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="big-search">
        <h2>Osobnosti</h2>
        <!-- VYHLEDÁVAČ -->
        <form style="display: flex; max-width: 400px;" role="search" action="" method="get">
            <input class="search-field" type="search" placeholder="Vyhledávání osobnosti" aria-label="Vyhledávání" name="q">
            <button class="add-search" type="submit">Hledat</button>
        </form>
    </div>
    
    <div class="container">
        <!-- Seznam herců -->
        <div class="celebrit-list">
        {% for creator in creators %}
            <div class="card card-body" style="padding: 0;">
                <a href="/tvurce/{{ creator.url }}">
                {% if not creator.img or creator.img == "" %}
                    <img src="/static/img/creator/noperson.svg" alt="{{ creator.lastname }}">
                    {% else %}
                    <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ creator.img }}" alt="{{ creator.lastname }}">
                {% endif %}
                </a> 

                <h4>{{ creator.firstname }} {{ creator.lastname }}</h4>
                <span class="card-text" style="text-align: center;"><!--{{ creator.knownfordepartment }}-->
                {% if creator.knownfordepartment == "Acting" %}
                    Herec
                {% elif creator.knownfordepartment == "Directing" %}
                    Režisér
                {% elif creator.knownfordepartment == "Production" %}
                    Producent
                {% elif creator.knownfordepartment == "Writing" %}
                    Scénárista
                {% else %}
                    Těžko říct
                {% endif %} 
                </span>
            </div>
            {% endfor %}
        </div>

    </div>   
</div>

{% endblock %}
