{% extends "movies/base_new.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}{{ creator.firstname }} {{ creator.lastname }}  | DIV.cz{% endblock %}

{% comment %}

"Writing" → "Scénárista"
"Camera" → "Kamera"
"Editing" → "Střih"
"Art" → "Výtvarné oddělení"
"Sound" → "Zvuk"
"Actors" → "Herci"
"Directing" → "Režie"
"Costume & Make-Up" → "Kostýmy & Líčení"
"Production" → "Produkce"
"Visual Effects" → "Vizuální efekty"
"Crew" → "Štáb"
"Lighting" → "Osvětlení"

{% endcomment %}

{% block meta %}

<style>

        .info-bar {
            justify-content: space-between;
        }

</style>

{% endblock %}

{% block content %}

<div class="container">
    <!-- LEVÁ STRANA -->
    <div class="left-side">
        <div class="info-bar">
            <h2> 
                {{ creator.firstname }} {{ creator.lastname }} 
                {% if creator.birthdate %}
                <small class="text-muted">({{ creator.birthdate|date:"Y" }})</small>
                {% endif %}
            </h2>

            <!-- FAVORITE by xSilence8x -->
            {% if user.is_authenticated %}
                <div class="heart">
                    {% if not is_favorite %}
                    <a href="{% url 'add_creator_to_favourites' creatorid=creator.creatorid %}">
                        <i class="far fa-regular fa-heart" style="color: {% if is_favorite %} #ED3F2F {% else %} unset {% endif %};" title="přidat do oblíbených"></i>
                    {% else %}
                    <a href="{% url 'remove_creator_from_favourites' creatorid=creator.creatorid %}">
                        <i class="fas fa-heart" style="color: {% if is_favorite %} #ED3F2F {% else %} unset {% endif %}" title="odebrat z oblíbených"></i>
                    {% endif %}
                    </a>
                </div>
            {% endif %}
        </div>

        <!-- INFO -->
        <div class="author-info">
            <div class="author-poster">
            {% if not creator.img or creator.img == "" or creator.img == "noimg.png" %}
                <img src="/static/img/creator/noperson.svg" alt="{{ creator.firstname }} {{ creator.lastname }}" class="img-fluid img-size">
                {% else %}
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ creator.img }}" alt="{{ creator.firstname }} {{ creator.lastname }}" class="img-fluid img-size">
            {% endif %}
            </div>

            <div class="author-info-detail">
                <ul class="list-unstyled">
                    <li><strong>Role:</strong> 
                    {% if creator.knownfordepartment == "Acting" %}
                        Herec
                    {% elif creator.knownfordepartment == "Directing" %}
                        Režisér
                    {% elif creator.knownfordepartment == "Production" %}
                        Producent
                    {% elif creator.knownfordepartment == "Writing" %}
                        Scénárista
                    {% elif creator.knownfordepartment == "Costume & Make-Up" %}
                        Umělecká maskérka
                    {% else %}
                        Těžko říct
                    {% endif %}
                    </li>

                    {% if creator.birthdate %}
                    <li><strong>Datum narození:</strong> {{ creator.birthdate }}</li>
                    {% endif %}

                    {% if creator.deathdate %}
                    <li><strong>Datum úmrtí:</strong> {{ creator.deathdate }}</li>
                    {% endif %}

                    {% if creator.countryid and creator.countryid.pk|default:0 > 0 %}
                    <li><strong>Místo narození:</strong> {{ creator.countryid.countrynamecz }}</li>
                    {% endif %}

                    <!--<li><strong>Nominace:</strong></li>-->

                    <!--<li>ID: {{ creator.creatorid }}</li>-->
                    <!--<li>{{ creator.popularity }}</li>-->
                </ul>
            </div>
        </div>

        <!-- BIOGRAFIE -->
        {% if creatorbiography %}
        <div style="width: 100%; margin-bottom: 1rem;">
            <p id="biography-text">
                {{ creatorbiography.biographytextcz|safe }}
                <p><a id="toggle-biography">Více...</a></p>  
            </p>
        
            <p style="font-size: 13px; color: #999;">
                Naposledy upravil: 
                <strong>{{ creatorbiography.author|default:"Neznámý" }}</strong>
                dne {{ creatorbiography.lastupdated }}
            </p>
        
            {% if request.user.is_superuser %}
            <details>
                <summary>✏ Upravit popis</summary>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="edit_bio" class="add-movie">Uložit změny</button>
                </form>
            </details>
            {% endif %}
        </div>

        <p></p>


{% else %}
    <div class="author-bio">

        {% if user.is_authenticated %}
            <!-- Uživateli zobrazíme skutečný formulář -->
            <details>
                <summary>Přidej vlastní popis</summary>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="add_bio" class="add-movie">
                        Přidat popis
                    </button>
                </form>
            </details>

        {% else %}
            <!-- Anonymovi zobrazíme jen výzvu -->
            <details>
                <summary>Přidej vlastní popis</summary>
                <div class="login-hint" style="margin-top:10px;">
                    <p>Pro přidání popisu se prosím nejdříve přihlas.</p>
                    <a href="/prihlaseni/" class="add-movie" 
                       style="display:inline-block; padding:6px 12px; margin-top:5px;">
                        Přihlásit se
                    </a>
                </div>
            </details>
        {% endif %}

    </div>
{% endif %}



        <!-- Karty -->
        <div class="tab-container" style="font-size:16px">
            <ul class="tab-links">
                <li class="karta">
                    <a href="#filmy" class="active">Filmy</a>
                </li>
                <li class="karta">
                    <a href="#serialy">Seriály</a>
                </li>
            </ul>

            <!-- FILMY -->
            <div id="filmy" class="tab-list active" style="padding:0">
                <div class="creator-movie-list">
                {% for movie, roles in filmography_page %}
                    <div class="creator-movie-info sudy">
                        <div>
                        {% if movie.img == "noimg.png" %}
                            <img src="https://div.cz/static/img/movie/w200/nomovie.jpg" alt="{{ movie.titlecz }}">
                            {% else %}
                            <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ movie.imgposter }}" alt="{{ movie.titlecz }}">
                        {% endif %}
                        </div>

                        <div class="creator-movie-detail">
                            <div class="creator-movie-name">
                                <p>
                                    <a href="/film/{{ movie.url }}">{{ movie.titlecz }}</a> 
                                    {{ movie.releaseyear|default:"" }}
                                </p>
                                <p>{{ roles|join:", " }}</p>
                            </div>
<!--
                            <div class="creator-movie-rating">
                            {% if user.is_authenticated %}
                                <div class="movie-rating">

{% if movie.averagerating %}
    {% widthratio movie.averagerating 5 100 %} %
{% else %}
    <span class="text-muted">-</span>
{% endif %}

                                </div>

                                <div class="creator-movie-stars">
                                    {% if movie.is_watched %}
                                    <i class="fas fa-eye" title="viděno"></i>
                                    {% endif %}

                                    <span> 
{% if movie.averagerating %}
    {% with stars=movie.averagerating|floatformat:0 %}
        {% for _ in "12345" %}
            {% if forloop.counter <= stars|add:"0" %}
                ★
            {% else %}
                ☆
            {% endif %}
        {% endfor %}
    {% endwith %}
{% else %}
    Nehodnoceno
{% endif %}

                                    </span>
                                </div>
                            {% endif %}
                            </div>-->
                        </div>
                    </div>
                {% endfor %}

{% if filmography_page.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">

        {% if filmography_page.has_previous %}
            <a class="first-page"
               href="?stranka=1#filmy">&laquo; První</a>

            <a href="?stranka={{ filmography_page.previous_page_number }}#filmy">
                Předchozí
            </a>
        {% endif %}

        <span class="current-page">
            {{ filmography_page.number }} / {{ filmography_page.paginator.num_pages }}
        </span>

        {% if filmography_page.has_next %}
            <a href="?stranka={{ filmography_page.next_page_number }}#filmy">
                Další
            </a>

            <a class="last-page"
               href="?stranka={{ filmography_page.paginator.num_pages }}#filmy">
                Poslední &raquo;
            </a>
        {% endif %}

    </span>
</div>
{% endif %}



                </div>
            </div>

            <!-- SERIÁLY -->
            <div id="serialy" class="tab-list" style="padding:0">
                <div class="creator-movie-list">
                {% for tvshow, roles in tvshows_page %}
                    <div class="creator-movie-info sudy">
                        <div>
                        {% if tvshow.imgposter == "noimg.png" %}
                            <img src="https://div.cz/static/img/movie/w200/nomovie.jpg" alt="{{ tvshow.titlecz }}">
                        {% else %}
                            <img src="https://www.themoviedb.org/t/p/w400{{ tvshow.imgposter }}" alt="{{ tvshow.titlecz }}">
                        {% endif %}
                        </div>

                        <div class="creator-movie-detail">
                            <div class="creator-movie-name">
                                <p>
                                    <a href="/serial/{{ tvshow.url }}">{{ tvshow.titlecz }}</a> 
                                    {{ tvshow.premieredate|date:"Y" }}
                                </p>
                                <p>{{ roles|join:", " }}</p>
                            </div>
                            <!--
                            <div class="creator-movie-rating">
                            {% if user.is_authenticated %}
                                <div class="movie-rating">
                                    100 % 
                                </div>

                                <div class="creator-movie-stars">
                                    {% if tvshow.is_watched %}
                                    <i class="fas fa-eye" title="viděno"></i>
                                    {% endif %}

                                    <span>
                                    {% for _ in "12345" %}
                                        {% if forloop.counter <= rating.score %}
                                        <span>★</span>
                                        {% else %}
                                        ☆
                                        {% endif %}
                                    {% endfor %}
                                    </span>
                                </div>
                            {% endif %}
                            </div>-->
                        </div>
                    </div>
                {% endfor %}
{% if tvshows_page.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">

        {% if tvshows_page.has_previous %}
            <a class="first-page"
               href="?stranka=1#serialy">&laquo; První</a>

            <a href="?stranka={{ tvshows_page.previous_page_number }}#serialy">
                Předchozí
            </a>
        {% endif %}

        <span class="current-page">
            {{ tvshows_page.number }} / {{ tvshows_page.paginator.num_pages }}
        </span>

        {% if tvshows_page.has_next %}
            <a href="?stranka={{ tvshows_page.next_page_number }}#serialy">
                Další
            </a>

            <a class="last-page"
               href="?stranka={{ tvshows_page.paginator.num_pages }}#serialy">
                Poslední &raquo;
            </a>
        {% endif %}

    </span>
</div>
{% endif %}

                </div>
            </div>
        </div>
    </div>

    <!-- PRAVÁ STRANA -->
    <div class="right-side">
        <!-- FANOUŠCI -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">&#10084;&#65039; Fanoušci</h3>
                <div class="fans">
                {% if fans %}
                    {% for fan in fans %}
                        <a style="width: 100%;"" href="{% url 'myuser_detail' fan.userlist.user.id %}">{{ fan.userlist.user.username }}</a>
                    {% endfor %}
                    {% else %}
                    <p>Zatím žádní fanoušci.</p>
                {% endif %}
                </div>
            </div>
        </div>

        {% if request.user.is_superuser %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Upravit DIV Rating</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ creator_div_rating_form.as_p }} 
                    <button type="submit" name="update_divrating" class="add-movie">Uložit</button>
                </form>
            </div>
        </div>
        {% endif %}

        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">&#129489; Další osobnosti</h3>
                <ul>
                {% for bio in latest_biographies %}
                    <li>
                        <a href="/tvurce/{{ bio.creator.url }}">
                            {{ bio.creator.firstname }}
                            {{ bio.creator.lastname }}
                        </a>
                        <br>
                        <small class="text-muted">aktualizováno: <br>{{ bio.lastupdated }}</small>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    

        
        <!-- SDÍLET NA SÍTÍCH -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">&#128279; Sdílet na</h3>
                <!-- Facebook Share Button -->
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://div.cz/tvurce/{{ creator.url }}" class="btn btn-facebook" target="_blank" title="Facebook {{ creator.firstname }} {{ creator.lastname }}">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter Share Button -->
                <a href="https://twitter.com/intent/tweet?url=https://div.cz/tvurce/{{ creator.url }}" class="btn btn-twitter" target="_blank" title="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- E-mail Share Button -->
                <a href="mailto:?subject=DIV.cz: {{ creator.firstname }} {{ creator.lastname }}&body=Podívej se na https://div.cz/tvurce/{{ creator.url }}" class="btn btn-email" title="E-mail">
                    <i class="fas fa-envelope"></i>
                </a>

                <!-- WhatsApp Share Button -->
                <a href="https://wa.me/?text={{ creator.firstname }} {{ creator.lastname }}  - https://div.cz/tvurce/{{ creator.url }}" class="btn btn-whatsapp" target="_blank" title="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>

        <!-- TAGS -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title after-h3">&#127991;&#65039; Tagy</h3>
                <div class="tags">

                <span class="tag-detail label">

                </span>
                    <a href=""></a>
                </div>
            </div>
        </div>

    </div>

</div>



<script>
document.addEventListener("DOMContentLoaded", function () {
    const hash = window.location.hash;
    if (!hash) return;

    const tabLink = document.querySelector('.tab-links a[href="' + hash + '"]');
    const tabContent = document.querySelector(hash);

    if (tabLink && tabContent) {
        document.querySelectorAll('.tab-links a').forEach(a => a.classList.remove('active'));
        document.querySelectorAll('.tab-list').forEach(t => t.classList.remove('active'));

        tabLink.classList.add('active');
        tabContent.classList.add('active');
    }
});
</script>

{% endblock %}