{% extends "movies/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %} Filmové osobnosti | Databáze DIV.cz {% endblock %}

{% comment %}
"Writing" → "Scénáristika"
"Camera" → "Kamera"
"Editing" → "Střih"
"Art" → "Výtvarné oddělení"
"Sound" → "Zvuk"
"Actors" → "Herci"
"Directing" → "Režie"
"Costume & Make-Up" → "Kostýmy & Líčení"
"Production" → "Produkce"
"Visual Effects" → "Vizuální efekty"
"Crew" → "Štáb"
"Lighting" → "Osvětlení"
{% endcomment %}

{% block meta %}

{% endblock %}

{% block content %}

<div class="container">
    <h2 class="mb-4">Osobnosti</h2>
    <div class="container">

        <!-- Seznam herců -->
        <div class="row w-full">
            <div class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-colums-3 sm:grid-colums-2 gap-4 w-full mb-3">
                {% for creator in creators %}
                <div class="card">
                    <a href="/tvurce/{{ creator.url }}">
                    {% if creator.img == "noimg.png" or creator.img == "" or creator.img == None %}
                        <img src="/static/img/creator/noperson.svg" alt="{{ creator.lastname }}" class="rounded-t-lg" style="object-fit: cover;" >
                        {% else %}
                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ creator.img }}" alt="{{ creator.lastname }}" class="rounded-t-lg" style="object-fit: cover;">
                    {% endif %}
                    </a> 

                    <h4 class="card-title text-center mt-3">{{ creator.firstname }} {{ creator.lastname }}</h4>
                    <span class="card-text text-center"><!--{{ creator.knownfordepartment }}-->
                    {% if creator.knownfordepartment == "Acting" %}
                        Herec
                    {% elif creator.knownfordepartment == "Directing" %}
                        Režisér
                    {% elif creator.knownfordepartment == "Production" %}
                        Producent
                    {% elif creator.knownfordepartment == "Writing" %}
                        Scénárista
                    {% else %}
                        Těžko říct
                    {% endif %} 
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>   
</div>

{% endblock %}
