{% load static %}
<!DOCTYPE html>
<html lang="cs">

    <head>

        {% include "../inc/head.html" %}

        <title>{% block title %}{% endblock %}</title>

        <!-- xsilence8x meta tags -->
        {% if keywordsCZ %}
            <meta name="keywords" content="{% for keyword in keywordsCZ %}{{ keyword }}, {% endfor %}">
            {% elif keywordsEN %}
            <meta name="keywords" content="{% for keyword in keywordsEN %}{{ keyword }}, {% endfor %}">
        {% endif %}
        
        <link href="/web/css/universum.css" rel="stylesheet">
        <link href="/web/css/navbar.css" rel="stylesheet">
        <link href="/web/css/navbar_together.css" rel="stylesheet">

        {% block meta %}
        {% endblock %}
        
    </head>

    <body>

        {% include "../inc/navbar_movies.html" %}

        <main>
            <section>
                
                {% include "inc/sidebar.html" %}

                {% block content %}

                {% endblock %}

            </section>
        </main>

        {% include "../inc/footer.html" %}

        <script src="/web/js/script.js"></script>

    </body>
</html>