{% extends "universum/base.html" %}

{% block title %}{{ universum.universumnamecz|default:universum.universumname }} na DIV.cz{% endblock %}

{% block meta %}
{% endblock %}

{% block content %}

<div class="container row my-5 relative">
    <!-- Use the first movie image as the background -->
    
    {% if movies|length > 0 %}

    <div class="w-full relative" style="top: 0; left: 0; height: 150vh;">
        <div style="background-image: url('https://image.tmdb.org/t/p/original/{{ movies.0.img }}'); background-size: cover; background-position: center; height: 100%; opacity: 0.2; z-index: 1;"></div>

        <div class="row container my-4 absolute w-full h-full p-6" style="top: 0; left: 0; z-index: 2;">

            <!-- LEVÁ STRANA -->
            <div class="col-lg-8">
            {% endif %}
                <h1>{{ universum.universumnamecz|default:universum.universumname }}</h1>
                <p>{{ universum.universumdescriptioncz|default:"" }}</p>
                <div class="ml-8 mt-8">
                    <h2>Filmy ze stejného světa</h2>
                    <ul class="list-group ml-8">
                    {% if movies %}
                    {% else %}Zatím žádný natočený film neevidujeme
                    {% endif %}
                        {% for movie in movies %}
                        <li class="list-group-item">
                            <a class="movies" href="{% url 'movie_detail' movie_url=movie.url %}">
                                {{ movie.titlecz|default:movie.title }} ({{ movie.releaseyear }})
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="ml-8 mt-8">
                    <h2>Knihy ze stejného světa</h2>
                    <ul class="list-group ml-8">
                    {% if books %}
                    {% else %}Zatím žádné
                    {% endif %}
                        {% for book in books %}
                        <li class="list-group-item">
                            <a class="books" href="{% url 'book_detail' book_url=book.url %}">
                                {{  book.titlecz|default:book.title }} {% if book.year %}({{ book.year|default:"" }}){% endif %}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="ml-8 mt-8">
                    <h2>Hry ze stejného světa</h2>
                    <ul class="list-group ml-8">
                    {% if games %}
                    {% else %}Zatím žádné
                    {% endif %}
                        <li class="list-group-item">
                            <a class="games"></a>
                            <!-- Add games section here -->
                        </li>
                    </ul>
                </div>
            </div>

            <!-- PRAVÁ STRANA -->
            <div class="col-lg-4 article-section">
                <div class="mb-4">
                    <div class="card-body w-full">
                        <h3 class="card-title font-bold after-h3">Lokality</h3>
                        <ul class="w-full" style="list-style-type:none">
                            <!--<li><a href="">Bradavice</a></li>
                            <li><a href="">Nádraží King Cross</a></li>
                            <li><a href="">Kvikálkov</a></li>
                            <li><a href="">Most</a></li>
                            <li><a href="">Sovinec</a></li>
                            <li><a href="">Prasinky</a></li>-->
                        </ul>
                    </div>
                </div>

                <div class="mb-4"><!-- Postavy -->
                    <div class="card-body w-full">
                        <!--<h3 class="card-title font-bold after-h3">Postavy</h3>
                        <ul>
                            <li><a href="">Harry Potter</a></li>
                            <li><a href="">Hagrid</a></li>
                            <li><a href="">Ron</a></li>
                            <li><a href="">Snape</a></li>
                            <li><a href="">Draco Malfoy</a></li>
                            <li><a href="">Skorobezhlavý Nick</a></li>
                        </ul>-->

<!-- POSTAVY Z KNIH -->
{% if book_characters %}
<h3 class="card-title font-bold after-h3">Postavy v knihách tohoto světa</h3>
<ul class="w-full" style="list-style-type:none">
  {% for char in book_characters %}
    <li><a href="{% url 'character_detail' character_url=char.characterurl %}">
      {{ char.characternamecz|default:char.charactername }}
    </a></li>
  {% endfor %}
</ul>
{% endif %}

<!-- POSTAVY Z FILMŮ -->
{% if movie_characters %}
<h3 class="card-title font-bold after-h3">Postavy ve filmech tohoto světa</h3>
<ul class="w-full" style="list-style-type:none">
  {% for char in movie_characters %}
    <li><!--<a href="{% url 'character_detail' character_url=char.characterurl %}">-->
      {{ char.characternamecz|default:char.charactername }}
    <!--</a>--></li>
  {% endfor %}
</ul>
{% endif %}


<!-- POSTAVY Z FILMŮ -->
{% if game_characters %}
<h3 class="card-title font-bold after-h3">Postavy ve hrách tohoto světa</h3>
<ul class="w-full" style="list-style-type:none">
  {% for char in game_characters %}
    <li><a href="{% url 'character_detail' character_url=char.characterurl %}">
      {{ char.characternamecz|default:char.charactername }}
    </a></li>
  {% endfor %}
</ul>
{% endif %}

                    </div>
                </div><!-- // Postavy -->

                <div class="mb-4">
                    <div class="card-body w-full">
                        <h3 class="card-title font-bold after-h3">Jídlo ze světa</h3>
                        <ul class="w-full" style="list-style-type:none">
                            <!--<li><a href="">Máslový ležák</a></li>
                            <li><a href="">Bertíkovy fazolky</a></li>
                            <li><a href="">Čokoládové žabky</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
