{% extends "universum/base.html" %}

{% block title %}Seznam světů | DIV.cz{% endblock %}

{% block meta %}
<meta name="description" content="Objevujte fantastické světy na DIV.cz - rozsáhlé univerza knih, filmů a her. Kompletní databáze literárních a filmových světů, fikčních univerzí a herních sérií.">
<meta name="keywords" content="světy, univerza, série, knižní série, filmové série, herní série, fikční světy, fantasy světy, sci-fi světy, databáze světů">
<meta name="author" content="eKultura.eu">

<meta property="og:title" content="Seznam světů a sérií | Databáze DIV.cz">
<meta property="og:description" content="Prozkoumejte rozsáhlá univerza knih, filmů a her na DIV.cz. Kompletní přehled literárních, filmových a herních světů v jedné databázi.">
<meta property="og:image" content="https://div.cz/img/movie/filmovy-div.webp">
<meta property="og:url" content="https://div.cz/svety/">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Seznam světů a sérií | Databáze DIV.cz">
<meta name="twitter:description" content="Objevujte fantastické světy na DIV.cz - kompletní databáze literárních, filmových a herních světů a sérií.">
<meta name="twitter:image" content="https://div.cz/img/movie/filmovy-div.webp">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Seznam světů</h1>
    <ul class="list-group">
        {% for universum in universa %}
        <li class="list-group-item">
            {% if universum.universumurl %}
            <a href="{% url 'universum_detail' universum_url=universum.universumurl %}">
                {% if universum.universumnamecz %}
                {{ universum.universumnamecz }}
                {% else %}
                {{ universum.universumname }}
                {% endif %}
            </a>
            {% else %}
            <span>
                {{ universum.universumname }} ({{ universum.universumnamecz }})
            </span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
