
/* Styly pro nadpis + + */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0;
}

input[type="text"],
textarea, .radio-group {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #ccc;
}

button:hover {
    background-color: #0056b3;
}

.inline {
    display: inline-block;
    margin-right: 10px;
}

.list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.list-group-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item button {
    margin-left: auto;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent.active {
    display: block;
}

#selected-genres,
#selected-publisher {
    margin-top: 10px;
}

#selected-genres .list-group-item,
#selected-publisher .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input:required:invalid {
    border-color: yellow;
    animation: sweepBorder 10s ease-in-out infinite;

}

