
.left-msg-side,
.right-msg-side {
    position: relative;
    width: 100%;
    padding: 1rem 0;
}

.chat-search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
    height: 72px;
}

.chat-search-box .input-group {
    display: flex;
    justify-content: center;
}

.input-group input {
    border-radius: 1.5rem;
    max-height: 2rem;
    padding: .5rem !important;
    border: 1px solid #dee2e6 !important;
}

.input-group i {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

.users-container {
    position: relative;
    padding: 0;
    border-right: 1px solid #9e9e9e;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #bec9d9;
}

.users-container:is(.dark *) {
    background: #6e7a8c;
}

.users {
    display: flex;
    align-content: flex-start;
    padding: 0;
    overflow: scroll;
    overflow-x: auto;
    /* scrollbar-width: none; Firefox */
    height: calc(100vh - 200px);
    margin-top: 0;
}

/* .users::-webkit-scrollbar {
    display: none;
} */

.person:hover {
    text-decoration: none;
}

.list-group {
    padding: 0;
    z-index: 1;
    position: absolute;
    background: #bec9d9;
    width: 100%;
}

.list-group:is(.dark *) {
    background: #6e7a8c;
}

.list-group-item a:hover {
    color: #fff;
}

.users .person {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 1rem;
    cursor: pointer;
    /* border-bottom: 1px solid #9e9e9e; */
    border-top: 1px solid #9e9e9e;
    box-shadow: inset 0 0 20px 5px #bec9d9;
    background-color: white;
}

.users .person:hover {
    background-color: #f2f5f9;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c6f7bc), to(#f2f5f9));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #c6f7bc, #f2f5f9);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #c6f7bc, #f2f5f9);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #c6f7bc, #f2f5f9);
    /* IE10 */
    background-image: -o-linear-gradient(right, #c6f7bc, #f2f5f9);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #c6f7bc, #f2f5f9); 
}

.users .person li {
    display: flex;
    align-items: center;
}

.active-user {
    background-color: #c6f7bc;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f9), to(#c6f7bc));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #f2f5f9, #c6f7bc);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #f2f5f9, #c6f7bc);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #f2f5f9, #c6f7bc);
    /* IE10 */
    background-image: -o-linear-gradient(right, #f2f5f9, #c6f7bc);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #f2f5f9, #c6f7bc);
    color: black;
}

.active-user::before {
    content: "";
    height: 100%;
    width: 5px;
    background-color: #5eac4f;
    display: block; 
    position: absolute; 
    top: 0;
    left: 0;
}

.users .person .msg-user {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.users .person .msg-user img {
    width: 48px;
    height: auto;
    max-width: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.users .person .msg-user .status {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #e6ecf3;
    position: absolute;
    top: 0;
    right: 0;
}

.name-time {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-weight: 600;
    font-size: .85rem;
}

.name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.date, .time {
    font-weight: 400;
    font-size: .7rem;
    text-align: right;
    color: #8796af;
    width: auto;
}

.date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.selected-user {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    min-height: 64px;
    line-height: 64px;
    height: 72px;
    background: #bec9d9;
}

.selected-user:is(.dark *) {
    background: #6e7a8c;
}

.selected-user span {
    line-height: 100%;
}

.selected-user span.name {
    font-weight: 700;
}

.chat-container {
    position: relative;
    padding: 1rem;
    height: calc(100vh - 180px);
    box-shadow: inset 0 0 20px 5px #bec9d9;
    background-color: white;
}

.chat-container:is(.dark *) {
    background: rgb(60 60 60);
    box-shadow: inset 0 0 20px 5px #6e7a8c;
}

.chat-box {
    overflow: scroll;
    overflow-x: hidden;
    padding: 0 10px;
    /* scrollbar-width: none; Firefox */
    position: relative;
    padding: 1rem;
    height: calc(100vh - 310px);
}

/* .chat-box::-webkit-scrollbar {
    display: none;
} */

.chat-left, .chat-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 40px;
}

.chat-left .chat-hour {
    justify-content: flex-start;
}

.chat-right .chat-hour {
    justify-content: flex-end;
}

.my-msg {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.chat-avatar img {
    width: 35px;
}

.user-avatar {
    margin-right: .5rem; /* 8px */
}

.user-avatar img {
    width: 48px;
}

.chat-avatar img, .user-avatar img {
    height: auto;
    max-width: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.chat-avatar {
    margin-right: 20px;
}

.chat-right {
    justify-content: flex-end;
}

.chat-right > .chat-avatar {
    margin-left: 20px;
    margin-right: 0;
}

.chat-text {
    position: relative;
    padding: .4rem 1rem;
    -webkit-border-radius: 4px 0 4px 4px;
    -moz-border-radius: 4px 0 4px 4px;
    background: #ffffff;
    border: 1px solid #dee2e6 !important;
    font-weight: 300;
    line-height: 150%;
    color: rgb(13 12 15 / 1)
}

.chat-left .chat-text {
    background-image: -webkit-linear-gradient(right, #f2f5f9, #bcd1f7);
    -webkit-border-radius: 0 4px 4px;
    -moz-border-radius: 0 4px 4px;
}

.chat-left .chat-text:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: -20px;
    border: 10px solid;
    border-color: transparent #dee2e6 transparent transparent;
}

.chat-right .chat-text {
    background-image: -webkit-linear-gradient(right, #c6f7bc, #f2f5f9 );
    -webkit-border-radius: 4px 0 4px 4px;
    -moz-border-radius: 4px 0 4px 4px;
}

.chat-right .chat-text:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: -20px;
    border: 10px solid;
    border-color: transparent transparent transparent #dee2e6;
}

.chat-right > .chat-text {
    text-align: right;
}

.chat-right > .chat-text:before {
    right: -20px;
    border-color: transparent transparent transparent #ffffff;
    left: inherit;
}

.their-msg {
    display: flex;
    flex-wrap: wrap;
}

.chat-hour {
    display: flex;
    width: 100%;
    font-size: .75rem;
}

.chat-hour > span {
    font-size: 16px;
    color: #9ec94a;
}

.chat-right > .chat-hour {
    margin: 0 15px 0 0;
}

.row-msg {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.chat-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.5rem;
    border-top: 3px solid #b4b4b4;
}

.chat-form:is(.dark *) {
    border-top: 3px solid #b4b4b4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card {
    border: 0;
    background: #f4f5fb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 2rem;
    box-shadow: none;
}

.form-group {
    display: flex;
    width: 100%;
    margin-bottom: 0;

}

.form-group textarea {
    width: 80%; 
    max-height: 50px; 
    overflow-y: auto;
    padding: 8px; 
    box-sizing: border-box; 
    resize: none; 
    z-index: 10;
    position: relative;
}

.send {
    font-size: 15px;
    color: white;
    padding: 0.5em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    margin: auto;
}

.send span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.send svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.send:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.send:hover span {
    transform: translateX(5em);
}
  
.send:active {
    transform: scale(0.95);
}
  
@keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
}
  






@media (min-width: 992px) {
    .left-msg-side {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .right-msg-side {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .users {
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .date {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .send span {
        display: none;
    }

    .row-msg {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    .form-group textarea {
        max-height: 35px;
        border-radius: .25rem 0 0 .25rem;
        padding: 2px 8px;
    }

    .send {
        border-radius: 0 .25rem .25rem 0;
    }
}

@media (max-width: 767px) {
    .chat-left, .chat-right {
        margin-bottom: 30px;
    }

    .chat-right {
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

    .chat-avatar img {
        width: 32px;
        height: 32px;
    }

    .chat-left .chat-avatar {
        margin: 0 20px 5px 0;
        display: flex;
        align-items: center;
    }

    .chat-left .chat-hour {
        justify-content: flex-start;
    }

    .chat-right .chat-avatar {
        order: -1;
        margin: 0 0 5px 20px;
        align-items: center;
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
    }

    .chat-right .chat-hour {
        justify-content: flex-end;
    }

    .chat-text {
        font-size: .8rem;
    }
}

@media (max-width: 991.98px) {
    .users {
        height: 100%;
    }

    .name-time {
        width: 130px;
    }

    .left-msg-side {
        padding-bottom: 0;
    }

    .right-msg-side {
        padding-top: 0;
    }

    .users-container {
        border-right: none;
    }
    
    .users .person {
        width: 50%;
        border-right: 1px solid #ccc;
    }

    .right-msg-side {
        border-right: none;
    }
 
    /* .msg-user img {
        display: none;
    } */
}