/* MOVIES */
.movies {
    color: #A52B21;
}

.movies:is(.dark *) {
    color: #ED3F2F; 
}

/* BOOKS */
.books {
    color: #61872B;
}

.books:is(.dark *) {
    color: #4FB021;
}

/* GAMES */
.games {
    color: #00A0E3;
}

.games:is(.dark *) {
    color: #14ACF5;
}


.novinka p, .novinka {
    margin: 10px 0;
}

.nadpis {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.film {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}

.uzivatel {
    text-align: end;
    margin-bottom: 0;
    padding-right: 10px;
}

.v-kinech li {

    margin: 10px auto;
}


/* MAIN */
.main-grid {
    display: flex;
    flex-wrap: wrap;
}


table th {
    font-weight: normal;
}

table tr:nth-child(even) {
    background-color: #e3e3e3;
}


.all-comments-tab {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid #dee2e6 !important;
    border-radius: .25rem !important;
    background-color: #ffffff;
    margin-top: 0.5rem;
    padding: 1rem;
}

.all-comments-tab:is(.dark *) {
    background-color: #0d0c0f;
}


.info-card {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.after.line:last-child::after {
    content: none; /* Odstraní obsah posledního after */
}

.alert {
    margin-bottom: 1.25rem; /* 20px */
    margin-top: 1.25rem; /* 20px */
    padding: 1rem; /* 16px */
    border-radius: .5rem !important;
    background: #cfefcf;
}

.alert:is(.dark *) {
    background: #4FB021;
}




/******************************/
/*          CAROUSEL          */
/******************************/
.carousel-container-index {
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: .5rem !important;
    margin-bottom: 1rem; /* 16px */
}

.carousel-track-index {
    display: flex;
}

.carousel-index {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-item-index {
    min-width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    border: 1px solid #dee2e6 !important;
    border-radius: .5rem !important;
}

.carousel-item-index img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: .5rem !important;
}

.carousel-item-index h5 {
    position: absolute;
    bottom: 8px; 
    left: 16px; 
    color: white;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-left: .5rem; /* 8px */
    padding-right: .5rem; /* 8px */
    border-radius: .25rem !important;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 30px 35px;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    margin-top: 5px;
}

.card-list .card-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    flex: 0 0 25%;
    box-sizing: border-box;
    margin-left: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 30%); */
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link .card-image {
    max-width: 100px; 
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-item p {
    width: 100%;
}

.card-link {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel-ratting {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -40px;
}

.rating {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    box-shadow: 3px 3px 10px rgb(147 147 147);
}

.rating:is(.dark *) {
    box-shadow: none;
}

.rating::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background: #444444;
    border-radius: 50%;
    z-index: 2;
}

.rating::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 50px;
    height: 50px;
    background: conic-gradient(
        var(--gradient-color, #0a0) 0%,
        var(--gradient-color, #0a0) var(--gradient-value, 50%),
        #777777 var(--gradient-value, 50%)
    );
    border-radius: 50%;
    z-index: 1;
}

.rating-inner {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.rating-inner span {
    font-size: 10px;
    margin-left: 2px;
    color: #ffd700;
}



/******************************/
/*          ARTICLES          */
/******************************/
.article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border: 1px solid #dee2e6;
    background-color: #ffffff;
    border-radius: .25rem !important;
    margin-top: 0.5rem;
}

.article:is(.dark *) {
    background-color: #0d0c0f;
}

.article img {
    border-top-left-radius: .25rem; /* 4px */
    border-bottom-left-radius: .25rem; /* 4px */
    max-width: 100px;
    height: fit-content; 
    object-fit: contain; 
    margin-right: 5px
}

.article-text {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem; /* 8px */
    flex: 2;
}



.comment-head {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: .5rem;
}

.comment-head a {
    display: flex;
    align-items: center;
    margin-left: .25rem;
    gap: 0.25rem; /* 4px */
    font-weight: 700;
}

.comment {
    width: 100%;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    margin-top: .25rem; /* 4px */
}

.user-comment {
    text-align: right;
    width: 100%;
}


            

@media (max-width: 1280px) {
    .after.cinemaline:last-child::after {
        content: none; /* Odstraní obsah posledního after */
    }
}

@media screen and (max-width: 1024px) {
    .card-list .card-item {
        flex: 1 0 33%; /* Pro obrazovky menší než 1024px bude zobrazeno 3 karty */
    }

    .lg\:w-\[182px\] {
        width: 100%;
    }

    .margin-l {
        margin-left: 0.75rem;
    }
}

@media screen and (max-width: 768px) {
    .card-list .card-item {
        flex: 1 0 50%; /* Pro obrazovky menší než 768px (mobilní zařízení) budou zobrazeny 2 karty */
    }
}

@media (min-width: 640px) {
    .sm\:h-56 {
        height: auto;
    }
}

/* @media (min-width: 1280px) {
    .xl\:grid-cols-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
} */

