{% load i18n %}
{% load ratings %}
{% load static %}
<!DOCTYPE html>
<html lang="cs">

    <head>

        {% include "../inc/head.html" %}

        <title>{{ book.title }} {% if book.year %} ({{ book.year }}) {% endif %}</title>
        
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

        <link href="/static/css/books.css"rel="stylesheet" >

    </head>

    <body class="bg-[#FFFFFF] text-[#0d0c0f] dark:bg-[#0d0c0f] dark:text-[#F9F9F9] d-flex flex-column min-vh-100">

        {% include "../inc/navbar_books.html" %}

        <main class="flex-grow-1 max-w-[1440px] mx-auto">
            <section class="text-[#0d0c0f] dark:text-[#F9F9F9] max-w-[1440px] mx-auto flex flex-col lg:flex-row">
                <aside class="lg:min-w-[200px] max-h-full bg-light dark:bg-[#1A161F]" style="border-right: 1px solid white;">
                    <div class="lg:min-w-[200px] max-h-full" style="border-right: 1px solid white;">
                        <!-- Menu -->
                        <div class="menu-hidden menu-section flex justify-center lg:flex-col lg:justify-normal lg:h-screen lg:block bg-[#F9F9F9] dark:bg-[#1A161F]">
                            <div class="" style="width: 100%;">
                                <div class="after flex flex-wrap justify-between">
                                    <h3 class="ml-8 lg:pt-11 mb-2 font-bold sm:mt-4">Menu</h3>
                                    <div class="flex gap-4 mb-2 mr-4 items-end">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 sun cursor-pointer ">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 moon cursor-pointer ">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="mt-4 flex sm:justify-center">
                                    <div class="w-full flex flex-col ml-8 items-center">
                                        <div class="flex flex-col w-full">
                                            <div class="sidebar-list">
                                                <a href="">Novinky</a>
                                                <a href="">Seznam knih</a>
                                                <a href="">Žebříčky</a>
                                                <a href="">Nakladatelství</a>
                                                <a href="">Postavy</a>
                                                <a href="/forum/knihy">Fórum</a>
                                                <a href="">Přidat knihu</a>
                                                <a href="">Přidat autora</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>

                <div class="row container my-5">
                    <!-- Levá strana -->
                    <div class="col-lg-8">
                        <h2>{{ book.title }}</h2>

                        <!-- Info Bar -->
                        <div class="rounded-3 p-2 mb-3 d-flex w-full bg-[#F9F9F9] dark:bg-[#1A161F] border-[#ccc] rounded-1xl self-start">
                            <!-- Kontrola, zda je k dispozici rok -->
                            {% if book.year %}
                            <span class="me-3"><a href="https://div.cz/knihy/{{ book.year }}">{{ book.year }}</a></span>
                            &nbsp;|&nbsp;
                            {% endif %}

                            <!-- Kontrola, zda existuje seznam žánrů a není prázdný -->
                            {% if genres %}
                            <span class="me-3">
                                {% for book_genre in genres %}
                                    <!--<a href="https://div.cz/knihy/{{ book_genre.genreid.url }}">-->{{ book_genre.genreid.genrenamecz }}<!--</a>-->{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                            &nbsp;|&nbsp;
                            {% endif %}
                            
                            <!-- Kontrola, zda je k dispozici počet stran -->
                            {% if book.pages %}
                            <span> {{ book.pages }} stran</span>
                            {% endif %}
                        </div>

                        <div class="d-flex mb-3 mt-4 wrap">
                            <div class="me-3 mr-4 flex-shrink-0 sm-flex" style="width:40%; max-width:200px">
                            {% if book.img == "noimg.png" %}
                                <img src="/static/img/book/book.png" alt="Kniha {{ book.title }}" class="img-fluid w-full rounded" style="object-fit: cover;max-width: 200px;">
                                {% else %}
                                <img src="https://books.google.com/books/content?id={{ book.img }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ book.title }}" class="img-fluid w-full rounded" style="object-fit: cover;max-width: 200px;">
                            {% endif %}
                                <div class="d-lg-none mb-2 sm:ml-5">
                                    <div class="rating-stars" style="white-space: nowrap;"><!--&nbsp;|&nbsp;-->
                                        <div class="smaller-stars">{% ratings book %}</div>
                                        <div id="rating-thankyou" class="alert alert-success" style="display: none;">Děkujeme za hodnocení!</div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-wrap content-between flex-grow-1 sm:mt-5 w-full lg:w-55">
                                <ul class="list-unstyled">
                                {% if genres %}
                                    <li><strong>Žánr:</strong>
                                        {% for book_genre in genres %}
                                        <!--<a href="/knihy/{{ book_genre.genreid.url }}">-->{{ book_genre.genreid.genrenamecz }}<!--</a>-->
                                        {% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </li>
                                    {% endif %}

                                    <li><strong>Autor:</strong>
                                    {% for author in authors %}
                                        <a href="/autor/{{ author.url }}">{{ author.firstname }} {{ author.lastname }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                    </li>
                                        
                                    {% if characters_with_roles %}
                                    <li><strong>Postavy:</strong>
                                        <ul>
                                        {% for character_with_role in characters_with_roles %}
                                        {% with character=character_with_role.characterid %}
                                            <li>
                                                <a href="/postava/{{ character.characterurl }}">
                                                    {% if character.characternamecz %}
                                                        {{ character.characternamecz }}
                                                    {% else %}
                                                        {{ character.charactername }}
                                                    {% endif %}
                                                </a>
                                                {% if character_with_role.characterrole %}
                                                    - {{ character_with_role.characterrole }}
                                                {% endif %}
                                            </li>
                                        {% endwith %}
                                        {% endfor %}
                                        </ul>
                                    </li>
                                    {% endif %}
                                </ul>

                                {% if book.language %}
                                <span>Jazyk: {{ book.language }} </span>
                                {% endif %}

                                <!-- Tlačítka -->
                                {% if user.is_authenticated %}
                                <div class="favorite-menu grid sm:grid-colums-2 justify-items-center w-full border rounded-1xl mt-4">
                                    
                                    {% if not is_in_favourites %}
                                    <a href="{% url 'add_to_favourite_books' bookid=book.bookid %}" class="favorite-link">
                                    {% else %}
                                    <a href="{% url 'remove_from_favourites_books' bookid=book.bookid %}" class="favorite-link">
                                    {% endif %}
                                        <span class="favorite-link-icon">
                                            <i class="fas fa-heart" style="color: {% if is_in_favourites %} #e91e63 {% else %} unset {% endif %}"></i>
                                        </span>
                                        <span class="favorite-link-title">Oblíbené</span>
                                        <span class="xl:hidden">Oblíbené</span>
                                    </a>

                                    {% if not is_in_read_books %}
                                    <a href="{% url 'add_to_read_books' bookid=book.bookid %}" class="favorite-link">
                                    {% else %}
                                    <a href="{% url 'remove_from_read_books' bookid=book.bookid %}" class="favorite-link">
                                    {% endif %}
                                        <span class="favorite-link-icon">
                                            <i class="fas fa-book" style="color: {% if is_in_read_books %} #e91e63 {% else %} unset {% endif %}"></i>
                                        </span>
                                        <span class="favorite-link-title">Přečteno</span>
                                        <span class="xl:hidden">Přečteno</span>
                                    </a>
                                    
                                    {% if not is_in_book_library %}
                                    <a href="{% url 'add_to_book_library' bookid=book.bookid %}" class="favorite-link">
                                    {% else %}
                                    <a href="{% url 'remove_from_book_library' bookid=book.bookid %}" class="favorite-link">
                                    {% endif %}
                                        <span class="favorite-link-icon">
                                            <i class="fas fa-home" style="color: {% if is_in_book_library %} #e91e63 {% else %} unset {% endif %}"></i>
                                        </span>
                                        <span class="favorite-link-title">Knihovna</span>
                                        <span class="xl:hidden">Knihovna</span>
                                    </a>
                                
                                    {% if not is_in_readlist %}
                                    <a href="{% url 'add_to_readlist' bookid=book.bookid %}" class="favorite-link">
                                    {% else %}
                                    <a href="{% url 'remove_from_readlist' bookid=book.bookid %}" class="favorite-link">
                                    {% endif %}
                                        <span class="favorite-link-icon">
                                            <i class="fas fa-book-reader" style="color: {% if is_in_readlist %} #e91e63 {% else %} unset {% endif %}"></i>
                                        </span>
                                        <span class="favorite-link-title">Chci číst</span>
                                        <span class="xl:hidden">Chci číst</span>
                                    </a>
                                </div>
                                {% endif %}

                                <div id="add-thankyou" class="alert alert-success" style="display: none;">Film přidán do seznamu!</div>
                                
                            </div>
                        </div>

                        <p>{% if book.description %}
                        {{ book.description|safe }}    {% else %}Zatím žádný popis    {% endif %}
                        </p>


<!-- Karty -->
                        <div class="tab-container" style="font-size:12px">
                            <ul class="tab-links">
                                <li><a href="#tab1" class="active">Komentáře</a></li>
                                <li><a href="#tab2">Postavy</a></li>
                                <li><a href="#tab3">Citáty</a></li>
                                <li><a href="#tab4">Zajímavosti</a></li>

                            </ul>
                    
                            <div id="tab1" class="tab-content active w-full bg-[#F9F9F9] dark:bg-[#1A161F] self-start">
                                <h3>Komentáře</h3>
                                <p>Komentáře a recence ke knize.</p>
                            </div>


                            <div id="tab2" class="tab-content w-full bg-[#F9F9F9] dark:bg-[#1A161F] self-start">
                                <h3>Postavy</h3>
                                <p>Postavy z knihy</p>
                            </div>


                            <div id="tab3" class="tab-content w-full bg-[#F9F9F9] dark:bg-[#1A161F] self-start">
                                <h3>Citáty z knihy</h3>
                                
<ul>
    {% for quote in quotes %}
    <li>
        {{ quote.quote }}
        {% if quote.page_number %}
            <br><small>Strana: {{ quote.page_number }}</small>
        {% endif %}
        {% if quote.characterid %}
            <br><small>Postava: {{ quote.characterid.characterid.charactername }}</small>
        {% endif %}
        <br><small>Vložil: {{ quote.user.username }}</small><hr>
    </li>
    {% endfor %}
</ul>
{% if user.is_authenticated %}
    <h2>Přidat nový citát:</h2>
    <form method="post">
        {% csrf_token %}
        {{ quote_form.as_p }}
        <button type="submit">Přidat citát</button>
    </form>
{% endif %}
                            </div>


                            <div id="tab4" class="tab-content w-full bg-[#F9F9F9] dark:bg-[#1A161F] self-start">
                                <h3>Zajímavosti</h3>
                                <p>Informace o zajímavostech filmu.</p>
                            </div>
                        </div>
 
<!-- / karty -->



                        <div class="mt-5 mb-5">          
                            <h3 class="mt-4">Komentáře ke knize</h3>
                            {% if user.is_authenticated %}
                            <form method="post" action="{% url 'book_detail' book_url=book.url %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ comment_form.comment }}
                                </div>
                                <button type="submit" class="btn btn-primary add">Odeslat komentář</button>
                            </form>
                            {% else %}
                            <p>Pro komentování je nutné být <a href="/prihlaseni/">přihlášený</a>.<br>
                            Nemáš účet? Nevadí, <a href="/registrace/">rychlá registrace!</a></p>
                            {% endif %}

                            {% if comments %}
                            <ul class="list-unstyled mt-3 komentar">
                                {% for comment in comments %}
                                <li class="mb-2 w-full rounded-1xl self-start">
                                    <div class="user">
                                        <a href="{% url 'user_profile_with_profil' comment.user.pk %}">{{ comment.user }}</a>
                                        <p>{{ comment.dateadded }}</p>
                                    </div>
                                    <p class="koment after before">{{ comment.comment }}</p>
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>Zatím nejsou žádné komentáře k tomuto filmu.</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Pravá strana -->
                    <div class="col-lg-4">
                        <!-- Rating -->
                        <div class="card mb-4 mt-4">
                            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                <h4 style="text-align:center" class="after">Hodnocení</h4>
                                <div class="grid columns">
                                    <div class="hodnoceni">
                                        {% ratings book %}
                                        {% if user.is_authenticated %}
                                        {% else %}
                                        <p>Pro hodnocení je třeba se <a href="/prihlaseni/">Přihlásit!</a></p>
                                        {% endif %}
                                    </div>
                                    
                                    <div id="rating-thankyou" class="alert alert-success" style="display: none;">
                                        Děkujeme za hodnocení!
                                    </div>

                                    {% if ratings %}
                                    <ul class="list-unstyled rating-users">
                                    {% for rating in ratings %}
                                        <li>
                                            <a href="{% url 'user_profile_with_profil' user_id=rating.user.id %}">{{ rating.user.username }}</a> <!--(ID: {{ rating.user.id }})-->:
                                            <span class="right">
                                            {% for _ in "12345" %}
                                            {% if forloop.counter <= rating.score %}
                                                <span class="text-warning">★</span>  {# Třída `text-warning` v Bootstrapu nastaví žlutou barvu #}
                                                {% else %}
                                                    ☆
                                                {% endif %}
                                            {% endfor %}
                                            </span>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                <h4 class="card-title">{{ book.titlecz }}</h4> <!-- NEFUNGUJE -->
                                <p class="card-text">Sdílet na:</p>

                                <!-- Facebook Share Button -->
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://div.cz/kniha/{{ book.url }}" class="btn btn-primary mb-2 mr-1" target="_blank" title="Facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                                <!-- Twitter Share Button -->
                                <a href="https://twitter.com/intent/tweet?url=https://div.cz/kniha/{{ book.url }}&text={{ book.title }}" class="btn btn-info mb-2 mr-1" target="_blank" title="Twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>

                                <!-- E-mail Share Button -->
                                <a href="mailto:?subject={{ book.titlecz }}&body=Podívej se na https://div.cz/kniha/{{ book.url }}" class="btn btn-dark mb-2 mr-1" target="_blank" title="E-mail">
                                    <i class="fas fa-envelope"></i>
                                </a>

                                <!-- WhatsApp Share Button -->
                                <a href="https://wa.me/?text={{ book.titlecz }} - https://div.cz/kniha/{{ book.url }}" class="btn btn-success mb-2" target="_blank" title="WhatsApp">
                                    <i class="fab fa-whatsapp"></i>
                                </a>

                            </div>
                        </div>

                        <!-- Tags -->
                        <div class="card mb-3 d-none d-lg-block">
                            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                <h4>Tagy</h4>
                                <!-- Add tages -->
                                {% for book_genre in genres %}
                                <span class="badge bg-secondary p-1" style="color:white"> <a href="https://div.cz/filmy/{{ book_genre.genreid.genrenamecz }}"></a></span> 
                                {% if not forloop.last %} {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        {% include "../inc/footer.html" %}

        <script src="/static/js/books.js"></script>
        <script src="/static/js/script.js"></script>

    </body>
</html>
