{% extends 'books/base.html' %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block content %}

<div class="container">
    <h2 class="page-title">
        Vyhledávání: 
        {% if request.GET.q %} 
            <span class="movies">{{ request.GET.q }}</span>
        {% endif %}
    </h2>

    {% if books %}
        <div class="search-table">
            
            <!-- Hlavička -->
            <div class="search-grid search-header">
                <div style="text-align: center;">Miniatura</div>
                <div>Název</div>
                <div style="text-align: center;">Rok</div>
                <div style="text-align: center;">Hodnocení</div>
            </div>

            <!-- Řádky -->
            {% for book in books %}
                <div class="search-grid search-row">
                    <a href="/kniha/{{ book.url }}">
                        {% if book.img == "noimg.png" %}
                            <!-- Pokud je book.img "noimg.png", zobraz výchozí obrázek -->
                            <img src="/static/img/book/book.png" alt="Kniha {{ book.titlecz|default:book.title }}" class="img-fluid">
                            {% elif book.img == "GoogleID" %}
                            <!-- Pokud je book.img "GoogleID", zobraz náhled z Google Books -->
                            <img src="https://books.google.com/books/content?id={{ book.googleid }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ book.titlecz }}" class="img-fluid">
                            {% else %}
                            <!-- Jinak zobraz vlastní nahraný obrázek -->
                            <img src="https://media.div.cz/knihy/{{ book.img }}" alt="{{ book.titlecz|default:book.title }}" class="img-fluid">
                        {% endif %}
                    </a>

                    <div class="title">                       
                        <a href="/kniha/{{ book.url }}">
                            {{ book.titlecz|default:book.title }}
                        </a> 

                        {% if book.authorurl %}
                            <a href="/autor/{{ book.authorurl }}">
                                {{ book.author }}
                            </a>

                            {% else %}
                            {{ book.author }}
                        {% endif %}
                        <!--<a href="/autor/{{ book.authorid__url }}">{{ book.authorid__firstname }} {{ book.authorid__lastname }}</a>-->
                    </div>

                    <div class="year">
                        <a href="https://div.cz/knihy/{{ book.year }}">{{ book.year|default:"" }}</a>
                    </div>

                    <div class="search-rating">
                        {% if user.is_authenticated %}
                            <div class="movie-rating">
                                100 % <!-- celkové hodnocení filmu -->
                            </div>

                            <div class="search-stars">
                                {% if book.is_read %}
                                    <i class="fas fa-book" title="přečteno" style="margin-right: 1rem;"></i>
                                {% endif %}

                                <div class="stars">
                                    {% if book.ratingaverage %}
                                        <span>
                                            {% for _ in "12345" %}
                                                {% if forloop.counter <= rating.score %}
                                                    <span>★</span>
                                                {% else %}
                                                    ☆
                                                {% endif %}
                                            {% endfor %}
                                        </span>

                                        {% else %}
                                        <span><small>Nehodnoceno</small></span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        </div>

        {% else %}
        <p>Žádné knihy nenalezeny.</p>
    {% endif %}
</div>

{% endblock %}