{% extends "books/base.html" %}
{% load humanize %}

{% block title %}Nabídky a poptávka knih | DIV.cz{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-6">
    <div class="flex items-center mt-8">
        <h3>Přejít na: </h3>
        <div class="">
            <h3 style="padding: 5px 10px;">                
                <a href="{% url 'books_market_offers' %}">Nabídka knih</a>
            </h3>
        </div>
        <div class="">
            <h3 style="padding: 5px 10px;">
                <a href="{% url 'books_market_wants' %}">Poptávka knih</a>
            </h3>
        </div>
    </div>

    <!-- NABÍDKY -->
    <div class="mt-8">
        <h2 class="text-2xl font-semibold mb-4">Nabídka knih</h2>
        <div class="grid grid-cols-2 gap-2">
            {% for listing in sell_listings %}
                <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                    <a href="{% url 'book_detail' listing.book.url %}">
                        <img class="rounded-l" style="width: 80px;" src="/static/kniha/{{ listing.book.img }}">
                    </a>
                    <div class="ml-2" style="flex: 2;">
                        <p>{{ listing.book.titlecz|default:listing.book.title }}</p>
                        <p>{{ listing.book.author }}</p>
                        <p>{% if listing.price %}{{ listing.price|floatformat:0 }} Kč{% else %}Daruji{% endif %}</p>
                        <p><a href="{% url 'listing_detail_sell' listing.book.url listing.booklistingid %}">Detail nabídky</a></p>
                        <p class="text-sm text-gray-600">Přidal: {{ listing.user.username }} | {{ listing.createdat|date:"j.n.Y" }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination mt-8 mb-8">
            <span class="step-links flex justify-center">
                <div>
                    {% if sell_listings.has_previous %}
                        <a href="?sell_page=1">&laquo; první</a>
                        <a href="?sell_page={{ sell_listings.previous_page_number }}">předchozí</a>
                    {% endif %}
                </div>

                <span class="current-page mx-4">
                    Stránka {{ sell_listings.number }} / {{ sell_listings.paginator.num_pages }}
                </span>

                <div>
                    {% if sell_listings.has_next %}
                        <a href="?sell_page={{ sell_listings.next_page_number }}">další</a>
                        <a href="?sell_page={{ sell_listings.paginator.num_pages }}">poslední &raquo;</a>
                    {% endif %}
                </div>
            </span>
        </div>  
    </div>

    <!-- POPTÁVKY -->
    <div class="mt-8 mb-8">
        <h2 class="text-2xl font-semibold mb-4">Poptávka knih</h2>
        <div class="grid grid-cols-2 gap-2">
            {% for listing in buy_listings %}
                <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                    <a href="{% url 'book_detail' listing.book.url %}">
                        <img class="rounded-l" style="width: 80px;" src="/static/kniha/{{ listing.book.img }}">
                    </a>
                    <div class="ml-2" style="flex: 2;">
                        <p><a href="{% url 'book_detail' listing.book.url %}">{{ listing.book.titlecz|default:listing.book.title }}</a></p>
                        <p>{{ listing.book.author }}</p>
                        <p>Nabízená cena: {{ listing.price|floatformat:0 }} Kč</p>
                        <p><a href="{% url 'listing_detail_buy' listing.book.url listing.booklistingid %}">Detail poptávky</a></p>
                        <p class="text-sm text-gray-600">Přidal: {{ listing.user.username }} | {{ listing.createdat|date:"j.n.Y" }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination mt-8">
            <span class="step-links flex justify-center">
                <div>
                    {% if buy_listings.has_previous %}
                        <a href="?buy_page=1">&laquo; první</a>
                        <a href="?buy_page={{ buy_listings.previous_page_number }}">předchozí</a>
                    {% endif %}
                </div>

                <span class="current-page mx-4">
                    Stránka {{ buy_listings.number }} / {{ buy_listings.paginator.num_pages }}
                </span>

                <div>
                    {% if buy_listings.has_next %}
                        <a href="?buy_page={{ buy_listings.next_page_number }}">další</a>
                        <a href="?buy_page={{ buy_listings.paginator.num_pages }}">poslední &raquo;</a>
                    {% endif %}
                </div>
            </span>
        </div>
    </div>
</div>
{% endblock %}