{% extends "books/base.html" %}
{% load humanize %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}Knihy | DIV.cz{% endblock %}

{% block meta %}
<meta name="description" content="Databáze knih na DIV.cz. Objevte novinky, recenze, žebříčky, autory a další informace o vašich oblíbených knihách.">
<link rel="canonical" href="https://div.cz/knihy/">

<meta name="keywords" content="knihy, literatura, databáze knih, recenze, novinky, žebříčky, autoři, knižní novinky">
<meta name="author" content="DIV.cz">

<meta property="og:title" content="Knihy | Databáze knih na DIV.cz">
<meta property="og:description" content="Prozkoumejte nejnovější knihy na DIV.cz. Aktuální recenze, novinky a žebříčky.">
<meta property="og:image" content="https://div.cz/img/book/knizni-div.webp">
<meta property="og:url" content="https://div.cz/knihy/">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Knihy | Databáze DIV.cz">
<meta name="twitter:description" content="Aktuální databáze knih na DIV.cz. Recenze, novinky, a více.">
<meta name="twitter:image" content="https://div.cz/img/book/knizni-div.webp">

<style>
    .bar-container {
        flex-grow: 1;
        background-color: #d3d3d3; 
        border-radius: 5px;
    }

    .bar-book {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        background-color: #61872B;
        border-radius: 5px;
    }

    .slick-dots {
        margin-bottom: 20px;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css">

<script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>

{% endblock %}


{% block content %}

<div class="row container my-4">
    <!-- LEVÁ STRANA -->
    <div class="col-lg-8">
        <!-- carousel -->
        <div class="book-slider">
            {% for book in top_books %}
            <div class="book-item flex-wrap justify-center" style="display: flex; text-align: center; margin: 10px;"> 
                <a href="/kniha/{{ book.url }}">
                    <img class="box-shadow" style="max-width: 140px; height: 205px;" src="{% if book.img == 'noimg.png' %}https://div.cz/static/img/book/book.png {% elif book.img == 'GoogleID' %}https://books.google.com/books/content?id={{ book.googleid }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api {% else %}https://media.div.cz/knihy/{{ book.img }}{% endif %}" alt="{{ book.titlecz|default:book.title }}">
                </a>
                <a class="w-full" style="min-height: 46px;" href="/kniha/{{ book.url }}">
                    <h3 class="card-text">
                        {{ book.titlecz|default:book.title }}
                    </h3>
                </a>
                <p class="w-full" style="min-height: 46px;">{{ book.author }}</p>
            </div>
            {% endfor %}
        </div>


<!--  TEST PRODEJ EKNIH 

<div class="mb-4">
    <h3 class="font-bold mb-2">&#128218; E-knihy k prodeji</h3>
    <div class="flex flex-wrap gap-4">
        {% for ebook2 in ebooks2 %}
        <div class="border rounded-xl p-2" style="width: 180px;">
            <p class="font-bold text-sm truncate">{{ ebook2.title }}</p>
            <p class="text-xs text-gray-600 truncate">{{ ebook2.publisher.name }}</p>
            <p class="text-sm text-green-700 mt-1">Dostupnost: 
{% if ebook2.stock_availability %}
Ano
{% else %}
Ne
{% endif %}
            </p>
        </div>
        {% endfor %}
    </div>
</div>-->

<!-- // TEST PRODEJ EKNIH -->
<!--  TEST: Debug vypis všech dat od Palmknihy 
<div class="mt-6">
    <h4 class="font-semibold mb-2">&#128218;  Detailní data o e-knihách (pro vývoj a ladění)</h4>
    {% for ebook2 in ebooks2 %}
        <div class="mb-4 border rounded-lg p-4 bg-gray-50 text-sm">
            <table class="w-full text-left table-auto">
                <tbody>
                    {% for key, value in ebook2.items %}
                        <tr class="border-t">
                            <td class="font-medium py-1 pr-2">{{ key }}</td>
                            <td class="py-1 text-gray-800">
                                {% if value is dict %}
                                    <pre>{{ value|safe|json_script:"value" }}</pre>
                                {% elif value is list %}
                                    <pre>{{ value|safe|json_script:"value" }}</pre>
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>-->
<!-- // TEST TEST -->



        <!-- generování knih -->
        <div class="row my-4">
            <div class="flex flex-wrap gap-2">
                {% for book in book_list_15 %} 
                <div class="w-full flex box-shadow bg-[#F9F9F9] dark:bg-[#1A161F] border rounded-1xl">

                    <a href="/kniha/{{ book.url }}" style="width: 130px;">
                    {% if book.img == "noimg.png" %}
                        <!-- Pokud je book.img "noimg.png", zobraz výchozí obrázek -->
                        <img src="/static/img/book/book.png" alt="Kniha {{ book.titlecz|default:book.title }}" class="card-img-top rounded-l-lg">
                        {% elif book.img == "GoogleID" %}
                        <!-- Pokud je book.img "GoogleID", zobraz náhled z Google Books -->
                        <img src="https://books.google.com/books/content?id={{ book.googleid }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ book.titlecz|default:book.title }}" class="card-img-top rounded-l-lg">
                        {% else %}
                        <!-- Jinak zobraz vlastní nahraný obrázek -->
                        <img src="https://media.div.cz/knihy/{{ book.img }}" alt="{{ book.titlecz|default:book.title }}" class="card-img-top rounded-l-lg">
                    {% endif %}   
                    </a>

                    <div class="card-body w-min">
                        <div class="flex justify-between">
                            <div>
                                <h4 class="card-title">
                                    <a href="/kniha/{{ book.url }}">
                                    {{ book.titlecz|default:book.title }}
                                    </a>
                                </h4>
                                <h5 class="card-title">
                                    {% if book.authorid and book.authorid.url %}
                                        <a href="{% url 'author_detail' author_url=book.authorid.url %}">{{ book.author }}</a>
                                    {% else %}
                                        {{ book.author }}
                                    {% endif %}
                                </h5>
                            </div>

                            <!-- hodnocení -->
                            <div class="flex" style="width: 50px;">
                                <div class="rating box-shadow" data-rating="{{ book.average_rating }}">
                                    <div class="rating-inner">{{ book.average_rating }}%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">{{ book.description|default_if_none:""|safe|truncatewords:40 }}</p>
                        <!--<a href="/film/{{ movie.url }}" class="btn btn-primary">{{ movie.titlecz }}</a>-->
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>

<div class="card box-shadow mb-4">
    <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
        <div class="flex flex-wrap justify-between card-title after-h3">
             <h3 class="font-bold">Poslední knižní recenze <!--Má komunita--></h3><a href="/knihy/"><small>Zobrazit vše</small></a>
        </div>
       <div class="after last-line">   
    {% if latest_comments %} 
        {% for comment in latest_comments %}  
            <div class="flex mb-3"> 
                <div class="mr-4 flex" style="width:100px; max-width:100px; flex-shrink: 0;"> 
                    {% if comment.bookid.img == "noimg.png" %} 
                        <img src="/static/img/book/book.png" alt="Kniha {{ comment.bookid.titlecz }}" class="w-full rounded" style="object-fit: cover; max-width: 200px;">
                    {% elif comment.bookid.img == "GoogleID" %}
                        <img src="https://books.google.com/books/content?id={{ comment.bookid.googleid }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ comment.bookid.titlecz }}" class="img-fluid w-full rounded" style="object-fit: cover; max-width: 200px;">
                    {% else %}
                        <img src="https://media.div.cz/knihy/{{ comment.bookid.img }}" alt="{{ comment.bookid.titlecz }}" class="w-full rounded" style="object-fit: cover; max-width: 200px;">
                    {% endif %}
                </div>         
    
                <div class="flex flex-wrap content-start ml-2" style="flex: 2;">
                    <a class="w-full font-semibold" href="{% url 'book_detail' comment.bookid.url %}#recenze">{{ comment.bookid.titlecz|default:comment.bookid.title }}</a>
                    <p class="w-full text-sm text-gray-700 dark:text-gray-300">{{ comment.comment|truncatewords:30 }}</p>
                    <p class="w-full text-xs text-gray-500 dark:text-gray-400">
                        <p class="flex justify-end"> Uživatel: </p>
                        {% if comment.user %}
                            <div class="flex flex-wrap content-start ml-2" style="width: 83%;">
                                <a href="/uzivatel/{{ comment.user.id }}/" class="ml-2">{{ comment.user.username }}</a>
                        <span class="ml-2">| {{ comment.dateadded|date:"d.m.Y H:i" }}</span>
                            </div>
                        {% endif %}
                    </p>
                </div> 
            </div>

            {% if not forloop.last %}
                <hr class="my-3 border-gray-300 dark:border-gray-700">
            {% endif %}
        {% endfor %} 
    {% else %}
        <p>Zatím žádné recenze od komunity.</p>
    {% endif %}
</div>
</div>
</div>
</div>
   
 


    
    <!-- PRAVÁ STRANA -->
    <div class="col-lg-4 article-section ">

        <!-- Čtenářský cíl přečtených knih -->
        <!-- by Martin -->
        <div class="card box-shadow mb-4">
        {% if user.is_authenticated %}
            {% if reading_goal %}
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="after-h3 mb-0 font-bold">Cíl čtení pro rok {{ reading_goal.goalyear }}</h3>
                <div class="flex flex-wrap items-center mb-4">
                    <span class="w-full my-4">
                        Přečtených {{ reading_goal.booksread }} / {{ reading_goal.goal }} knih
                    </span>
                    <div class="bar-container w-full flex justify-content-start">
                        <div style="width: {% if reading_goal.progress > 100 %}100{% else %}{{ reading_goal.progress }}{% endif %}%" class="shadow-none flex flex-col text-center whitespace-nowrap justify-center 
                            {% if reading_goal.progress < 50 %}
                            {% elif reading_goal.progress < 75 %}
                            {% elif reading_goal.progress < 100 %}
                            {% endif %}">
                            <span class="bar-book inline-block px-2">
                            {{ reading_goal.progress|floatformat:1 }}%
                            </span>
                        </div>
                        {% if reading_goal.progress == 0 %}
                        <span class="text-xs">0%</span>
                        {% endif %}
                    </div>
                </div>

                {% if reading_goal.progress >= 100 %}
                <div class="mt-2 text-center">
                    Gratulujeme! Splnili jste svuj ctenarsky cil!
                </div>
                {% endif %}

                <hr>

                <form id="goalForm" class="flex flex-wrap justify-center text-center" method="POST" action="{% url 'set_reading_goal' %}">
                    {% csrf_token %}
                    <div class="flex-1 w-full">
                        <label for="goal" class="w-full mt-0 mb-1">Upravit cil pro rok {{ reading_goal.goalyear }}</label>
                        <div class="relative">
                            <input type="number" name="goal" id="goal" min="1" value="{{ reading_goal.goal }}" class="mt-1 w-full pl-3 pr-12">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary add mb-0"><i class="fa fa-save mr-2"></i> Uložit</button>
                </form>
            </div>

            {% else %}
            <div class="text-center py-4">
                <p class="mb-4">Nastavte si svuj prvni ctenarsky cil!</p>
                <form id="goalForm" class="max-w-sm mx-auto" method="POST" action="{% url 'set_reading_goal' %}">
                    {% csrf_token %}
                    <div class="flex gap-4">
                        <div class="relative flex-1">
                            <input type="number" name="goal" placeholder="Napr. 12"min="1" class="w-full pl-3 pr-12">
                            <div class="absolute flex items-center pr-3">
                            knih
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary add mb-0">Začít</button>
                    </div>
                </form>
            </div>
            {% endif %}

            {% else %}

            <p class="card-body">Pro nastavení vlastního čtenářského cíle se prosím <a href="/prihlaseni/">přihlašte</a>.</p>
        {% endif %}
        </div>

        <!-- BURZA KNIH -->
        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                <div class="flex flex-wrap card-title after-h3">
                    <h3 class="font-bold">Burza knih</h3>
                </div>
                <!-- prodej -->
                <div class="flex flex-wrap">
                    <div class="flex flex-wrap justify-between w-full">
                        <h4>Prodej</h4><a href="{% url 'books_market_offers' %}"><small>Zobrazit vše</small></a>
                    </div>
                    {% for listing in recent_sell_listings %}
                    <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded mt-2">
                        <a href="{% url 'listing_detail_sell' listing.book.url listing.booklistingid %}">
                        {% if listing.book.img == "noimg.png" %}
                            <!-- Pokud je book.img "noimg.png", zobraz výchozí obrázek -->
                            <img src="/static/img/book/book.png" alt="Kniha {{ listing.book.titlecz|default:listing.book.title }}" class="rounded-l" style="width: 80px;" alt="odkaz na knihu">
                            {% elif listing.book.img == "GoogleID" %}
                            <!-- Pokud je book.img "GoogleID", zobraz náhled z Google Books -->
                            <img src="https://books.google.com/books/content?id={{ listing.book.googleid }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ listing.book.titlecz|default:listing.book.title }}" class="rounded-l" style="width: 80px;" alt="odkaz na knihu">
                            {% else %}
                            <!-- Jinak zobraz vlastní nahraný obrázek -->
                            <img src="https://media.div.cz/knihy/{{ listing.book.img }}" alt="{{ listing.book.titlecz }}" class="rounded-l" style="width: 80px;" alt="odkaz na knihu">
                        {% endif %}
                        </a>

                        <div class="flex flex-wrap content-between h-full p-2" style="flex: 2;">
                            <p class="w-full"><a href="{% url 'listing_detail_sell' listing.book.url listing.booklistingid %}">
                                {% if listing.book.titlecz %}
                                    {{ listing.book.titlecz }}
                                {% else %}
                                    {{ listing.book.title }}
                                {% endif %}
                            </a></p>
                            <p class="w-full">{{ listing.book.author }}</p>
                            <p class="w-full">{% if listing.price %}{{ listing.price|floatformat:0 }} Kč{% else %}Daruji{% endif %}</p>
                            <p class="text-sm text-end w-full"><small>Přidal: {{ listing.user.username }} | {{ listing.createdat|date:"j.n.Y" }}</small></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <hr>

                <!-- poptávka -->
                <div class="flex flex-wrap">
                    <div class="flex flex-wrap justify-between w-full">
                        <h4>Poptávka</h4><a href="{% url 'books_market_wants' %}"><small>Zobrazit vše</small></a>
                    </div>
                    {% for listing in recent_buy_listings %}
                    <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded mt-2">
                        <a href="{% url 'listing_detail_buy' listing.book.url listing.booklistingid %}">
                        {% if listing.book.img == "noimg.png" %}
                            <!-- Pokud je book.img "noimg.png", zobraz výchozí obrázek -->
                            <img src="/static/img/book/book.png" alt="Kniha {{ listing.book.titlecz|default:listing.book.title }}" class="rounded-l" style="width: 80px;" alt="odkaz na knihu">
                            {% elif listing.book.img == "GoogleID" %}
                            <!-- Pokud je book.img "GoogleID", zobraz náhled z Google Books -->
                            <img src="https://books.google.com/books/content?id={{ listing.book.googleid }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ listing.book.titlecz|default:listing.book.title }}" class="rounded-l" style="width: 80px;" alt="odkaz na knihu">
                            {% else %}
                            <!-- Jinak zobraz vlastní nahraný obrázek -->
                            <img src="https://media.div.cz/knihy/{{ listing.book.img }}" alt="{{ listing.book.titlecz }}" class="rounded-l" style="width: 80px;" alt="odkaz na knihu">
                        {% endif %}
                        </a>

                        <div class="ml-2" style="flex: 2;">
                            <p><a href="{% url 'listing_detail_buy' listing.book.url listing.booklistingid %}">{{ listing.book.titlecz|default:listing.book.title }}</a></p>
                            <p>{{ listing.book.author }}</p>
                            <p>{% if listing.price %}{{ listing.price|floatformat:0 }} Kč{% else %}Daruji{% endif %}</p>
                            <p class="text-sm text-end w-full"><small>Přidal: {{ listing.user.username }} | {{ listing.createdat|date:"j.n.Y" }}</small></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- PRÁVĚ VYŠLO -->
        <!-- <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title after-h3 font-bold">Právě vyšlo</h3>
                <ul class="w-full" style="list-style-type:none">
                    <li><a href="https://test.div.cz/kniha/sikmy-kostel-3">Šikmý kostel 3</a></li>
                    <li><a href="https://test.div.cz/kniha/ctvrte-kridlo">Čtvrté křídlo</a></li>
                    <li><a href="https://test.div.cz/kniha/murtagh">Murtagh</a></li>
                    <li>Duše národa</li>
                    <li>Lovec přízraků</li>
                    <li>Sedm schodů k moci</li>
                    <li>Duna - retro vydání</li>
                </ul>
            </div>
        </div> -->

        <!-- ČLÁNKY -->
        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <div class="flex flex-wrap justify-between card-title after-h3">
                    <h3 class="font-bold">Články</h3><!--<a href="{% url 'articles_list' category='knihy' %}"><small>Zobrazit vše</small></a>-->
                </div>
                <div class="flex flex-wrap after">
                    <a href="https://div.cz/magnesia-litera-2024-svatek-ceske-literatury" class="w-full">Magnesia Litera 2024</a>
                    <a href="https://div.cz/literarni-cena-skleneny-klic-glasnyckeln" class="w-full">Skleněný klíč</a>
                    <a href="/odhaleni-kouzla-slova-nobelova-cena-za-literaturu" class="w-full">Nobelova cena za literaturu</a>
                    
                    <a href="https://div.cz/pridej-svou-knihu" class="w-full">Přidej svou e-knihu</a>
                </div>
                <div class="text-right">
                    {% if user.is_superuser %}
                    <a href="{% url 'article_new' category=category_key %}"><i class="fa-solid fa-plus"></i> Přidat nový článek</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- AUTOŘI -->
        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">Autoři měsíce</h3>
                <ul>
                    <li><a href="https://test.div.cz/autor/karin-lednicka">Karin Lednická</a></li>
                    <li><a href="https://test.div.cz/autor/christopher-paolini">Christopher Paolini</a></li>
                    <li><a href="https://test.div.cz/autor/jo-nesbo">Jo Nesbø</a></li>
                    <li><a href="https://test.div.cz/autor/rebecca-yarros">Rebecca Yarros</a></li>
                    <li><a href="https://test.div.cz/autor/robert-bryndza">Robert Bryndza</a></li>
                    <li><a href="https://test.div.cz/autor/orson-welles">Orson Welles</a></li>
                </ul>
            </div>
        </div>

        <!-- ŽÁNRY --><!--
        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">Žánry</h3>
                <div>
                    <a href="/knihy/biografie-a-autobiografie">Biografie a autobiografie</a> |
                    <a href="/knihy/cestopisy">Cestopisy</a> |
                    <a href="/knihy/krimi">Detektivní</a> |
                    <a href="/knihy/dobrodruzne">Dobrodružné</a> |

                    <a href="/knihy/detske">Dětské</a> |
                    <a href="/knihy/eroticke">Erotické</a> |
                    <a href="/knihy/fantasy">Fantasy</a> | 
                    <a href="/knihy/historicky">Historie</a> | 
                    <a href="/knihy/horor">Horor</a> |
                    <a href="/knihy/humor-a-zabava">Humorné</a> |
                    <a href="/knihy/komiksy-a-graficke-romany">Komiks</a> |
                    <a href="/knihy/literatura-faktu">Literatura faktu</a> |

                    <a href="/knihy/odborna">Odborná</a> |
                    <a href="/knihy/poezie">Poezie</a> |
                    <a href="/knihy/pohadky">Pohádky</a> |
                    <a href="/knihy/popularne-naucne">Populárně-naučné</a> |
                    <a href="/knihy/povidky">Povídky</a> |
                    <a href="/knihy/pro-mladez">Pro mládež</a> |

                    <a href="/knihy/romanticky">Romantický</a> |

                    <a href="/knihy/sci-fi">Sci-fi</a> |
                    <a href="/knihy/sportovni">Sportovní</a> |
                    <a href="/knihy/thriller">Thriller</a> |
                    <a href="/knihy/umeni-a-fotografie">Umění</a> |
                    <a href="/knihy/valecne">Válečné</a> |
                    <a href="/knihy/western">Western</a> |
                    <a href="/knihy/young-adult">Young adult</a>
                </div>
            </div>
        </div>-->

        <!-- STATISTIKY -->
        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">V databázi máme:</h3>
                <ul>
                    <li><p>{{ stats_book.value|intcomma }} knih</p></li>
                    <li><p>{{ stats_writters.value|intcomma }} spisovatelů</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.book-slider').slick({
            infinite: true, // nekonečný scroll
            slidesToShow: 3, // počet obrázků na stránce
            slidesToScroll: 1, // posun o 1 obrázek
            autoplay: true, // automatické přehrávání
            autoplaySpeed: 2000, // rychlost automatického posouvání v milisekundách
            dots: true, // navigační tečky
            arrows: false, // Zakáže boční šipky
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1
                    }
                },
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 2
                    }
                }
            ]
        });
    });
</script>

{% endblock %}
