{% extends "books/base.html" %}

{% block content %}

<div class="row container w-full my-4 my-6 grow">
    <h1 class="w-full">Abecední filtr</h1>
    <h2 class="mb-4">Knihy začínající na písmeno "{{ letter }}"</h2>

    <section id="" class="mb-3 w-full">
        <h3 class="flex flex-wrap justify-between">
        <a href="">0-9</a>
            {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
                <a href="">{{ letter }}</a>
            {% endfor %}
        </h3>

        <hr> 

        {% if page_obj %}
        <div class="table">
            <div class="grid search-grid bg-[#c0c0c0]">
                <div></div>
                <div class="font-bold p-1">Název</div>
                <div class="text-center font-bold p-1">Rok</div>
                <div class="text-center font-bold p-1">Hodnocení</div>
            </div>
            <div>
                {% for book in page_obj %}
                    <div class="grid items-center border search-grid sudy">
                        <div>
                        {% if book.img == "noimg.png" %}
                            <img src="{{ book.img }}" alt="Kniha {{ book.title }}" class="img-fluid w-full rounded" style="object-fit: cover;max-width: 200px;">
                            {% else %}
                            <img src="/static/img/book/book.png" alt="{{ book.title }}" class="img-fluid w-full rounded" style="object-fit: cover;max-width: 200px;">
                        {% endif %}
                        </div>
                        <div class="p-1">
                            <a href="{% url 'book_detail' book.url %}">{{ book.titlecz }}</a>
                        </div>
                        <div class="text-center p-1">
                            {{ book.releaseyear }}
                        </div>
                        <div class="text-center p-1">
                            {% if book.AverageRating %}
                                {% with score=book.AverageRating|floatformat:0 %}
                                    <span class="text-warning h4">
                                        {% if score == "1" %}
                                            &#9733;&nbsp;&#9734;&nbsp;&#9734;&nbsp;&#9734;&nbsp;&#9734;
                                        {% elif score == "2" %}
                                            &#9733;&nbsp;&#9733;&nbsp;&#9734;&nbsp;&#9734;&nbsp;&#9734;
                                        {% elif score == "3" %}
                                            &#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9734;&nbsp;&#9734;
                                        {% elif score == "4" %}
                                            &#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9734;
                                        {% elif score == "5" %}
                                            &#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;
                                        {% endif %}
                                    </span>
                                {% endwith %}
                            {% else %}
                                <span class="text-sm">Nehodnoceno</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
            <p>Nenašli jsme žádné knihy začínající na "{{ letter }}".</p>
        {% endif %}

        <!-- Stránkování -->
        <div class="pagination my-5 text-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; První</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Předchozí</a>
                {% endif %}

                <span class="current">
                    Strana {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Další</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Poslední &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
</div>

{% endblock %}
