{% extends "books/base.html" %}
{% load static %}

{% block title %}{{ title }} | DIV.cz{% endblock %}

{% block meta %}
    <style>
        

    </style>
{% endblock %}

{% block content %}
    <div class="container">

        <h2 class="page-title">Citáty z knih</h2>

        <div class="quotes-grid">
           <div class="quote-card">
                <div class="quote-text">
                    Nějaký dlouhý citát, z nějaké knihy a pod tím link jako návnada na knihu.
                </div>

                <div class="quote-book">
                    <a href="">
                        název knihy
                    </a>
                </div>
            </div>
        </div>

        <!-- PAGINÁTOR -->
        
            <div class="pagination">
                <span class="step-links">
                    
                        <a class="first-page" href="?page=1">&laquo; První</a>
                        <a href="">Předchozí</a>
                    

                    <span class="current-page">
                        1 / 1
                    </span>

                    
                        <a href="">Další</a>
                        <a class="last-page" href="">Poslední &raquo;</a>
                    
                </span>
            </div>
           

    </div>
</div>

{% endblock %}
