{% extends "books/base.html" %}
{% load humanize %}

{% block title %}Nabídky a poptávka knih | DIV.cz{% endblock %}

{% block content %}

<div class="container mx-auto px-4 py-6">

    <div class="flex items-center mt-8">
        <h3>Přejít na: </h3>
        <div class="">
            <h3 style="padding: 5px 10px;">                
                <a href="">Nabídka knih</a>
            </h3>
        </div>
        <div class="">
            <h3 style="padding: 5px 10px;">
                <a href="">Poptávka knih</a>
            </h3>
        </div>
    </div>

    <!-- NABÍDKY -->
    <div class="mt-8">
        <h2 class="text-2xl font-semibold mb-4">Nabídka knih</h2>
        <div class="grid grid-cols-2 gap-2">
            <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                <a href="">
                    <img class="rounded-l" style="width: 80px;" src="/static/kniha/a/2/24-bajtu-x-42-let-dorotea-vejmelkova.jpg">
                </a>
                <div class="ml-2" style="flex: 2;">
                    <p>kniha</p>
                    <p>autor</p>
                    <p>cena</p>
                </div>
            </div>
            <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                <a href="">
                    <img class="rounded-l" style="width: 80px;" src="/static/kniha/a/2/555-samolepek-kocky-a-psi-svojtka.jpg">
                </a>
                <div class="ml-2" style="flex: 2;">
                    <p>kniha</p>
                    <p>autor</p>
                    <p>cena</p>
                </div>
            </div>
            <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                <a href="">
                    <img class="rounded-l" style="width: 80px;" src="/static/kniha/a/2/a-study-in-scarlet-sir-arthur-conan-doyle.jpg">
                </a>
                <div class="ml-2" style="flex: 2;">
                    <p>kniha</p>
                    <p>autor</p>
                    <p>cena</p>
                </div>
            </div>
            <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                <a href="">
                    <img class="rounded-l" style="width: 80px;" src="/static/kniha/a/2/academy-stars-second-edition-2-workbook-with-digital-workbook-andrea-harries.jpg">
                </a>
                <div class="ml-2" style="flex: 2;">
                    <p>kniha</p>
                    <p>autor</p>
                    <p>cena</p>
                </div>
            </div>
            <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                <a href="">
                    <img class="rounded-l" style="width: 80px;" src="/static/kniha/a/2/agilni-lidr-zuzana-sochova.jpg">
                </a>
                <div class="ml-2" style="flex: 2;">
                    <p>kniha</p>
                    <p>autor</p>
                    <p>cena</p>
                </div>
            </div>
            <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                <a href="">
                    <img class="rounded-l" style="width: 80px;" src="/static/kniha/2025/01/SilenceintheShadows_DarcyCoates.jpg">
                </a>
                <div class="ml-2" style="flex: 2;">
                    <p>kniha</p>
                    <p>autor</p>
                    <p>cena</p>
                </div>
            </div>
        </div>

        <div class="pagination mt-8 mb-8">
            <span class="step-links flex justify-center">

                <div>
                    <a href="">&laquo; první</a>
                    <a href="">předchozí</a>
                </div>

                <span class="current-page mx-4">
                Stránka 1 / 1
                </span>

                <div>
                    <a href="">další</a>
                    <a href="">poslední &raquo;</a>
                </div>

            </span>
        </div>  

    </div>

    <!-- POPTÁVKY -->
    <div class="mt-8 mb-8">
        <h2 class="text-2xl font-semibold mb-4">Poptávka knih</h2>
        <div class="grid grid-cols-2 gap-2">
            <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                <a href="">
                    <img class="rounded-l" style="width: 80px;" src="/static/kniha/a/2/sharko-franck-thilliez.jpg">
                </a>
                <div class="ml-2" style="flex: 2;">
                    <p>kniha</p>
                    <p>autor</p>
                    <p>cena</p>
                </div>
            </div>
            <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                <a href="">
                    <img class="rounded-l" style="width: 80px;" src="/static/kniha/a/2/dovolani-v-trestnim-rizeni-kristyna-machyanova.jpg">
                </a>
                <div class="ml-2" style="flex: 2;">
                    <p>kniha</p>
                    <p>autor</p>
                    <p>cena</p>
                </div>
            </div>
            <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                <a href="">
                    <img class="rounded-l" style="width: 80px;" src="/static/kniha/a/2/cesta-rusu-k-valce-petra-prochazkova.jpg">
                </a>
                <div class="ml-2" style="flex: 2;">
                    <p>kniha</p>
                    <p>autor</p>
                    <p>cena</p>
                </div>
            </div>
            <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                <a href="">
                    <img class="rounded-l" style="width: 80px;" src="/static/kniha/a/2/bride-ali-hazelwood.jpg">
                </a>
                <div class="ml-2" style="flex: 2;">
                    <p>kniha</p>
                    <p>autor</p>
                    <p>cena</p>
                </div>
            </div>
            <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                <a href="">
                    <img class="rounded-l" style="width: 80px;" src="/static/kniha/a/2/asterix-3-asterix-a-gotove-rene-goscinny.jpg">
                </a>
                <div class="ml-2" style="flex: 2;">
                    <p>kniha</p>
                    <p>autor</p>
                    <p>cena</p>
                </div>
            </div>
            <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded">
                <a href="">
                    <img class="rounded-l" style="width: 80px;" src="/static/kniha/a/2/ahoj-krasko-ann-napolitano.jpg">
                </a>
                <div class="ml-2" style="flex: 2;">
                    <p>kniha</p>
                    <p>autor</p>
                    <p>cena</p>
                </div>
            </div>
        </div>

        <div class="pagination mt-8">
            <span class="step-links flex justify-center">

                <div>
                    <a href="">&laquo; první</a>
                    <a href="">předchozí</a>
                </div>

                <span class="current-page mx-4">
                Stránka 1 / 1
                </span>

                <div>
                    <a href="">další</a>
                    <a href="">poslední &raquo;</a>
                </div>

            </span>
        </div>

    </div>

</div>
{% endblock %}