{% extends 'books/base.html' %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block content %}

<div class="row container w-full my-4 my-6 grow">
    <h2 class="mb-4">Vyhledávání: {% if request.GET.q %} {{ request.GET.q }} {% endif %}</h2>
    <div class="row mb-3 w-full">
        {% if books %}
        <div class="table">
            <div class="grid search-grid bg-[#c0c0c0]">
                <div class="text-center font-bold p-1">Miniatura</div>
                <div class="font-bold p-1">Název</div>
                <div class="text-center font-bold p-1">Rok</div>
                <div class="text-center font-bold p-1">Hodnocení</div>
            </div>
            <div>
                {% for book in books %}
                <div class="grid items-center border search-grid sudy">
                        <div>
                            <a href="{{ book.url }}">
                            {% if book.img == "noimg.png" %}
                                <!-- Pokud je book.img "noimg.png", zobraz výchozí obrázek -->
                                <img src="/static/img/book/book.png" alt="Kniha {{ book.titlecz }}" class="w-full rounded" style="max-width: 100px; object-fit: cover;">
                                {% elif book.img == "GoogleID" %}
                                <!-- Pokud je book.img "GoogleID", zobraz náhled z Google Books -->
                                <img src="https://books.google.com/books/content?id={{ book.googleid }}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="{{ book.titlecz }}" class="img-fluid w-full rounded" style="max-width: 100px; object-fit: cover;">
                                {% else %}
                                <!-- Jinak zobraz vlastní nahraný obrázek -->
                                <img src="/static/kniha/{{ book.img }}" alt="{{ book.titlecz }}" class="w-full rounded" style="max-width: 100px; object-fit: cover;">
                            {% endif %}
                            </a>
                        </div>
                        <div class="flex flex-wrap ml-2">
                            <a class="w-full" href="/kniha/{{ book.url }}">{{ book.titlecz }}</a> 
                            <a href="/autor/{{ book.authorid__url }}">{{ book.authorid__firstname }} {{ book.authorid__lastname }}</a>
                        </div>
                        <div>
                            <a href="https://div.cz/knihy/{{ book.year }}">{{ book.year }}</a>
                        </div>
                        <div class="text-center p-1 stars">
                            {% if movie.AverageRating %}
                            {% with score=movie.AverageRating|floatformat:0 %}
                            <span class="text-warning h4">
                                {% if score == "1" %}
                                &#9733;&nbsp;&#9734;&nbsp;&#9734;&nbsp;&#9734;&nbsp;&#9734;
                                {% elif score == "2" %}
                                &#9733;&nbsp;&#9733;&nbsp;&#9734;&nbsp;&#9734;&nbsp;&#9734;
                                {% elif score == "3" %}
                                &#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9734;&nbsp;&#9734;
                                {% elif score == "4" %}
                                &#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9734;
                                {% elif score == "5" %}
                                &#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;&nbsp;&#9733;
                                {% endif %}
                            </span>
                            {% endwith %}
                            {% else %}
                            <span class="text-sm stars">Nehodnoceno</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Žádné knihy nenalezeny.</p>
    {% endif %}
    </div>
</div>


{% endblock %}
