{% extends "books/base.html" %}
{% load humanize %}
{% load custom_filters %}

{% block title %} Zrušení nabídky | DIV.cz{% endblock %}

{% block meta %}

<style>
    .flex.flex-wrap > form {
        width: 100%;
        clear: both;
        order: 999; 
    }
</style>

{% endblock %}


{% block content %}

<div class="container mx-auto px-4 py-6">

    <h1 class="mt-8">
        DIVkvariát - potvzení prodeje
    </h1>


# templates/purchase/confirm_sale.html
<form method="POST">
    {% csrf_token %}
    <h3>Potvrdit prodej této knihy?</h3>
    <p>{{ purchase.book.titlecz }}</p>
    <button type="submit">Potvrdit</button>
    <a href="{% url 'index' %}">Zrušit</a>
</form>

</div>

{% endblock %}