{% extends "divkvariat/base.html" %}
{% load humanize %}

{% block title %}{{ article.title }} | Blog DIVkvariátu{% endblock %}

{% block meta %}

    <meta name="description" content="{{ article.perex|default:article.title|truncatechars:160 }}">
    <link rel="canonical" href="https://divkvariat.cz/blog/{{ article.url }}/">

{% endblock %}

{% block content %}

<div class="blog-page">

    <div class="blog-breadcrumb">
        <a href="/blog/">← Zpět na blog</a>
    </div>

    <h1 class="blog-title">
        {{ article.h1|default:article.title }}
    </h1>

    <div class="blog-meta">
        {{ article.autor }} • {{ article.created|date:"j. n. Y" }}
    </div>

    {% if article.img1600 %}
        <img src="{{ article.img1600 }}"
             alt="{{ article.alt }}"
             class="blog-image">
    {% endif %}

    {% if article.perex %}
        <p class="blog-perex">
            {{ article.perex }}
        </p>
    {% endif %}

    <div class="blog-content">
        {{ article.content|safe }}
    </div>

    <div class="blog-author">
        <h3>O autorovi</h3>
        <p>
            {{ article.autor }} je členem komunity DIVkvariátu a přispívá
            svými zkušenostmi z nákupu a prodeje knih.
        </p>
    </div>

    {% if more_articles %}
        <div class="blog-more">
            <h2>Další články</h2>

            {% for a in more_articles %}
                <a href="{% url 'dk_blog_detail' a.url %}" class="blog-more-item">
                    <div class="blog-more-title">{{ a.title }}</div>
                    <div class="blog-more-date">{{ a.created|date:"j. n. Y" }}</div>
                </a>
            {% endfor %}
        </div>
    {% endif %}

</div>

{% endblock %}
