{% extends "divkvariat/base.html" %}
{% load humanize %}
{% load custom_filters %}

{% block title %}
Zrušení nákupu | DIVkvariát
{% endblock %}

{% block content %}

<div class="page page-narrow">
    <h1 class="page-title">Zrušení nákupu</h1>
    <div class="card">
        <p>
            Opravdu chcete stornovat tento nákup?
        </p>

        <div class="card">
            <strong>
                {{ purchase.book.titlecz|default:purchase.book.title }}
            </strong>
        </div>

        <form method="post" class="form">
            {% csrf_token %}

            <label>
                Důvod storna
                <input type="text" name="cancel_reason" required placeholder="Např. kniha již není dostupná">
            </label>

            <div class="form-actions">
                <button type="submit" class="btn-primary">
                    Potvrdit storno
                </button>

                <a href="{% url 'index' %}" class="btn-secondary">
                    Zrušit
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
