{% extends "books/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}{{ book.title }} | DIV.cz{% endblock %}

{% block content %}

<div class="page page-narrow">
    <h1 class="page-title">Úprava knihy</h1>
    <div class="card">
        <form method="post" action="#" id="update-form" class="form">
            {% csrf_token %}
            <div id="update-details">
                <div class="form-group">
                    <label for="update-title">Název knihy</label>
                    <input type="text" id="update-title" name="title" readonly>
                    <input type="hidden" id="original-title" name="original-title">
                </div>

                <div class="form-group">
                    <label for="update-author">Autor</label>
                    <input type="text" id="update-author" name="author" readonly>
                    <ul id="update-author-results" class="list-group"></ul>
                </div>

                <div class="form-group">
                    <label for="update-year">Rok</label>
                    <input type="number" id="update-year" name="year">
                </div>

                <div class="form-group">
                    <label for="update-pages">Počet stránek</label>
                    <input type="number" id="update-pages" name="pages">
                </div>

                <div class="form-group">
                    <label for="update-subtitle">Podtitul</label>
                    <input type="text" id="update-subtitle" name="subtitle">
                </div>

                <div class="form-group">
                    <label for="update-description">Popis knihy (max 1800 znaků)</label>
                    <textarea id="update-description" name="description"></textarea>
                </div>

                <div class="form-group">
                    <label for="update-language">Jazyk</label>
                    <input type="text" id="update-language" name="language">
                </div>

                <div class="form-group">
                    <label>Způsob přidání obrázku</label>

                    <div class="radio-group">
                        <label>
                            <input type="radio" name="update-img-option" value="google-id">
                            Použít Google ID
                        </label>

                        <label>
                            <input type="radio" name="update-img-option" value="no-img" checked>
                            Použít výchozí obrázek
                        </label>

                        <label>
                            <input type="radio" name="update-img-option" value="upload-img">
                            Nahrát vlastní obrázek
                        </label>
                    </div>
                </div>

                <div class="form-group" id="update-img-file-container">
                    <label for="update-img-file">Vyberte obrázek</label>
                    <input type="file" id="update-img-file" name="img-file" accept="image/*">
                    <input type="text" id="update-img" readonly>
                </div>

                <div class="form-group" id="update-googleid-container">
                    <label for="update-googleid">Google ID</label>
                    <input type="text" id="update-googleid" name="googleid">
                </div>

                <div class="form-group">
                    <label for="update-genre-search">Žánry</label>
                    <input type="text" id="update-genre-search">
                    <ul id="update-genre-results" class="list-group"></ul>
                    <ul id="update-selected-genres" class="list-group"></ul>
                </div>

                <div id="update-isbn-fields-container"></div>

                <div class="form-group">
                    <button type="button" class="btn add-book add-isbn-btn" data-tab="update">
                        Přidat ISBN
                    </button>
                </div>

                <div class="form-group" id="update-publisher-section">
                    <label for="update-publisher-search">Vydavatel</label>
                    <input type="text" id="update-publisher-search">
                    <ul id="update-publisher-results" class="list-group"></ul>
                    <input type="hidden" id="update-publisherid" name="publisherid">
                    <ul id="update-selected-publisher" class="list-group"></ul>
                </div>

                <div class="form-group">
                    <label for="update-author-search">Další autoři</label>
                    <input type="text" id="update-author-search">
                    <ul id="update-author-search-results" class="list-group"></ul>
                    <ul id="update-authors" class="list-group"></ul>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn add-book" id="update-form-submit">
                        Upravit knihu
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/add_book/get_book_details.js' %}"></script>
<script src="{% static 'js/add_book/update_book.js' %}"></script>
<script src="{% static 'js/add_book/authors.js' %}"></script>
<script src="{% static 'js/add_book/metadata.js' %}"></script>
<script src="{% static 'js/add_book/utils.js' %}"></script>
<script src="{% static 'js/add_book/add_image.js' %}"></script>

{% endblock %}
