{% extends "divkvariat/base.html" %}

{% block title %}Přihlášení | DIVkvariát{% endblock %}

{% block content %}

<div class="page page-narrow">
    <div class="content-box content-box-dark">
        <h1 class="page-title centered">Přihlášení</h1>
        <p class="text-muted centered mb-lg">
            Můžete se přihlásit svým účtem z <strong>DIV.cz</strong>.<br>
            Účty jsou propojené.
        </p>

        <form method="post" action="{% url 'account_login' %}" class="form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="id_login">E-mail</label>
                <input type="text" id="id_login" name="{{ form.login.name }}" value="{{ form.login.value|default_if_none:'' }}" placeholder="např. jan@div.cz" class="form-input">
            </div>

            <div class="form-group">
                <label for="id_password">Heslo</label>
                <input type="password" id="id_password" name="{{ form.password.name }}" placeholder="••••••••••" class="form-input">
            </div>

            <button type="submit" class="btn-primary ">
                Přihlásit se
            </button>
        </form>

        <p class="centered text-small mt-md">
            Nemáte účet?
            <a href="{% url 'account_signup' %}" class="link-primary">
                Zaregistrovat se
            </a>
        </p>
    </div>
</div>

{% endblock %}
