{% extends "divkvariat/base.html" %}

{% block title %}Registrace | DIVkvariát{% endblock %}

{% block content %}

<div class="page page-narrow">
    <div class="content-box content-box-dark">
        <h1 class="page-title centered">Registrace</h1>
        <p class="text-muted centered mb-lg">
            Po vytvoření účtu můžete používat DIVkvariát i celý <strong>DIV.cz</strong>.<br>
            Účet je univerzální a propojený.
        </p>

        <form method="post" action="{% url 'account_signup' %}" class="form">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                    <input type="{{ field.field.widget.input_type }}"id="{{ field.id_for_label }}"name="{{ field.name }}"value="{{ field.value|default_if_none:'' }}"class="form-input">

                    {% if field.errors %}
                        <div class="form-error">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn-primary ">
                Zaregistrovat se
            </button>
        </form>

        <p class="centered text-small mt-md">
            Už máte účet?
            <a href="{% url 'account_login' %}" class="link-primary">
                Přihlásit se
            </a>
        </p>

    </div>
</div>

{% endblock %}
