{% extends "blog/base.html" %}

{% block content %}

<h2 style="width: 100%;">
    <a href="/blogy/">Blogy</a>
    <span> / </span>

    Vytvořit nový blog
</h2>

<div class="admin-panel">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"
            class="btn btn-secondary"> <!-- sem barvičky tlačítek -->
            Vytvořit blog
        </button>

    </form>
</div>

<a href="/forum/" class="btn btn-secondary">Diskuzní fórum</a>

{% endblock %}