{% extends "blog/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}
    Blog Div.cz | Diskuzní fórum
{% endblock title %}

{% block meta %}

    <link href="https://media.div.cz/css/navbar_together.css" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="big-search">
    <h2>Blogy
        {% if user.is_authenticated %}
            <small style="font-size:60%;">
                <span> / </span>
                <a href="">Můj blog</a>
            </small>
        {% endif %}
    </h2>

    <form role="search" action="" method="get">
        <input class="search-field" type="type" placeholder="Hledat v blogách" aria-label="Search" name="q" id="search-input">
        <button class="btn-search" type="submit">Hledat</button>
    </form>
</div>

<div class="blogs">
    <div class="talk-img" style="background-image: url(/static/img/blogs/blogy.webp); background-size: 100% 100%;">
        <a href="{% url 'blog_section_detail' section='filmove' %}" class="movies">
            <img src="{% static 'img/forum/movie.webp' %}">
            <h3 class="movies">Filmové blogy</h3>
        </a>
    </div>

    <div class="talk-img" style="background-image: url(/static/img/blogs/blogy.webp); background-size: 100% 100%;">
        <a href="{% url 'blog_section_detail' section='knizni' %}" class="books">
            <img src="{% static 'img/forum/book.webp' %}">
            <h3 class="books">Knižní blogy</h3>
        </a>
    </div>

    <div class="talk-img" style="background-image: url(/static/img/blogs/blogy.webp); background-size: 100% 100%;">
        <a href="{% url 'blog_section_detail' section='herni' %}" class="games">
            <img src="{% static 'img/forum/game.webp' %}">
            <h3 class="games">Herní blogy</h3>
        </a>
    </div>

    <div class="talk-img" style="background-image: url(/static/img/blogs/blogy.webp); background-size: 100% 100%;">
        <a href="{% url 'blog_section_detail' section='obecne' %}">
            <img src="{% static 'img/forum/other.webp' %}">
            <h3>Obecné blogy</h3>
        </a>
    </div>
</div>

<!-- Poslední příspěvky -->
<div>
    <h3 style="margin-top:2.5rem; margin-bottom:.75rem; width:100%;">📌 Poslední příspěvky</h3>

    <div class="">
    {% if latest_posts %}
        {% for post in latest_posts %}
        <ol class="card-body" style="margin-bottom: .5rem; border: 1px solid #dee2e6;">
            <!-- Titulek příspěvku -->
            <li class="last-post">
                <a class="{% if post.articleblog.blog_type == 'movie' %}movies
                        {% elif post.articleblog.blog_type == 'book' %}books
                        {% elif post.articleblog.blog_type == 'game' %}games
                        {% endif %}"
                    style="font-weight:600;"
                    href="{% url 'blog_post_detail' blog_slug=post.articleblog.slug post_slug=post.slug %}">
                    {{ post.title }}
                </a>

                {% if post.articleblog.blog_type == "movie" %}
                    <p class="movies">&#127916; Filmy</p>
                    {% elif post.articleblog.blog_type == "book" %}
                    <p class="books">&#128214; Knihy</p>
                    {% elif post.articleblog.blog_type == "game" %}
                    <p class="games">&#127918; Hry</p>
                    {% else %}
                    <p class="">&#128172; Obecné</p>
                {% endif %}
            </li>

            <hr>

            <!-- Info o komentáři -->
            <li class="last-comment">
                <p>
                    {{ post.content|striptags|truncatechars:120 }}
                </p>
                <small style="white-space: nowrap;">
                    <a style="margin-right: .5rem;" href="">{{ post.user.username|default:"Smazaný uživatel" }}</a>
                    {{ post.published_at|date:"d.m.Y H:i" }}
                </small>
            </li>
        </ol>
        {% endfor %}
        
        {% else %}
        <p>Zatím žádné příspěvky.</p>
    {% endif %}
    </div>
</div>


{% endblock content %}