{% extends "inc/base.html" %}

{% block title %}{{ post.title }}{% endblock title %}
{% block h1 %}{{ post.title }}{% endblock h1 %}
{% block text_muted %} v blogu na DIV.cz{% endblock text_muted %}

{% block content %}
<div class="post-content">
    <!--<h2>{{ post.title }}</h2>-->
    <hr><small> <a href="/uzivatel/{{ post.articleblog.user.id }}">{{ post.articleblog.user.username }}</a> píše <a href="/blog/{{ post.articleblog.slug }}">{{ post.articleblog.name }}</a></small><hr class="mb-5">

    <p>{{ post.content|safe }}</p>
</div>

<hr>

<!-- Zobrazení komentářů -->
<h3>Komentáře</h3>
<div class="comments">
    {% for comment in comments %}
    <div class="comment">
        <strong>{{ comment.user.username }}</strong> říká:
        <p>{{ comment.content }}</p>
        <small>{{ comment.created_at }}</small>
    </div>
    {% empty %}
    <p>Zatím žádné komentáře.</p>
    {% endfor %}
</div>

<hr>

<!-- Formulář pro přidání nového komentáře -->
{% if user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" class="btn btn-primary">Přidat komentář</button>
</form>
{% else %}
<p><a href="{% url 'login' %}">Přihlaste se</a>, pokud chcete přidat komentář.</p>
{% endif %}


<hr>
<a href="/blogy/">Všechny blogy</a> | <a href="/forum/">Diskuzní fórum</a>
<hr>

{% endblock content %}
