{% extends "blog/base.html" %}

{% block content %}

<h2 style="width: 100%;">
    <a href="/blogy/">Blogy</a>
    <span> / </span>
    <a href="">sekce</a>
</h2>

<div class="admin-panel">
    <h2>Nový blog</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"
            class="btn add"> <!-- sem barvičky tlačítek -->
            Vytvořit blog
        </button>

    </form>
</div>

<a href="/forum/" class="btn add-other">Diskuzní fórum</a>

{% endblock %}