{% extends "blog/base.html" %}

{% block title %}Nový příspěvek do blogu{% endblock title %}


{% block meta %}

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link href="/static/tam-emoji/css/emoji.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="/static/tam-emoji/js/config.js"></script>
    <script src="/static/tam-emoji/js/tam-emoji.min.js"></script>

    <style>
        label {
            width: 100px;
        }
    </style>

{% endblock %}


{% block content %}

<h2 style="width: 100%;">
    <a href="">Někam zpět</a>
    <span> / </span>
    Přidej nový příspěvek
</h2>

<div class="admin-panel">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="add">Přidat příspěvek</button>
    </form>
</div>

<script>
    $('#summernote').summernote({
        placeholder: 'Můj příspěvek do blogu',
        tabsize: 2,
        height: 120,
        toolbar: [
        
        ['font', ['bold', 'underline']],
        // ['color', ['color']],
        ['insert', ['link']],
        ['emoji', ['emoji']]
        ]
    });
</script>

<a href="/forum/" class="btn btn-secondary">Diskuzní fórum</a>


{% endblock content %}

