a {
    color: #61872B;
}



.carousel-image-container {
    width: 100%; 
    max-width: 1200px; 
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.carousel-main-image {
    max-height: 400px;
    width: auto;
    margin: 0 auto;
}

.carousel-side-image {
    width: 100px;
    opacity: 0.5;
    display: none;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 10px; 
}

.carousel-slide {
    position: relative;
    text-align: center;
}

.carousel-slide img {
    width: 100%;
    object-fit: cover; 
    object-position: top;
    height: 300px; 
}

.slick-prev, .slick-next {
    display: none !important; /* Skryje boční šipky */
}

.overlay {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    color: white;
    text-shadow: 1px 1px 3px #ccc;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.article-section {
    padding: 0 15px;
}

.article-item {
    display: flex;
    margin-bottom: 10px;
    /*background: #fff;*/
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.article-thumbnail {
    width: 100px;
    height: 150px;
    margin:5px;
}

.article-content {
    padding: 10px;
    flex: 1;
}

.card2 {
    height: 350px;
}

.card-text {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 0;
}

.book-slider div {
    text-align: center;
    padding: 10px;
}

.book-slider img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.book-card {
    grid-template-columns: 130px auto;
}



.slick-dots {
    bottom: 0;
}





/* NAVBAR MOVIES */
.navbar, .footer {
    background: linear-gradient(90deg, #003300 10%, #61872B 90%);
}

main a, main a:hover {
    color: #61872B;
}

.tab-links a.active {
    background-color: #61872B;
}

.user {
    display: flex;
    justify-content: space-between;
}

.user p {
    margin-bottom: 0;
}

.komentar li {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 15px;
}

.bg-secondary {
    background-color: #d3d3d3 !important;
}

.search:hover {
    color: #fff;
}



/*  TABS  */
.tab-container {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

.tab-links::-webkit-scrollbar {
    display: none;  /* Pro Chrome, Safari a Opera */
}

.tab-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    gap: 5px;
    overflow-x: scroll;
    overflow-y: hidden; /* SkrĂ˝vĂˇ vertikĂˇlnĂ­ posuvnĂ­k, pokud existuje */
    -ms-overflow-style: none;  /* Pro Internet Explorer a Edge */
    scrollbar-width: none;  /* Pro Firefox */
}

.tab-links a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    background-color: #f0f0f0;
    color: #000;
    display: inline-block;
}

.tab-links a.active {
    color: #fff;
    border: 1px solid #dee2e6;
    border-bottom: none;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #dee2e6;
    background-color: #fff;
}

.tab-content.active {
    display: block;
}


         

@media (max-width: 768px) {
    .banner {
        flex-direction: column;
    }

    .banner-caption {
        position: static; /* Zruší absolutní pozicování */
        align-self: center; /* Zarovná na střed */
        width: 100%;
        text-align: center;
        margin-top: 10px; /* Přidá mezery mezi H1 a caption */
    }

    .carousel-side-image {
        display: block;
    }

    .carousel-slide img {
        width: 100%;
        object-fit: cover; /* Zajistí, že obrázek pokryje celou oblast bez deformace */
        height: 200px; /* Pevně nastavíme výšku obrázků */
    }

}


@media (max-width: 525px) {
    .container {
        margin: 0;
    }
}


