:root {
    --main-bg-color: #2b2b2b;
    --box-bg-color: #363636;
    --box-radius: 20px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --box-padding: 20px;
    --container-padding: 20px;
    --box-margin-bottom: 20px;
    --column-max-width: calc(33.3333% - var(--box-padding) * 2);
}

body {
background-color: var(--main-bg-color);
color: #f0f0f0; /* pro bílý text, upravte podle potøeby */
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif/* 'Roboto', sans-serif;*/
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1900px;
    margin: auto;
}

.column {
    flex: 1 0 22%; /* Ètyøi sloupce, s nìjakým mezerami */
    margin: 1%; /* Pro menší mezery mezi sloupci */
}
.double-column {
    flex: 1 0 46%; /* Prvky zaujmou dva sloupce */
    margin: 1%; /* Pro menší mezery mezi sloupci */
}
.card {
    background-color: var(--card-bg-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    padding: 20px;
    margin-bottom: 30px; /* zvìtšíte prostor mezi kartami */
}

.box {
    background-color: var(--box-bg-color);
    border-radius: var(--box-radius);
    margin-bottom: var(--box-margin-bottom);
    color: white;
    box-shadow: var(--box-shadow);
}


a.film:link {
    color:#E31E24;
}
a.kniha:link {
    color:#80AE2E;;
}
a.hra:link {
    color:#00A0E3;
}
a:link {
    color:gold;
}
a.film:visited{color:#A52B21}
a:visited{color:goldenrod}
/*ßß
a.box:visited {
    color: goldenrod; 
}
a.box:hover {
    color: #E31E24;
}
a.box:active {
    color: #E31E24;
}
a.box:focus {
    color: #E31E24;
}*/
.text {
    padding: var(--box-padding);
}
.p10 {
    padding: 10px 0 10px 15px;
}
.w90 {
    width:90%;
}
h4 {padding-left:10px}
.red {
    color:#E31E24;
}
.bgred {
    background-color:#E31E24;
}
.green {
    color:#80AE2E;
}
.bggreen {
    background-color:#80AE2E;
}
.blue {
    color:#00A0E3;
}
.bgblue {
    background-color: #00A0E3;
}
.border {
    border: 1px solid silver;
}
.box-blue {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
}

.left-section {
    
    width: 33.333%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section {
    padding: 10px;
    flex-grow: 1;
    z-index: 1;
    position: relative;
    padding-left: 33.333%; /* Aby text zaèínal za modrou èástí */
    color: #000; /* Zmìníme barvu textu pro lepší viditelnost na bílém pozadí */
}


.box-img {
    display: flex;
    flex-direction: column;
    border-radius: var(--box-radius);
    margin-bottom: var(--box-margin-bottom);
    color: white;
    box-shadow: var(--box-shadow);
    overflow: hidden; /* Zajistí, že obrázek se pøizpùsobí rohùm boxu */
}

.box-i {
    width: 100%;
    flex-basis: 33.333%; /* Obrázek zabere tøetinu výšky boxu */
}

.box-i img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zajistí, že obrázek vyplní prostor */
}

.box-content {
    flex-grow: 1;
    padding: var(--box-padding);
    background-color: var(--box-bg-color);
}


/* Úpravy pro responzivní design */


@media (max-width: 1200px) {
    .column {
        flex-basis: 48%; /* Dva sloupce pro støední obrazovky */
    }
}

@media (max-width: 768px) {
    .column {
        flex-basis: 100%; /* Jeden sloupec pro malé obrazovky */
    }

    .none {
        display: none; /* Skrytí nedùležitých prvkù */
    }
    
        .right-section {
        order: 1; 
    }
}




