main a, main a:hover {
    color: #0A76A9;
}

main a:is(.dark *) {
    color: #14ACF5;
}

/* NAVBAR GAMES */
.navbar, .footer {
    background: linear-gradient(90deg, #001933 10%, #0A76A9 90%);
}

.tab-links a.active {
    background-color: #0A76A9;
}

.expandable {
    display: flex;
    width: 100%;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 5px;
    position: relative;
    transition: flex 0.5s ease-in;
    border-image: fill 0 linear-gradient(#0000, #00000061);
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}


/*  TABS  */
.tab-container {
    margin-top: 20px;
    /* border-bottom: 1px solid #ccc; */
}

.tab-links::-webkit-scrollbar {
    display: none;  /* Pro Chrome, Safari a Opera */
}

.tab-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    gap: 5px;
    overflow-x: scroll;
    overflow-y: hidden; /* Skrývá vertikální posuvník, pokud existuje */
    -ms-overflow-style: none;  /* Pro Internet Explorer a Edge */
    scrollbar-width: none;  /* Pro Firefox */
}

.tab-links a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    background-color: #f0f0f0;
    color: #000;
    display: inline-block;
}

.tab-links a.active {
    color: #fff;
    border: 1px solid #dee2e6;
    border-bottom: none;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #dee2e6;
    background-color: #fff;
}

.tab-content.active {
    display: block;
}

.game-card {
    grid-template-columns: 130px auto;
}

.card-text {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 0;
}



@media (max-width: 480px) {
    .panel {
        height: 40vh;
        margin: 5px 5px 5px 0;
    }

    .panel:nth-of-type(8), .panel:nth-of-type(9), .panel:nth-of-type(10) {
        display: none;
    }  
}

@media (min-width: 650px) {
    
    .wrap {
        flex-wrap: nowrap;
    }

}

@media (max-width: 650px) {
    .wrap {
        flex-wrap: wrap;
    }

    .ml-14 {
        margin-left: 0;
    }
    
    .margin-l {
        margin-left: 3.5em;
    }
}


