.novinka p, .novinka {
    margin: 10px 0;
}

.nadpis {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.film {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}

.koment {
    padding: 0 10px;
    margin-bottom: 0;
}

.uzivatel {
    text-align: end;
    margin-bottom: 0;
    padding-right: 10px;
}


.v-kinech li {

    margin: 10px auto;
}


/* MAIN */
.main-grid {
    display: flex;
    flex-wrap: wrap;
}


table th {
    font-weight: normal;
}

table tr:nth-child(even) {
    background-color: #e3e3e3;
}


/* CAROUSEL */
.carousel-track-index {
    display: flex;
}

.carousel-index {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-item-index {
    min-width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
}

.carousel-item-index img {
    display: block;
    height: 100%;
}

.carousel-item-index h5 {
    position: absolute;
    bottom: 8px; 
    left: 16px; 
    color: white;
}

.margin-l {
    margin-left: 0;
}


.after.line:last-child::after {
    content: none; /* Odstraní obsah posledního after */
}



@media (max-width: 1280px) {
    .after.cinemaline:last-child::after {
        content: none; /* Odstraní obsah posledního after */
    }
}



@media (min-width: 1024px) {
    .lg\:w-\[182px\] {
        width: 100%;
    }

    .margin-l {
        margin-left: 0.75rem;
    }
}

@media (min-width: 640px) {
    .sm\:h-56 {
        height: auto;
    }
}


/* @media (min-width: 1280px) {
    .xl\:grid-cols-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
} */

