
main a, main a:hover {
    color: #A52B21;
}

main a:is(.dark *) {
    color: #ED3F2F;
}


.p-2 p {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-section {
    padding: 0 15px;
}

.article-item {
    display: flex;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
}

.article-thumbnail {
    width: 100px;
    height: 150px;
    margin:5px;
}

.article-content {
    padding: 10px;
    flex: 1;
}

.container-fluid {
    max-width: 1200px; /* Omezuje max šířku obsahu */
    margin: 0 auto; /* Centruje obsah na stránce */
}

.card-text {
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 0;
}

.card2 {
    height: 350px;
}

/* Změna barvy odkazů pro postavy */
.character-link {
    color: #007BFF; /* Modrá barva odkazů */
    text-decoration: none; /* Bez podtržení */
}

.character-link:hover {
    text-decoration: underline; /* Podtržení při najetí myší */
}




/* MOVIE DETAIL */

.tab-container {
    margin-top: 20px;

    /* border-bottom: 1px solid #ccc; */

}

.tab-links::-webkit-scrollbar {
    display: none;  /* Pro Chrome, Safari a Opera */
}

.tab-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    gap: 5px;
    overflow-x: scroll;
    overflow-y: hidden; /* Skrývá vertikální posuvník, pokud existuje */
    -ms-overflow-style: none;  /* Pro Internet Explorer a Edge */
    scrollbar-width: none;  /* Pro Firefox */
}

.tab-links a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    background-color: #f0f0f0;
    color: #000;
    display: inline-block;
}

.tab-links a.active {
    color: #fff;
    border: 1px solid #dee2e6;
    border-bottom: none;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #dee2e6;
    background-color: #fff;
}

.tab-content.active {
    display: block;
}




@media (max-width: 768px) {

}


/* .light-footer, .light-navbar {
    background-color: #A52B21;
} */

/* NAVBAR MOVIES */

.navbar, footer {
    background: linear-gradient(90deg, #330000 10%, #A52B21 90%);
}


.tab-links a.active {
    background-color: #A52B21;
}

.user {
    display: flex;
    justify-content: space-between;
}

.user p {
    margin-bottom: 0;
}

.komentar li {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 15px;
}

.bg-secondary {
    background-color: #d3d3d3 !important;
}

.search:hover {
    color: #fff;
}


.watching {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.watching img {
    width: 50px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    padding: 5px;

}


/* MOVIES SEARCH */

.table {

    width: 100% !important;
    /* border: 1px solid #f2f2f2; */

    border-collapse: collapse;
}

.table thead {
    background-color: #444;
}
.table thead th {
    color: #fff !important;
}

.table tbody tr {
    background-color: #555;
}

.table tbody td {

    color: #000000;

}

#moviesTable tr:nth-child(even) {
    background-color: #555 ;
}

.table tbody tr:hover {

    background-color: #afacac !important;

}











@media (max-width: 767.98px) { /* Příklad pro zařízení s menší obrazovkou */

    .smaller-stars .star-ratings-rating-full, 
    .smaller-stars .star-ratings-rating-empty {
        width: 16px;
        height: 16px;
        background-size: 48px;
    }

    .smaller-stars .star-ratings-rating-empty {
        background-position: -16px 0;
    }

    .smaller-stars .star-ratings-rating-full:hover, 
    .smaller-stars .star-ratings-rating-empty:hover {
        background-position: -32px 0;
    }

    .banner {
        flex-direction: column;
    }

    .banner-caption {
        position: static; /* Zruší absolutní pozicování */
        align-self: center; /* Zarovná na střed */
        width: 100%;
        text-align: center;
        margin-top: 10px; /* Přidá mezery mezi H1 a caption */
    }

    .carousel-side-image {
        display: block;
    }

    .carousel-slide img {
        width: 100%;
        object-fit: cover; /* Zajistí, že obrázek pokryje celou oblast bez deformace */
        height: 200px; /* Pevně nastavíme výšku obrázků */
    }

    .form-inline {
        width: 100%;
    }

    .grid-cols-3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }


    .margin-l {
        margin-left: 20px;
    }

    .margin-t {
        margin-top: 20px;
    }

}

@media (max-width: 475px) {
    .card-text {
        -webkit-line-clamp: 2;
    }

    .grid-cols-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
