nav {
    border-bottom: 1px solid white;
}

.navbar1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    margin-left: auto;

}

.nav-menu svg {
    color: #ffffff;
}

nav form {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    width: 50%;
}

#menu-section input {
    width: 100%;

    border-radius: 1.5rem;
    max-height: 2rem;
    padding: .5rem !important;
    border: 1px solid #dee2e6 !important;
}

.account {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: flex-end;

    width: 100%;
    /* gap: 0.75rem; */
}

.user {
    display: flex;
    align-items: center;
}

nav ul {
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-left: 2rem;
    margin-bottom: 0;
}

nav ul li {
    width: 100%;
    line-height: 2rem;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: auto;

}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5rem;
    margin-left: 1rem;
}

.logo img {
    max-width: 120px;
}

nav .nav-link,
.footer a {
    color: #fff !important;
}

nav .nav-link:hover,
.footer a:hover {
    color: #bbb !important;
}

.nav-link {
    position: relative;
    display: block;
    padding: 0 10px;
}

.nav-link:hover::after {
    width: 100%;
    background-color: currentColor;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: transparent;
    transform-origin: left;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-toggler-icon {
    filter: invert(1);
}

.toggle {
    display: none;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    inset: 0;
}

.toggle svg {
    position: absolute;
}

.part2 {
    display: flex;
    align-items: center;
}

.part1 {
    display: flex;
}

[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}


.fa-bell {
    color: #ffffff;
    font-size: 8px;
}




@media (min-width: 992px) {
    #menu-section input {
        width: 20rem;
    }
}


@media (max-width: 600px) {
    .account {
        width: 100%;
    }

    .sm\:searching {
        display: none;
    }
}

@media screen and (max-width: 812px) and (min-width: 601px) {
    .part1 {
        width: 100%;
        /* width: 40%; */
        /* height: 100px; */

    }

    .part2 {
        flex-wrap: wrap;
    }

    .nav-menu {

        /* width: 50%; */
        width: 100%;
        justify-content: space-between;
        /* flex-wrap: wrap;
        flex-direction: column-reverse;
        height: 100px; */
    }

    /* nav form, #menu-section input  {
        width: 100%;
    } */


    .login {
        justify-content: flex-end;
    }

    .account {
        padding: 10px;

        justify-content: flex-end;

    }

}

@media (max-width: 812px) {
    nav ul {
        margin-left: 3rem;
    }

}


@media (max-width: 600px) {
    .hidden {
        display: none;
    }

    .nav-menu {
        flex-wrap: wrap;
        width: 100%;
    }

    nav ul {
        flex-wrap: wrap;
    }
    
    .account::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgb(255, 255, 255);
        margin: 20px 0;
    }

    nav form {
        width: 90%;
        margin: 0 auto;
    }

    .toggle {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-top: 10px;
    }

    #menu-section input {
        width: 100%;
    }

    nav {
        align-items: flex-start;
        border-bottom: 1px solid white;
        flex-direction: row-reverse;
    }

    .part1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .part2 {
        flex-wrap: wrap;
    }

    .login {
        width: 90%;
        margin: 10px auto;
    }

    .sm\:mt-4 {
        margin-top: 1rem; /* 16px */
    }
    
}







