* {
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #ddd;
}

.navbar,
.footer {
    background-color: #333 !important;
    color: #fff !important;
}

.card {
    background-color: #444;
}

.nav-link,
.navbar a,
.footer a {
    color: #80bdff !important;
}

.navbar .nav-link,
.footer a {
    color: #fff !important;
}

.navbar .nav-link:hover,
.footer a:hover {
    color: #bbb !important;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.sidebar {
    background-color: #555;
    color: #ccc;
}

.birthday-section .birthday-name,
.birthday-section .birthday-age {
    color: #fff;
}

.footer-social-icons .fa {
    color: #fff;
}

.footer a {
    color: #ccc;
}

.footer a:hover {
    color: #fff;
}

.footer {
    background-color: #333;
}

/* Carousel height */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel .carousel-inner .carousel-item {
    height: 200px;  
    overflow: hidden;
}

.carousel .carousel-inner .carousel-item img {
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}

.table {
    background-color: #333;
}

.table thead {
    background-color: #444; /* Pozadí hlavičky tabulky */
}

.table thead th {
    color: #fff !important;
}

.table tbody tr {
    background-color: #555; /* Pozadí řádků tabulky */
}

.table tbody td {
    color: #ddd; /* Barva textu v řádcích tabulky */
}

.table tbody tr:hover {
    background-color: #666;
}

main a {
    color: #4CAF50; /* zelená barva pro zvýraznění */
    text-decoration: none; /* odstraní podtržení odkazu */
    transition: color 0.3s ease; /* plynulý přechod barvy */
    font-weight: bold; /* tučně pro lepší viditelnost */
}

main a:hover {
    color: #34A245; 
}

