
        
        .navbar,
        .footer {
            background-color: #333 !important;
            color: #fff !important;
        }
        
        .nav-link,
        .navbar a,
        .footer a {
            color: #80bdff !important;
        }
        
        .navbar .nav-link,
        .footer a {
            color: #fff !important;
        }
        
        .navbar .nav-link:hover,
        .footer a:hover {
            color: #bbb !important;
        }
        
        .navbar-toggler-icon {
            filter: invert(1);
        }
        
        .sidebar {
            background-color: #555;
            color: #ccc;
        }
        
        .birthday-section .birthday-name,
        .birthday-section .birthday-age {
            color: #fff;
        }
        
        .footer-social-icons .fa {
            color: #fff;
        }
        
        .footer a {
            color: #ccc;
        }
        
        .footer a:hover {
            color: #fff;
        }
        
        .footer {
            background-color: #333;
        }

# Carousel height
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel .carousel-inner .carousel-item {
    height: 200px;  
    overflow: hidden;
}

.carousel .carousel-inner .carousel-item img {
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}

.table {
    background-color: #f8f9fa; /* Světlé pozadí tabulky */
}

.table thead {
    background-color: #e9ecef; /* Světle šedé pozadí hlavičky tabulky */
}

.table thead th {
    color: #212529; /* Tmavě šedá barva textu v hlavičce, pro lepší kontrast */
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Bílé pozadí pro liché řádky */
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Světle šedé pozadí pro sudé řádky */
}

.table tbody td {
    color: #495057; /* Tmavě šedá barva textu v řádcích tabulky */
}

.table tbody tr:hover {
    background-color: #e2e6ea; /* Mírně odlišná barva při najetí myší */
}


main a {
    color: #4CAF50; /* zelená barva pro zvýraznění */
    text-decoration: none; /* odstraní podtržení odkazu */
    transition: color 0.3s ease; /* plynulý přechod barvy */
    font-weight: bold; /* tučně pro lepší viditelnost */
}

main a:hover {
    color: #34A245; 
}

