*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: var(--font-size);
}
body{
    margin: 0 auto;
    height: 100vh;
    background-color: #f9f9f9;
}

.containerNav, .sectionContainer, .sectionMid, .foo-headr{
    max-width: 1220px;
    margin: 0 auto;
}

nav{
    width: 100%;
    background-color: var(--primary-color);
}
.containerNav{
    display: flex;
    justify-content: space-between;
}
.navUl{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navUl a img{
    width: 120px;
    margin-right: 20px;
}
.navUl ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.navUl ul li{
    padding: 10px;
}
.navUl ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/*dropdown menu*/
.dropdownMenu{
    position: relative;
    height: 0;
}
.dropdownMenuRight{
    display: none;
    position: absolute;
    right: 2rem;
    width: 200px;
    background: rgba(51, 51, 51);
    backdrop-filter: 15px;
    border-radius: 20px;
    overflow: hidden;
    transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
}
.dropdownMenuRight.open{
    display: block;
    height: 150px;
}
.dropdownMenuRight li{
    list-style: none;
    padding: 10px;
    text-align: center;
}
.dropdownMenuRight li a{
    color: #f9f9f9;
}
.dropdownMenuRight li a:hover{
    color: #34A245;
}

.navbarSearch{
    display: flex;
    align-items: center;
}
.disFlex{
    display: flex;
    gap: 10px;
}
.disFlex form input{
    padding: 10px;
    border-radius: 5px;
    border:  #333232;
}
.disFlex form .btn{
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    color: #28a745;
    background-color: #333232;
    font-size: 14px;
}
.disFlex form .btn:hover{
    background-color: #34A245;
    color: #f9f9f9;
}
.disFlexLogin{
    display: flex;
    text-align: center;
    align-items: center;
}
.disFlexLogin a{
    color: #f9f9f9;
    font-size: 16px;
}
.disFlexLogin a:hover{
    color: #c5c5c5;
}
.toggleBars{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    margin: 0 20px;
    color: var(--secondary-color);
}
.toggleBtn{
    display: none;
}


section{
    width: 100%;
    height: 100%;
    background-color:#f9f9f9;
    margin-top: 10px;
}
/* swiper*/
.sectionContainer{
    gap: var(--gap);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.swiper {
    width: 100%;
    height: 50%;
    z-index: 0;
}
.swiper-wrapper {
    transition: transform 5s ease;
}

.swiper-slide {
    font-size: 18px;
    background: #f9f9f9;
    display: flex;
    text-align: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* swiper left */
.swiper-left-item{
    display: flex;
    gap: 10px;
    border-color: #f9f9f9;
}
.swiper-left-box{
    transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
    scale(0.9, 0.9);
    border-radius: 20px;
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;
    &:hover {
    transform: translate3d(0px, 0px, -250px);
    }
}
.swiper-left-item img{
    width: 25%;
    padding: 10px;
}
.article-content{
    padding: 10px;
}

.swiper-left-content a{
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none;
}
.swiper-left-content p{
    color: var(--primary-color);
    padding-top: 10px;
}

/*article*/
.sectionMid{
    display: flex;
    gap: var(--gap);
    margin-top: 20px;
}
/*article*/
article{
    width: 65%;
}
article h2{
    margin-top: 20px;
    font-size: 32px;
}
.article-info{
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    box-shadow:  12px 12px 12px rgba(0, 0, 0, 0.1) inset, -10px -10px 10px #e6e6e6 inset;
    padding: 10px;
    width: 100%;
    height: 150px;
}
.article-info p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
}
.article-section{
    margin-top: 50px;
}
.article-section h2 a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 42px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}
.card-info{
    width: 184px;
    margin-bottom: 10px;
}
.card{
    height: 300px;
    border-radius: 1em;
    perspective: 600px;
    box-shadow:
        0 0.125em 0.3125em rgba(0, 0, 0, 0.25),
        0 0.02125em 0.06125em rgba(0, 0, 0, 0.25);
    &::before {
        border-radius: 0 0 1em 1em;
        width: 100%;
        height: 50%;
        transform-origin: center top;
        transform: rotateX(180deg);
        background: #333232
        linear-gradient(180deg,
                        rgba(0, 0, 0, 0.1) 50%,
                        rgba(0, 0, 0, 0.4));
        transition: 0.7s ease-in-out transform;
    }
    &:hover::before {
        transform: rotateX(0);
    }
}
.card img{
    width: 100%;
}
.card .card-body{
    text-align: center;
    padding: 10px;
}
.card .card-body h5{
    padding: 10px;
}
.card .card-body h5 a{
    font-size: 20px;
    color: var(--secondary-color);
    text-decoration: none;
}
.cards-mt{
    margin-top: 20px;
}

.card-info-card{
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.card-user{
    margin-top: 20px;
    transform:
    perspective(800px)
    rotateY(-8deg);
    transition: transform 1s ease 0s;
    border-radius: 4px;
    box-shadow:
    rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;

    &:hover {
    transform: perspective(800px) rotateY(-4deg);
    }
}
.card-user{
    line-height: var(--line-height);
    padding: var(--padinng);
}


.card-user img{
    width: 100px;
    height: 100px;
}



/*aside*/
aside{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 30%;
    height: 100%;
    margin-left: 20px;
    line-height: var(--line-height);
}
.as-lo-ef{
    transform:
    perspective(1000px) translate3d(0px, 0px, -250px)
    rotateX(4deg)
    rotateY(-16deg)
    rotateZ(4deg);
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;
    &:hover {
    transform: translate3d(0px, 0px, -250px);
    }
}
.aside-login{
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: right;
}
.as-le-bor{
    border-radius: 20px;
    padding: 10px;
}

.aside-login h4{
    font-size: 20px;
}
.aside-login h5{
    font-size: 35px;
    margin: 10px 0;
}
.aside-login .login-btn{
    width: 90px;
    height: 34px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: #007bff;
    border-radius: 5px;
}
.aside-login-footer{
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
}
.aside-login-footer p{
    font-size: 20px;
}
.aside-login-footer a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 20px;
}


.aside-div{
    margin-top: 20px;
    padding: var(--padinng);
}
.aside-div h5{
    font-size: var(--font-size);
}
.aside-div p a{
    color: var(--secondary-color);
    text-decoration: none;
}
.aside-about h5{
    font-size: var(--font-size);
}
.aside-ul h5{
    font-size: var(--font-size);
}


.aside-ul{
    border: 5px solid #e6e6e6;
    border-radius: 20px;
    padding: var(--padinng);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;
    overflow: 0;
}
.aside-ul ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}
/*footer*/
footer{
    background-color: #333232;
    padding: var(--padinng);

}
.foo-headr{
    display: flex;
    justify-content: space-between;
    text-align:left;
    align-items: center;
    color: #e6e6e6;
    gap: 20px;
    padding: 20px;
}
.foo-he-ef{
    filter: blur(2px);
    opacity: 0.5;
    transition: 0.6s ease all;

    &:hover {

    filter: blur(0);
    opacity: 1;
    }
}
.foo-headr-mid{
    display: flex;
    gap: 30px;
}
.foo-window{
    width: 30%;
}
.foo-inf h5{
    font-size: 20px;
}
.foo-nav h5{
    font-size: 20px;
}
.foo-nav ul li{
    list-style: none;
}
.foo-inf-inf h5{
    font-size: 20px;
}
@media (max-width: 1220px) {
    .containerNav{
        width: 100%;
    }
    .sectionContainer{
        flex-direction: column;
    }
    .swiper{
        width: 50%;
    }
    .sectionMid{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .swiper-left{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .swiper-left-item{
        width: 300px;
    }

    aside{
        width: 50%;
    }
    .as-lo-ef{
        transform:
        perspective(600px)
        rotateX(20deg);
        border-radius: 6px;
    }

    .foo-headr{
        width: 100%;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }
    .foo-headr-mid{
        justify-content: center;
        align-items: center;
    }
    .aside-ul{
        margin-bottom: 10px;
    }
}

@media (max-width: 690px) {
    .dropdownMenuRight{
        top: 60px;
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        box-shadow:  12px 12px 12px rgba(0, 0, 0, 0.1);
        padding: 10px;
        right: 0;
    }
    .navUl ul{
        display: none;
    }

    .disFlex form .btn{
        margin-right: 0px;
    }
    .toggleBtn{
        display: block;
        display: flex;
    }
    /*section*/
    .swiper-slide .overlay h2{
        font-size: 16px;
    }
    .card-info{
        width: 150px;
    }
    .foo-headr-mid{
        font-size: 14px;
    }
    .foo-headr-mid h5{
        font-size: 18px;
    }
    .foo-headr-mid a{
        font-size: 16px;
    }
}

@media (max-width: 524px) {
    .containerNav{
        flex-direction: column;
    }
    .dropdownMenuRight{
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        box-shadow:  12px 12px 12px rgba(0, 0, 0, 0.1);
        padding: 10px;
        width: 100%;
        height: 150px;
        right: 0;
        top: 0px;
    }
    .navUl{
        display: flex;
        justify-content: space-between;
    }
    .navbarSearch{
        justify-content: center;
    }
    .disFlex{
        margin-bottom: 5px;
    }
    /*section*/
    .swiper-slide .overlay h2{
        font-size: 14px;
    }
    .cards{
        align-items: center;
        justify-content: center;
    }
    .card-medium{
        height: 200px;
    }
    /*article*/
    article h2,.article-section h2 a, .aside-login h5{
        font-size: 25px;
    }
    /*aside*/
    aside{
        gap: 20px;
    }
    .as-lo-ef{
        transform: none;
        border: 5px solid #e6e6e6;
        border-radius: 20px;
        padding: var(--padinng);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
        transition: 0.4s ease-in-out transform;
        overflow: 0;
    }
    
    .aside-login-footer p{
        font-size: 14px;
    }
    .aside-about {
        display: flex;
    }
    
    .aside-ul h5, .aside-div h5{
        font-size: 18px;
    }
    .aside-about p, .aside-div p{
        font-size: 14px;
    }
    .aside-ul ul li {
        font-size: 14px;
        margin-left: 20px;
    }
    .aside-login h4, .aside-login-footer a, .aside-ul ul li a, .aside-div p a{
        font-size: 16px;
    }
    
    /*footer*/
    .foo-headr-mid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .foo-window{
        width: 100%;
    }
}
@media (max-width: 321px) {
    .disFlex form input{
        width: 50%;
    }
    .disFlexLogin{
        margin-right: 5px;
    }
}
