        body {
            background-color: #222;
            color: #ddd;
        }
        
        .navbar,
        .footer {
            background-color: #333 !important;
            color: #fff !important;
        }
        
        .card {
            background-color: #444;
        }
        
        .nav-link,
        .navbar a,
        .footer a {
            color: #80bdff !important;
        }
        
        .navbar .nav-link,
        .footer a {
            color: #fff !important;
        }
        
        .navbar .nav-link:hover,
        .footer a:hover {
            color: #bbb !important;
        }
        
        .navbar-toggler-icon {
            filter: invert(1);
        }
        
        .sidebar {
            background-color: #555;
            color: #ccc;
        }
        
        .birthday-section .birthday-name,
        .birthday-section .birthday-age {
            color: #fff;
        }
        
        .footer-social-icons .fa {
            color: #fff;
        }
        
        .footer a {
            color: #ccc;
        }
        
        .footer a:hover {
            color: #fff;
        }
        
        .footer {
            background-color: #333;
        }

# Carousel height
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel .carousel-inner .carousel-item {
    height: 200px;  
    overflow: hidden;
}

.carousel .carousel-inner .carousel-item img {
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}

