{% extends 'games/base.html' %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block content %}

<div class="container">
    <h2 class="page-title">
        Vyhledávání: 
        {% if request.GET.q %} 
            <span class="movies">{{ request.GET.q }}</span>
        {% endif %}
    </h2>

    <div class="search-table">
        <!-- Hlavička -->
        <div class="search-grid search-header">
            <div style="text-align: center;">Miniatura</div>
            <div>Název</div>
            <div style="text-align: center;">Rok</div>
            <div style="text-align: center;">Hodnocení</div>
        </div>

        <div class="search-grid search-row">
            <a href="{{ game.url }}">
            
                <img src="/static/img/game/game.png" alt="hra {{ game.title }}">
            
                <img src="https://games.google.com/games/content?id={{ game.googleid }}&printsec=frontcover&img=1&zoom=3&edge=curl&source=gbs_api" alt="{{ game.title }}">
            
            </a>

            <div class="title">
                <a href="/hra/{{ game.url }}">{{ game.title }}</a> 
                <a href="/autor/{{ game.authorid__url }}">
                    {{ game.authorid__firstname }} {{ game.authorid__lastname }}
                </a>
            </div>

            <div class="year">
                <a href="https://div.cz/hry/{{ game.year }}">{{ game.year }}</a>
            </div>

            <div class="search-rating">
                {% if user.is_authenticated %}
                    <div class="movie-rating">
                        100 % <!-- celkové hodnocení filmu -->
                    </div>

                    <div class="search-stars">
                        
                            <i class="fas fa-gamepad" title="odehráno"></i>
                        

                        <div class="stars">
                            
                                <span> <!-- hodnocení uživatele -->
                                    {% for _ in "12345" %}
                                        {% if forloop.counter <= rating.score %}
                                            <span>★</span>
                                        {% else %}
                                            ☆
                                        {% endif %}
                                    {% endfor %}
                                </span>

                                
                                <span><small>Nehodnoceno</small></span>
                            
                        </div>

                    </div>
            </div>

        </div>

        <p>Žádné hry nenalezeny.</p>

    </div>
</div>

{% endblock %}