{% extends "inc/base.html" %}

{% load i18n %}

{% block title %}Přidat novou hru{% if user.is_authenticated %}
    {{ user.username }}
    {% else %}
    {% endif %}
{% endblock title %}

{% block h1 %}{% if user.is_authenticated %}
    {{ user.username }}
    {% else %}
    Neznámý
    {% endif %}{% endblock h1 %}

{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block content %}
<div class="container mt-5">
  <div class="row">

    {% if user.is_authenticated %}
    <div class="w-100"></div>
    <div class="tab-content mt-3 mb-3">
        <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn mt-3 add">Přidat hru</button>
        </form>
    </div>
    {% else %}
    <p><a href="{% url 'account_login' %}">Přihlásit</a>. Nemáte účet? <a href="{% url 'signup' %}">Registrace</a>.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
