<!DOCTYPE html>
<html lang="cs">
<head>

    {% include "../inc/head.html" %}

    <title>Hra | Databaze her DIV</title>

</head>

<body>




    <div>

HRA

    </div>



<div class="bg-danger text-white p-3">
    <!-- Obsah pro filmy -->Text <a href="">filmy</a>
</div>

<div class="bg-success text-white p-3">
    <!-- Obsah pro hry -->Text <a href="">hry</a>
</div>

<div class="bg-primary text-white p-3">Text <a href="">knihy</a>
    <!-- Obsah pro knihy -->
</div>

<div class="p-3">Text <a href="" class="bg-primary" >knihy</a>
    <!-- Obsah pro knihy -->
</div>



    {% include "../inc/footer.html" %}

</body>
</html>

