{% extends "games/base.html" %}

{% block content %}

<div class="container">
    <h1 class="page-title">Abecední filtr</h1>
    <h2 class="page-subtitle">
        Hry začínající na písmeno "<span class="letter">{{ letter }}</span>"
    </h2>

    <section id="" class="alphabet-section">
        <!-- Abeceda -->
        <h3 class="alphabet-filter">
            <a href="" class="alphabet-item">0-9</a>
            {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
                <a href="" class="alphabet-item">{{ letter }}</a>
            {% endfor %}
        </h3>

        <hr style="margin: 1rem 0">

        {% if page_obj %}
            <div class="search-table">
                <!-- Hlavička -->
                <div class="search-grid search-header">
                    <div style="text-align: center;">Miniatura</div>
                    <div>Název</div>
                    <div style="text-align: center;">Rok</div>
                    <div style="text-align: center;">Hodnocení</div>
                </div>

                <!-- Řádky -->
                {% for game in page_obj %}
                    <div class="search-grid search-row">
                        <a href="{% url 'game_detail' game.url %}">
                            {% if game.img == "noimg.png" %}
                                <img src="{{ game.img }}" alt="Hra {{ game.title }}">
                                {% else %}
                                <img src="/static/img/game/game.png" alt="{{ game.title }}">
                            {% endif %}
                        </a>

                        <div class="title">
                            <a href="{% url 'game_detail' game.url %}">
                                {{ game.titlecz }}
                            </a>
                        </div>

                        <div class="year">
                            {{ game.releaseyear }}
                        </div>

                        <div class="search-rating">
                            {% if user.is_authenticated %}
                                <div class="users-rating">
                                    100 % <!-- celkové hodnocení filmu -->
                                </div>

                                <div class="search-stars">
                                    
                                        <i class="fas fa-gamepad" title="odehráno"></i>
                                    

                                    <div class="stars">
                                        {% if movie.AverageRating %}
                                            <span> <!-- hodnocení uživatele -->
                                                {% for _ in "12345" %}
                                                    {% if forloop.counter <= rating.score %}
                                                    <span>★</span>
                                                    {% else %}
                                                    ☆
                                                    {% endif %}
                                                {% endfor %}
                                            </span>

                                            {% else %}
                                            <span><small>Nehodnoceno</small></span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% else %}
            <p>Nenašli jsme žádné hry začínající na "{{ letter }}".</p>
        {% endif %}

        <!-- PAGINÁTOR -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="first-page" href="?page=1">&laquo; První</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Předchozí</a>
                {% endif %}

                <span class="current-page">
                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Další</a>
                    <a class="last-page" href="?page={{ page_obj.paginator.num_pages }}">Poslední &raquo;</a>
                {% endif %}
            </span>
        </div>

    </section>
</div>

{% endblock %}
