{% extends "games/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}Hry na DIV.cz{% endblock %}

{% block meta %}
    <meta name="description" content="Objevte svět her na DIV.cz. Nejnovější hry, recenze, žebříčky a informace o všech herních platformách.">
    <meta name="keywords" content="hry, videohry, recenze her, herní platformy, Playstation, Xbox, Nintendo, online hry, deskové hry">
    <meta name="author" content="DIV.cz">
    <meta property="og:title" content="Hry | Databáze DIV.cz">
    <meta property="og:description" content="Prozkoumejte nejnovější hry, recenze a žebříčky na DIV.cz. Vše o herních platformách a novinkách ze světa her.">
    <meta property="og:image" content="https://div.cz/img/game/herni-div.webp">
    <meta property="og:url" content="https://div.cz/hry/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Hry | Databáze DIV.cz">
    <meta name="twitter:description" content="Aktuální databáze her na DIV.cz. Recenze, novinky, platformy a více.">
    <meta name="twitter:image" content="https://div.cz/img/game/herni-div.webp">
{% endblock %}


{% block content %}

<div class="row container my-4">
    <!-- LEVÁ STRANA -->
    <div class="col-lg-8">
        <!-- carousel -->
        <div class="expandable">
        {% for game in carousel_games %}
            <div class="panel {% if forloop.first %}active{% endif %} border box-shadow" style="background-image: url('{% if game.img == "rawg.io" %}https://rawg.io/img/{{ game.img }}{% elif game.img %}https://media.div.cz/hry{{ game.img }}{% else %}/static/img/game/game.png{% endif %}')">
                <!--<a href="/hra/{{ game.url }}"><h3>{{ game.title }}</h3></a>-->
            </div>
        {% endfor %}
        </div>

        {% if messages %}
        <div class="mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" style="background-color: #d4edda; color: #155724; border-color: #c3e6cb;margin:30px 10px;padding:10px">
                {{ message|safe }}
            </div>
        {% endfor %}
        </div>
        {% endif %}


        <!-- generování her -->
        <div class="row my-4">

            <div class="tab-profil flex overflow-scroll lg:fit-content rounded-1xl dark:bg-[#1A161F] bg-[#FFFFFF] mb-2">
                <div class="tab active">
                    <h3>
                        <a class="" href="">Vše</a>
                    </h3>
                </div>
                <div class="tab">
                    <h3>
                        <a class="" href="">PS5</a>
                    </h3>
                </div>
                <div class="tab">
                    <h3>
                        <a class="" href="">PS4</a>
                    </h3>
                </div>
                <div class="tab">
                    <h3>
                        <a class="" href="">PC</a>
                    </h3>
                </div>
                <div class="tab">
                    <h3>
                        <a class="" href="">xBox</a>
                    </h3>
                </div>
                <div class="tab">
                    <h3>
                        <a class="" href="/games_charts.html">další</a>
                    </h3>
                </div>

                <!-- Indikátor pozadí -->
                <div class="background rounded-1xl"></div>

            </div>

            <div class="flex flex-wrap gap-2">
            {% for game in games %}
                <div class="w-full flex box-shadow bg-[#F9F9F9] dark:bg-[#1A161F] border rounded-1xl">
                    <a href="/hra/{{ game.url }}" style="width: 130px;">
                    {% if game.img %}
                        {% if game.img == "rawg.io" %}
                        <img src="https://rawg.io/ ... ... .../{{ game.img }}" alt="{{ game.title }}" class="card-img-top rounded-l-lg">
                        {% else %}
                        <img src="https://media.div.cz/hry/{{ game.img }}" alt="{{ game.title }}" class="card-img-top rounded-l-lg">
                        {% endif %}
                        {% else %}
                        <img src="/static/img/game/game.png" alt="{{ game.title }}" class="card-img-top rounded-l-lg">
                    {% endif %}
                    </a>

                    <div class="card-body w-min">
                        <div class="flex justify-between">
                            <div class="">
                                <h4 class="card-title">
                                    <a href="/hra/{{ game.url }}">{{ game.title }}</a> ({{ game.year }})
                                </h4>
                                
                                <div class="flex flex-wrap gap-1">
                                {% if game.platforms %}
                                    {% for gameplatform in game.platforms %}
                                    
                                    <span class="rounded bg-[#c0c0c0] dark:bg-[#0d0c0f] p-1 label">
                                        {% if gameplatform.url %}
                                        <a href="{% url 'games_by_platform' gameplatform.url %}">{{ gameplatform.platform }}</a>
                                        {% else %}
                                            {{ gameplatform.platform }}
                                        {% endif %}
                                    </span>
                                    {% endfor %}
                                {% else %}
                                    <span class="opacity-70">Žádné platformy</span>
                                
                                {% endif %}
                                </div>


                            </div>

                            <!-- hodnocení -->
                            <div class="flex" style="width: 50px;">
                                <div class="rating box-shadow" data-rating="{{ game.average_rating }}">
                                    <div class="rating-inner">{{ game.average_rating }}%
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="card-text">
                            {% if game.descriptioncz %}
                                {{ game.descriptioncz|safe|truncatewords:40 }}
                            {% else %}
                                {{ game.description|safe|truncatewords:40 }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <!-- Poslední herní recenze -->
        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <div class="flex flex-wrap justify-between card-title after-h3">
                    <h3 class="font-bold">Poslední herní recenze</h3>
                    <a href="/hry/"> <small>Zobrazit vše</small></a> 
                </div>
                <div class="after last-line"> 
                {% if latest_comments %} 
                    {% for comment in latest_comments %}   
                    <div class="flex mb-3"> 
                        <div class="mr-4 flex" style="width:100px; max-width:100px; flex-shrink:0;"> 
                        {% if game.img %}
                            {% if game.img == "rawg.io" %}
                            <img src="/img/{{ game.img }}" alt="{{ game.title }}" class="img-fluid w-full rounded" style="object-fit: cover;max-width: 200px;">
                            {% else %}
                            <img src="https://media.div.cz/hry/{{ game.img }}" alt="{{ game.title }}" class="img-fluid w-full rounded" style="object-fit: cover;max-width: 200px;">
                            {% endif %}
                            {% else %}
                            <img src="/static/img/game/game.png" alt="{{ game.title }}" class="img-fluid w-full rounded" style="object-fit: cover;max-width: 200px;">
                        {% endif %}
                        </div>    

                        <div class="flex flex-wrap content-between ml-2" style="flex: 2;"> 
                            <div class="flex flex-wrap">
                                <a class="w-full font-semibold" href="{% url 'game_detail' comment.gameid.url %}">{{ comment.gameid.titlecz }}</a>
                                <p class="w-full text-sm">{{ comment.comment|truncatewords:30 }}</p>
                            </div>
                            
                            <div class="w-full flex justify-end" style="font-size: small;"> 
                                <p>Uživatel:
                                {% if comment.user %}
                                    <a href="/uzivatel/{{ comment.user.id }}/">{{ comment.user.username }}</a>
                                {% endif %}
                                </p>
                                <span class="ml-1">| {{ comment.dateadded|date:"d.m.Y H:i" }}</span>
                            </div>
                        </div>
                    </div> 

                    {% if not forloop.last %}
                    <hr class="my-3">
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <p>Zatím žádné recenze od komunity.</p>
                {% endif %}
                </div>
            </div>
        </div>   

    </div>
    
    <!-- PRAVÁ STRANA -->
    <div class="col-lg-4 article-section">
        <!-- brzy vyjde -->
        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">Brzy vyjde</h3>
                <ul class="w-full" style="list-style-type:none">
                    <li><a href="/hra/grand-theft-auto-vi">GTA VI.</a></li>
                    <li><a href="/hra/doom-the-dark-ages">DOOM</a></li>
                    <li><a href="/hra/ceske-legendy" title="Nejlepší česká deskovka">České legendy</a></li>
                    <li><a href="/hra/the-wolf-among-us-2">The Wolf Among Us 2</a></li>
                    <li><a href="/hra/assassin-s-creed-shadows">Assassin's Creed Shadows</a></li>
                    <li><a href="/hra/monster-hunter-wilds">Monster Hunter Wilds</a></li>
                    <li><a href="/hra/kingdom-come-deliverance-ii">Kingdom Come: Deliverance II</a></li>
                    <li><a href="/hra/avowed">Avowed</a></li>
                    <li><a href="/hra/prince-of-persia-the-sands-of-time-remake">Prince of Persia</a></li>
                </ul>
            </div>
        </div>

        <!-- BURZA HER -->
        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                <div class="flex flex-wrap card-title after-h3">
                <h3 class="font-bold">Burza her</h3>
                </div>

                <!-- prodej -->
                <div class="flex flex-wrap">
                    <div class="flex flex-wrap justify-between w-full">
                        <h4>Prodej</h4>
                        <div>
                        <a href="#"><small>Zobrazit vše</small></a> | 
                        <a href="#"><small>Zobrazit moje</small></a>
                        </div>
                    </div>

                    <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded mt-2">
                        <a href="#">
                            <img src="" alt="" class="rounded-l" style="width: 80px;">
                        </a>
                        <div class="flex flex-wrap content-between h-full p-2" style="flex: 2;">
                            <p class="w-full"><a href="#">Název hry</a></p>
                            <p class="w-full">150 Kč</p>
                            <p class="text-sm text-end w-full">
                                <small>Přidal: <a href="#">Uživatel123</a> | 31.8.2025</small>
                            </p>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- poptávka -->
                <div class="flex flex-wrap">
                    <div class="flex flex-wrap justify-between w-full">
                        <h4>Poptávka</h4>
                        <div>
                            <a href="#"><small>Zobrazit vše</small></a> | 
                            <a href="#"><small>Zobrazit moje</small></a>
                        </div>
                    </div>

                    <div class="flex items-center w-full border bg-[#FFFFFF] dark:bg-[#0d0c0f] rounded mt-2">
                        <a href="#">
                            <img src="" alt="" class="rounded-l" style="width: 80px;">
                        </a>
                        <div class="flex flex-wrap content-between h-full p-2" style="flex: 2;">
                            <p><a href="#">Hledaná hra</a></p>
                            <p>Daruji</p>
                            <p class="text-sm text-end w-full">
                                <small>Přidal: <a href="#">Uživatelka</a> | 28.8.2025</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ČLÁNKY -->
        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <div class="flex flex-wrap justify-between card-title after-h3">
                    <h3 class="font-bold">Články</h3><!--<a href="{% url 'articles_list' category='hry' %}"><small>Zobrazit vše</small></a>-->
                </div>
                <div class="flex flex-wrap after">
                    <a href="https://div.cz/the-game-awards" class="w-full">The Game Awards</a> <!-- stačí název ne?-->
                    <!--<a href="" class="w-full">článek 2</a>
                    <a href="" class="w-full">článek 3</a>
                    <a href="" class="w-full">článek 4</a>
                    <a href="" class="w-full">článek 5</a>-->
                </div>
                <div class="text-right">
                    {% if user.is_superuser %}
                    <a href="{% url 'article_new' category=category_key %}"><i class="fa-solid fa-plus"></i> Přidat nový článek</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- ŽÁNRY -->
        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">Žánry</h3>
                <div>
                    <a href="/hry/zanr/akcni">Akční</a> |
                    <a href="/hry/zanr/dobrodruzny">Dobrodružný</a> |
                    <!--<a href="/hry/zanr/detske">Dětské</a> |-->
                    <a href="/hry/zanr/horor">Horor</a> |
                    <a href="/hry/zanr/indie">Indie</a> |
                    <a href="/hry/zanr/hudebni">Hudební</a> |
                    <!--<a href="/hry/zanr/logicke">Logické</a> |-->
                    <a href="/hry/zanr/moba">MOBA</a> |
                    <!--<a href="/hry/zanr/online">Online</a> |-->
                    <a href="/hry/zanr/rpg">RPG</a> |
                    <!---->
                    <a href="/hry/zanr/simulace">Simulátory</a> |
                    <a href="/hry/zanr/sportovni">Sportovní</a> |
                    <a href="/hry/zanr/strategie">Strategie</a> |
                    <a href="/hry/zanr/strilecka">Střílečka</a> |
                    <a href="/hry/zanr/zavodni">Závodní</a> 
                </div>
            </div>
        </div>
        
        <!-- ROKY -->
        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">Roky</h3>
                <div>
                    <a href="/hry/rok/2024">2024</a> |
                    <a href="/hry/rok/2023">2023</a> |
                    <a href="/hry/rok/2022">2022</a> |
                    <a href="/hry/rok/2021">2021</a> |
                    <a href="/hry/rok/2020">2020</a> |
                    <a href="/hry/rok/2019">2019</a> |
                    <a href="/hry/rok/2018">2018</a> |
                    <a href="/hry/rok/2017">2017</a> |
                    <a href="/hry/rok/2016">2016</a> |
                    <a href="/hry/rok/2015">2015</a> |
                    <a href="/hry/rok/2014">2014</a> |
                    <a href="/hry/rok/2013">2013</a> |
                    <a href="/hry/rok/2012">2012</a> |
                    <a href="/hry/rok/2011">2011</a> |
                    <a href="/hry/rok/2010">2010</a> |
                    <a href="/hry/rok/2009">2009</a> |
                    <a href="/hry/rok/2008">2008</a> |
                    <a href="/hry/rok/2007">2007</a> |
                    <a href="/hry/rok/2006">2006</a> |
                    <a href="/hry/rok/2005">2005</a> |
                    <a href="/hry/rok/2004">2004</a> |
                    <a href="/hry/rok/2003">2003</a> |
                    <a href="/hry/rok/2002">2002</a> |
                    <a href="/hry/rok/2001">2001</a>

                    <details>
                        <summary>Další roky</summary>
                        <a href="/hry/rok/2000">2000</a> |
                        <a href="/hry/rok/1999">1999</a> |
                        <a href="/hry/rok/1998">1998</a> |
                        <a href="/hry/rok/1997">1997</a> |
                        <a href="/hry/rok/1996">1996</a> |
                        <a href="/hry/rok/1995">1995</a> |
                        <a href="/hry/rok/1994">1994</a> |
                        <a href="/hry/rok/1993">1993</a> |
                        <a href="/hry/rok/1992">1992</a> |
                        <a href="/hry/rok/1991">1991</a> |
                        <a href="/hry/rok/1990">1990</a> |
                        <a href="/hry/rok/1989">1989</a> |
                        <a href="/hry/rok/1988">1988</a> |
                        <a href="/hry/rok/1987">1987</a> |
                        <a href="/hry/rok/1986">1986</a> |
                        <a href="/hry/rok/1985">1985</a> |
                        <a href="/hry/rok/1984">1984</a> |
                        <a href="/hry/rok/1983">1983</a> |
                        <a href="/hry/rok/1982">1982</a> |
                        <a href="/hry/rok/1981">1981</a> |
                        <a href="/hry/rok/1980">1980</a> |
                        <a href="/hry/rok/1979">1979</a> |
                        <a href="/hry/rok/1978">1978</a> |
                        <a href="/hry/rok/1977">1977</a> |
                        <a href="/hry/rok/1976">1976</a> |
                        <a href="/hry/rok/1975">1975</a> |
                        <a href="/hry/rok/1974">1974</a> |
                        <a href="/hry/rok/1973">1973</a> |
                        <a href="/hry/rok/1972">1972</a> |
                        <a href="/hry/rok/1971">1971</a> |
                        <a href="/hry/rok/1970">1970</a> |
                        <a href="/hry/rok/1969">1969</a> |
                        <a href="/hry/rok/1968">1968</a> |
                        <a href="/hry/rok/1967">1967</a> |
                        <a href="/hry/rok/1966">1966</a> |
                        <a href="/hry/rok/1965">1965</a> |
                        <a href="/hry/rok/1964">1964</a> |
                        <a href="/hry/rok/1963">1963</a> |
                        <a href="/hry/rok/1962">1962</a> |
                        <a href="/hry/rok/1961">1961</a> |
                        <a href="/hry/rok/1960">1960</a> |
                        <a href="/hry/rok/1959">1959</a> |
                        <a href="/hry/rok/1958">1958</a> 
                    </details>
                </div>
            </div>
        </div>

        <!-- STATISTIKY -->
        <div class="card box-shadow mb-4">
            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl">
                <h3 class="card-title font-bold after-h3">V databázi máme:</h3>
                <ul>
                    <li><p>89.564 her</p></li>
                    <!--<li>--><!--počet--><!--<p>her na PC</p></li>-->
                    <!--<li>--><!--počet--><!--<p>her na PS</p></li>-->
                    <!--<li>--><!--počet--><!--<p>her na Xbox</p></li>-->
                    <!--<li>--><!--počet--><!--<p>stolních her</p></li>-->
                </ul>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function() {
        // Initialize DataTable
        var table = $('#gamesTable').DataTable();

        // Apply the filter
        $('#platformFilter, #ratingFilter').on('change', function() {
            table.draw();
        });

        // Custom filtering function
        $.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
                var platform = $('#platformFilter').val();
                var minRating = $('#ratingFilter').val();

                var rowPlatform = data[1]; // Platform is in the second column
                var rowRating = parseInt(data[3].split('/')[0]); // Extract rating from format "X/10"

                if ((platform === "" || platform === rowPlatform) && (minRating === "0" || rowRating >= minRating)) {
                    return true; // Show row
                }
                return false; // Hide row
            }
        );
    });

    $('#gamesTable').DataTable({
        "language": {
            "lengthMenu": "Zobrazit _MENU_ záznamů",
            "zeroRecords": "Žádné záznamy nebyly nalezeny",
            "info": "Strana _PAGE_ z _PAGES_",
            "infoEmpty": "Žádné záznamy k dispozici",
            "infoFiltered": "(vyfiltrováno z celkem _MAX_ záznamů)",
            "search": "Hledat:",
            "paginate": {
                "first":      "První",
                "last":       "Poslední",
                "next":       "Další",
                "previous":   "Předchozí"
            },
        }
    });
</script>

{% endblock %}
