<!DOCTYPE html>
<html lang="cs">

    <head>

        {% include "../inc/head.html" %}

        <title>Hry | Databáze filmů a her DIV</title>

        <link href="/static/css/games.css" rel="stylesheet">
        <link href="/static/css/navbar.css" rel="stylesheet">

    </head>

    <body class="bg-[#FFFFFF] text-[#0d0c0f] dark:bg-[#0d0c0f] dark:text-[#F9F9F9] d-flex flex-column min-vh-100">

        {% include "../inc/navbar_games.html" %}
        
        <main class="flex-grow-1 max-w-[1440px] mx-auto">
            <section class="text-[#0d0c0f] dark:text-[#F9F9F9] max-w-[1440px] mx-auto flex flex-col lg:flex-row">
                <aside class="lg:min-w-[200px] max-h-full bg-light dark:bg-[#1A161F]" style="border-right: 1px solid white;">
                    <div class="lg:min-w-[200px] max-h-full" style="border-right: 1px solid white;">
                        <!-- Menu -->
                        <div class="menu-section flex justify-center lg:flex-col lg:justify-normal lg:h-screen lg:block dark:bg-[#1A161F]">
                            <div class="" style="width: 100%;">
                                <div class="after flex flex-wrap justify-between">
                                    <h3 class="ml-8 lg:pt-11 mb-2 font-bold sm:mt-4">Menu</h3>
                                    <div class="flex gap-4 mb-2 mr-4 items-end">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 sun cursor-pointer ">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 moon cursor-pointer ">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="mt-4 flex sm:justify-center">
                                    <div class="w-full flex flex-col ml-8 items-center">
                                        <div class="flex flex-col w-full">
                                            <div class="sidebar-list">
                                                <a href="">Novinky</a>
                                                <a href="">Seznam knih</a>
                                                <a href="">Žebříčky</a>
                                                <a href="">Nakladatelství</a>
                                                <a href="">Postavy</a>
                                                <a href="/forum/knihy">Fórum</a>
                                                <a href="">Přidat knihu</a>
                                                <a href="">Přidat autora</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>

                <div class="row container my-4">
                    <!-- Levá strana -->
                    <div class="col-lg-8"><h1>V přípravě</h1>
                        <!-- expandable cards - nejlépe hodnocené -->
                        <div class="expandable">
                            <div class="panel active border" style="background-image: url('https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_RiseoftheTombRaider20YearCelebration_CrystalDynamics_S2_1200x1600-a73f93bb560142e08d56db4c2bfdb03c')">
                                <!-- <h3>Tomb Raider</h3> -->
                            </div>
                            <div class="panel border" style="background-image: url('https://upload.wikimedia.org/wikipedia/tr/thumb/b/be/Grand_Theft_Auto_V_oyununun_kapa%C4%9F%C4%B1.jpg/640px-Grand_Theft_Auto_V_oyununun_kapa%C4%9F%C4%B1.jpg')">
                                <!-- <h3>GTA V.</h3> -->
                            </div>
                            <div class="panel border" style="background-image: url('https://m.media-amazon.com/images/I/616+j9jEM4L._AC_UF894,1000_QL80_.jpg')">
                                <!-- <h3>The Last of Us</h3> -->
                            </div>    
                            <div class="panel border" style="background-image: url('https://m.media-amazon.com/images/M/MV5BZDllZjMwOGEtNGJmYy00ZDcxLThjMWQtNGExNjNhMjQ1NWI3XkEyXkFqcGdeQXVyMTA0MTM5NjI2._V1_.jpg')">
                                <!-- <h3>Age of Empires</h3> -->
                            </div>
                            <div class="panel border" style="background-image: url('https://images.igdb.com/igdb/image/upload/t_1080p_2x/co5rgr.jpg')">
                                <!-- <h3>Moorhuhn</h3> -->
                            </div>
                            <div class="panel active border" style="background-image: url('https://static0.thegamerimages.com/wordpress/wp-content/uploads/sharedimages/2024/04/mortal-kombat-11.jpg')">
                                <!-- <h3>Mortal Kombat 11</h3> -->
                            </div>
                            <div class="panel active border" style="background-image: url('https://a.allegroimg.com/original/1198e1/a41ac8974f6c83a9feae5a899740/RIDERS-REPUBLIC-PL-PC-KLIC-UBISOFT')">
                                <!-- <h3>Riders republic</h3> -->
                            </div>
                            <div class="panel border" style="background-image: url('https://images.igdb.com/igdb/image/upload/t_1080p_2x/co5rgr.jpg')">
                                <!-- <h3>Moorhuhn</h3> -->
                            </div>
                            <div class="panel active border" style="background-image: url('https://static0.thegamerimages.com/wordpress/wp-content/uploads/sharedimages/2024/04/mortal-kombat-11.jpg')">
                                <!-- <h3>Mortal Kombat 11</h3> -->
                            </div>
                            <div class="panel active border" style="background-image: url('https://a.allegroimg.com/original/1198e1/a41ac8974f6c83a9feae5a899740/RIDERS-REPUBLIC-PL-PC-KLIC-UBISOFT')">
                                <!-- <h3>Riders republic</h3> -->
                            </div>
                        </div>
                        
                        <h1>V přípravě</h1>
                    </div>
                    
                    <!-- Pravá strana -->
                    <div class="col-lg-4 article-section">
                        <div class="card mb-4">
                            <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                <h3 class="card-title font-bold after-h3">Právě vyšlo</h3>
                                <ul class="w-full" style="list-style-type:none">
                                    <li><a href="">GTA VI.</a></li>
                                    <li><a href="">DOOM</a></li>
                                    <li><a href="">The Last of Us II.</a></li>
                                    <li><a href="">COD</a></li>
                                    <li><a href="">Tony Hawk</a></li>
                                    <li><a href="">Need for speed</a></li>
                                    <li><a href="">NHL 10</a></li>
                                    <li><a href="">Worms</a></li>
                                    <li><a href="">Godzilla</a></li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <div class="card mb-4">
                                <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                    <h3 class="card-title font-bold after-h3">Platformy</h3>
                                    <nav>
                                        <a href="">Playstation 5</a> |
                                        <a href="">Playstation 4</a> |
                                        <a href="">Deskovky</a> |
                                        <a href="">xBox</a> |
                                        <a href="">Nintendo WII</a> |
                                        <a href="">Nintendo PS</a> |
                                        <a href="">iOS</a> |
                                        <a href="">Online</a> |

                                    </nav>
                                </div>
                            </div>

                            <div class="card mb-4">
                                <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                    <h3 class="card-title font-bold after-h3">Články</h3>


                                </div>
                            </div>
                            
                            <div class="card mb-4">
                                <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                    <h3 class="card-title font-bold after-h3">Roky</h3>
                                    <nav>
                                        <a href="/filmy/2024">2024</a> |
                                        <a href="/filmy/2023">2023</a> |
                                        <a href="/filmy/2022">2022</a> |
                                        <a href="/filmy/2021">2021</a> |
                                        <a href="/filmy/2020">2020</a> |
                                        <a href="/filmy/2019">2019</a> |
                                        <a href="/filmy/2018">2018</a> |
                                        <a href="/filmy/2017">2017</a> |
                                        <a href="/filmy/2016">2016</a> |
                                        <a href="/filmy/2015">2015</a> |
                                        <a href="/filmy/2014">2014</a> |
                                        <a href="/filmy/2013">2013</a> |
                                        <a href="/filmy/2012">2012</a> |
                                        <a href="/filmy/2011">2011</a> |
                                        <a href="/filmy/2010">2010</a> |
                                        <a href="/filmy/2009">2009</a> |
                                        <a href="/filmy/2008">2008</a> |
                                        <a href="/filmy/2007">2007</a> |
                                        <a href="/filmy/2006">2006</a> |
                                        <a href="/filmy/2005">2005</a> |
                                        <a href="/filmy/2004">2004</a> |
                                        <a href="/filmy/2003">2003</a> |
                                        <a href="/filmy/2002">2002</a> |
                                        <a href="/filmy/2001">2001</a> |
                                        <a href="/filmy/2000">2000</a> |
                                        <a href="/filmy/1999">1999</a>
                                    </nav>
                                </div>
                            </div>

                            <div class="card mb-4">
                                <div class="card-body w-full bg-[#F9F9F9] dark:bg-[#1A161F] rounded-1xl self-start">
                                    <h3 class="card-title font-bold after-h3">V databázi máme:</h3>
                                    <ul>
                                        <li><!--počet--><p>her na PC</p></li>
                                        <li><!--počet--><p>her na PS</p></li>
                                        <li><!--počet--><p>her na Xbox</p></li>
                                        <li><!--počet--><p>stolních her</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>


        {% include "../inc/footer.html" %}


        <script>
            $(document).ready(function() {
                // Initialize DataTable
                var table = $('#gamesTable').DataTable();

                // Apply the filter
                $('#platformFilter, #ratingFilter').on('change', function() {
                    table.draw();
                });

                // Custom filtering function
                $.fn.dataTable.ext.search.push(
                    function(settings, data, dataIndex) {
                        var platform = $('#platformFilter').val();
                        var minRating = $('#ratingFilter').val();

                        var rowPlatform = data[1]; // Platform is in the second column
                        var rowRating = parseInt(data[3].split('/')[0]); // Extract rating from format "X/10"

                        if ((platform === "" || platform === rowPlatform) && (minRating === "0" || rowRating >= minRating)) {
                            return true; // Show row
                        }
                        return false; // Hide row
                    }
                );
            });

            $('#gamesTable').DataTable({
                "language": {
                    "lengthMenu": "Zobrazit _MENU_ záznamů",
                    "zeroRecords": "Žádné záznamy nebyly nalezeny",
                    "info": "Strana _PAGE_ z _PAGES_",
                    "infoEmpty": "Žádné záznamy k dispozici",
                    "infoFiltered": "(vyfiltrováno z celkem _MAX_ záznamů)",
                    "search": "Hledat:",
                    "paginate": {
                        "first":      "První",
                        "last":       "Poslední",
                        "next":       "Další",
                        "previous":   "Předchozí"
                    },
                }
            });
        </script>

        <script src="/static/js/script.js"></script>
        <script src="/static/js/games.js"></script>

    </body>
</html>
