{% extends "inc/base.html" %}

{% load i18n %}

{% block title %}Nová hra přidána{% endblock title %}
{% block h1 %}Nová hra přidána{% endblock h1 %}
{% block text_muted %} na DIV.cz{% endblock text_muted %}

{% block content %}
        {% if user.is_authenticated %}
        {% else %}
        <p><a href="/prihlaseni/">Přihlásit</a> nebo <a href="/registrace/">registrace.</a></p>
        {% endif %}


{% if message_sent %}
    <p>Děkujeme! Nová hra byla přidána</p>
    
    <p>Přidat <a href="/hra/pridat/">další</a>.</p>
{% else %}





{% endif %}
{% endblock content %}
