{% extends "games/base.html" %}
{% load humanize %}

{% block title %}Poptávka her | DIV.cz{% endblock %}

{% block meta %}
<meta name="description" content="Hledáte konkrétní hru? Přidejte svou poptávku do gamekvariátu na DIV.cz.">
<link rel="canonical" href="https://div.cz/gamekvariat/poptavky/">

<meta name="keywords" content="gamekvariát, poptávka her, sháním knihu, hledám hru, burza her, hry z druhé ruky">
<meta name="author" content="DIV.cz">

<meta property="og:title" content="Gamekvariát | Poptávky her">
<meta property="og:description" content="Zveřejněte poptávku na hru, kterou sháníte. Gamekvariát DIV.cz spojuje čtenáře.">
<meta property="og:image" content="https://media.div.cz/hero/gamekvariat.webp">
<meta property="og:url" content="https://div.cz/gamekvariat/poptavky/">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="gamekvariát | Poptávky her">
<meta name="twitter:description" content="Hledáte konkrétní hru? Vložte poptávku do gamekvariátu na DIV.cz.">
<meta name="twitter:image" content="https://media.div.cz/hero/gamekvariat.webp">
{% endblock %}


{% block content %}

<div class="container mx-auto px-4 py-6">
    <h1 class="mt-8">GameKvariát</h1>
    <div class="mt-8">
        <h2 class="text-2xl font-semibold mb-4">Poptávka her</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 gap-y-0">
            <div class="card box-shadow mb-4">
                <div class="card-body flex items-center w-full border bg-[#F9F9F9] dark:bg-[#1A161F] rounded">
                    <a href="#">
                        <img src="" alt="" class="rounded-l" style="width: 80px; height: 100%;">
                    </a>

                    <div class="flex flex-wrap content-between h-full px-2 py-0" style="flex: 2;">
                        <div class="flex justify-between w-full">
                            <div>
                                <p>Název knihy</p>
                                <p>Autor knihy</p>
                            </div>
                            <p class="flex items-center border-black mb-3 price">200 Kč</p>
                        </div>

                        <p class="w-full"><a href="#">Detail nabídky</a></p>
                        <p class="text-sm text-end w-full"><small>Přidal: Uživatel | 31.8.2025</small></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- paginátor -->
        <div class="pagination mt-8">
            <span class="step-links flex justify-center">
                <div>
                    <a class="mr-4" href="?page=1">&laquo; první</a>
                    <a href="?page=2">předchozí</a>
                </div>

                <span class="current-page mx-4">
                    Stránka 3 / 10
                </span>

                <div>
                    <a href="?page=4">další</a>
                    <a class="ml-4" href="?page=10">poslední &raquo;</a>
                </div>
            </span>
        </div>
    </div>
</div>

{% endblock %}