{% extends 'games/base.html' %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}Vydavatelé her | DIV.cz{% endblock %}

{% block content %}

<div class="container">
    <div class="mb-3 px-4 w-full">
        <div class="mt-5">
            <h2 class="w-full">Seznam vydavatelů</h2>
            <ul class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 ml-6 mt-6">
            {% for publisher in publishers %}
                <li>
                    <a href="{% url 'games_by_publisher' publisher_url=publisher.publisherurl %}">
                        {{ publisher.publisher }}
                    </a>
                </li>
            {% endfor %}
            </ul>

            <hr> 

            <!-- PAGINÁTOR -->
            {% if publishers.has_other_pages %}
            <div class="pagination">
                <span class="step-links">
                {% if publishers.has_previous %}
                    <a class="first-page" href="?page=1">&laquo; První</a>
                    <a href="?page={{ publishers.previous_page_number }}">Předchozí</a>
                {% endif %}

                    <span class="current-page">
                        {{ publishers.number }} / {{ publishers.paginator.num_pages }}
                    </span>

                {% if publishers.has_next %}
                    <a href="?page={{ publishers.next_page_number }}">Další</a>
                    <a class="last-page" href="?page={{ publishers.paginator.num_pages }}">Poslední &raquo;</a>
                {% endif %}
                </span>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
