{% extends "charts/base.html" %}

{% block title %} Ocenění Div.cz {% endblock title %}

{% block content %}

<link href="https://media.div.cz/css/navbar_together.css" rel="stylesheet">

<h2 class="w-full">Ocenění</h2>
<p>Vyberte si kategorii ocenění:</p>

<div class="grid gap-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 mt-5">
    <div class="card-body w-full items-center text-center">
        <a href="{% url 'awards_movies' %}">
            <img src="../static/img/awards/movies.webp">
            <h3>Filmová ocenění</h3>
        </a>
    </div>

    <div class="card-body w-full items-center text-center">
        <a href="{% url 'awards_movies' %}">
            <img src="../static/img/awards/serials.webp">
            <h3>Seriálová ocenění</h3>
        </a>
    </div>

    <div class="card-body w-full items-center text-center">
        <a href="{% url 'awards_books' %}">
            <img src="../static/img/awards/books.webp">
            <h3>Knižní ocenění</h3>
        </a>
    </div>

    <div class="card-body w-full items-center text-center">
        <a href="{% url 'awards_games' %}">
            <img src="../static/img/awards/games.webp">
            <h3>Herní ocenění</h3>
        </a>
    </div>
</div>

{% endblock %}
