{% extends "charts/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}Žebříčky | DIV.cz{% endblock %}

{% block meta %}

<link href="https://media.div.cz/css/navbar_together.css" rel="stylesheet">

{% endblock %}

{% block content %}

<h2 style="width: 100%;">Žebříčky</h2>
<div class="article-item">
    <div class="card card-body">
        <a href="{% url 'charts_movies' %}">
            <img src="/static/img/charts/movies.webp">
            <h3>Filmy / Seriály</h3>
        </a>
    </div>
    <div class="card card-body">
        <a href="{% url 'charts_books' %}">
            <img src="/static/img/charts/books.webp">
            <h3>Knihy</h3>
        </a>
    </div>
    <div class="card card-body">
        <a href="{% url 'charts_games' %}">
            <img src="/static/img/charts/games.webp">
            <h3>Hry</h3>
        </a>
    </div>
    <div class="card card-body">
        <a href="{% url 'charts_users' %}">
            <img src="/static/img/charts/users.webp">
            <h3>Uživatelé</h3>
        </a>
    </div>
</div>

{% endblock %}