<!DOCTYPE html>
<html lang="cs">
<head>

    {% include "../inc/head.html" %}

<title>{{ article.h1 }}</title>

    <meta name="description" content="{{ article.perex }}">

    <meta name="keywords" content="články, databáze, knihy, hry, filmy, film, recenze, hodnocení, DIV.cz">

    <meta name="author" content="{{ article.autor }}">



    {% if article.img %}
    <meta property="og:image" content="https://image.tmdb.org/t/p/w1066_and_h600_bestv2{{ article.img }}">
    <meta property="og:image:alt" content="{{ article.alt }}">
    {% elif article.img1600 %}
    <meta property="og:image" content="{{ article.img1600 }}">
    <meta property="og:image:alt" content="{{ article.alt }}">
{% else %}
    
{% endif %}



    <meta property="og:title" content="{{ article.h1 }}">
    <meta property="og:description" content="{{ article.perex }}">
    <meta property="og:url" content="https://div.cz/{{ article.url }}">
    <meta property="og:type" content="article">



    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



</head>
<body>

    {% include "../inc/navbar.html" %}

<!-- Image -->

        {% if article.Img1600 == "" %}
        <!-- no image -->
        {% else %}

        {% endif %}

<!-- Main Content -->
<main class="container my-5">
  <div class="row">
    <!-- Left Column: Film Detail -->
    <div class="col-lg-8">


{% if article.img %}
    <img src="https://image.tmdb.org/t/p/w1066_and_h600_bestv2{{ article.img }}" class="img-fluid rounded w-100" alt="{{ article.alt }}">
{% elif article.img1600 %}
    <img src="{{ article.img1600 }}" class="img-fluid rounded w-100" alt="{{ article.alt }}">
{% else %}
    <!-- -->
{% endif %}
            <h1>{{ article.h1 }}</h1> 

      <!-- Info Bar -->

          <p>{{ article.content|safe }}</p>

    </div>

    <!-- Right Column: Additional Information -->
    <div class="col-lg-4">



      <div class="card rounded mb-4">
        <div class="card-body">
{% if user.is_authenticated %}
    <h4>{{ user.username }}! </h4>
    <p>Vítejte, {{ user.username }}! <!--<a href="{% url 'logout' %}">Odhlásit se</a>--></p>
{% else %}
    <h4>Přihlášení</h4>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }}
        <button type="submit" class="btn btn-primary">Přihlásit se</button>
    </form>
    <div class="mt-3">
        <p>Nemáte účet? <a href="{% url 'signup' %}">Registrace</a></p>
    </div>
{% endif %}
        </div>
      </div>



      <!-- Movie LIST -->
      <div class="card rounded mb-4">
        <div class="card-body">
        {% if article.typ == "site" %}
            <h4>Odkazy</h4>
        <ul>
            <li><a href="https://div.cz/soutez-o-listky-do-kina">Soutěž o lístky do kina</a> (2024)</li>
        </ul>


        {% elif article.typ == "Movie" %}
            <h4>Filmy</h4>
        <ul>
            <li><a href="https://div.cz/soutez-o-listky-do-kina">Soutěž o lístky do kina</a></li>

        </ul>

        {% elif article.typ == "Book" %}
            <h4>Knihy</h4>
        <ul>
            <li><a href="https://div.cz/knihy/">Seznam knih na div</a></li>

        </ul>


        {% elif article.typ == "Game" %}
            <h4>Hry</h4>
        <ul>
            <li><a href="https://div.cz/hry/">Seznam her</a></li>

        </ul>


        {% elif article.typ == "Článek" %}
            <h4>Články</h4>
        <ul>
            <li><a href="https://div.cz/soutez-o-listky-do-kina">Soutěž o lístky do kina</a></li>

        </ul>


        {% else %}
            <h4>Neznámý typ</h4>
        {% endif %}

        </div>
      </div>


        <!-- Člen týmu 7 -->
        <div class="card rounded mb-4">
        <div class="card-body">
            <img src="https://div.cz/static/img/creator/noperson.svg" class="rounded-circle" alt="" style="width: 140px; height: 140px;">
            <h3 style="font-size:110%">Chceš se podílet na div.cz?</h3>
            <p>Napiš nám info@div.cz</p>
        </div>
        </div>
        
        


      <div class="card rounded mb-4">
        <div class="card-body">

        <h5 class="card-title">Naše sociální sítě:</h5>

        <!-- Facebook Share Button -->
        <a href="https://www.facebook.com/div.cz/" class="btn btn-primary mb-2 mr-1" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>

        <!-- Twitter Share Button -->
        <a href="https://twitter.com/DIV_cz" class="btn btn-info mb-2 mr-1" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>

        <!-- LinkedIn Share Button 
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://div.cz/{{ article.url }}&title={{ article.h1 }}" class="btn btn-secondary mb-2 mr-1" target="_blank">
            <i class="fab fa-linkedin-in"></i>-->
        </a>

        <!-- Email Share Button -->
        <a href="mailto:?subject=DIV.CZ&body=Podívej se na https://div.cz/" class="btn btn-dark mb-2 mr-1">
            <i class="fas fa-envelope"></i>
        </a>

        <!-- WhatsApp Share Button -->
        <a href="https://whatsapp.com/channel/0029VaajsWZHLHQZcSu1r83U" class="btn btn-success mb-2" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>

        </div>
      </div>





      <div class="card rounded mb-4">
        <div class="card-body">

        <h5 class="card-title">{{ article.h1 }}</h5>
        <p class="card-text">Sdílet na:</p>

        <!-- Facebook Share Button -->
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://div.cz/{{ article.url }}" class="btn btn-primary mb-2 mr-1" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>

        <!-- Twitter Share Button -->
        <a href="https://twitter.com/intent/tweet?url=https://div.cz/{{ article.url }}&text={{ article.h1 }}" class="btn btn-info mb-2 mr-1" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>

        <!-- LinkedIn Share Button -->
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://div.cz/{{ article.url }}&title={{ article.h1 }}" class="btn btn-secondary mb-2 mr-1" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>

        <!-- Email Share Button -->
        <a href="mailto:?subject={{ movie.titlecz }}&body=Podívej se na https://div.cz/{{ article.url }}" class="btn btn-dark mb-2 mr-1">
            <i class="fas fa-envelope"></i>
        </a>

        <!-- WhatsApp Share Button -->
        <a href="https://wa.me/?text={{ article.h1 }} - https://div.cz/{{ article }}" class="btn btn-success mb-2" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>

        </div>
      </div>


      <!-- tmdb.org, imdb.org, div.cz, csfd.cz 
      <div class="card rounded mb-4 d-none d-lg-block">
        <div class="card-body">
          <h4>Odkazy</h4>
            
        </div>
      </div>-->

      <!--
      <div class="card rounded mb-4 d-none d-lg-block">
        <div class="card-body">
          <h4>Tagy</h4>
        <span class="badge bg-secondary">Animační</span>
        <span class="badge bg-secondary">Rodinný</span>
        <span class="badge bg-secondary">Akční</span>
        </div>
      </div>-->

  </div>
</main>

{% include "../inc/footer.html" %}

</body>
</html>
