{% extends "articles/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}Články | Databáze DIV{% endblock title %}

{% block content %}

<link href="/static/css/navbar_together.css" rel="stylesheet">

<h2><a class="hover:underline" href="{% url 'clanky' %}">Články</a> / <a href="">filmy, knihy, hry</a></h2>

<section class="w-3/4">
    <h2>Nový článek</h2>
    <form method="post">

        <button class="btn mb-4 mr-1 btn-action add" type="submit">Přidat</button>
    </form>
</section>

{% endblock %}

{% block script %}

<script src="/static/js/forum-comment-summernote.js"></script>

{% endblock script %}