{% extends "articles/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}Články | Databáze DIV{% endblock title %}

{% block content %}

<link href="https://media.div.cz/css/navbar_together.css" rel="stylesheet">

<h2><a class="hover:underline" href="{% url 'articles_index' %}">Články</a> / <a href="{% url 'articles_list' category=category_key %}">{{ category_name }}</a></h2>

<section style="width: 75%;">
    <h2>Nový článek</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.as_p }}
        <button class="btn add" name="article_submit" type="submit">Přidat</button>
    </form>
</section>

{% endblock %}

{% block script %}

<script src="/static/js/articleSummernote.js"></script>

{% endblock script %}