{% extends "articles/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

<title>{{ category }} články | Databáze DIV</title>

{% block content %}

{% if category_key == "filmy" or category_key == "serialy" %}
    <link href="https://media.div.cz/css/movies.css" rel="stylesheet">
    <style>
        nav, footer {
            background: linear-gradient(90deg, #330000 10%, #A52B21 90%);
        }

        .cta:before {
            background: #A52B21;
        }

        .cta:hover:before {
            background: #b12a20;
        }
    </style>

{% elif category_key == "knihy" %}
    <link href="https://media.div.cz/css/books.css" rel="stylesheet">
    <style>
        nav, footer {
            background: linear-gradient(90deg, #003300 10%, #61872B 90%);
        }

        .cta:before {
            background: #61872B;
        }

        .cta:hover:before {
            background: #619618;
        }
    </style>

{% elif category_key == "hry" %}
    <link href="https://media.div.cz/css/games.css" rel="stylesheet">
    <style>
        nav, .footer {
            background: linear-gradient(90deg, #001933 10%, #0A76A9 90%);
        }

        .cta:before {
            background: #0A76A9;
        }

        .cta:hover:before {
            background: #2a8dbb;
        }
    </style>

{% else %}
    <link href="https://media.div.cz/css/navbar_other.css" rel="stylesheet">
{% endif %}


<h2 style="width: 100%;">
    <a class="hover:underline" href="{% url 'articles_index' %}">Články</a>
     / Nejnovější {{ category }} články
</h2>

<div style="margin-top: 20px;">
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'article_new' category=category_key %}" class="cta" style="margin-top: 1rem;">
                <span class="cta-color">Přidat nový článek</span>
                <svg width="15px" height="10px" viewBox="0 0 13 10">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </a>
        {% else %}
            <p class="paragraph-spacing">Pro založení nového příspěvku se prosím 
                <a href="{% url 'login' %}">přihlašte</a>.
            </p>
        {% endif %}
    </div>

    {% for article in articles|slice:":10" %}
    <div class="article-item">
        <div class="article-header">
            <h3><a href="{% url 'article_detail' article.url %}">{{ article.title }}</a></h3> 
            <div class="custom-select" onclick="toggleDropdown(event)">
                <span id="action-header" style="padding: 0 5px;">
                    <i style="font-size: small;" class="fas fa-chevron-down"></i>
                </span>
                <div id="action-dropdown" class="select-options" style="display: none;">
                    <a href="">Upravit</a>
                    <a href="" style="border-radius: 0 0 10px 10px;">Smazat</a>
                </div>
            </div>
        </div>

        <div class="article-meta after">
            <div style="display: flex;">
                <a href="#" style="margin-right: .5rem;">{{ article.autor }}</a>
                - <p style="margin: 0 .5rem; ">{{ article.created|date:"d.m.Y" }}</p>
            </div>
        </div>

        <p>{{ article.perex|truncatechars:150 }}</p>
    </div>
    {% endfor %}
</div>


<script>
    // Funkce pro zobrazení/skrytí roletového menu po kliknutí na text "Akce"
    function toggleDropdown(event) {
        var dropdown = document.getElementById('action-dropdown');
        dropdown.style.display = (dropdown.style.display === 'none' || dropdown.style.display === '') ? 'flex' : 'none';
        
        // Zastavíme šíření události, abychom zabránili jejímu zachycení dokumentem
        event.stopPropagation();
    }

    // Funkce pro zavření nabídky, pokud uživatel klikne někam mimo pole
    document.addEventListener('click', function(event) {
        var dropdown = document.getElementById('action-dropdown');
        if (!dropdown.contains(event.target)) {
            dropdown.style.display = 'none';
        }
    });
</script>

{% endblock %}
