{% extends "articles/base.html" %}
{% load i18n %}
{% load ratings %}
{% load static %}

{% block title %}Články | Databáze DIV{% endblock title %}

{% block meta %}

    <link href="/web/css/navbar_together.css" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="big-search">
    <h2>Články</h2>
    <form role="search" action="{% url 'forum_search' %}" method="get">
        <input class="search-field" type="type" placeholder="Hledat článek" aria-label="Search" name="q" id="search-input">
        <button class="btn btn-search" type="submit">Hledat</button>
    </form>
</div>

<div class="articles">
    <div class="talk-img" style="background-image: url(/static/img/articles/article.webp); background-size: 100% 100%;">
        <a href="/clanky/filmy/" class="movies">
            <img src="/static/img/forum/movie.webp" alt="Filmové články">
            <h3 class="movies">Filmové články</h3>
        </a>
    </div>

    <div class="talk-img" style="background-image: url(/static/img/articles/article.webp);
    background-size: 100% 100%;">
        <a href="/clanky/serialy/" class="movies">
            <img src="/static/img/forum/serie.webp" alt="Seriálové články">
            <h3 class="movies">Seriálové články</h3>
        </a>
    </div>

    <div class="talk-img" style="background-image: url(/static/img/articles/article.webp);
    background-size: 100% 100%;">
        <a href="/clanky/knihy/" class="books">
            <img src="/static/img/forum/book.webp" alt="Knižní články">
            <h3 class="books">Knižní články</h3>
        </a>
    </div>

    <div class="talk-img" style="background-image: url(/static/img/articles/article.webp);
    background-size: 100% 100%;">
        <a href="/clanky/hry/" class="games">
            <img src="/static/img/forum/game.webp" alt="Herní články">
            <h3 class="games">Herní články</h3>
        </a>
    </div>
</div>

<script>
    // Funkce pro zobrazení/skrytí roletového menu po kliknutí na text "Akce"
    function toggleDropdown(event) {
        var dropdown = document.getElementById('action-dropdown');
        dropdown.style.display = (dropdown.style.display === 'none' || dropdown.style.display === '') ? 'flex' : 'none';
        
        // Zastavíme šíření události, abychom zabránili jejímu zachycení dokumentem
        event.stopPropagation();
    }

    // Funkce pro zavření nabídky, pokud uživatel klikne někam mimo pole
    document.addEventListener('click', function(event) {
        var dropdown = document.getElementById('action-dropdown');
        if (!dropdown.contains(event.target)) {
            dropdown.style.display = 'none';
        }
    });
</script>

{% endblock %}