{% extends "awards/base.html" %}
{% load static %}

{% block title %}{{ award.awardname }} {{ award.year }} - DIV.cz{% endblock %}

{% block meta %}

{% endblock %}

{% block content %}

<div class="detail">

    <h2 style="width: 100%;">
        <a href="{% url 'awards_index' %}"
            class="{% if award.awardtype == 'film' %}movies
            {% elif award.awardtype == 'book' %}books
            {% elif award.awardtype == 'game' %}games{% endif %}">
            Ocenění
        </a>
        
       <span> / </span>

        {% if award.awardtype == "film" %}
            <a href="{% url 'awards_movies' %}" class="movies">Filmy</a>
        {% elif award.awardtype == "book" %}
            <a href="{% url 'awards_books' %}" class="books">Knihy</a>
        {% elif award.awardtype == "game" %}
            <a href="{% url 'awards_games' %}" class="games">Hry</a>
        {% endif %}

        <span> / </span>
        <span class="breadcrumb-item active">{{ award.awardname }} {{ award.year }}</span>
    </h2>

    <header class="detail-header">
        {% if user.is_staff %}
            <div class="adm-detail">
                <a href="{% url 'admin_award_edit' award.metaawardid %}" class="btn add">&#9999; Upravit ocenění</a>
                <a href="{% url 'admin_award_nominees' award.metaawardid %}" class="btn add">&#128221; Správa nominací</a>
            </div>
        {% endif %}
    </header>

    {% if award.description %}
        <div class="detail-description">
            {{ award.description }}
        </div>
    {% endif %}

    <!-- VÍTĚZOVÉ -->
    {% if movie_winners or book_winners or game_winners %}
        <section class="admin-panel">
            <h2 class="detail-section-title after">&#127942; Vítězové</h2>
            <!-- FILMY -->
            {% if movie_winners %}
                <div class="detail-group">
                    <ul class="detail-list">
                        {% for item in movie_winners %}
                            <li class="detail-item">
                                <a href="{% url 'movie_detail' item.movieid.url %}" class="detail-link movies">
                                    {{ item.movieid.titlecz|default:item.movieid.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <!-- KNIHY -->
            {% if book_winners %}
                <div class="detail-group">
                    <ul class="detail-list">
                        {% for item in book_winners %}
                            <li class="detail-item">
                                <a href="{% url 'book_detail' item.bookid.url %}" class="detail-link books">
                                    {{ item.bookid.titlecz|default:item.bookid.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <!-- HRY -->
            {% if game_winners %}
                <div class="detail-group">
                    <ul class="detail-list">
                        {% for item in game_winners %}
                            <li class="detail-item">
                                <a href="{% url 'game_detail' item.gameid.url %}" class="detail-link games">
                                    {{ item.gameid.titlecz|default:item.gameid.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        </section>
    {% endif %}

    <!-- NOMINACE -->
    {% if movie_nominees or book_nominees or game_nominees %}
        <section class="admin-panel">
            <h2 class="detail-section-title after">&#128220; Nominace</h2>
            <div class="detail-columns">
                <!-- FILMY -->
                {% if movie_nominees %}
                    <div class="detail-col">
                        <ul class="detail-list">
                            {% for item in movie_nominees %}
                                <li class="detail-item">
                                    <a href="{% url 'movie_detail' item.movieid.url %}" class="detail-link movies">
                                        {{ item.movieid.titlecz|default:item.movieid.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <!-- KNIHY -->
                {% if book_nominees %}
                    <div class="detail-col">
                        <ul class="detail-list">
                            {% for item in book_nominees %}
                                <li class="detail-item">
                                    <a href="{% url 'book_detail' item.bookid.url %}" class="detail-link books">
                                        {{ item.bookid.titlecz|default:item.bookid.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <!-- HRY -->
                {% if game_nominees %}
                        <ul class="detail-list">
                            {% for item in game_nominees %}
                                <li class="detail-item">
                                    <a href="{% url 'game_detail' item.gameid.url %}" class="detail-link games">
                                        {{ item.gameid.titlecz|default:item.gameid.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </section>
    {% endif %}

</div>
{% endblock %}
