<!DOCTYPE html>
<html lang="cs">
<head>

    {% include "../inc/head.html" %}

<title>Filmy | Databáze filmů DIV</title>

<style>
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel .carousel-inner .carousel-item {
    height: 300px;
    overflow: hidden;
}

.carousel .carousel-inner .carousel-item img {
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}
</style>

</head>

<body>

    {% include "../inc/navbar_filmy.html" %}


<main class="mb-5">
    <section>
     <!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <!-- další indikátory -->
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.themoviedb.org/t/p/w1066_and_h600_bestv2/lx89oBeJIastndjbQxznnfSYpmR.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption text-left text-white p-3">
                <h5>Tři mušketýři: D'Artagnan</h5>
                <p>V království rozděleném náboženskými válkami a pod hrozbou britské invaze....</p>
                </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.themoviedb.org/t/p/original/xZuhDaKDpWDG0sE3Dx6CIR8DeaN.jpg" class="d-block w-100" alt="After: Odloučení">
                <div class="carousel-caption text-left text-white p-3">
                <h5>After: Odloučení</h5>
                <p>Obléhán spisovatelským blokem a zdrcujícím rozchodem s Tessou...</p>
                </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.themoviedb.org/t/p/original/yEhdn9pWtEBeAZzbDXkLfgtIcJ2.jpg" class="d-block w-100" alt="Equalizer 3: Poslední kapitola">
                <div class="carousel-caption text-left text-white p-3">
                <h5>Equalizer 3: Poslední kapitola</h5>
                <p>Od chvíle, kdy se Robert McCall vzdal života v elitní jednotce, snaží se vyrovnat s hrůznými činy...</p>
                </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.themoviedb.org/t/p/original/H6j5smdpRqP9a8UnhWp6zfl0SC.jpg" class="d-block w-100" alt="Blue Beetle">
                <div class="carousel-caption text-left text-white p-3">
                <h5>Blue Beetle</h5>
                <p>Čerstvý absolvent vysoké školy Jaime Reyes se vrací domů pln nadějí do budoucna, aby zjistil...</p>
                </div>
    </div>

    <!-- další položky carouselu -->

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Předchozí</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Další</span>
  </a>
</div>
    </section>


<!-- Sekce odkazů na filmy -->
<div class="container my-4">
    <h2 class="mb-4">Nejnovější filmy</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4">
        <!-- První film -->
        <div class="col">
            <div class="card h-100">
                <a href="#"><img src="http://www.div.cz/im/poster100/6/m/813259-hotel-transylv-nie-stra-ideln-mazl-ci-2021.jpg" class="card-img-top" alt="Film"></a>
                <div class="card-body">
                    <h5 class="card-title">Název filmu (2023)</h5>
                </div>
            </div>
        </div>

        <!-- Další filmy -->
        <!-- Upozornění: Tady jsou pouze placeholderové obrázky a názvy filmů, nahraďte je svými skutečnými filmy -->
        <!-- Pro každý film, kopírujte a vložte následující kód a nahraďte URL obrázku a název filmu -->
        <!-- 
        <div class="col">
            <div class="card h-100">
                <a href="#"><img src="http://www.div.cz/im/poster100/6/m/813259-hotel-transylv-nie-stra-ideln-mazl-ci-2021.jpg" class="card-img-top" alt="Film"></a>
                <div class="card-body">
                    <h5 class="card-title">Název filmu (Rok)</h5>
                </div>
            </div>
        </div>
        -->
        <!-- Další film -->
        <div class="col">
            <div class="card h-100">
                <a href="#"><img src="http://www.div.cz/im/poster100/6/m/813259-hotel-transylv-nie-stra-ideln-mazl-ci-2021.jpg" class="card-img-top" alt="Film"></a>
                <div class="card-body">
                    <h5 class="card-title">Název filmu (2023)</h5>
                </div>
            </div>
        </div>

        <!-- Další film -->
        <div class="col">
            <div class="card h-100">
                <a href="#"><img src="http://www.div.cz/im/poster100/6/m/813259-hotel-transylv-nie-stra-ideln-mazl-ci-2021.jpg" class="card-img-top" alt="Film"></a>
                <div class="card-body">
                    <h5 class="card-title">Název filmu (2023)</h5>
                </div>
            </div>
        </div>

        <!-- Další film -->
        <div class="col">
            <div class="card h-100">
                <a href="#"><img src="http://www.div.cz/im/poster100/6/m/813259-hotel-transylv-nie-stra-ideln-mazl-ci-2021.jpg" class="card-img-top" alt="Film"></a>
                <div class="card-body">
                    <h5 class="card-title">Název filmu (2023)</h5>
                </div>
            </div>
        </div>

        <!-- Další film -->
        <div class="col">
            <div class="card h-100">
                <a href="#"><img src="http://www.div.cz/im/poster100/6/m/813259-hotel-transylv-nie-stra-ideln-mazl-ci-2021.jpg" class="card-img-top" alt="Film"></a>
                <div class="card-body">
                    <h5 class="card-title">Název filmu (2023)</h5>
                </div>
            </div>
        </div>
    </div>
</div>



{% include "../inc/footer_filmy.html" %}

</body>
</html>
